.tabbar_items.type_scroll {position:absolute;bottom:0;width:100%;height:75%;padding-top:5px;overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling:touch}
.tabbar_items.type_scroll::-webkit-scrollbar {display:none;}
.tabbar_items.type_scroll ul#tabbar {width: 100%; height:100%; /*min-height: 260px;*/ text-align: center;}
.tabbar_items.type_scroll ul#tabbar li {float: left; width:100%;height:110px; margin:0 2%;}
.tabbar_items.type_scroll ul#tabbar li a {display:block;float:left;width:28%;margin:0 2% 5px 2%;}
.tabbar_items.type_scroll ul#tabbar li a div.tabbar.background {opacity: 0.25;}
.tabbar_items.type_scroll ul#tabbar li a div.tabbar.no-background {position: absolute; top: 0; left: 0;}
.tabbar_items.type_scroll ul#tabbar li a span {font-size:12px;text-transform:uppercase;line-height:15px;}

.tabbar_items .tabbar_pager { position: absolute; bottom: 12px; width: 100%; height: 20px; text-align: center; }
.tabbar_items .tabbar_pager a {display: inline-block; width: 12px; height: 12px; margin-right: 8px; margin-top: 4px; border: 3px solid white; border-radius: 2ex 2ex 2ex 2ex; }
.tabbar_items ul#tabbar li a {position:relative;}
/* /Type Scroll */
.tabbar_items ul#tabbar li {position:relative;height:47px;margin-bottom:5px; /*overflow: hidden;*/ }
.tabbar_items ul#tabbar li span { height:16px;margin-top:3px;font-size:10px;overflow:hidden; }
.tabbar_items ul#tabbar li#more_items { border-right: none;width: 53px; }
.tabbar_items.l1 {position: absolute; bottom: 0; width: 100%; height: 50px; padding-top: 5px; box-shadow: 0 -7px 8px rgba(0, 0, 0, 0.3);}
.tabbar_items.l1 ul#tabbar {width: 100%; text-align: center;}
.tabbar_items.l1 ul#tabbar li {width:19.6%; float:left; border-right: 1px solid rgba(255,255,255,0.2);}
.tabbar_items.l1 ul#tabbar li a {display: block; width: 100%;}
.transparent-background .tabbar_items.l1 {box-shadow:none;}
.transparent-background .tabbar_items.l1 ul#tabbar li {width:20%; border-right:none;}

.tabbar_items.l14 {position: absolute; bottom: 0; width: 100%; height: 50px; padding-top: 5px; box-shadow: 0 -7px 8px rgba(0, 0, 0, 0.3);}
.tabbar_items.l14 ul#tabbar {width: 100%; text-align: center;}
.tabbar_items.l14 ul#tabbar li {width:19.6%; float:left; border-right: 1px solid rgba(255,255,255,0.2);}
.tabbar_items.l14 ul#tabbar li a {display: block; width: 100%;}
.transparent-background .tabbar_items.l4 {box-shadow:none;}
.transparent-background .tabbar_items.l4 ul#tabbar li {width:20%; border-right:none;}

.tabbar_items.l2 {position: absolute; bottom: 0; width: 100%; height: 110px; padding-top: 5px; box-shadow: 0 -7px 8px rgba(0, 0, 0, 0.3);}
.tabbar_items.l2 ul#tabbar {width: 100%; text-align: center;}
.tabbar_items.l2 ul#tabbar li {width:19.6%; float: left; margin-bottom:10px; border-right: 1px solid rgba(255,255,255,0.2);}
.tabbar_items.l2 ul#tabbar li a {display: block; width: 100%; height: 55px;}
.transparent-background .tabbar_items.l2 {box-shadow:none;}
.transparent-background .tabbar_items.l2 ul#tabbar li {width:20%; border-right:none;}

.tabbar_items.l3 ul#tabbar li a div.tabbar, .tabbar_items.l4 ul#tabbar li a div.tabbar {width:55px;height:55px; padding:15px;margin:0 auto;}

.tabbar_items.l4 ul#tabbar li a div.tabbar {border:3px solid; border-radius: 10ex;}

.tabbar_items.type_scroll.l5 ul#tabbar li a {width:45.25%;height:70px;margin:0 1.5% 3% 1.5%;padding:40px 0;}
.tabbar_items.type_scroll.l5 ul#tabbar li {height:145px;}
.tabbar_items.l5 ul#tabbar li a {margin-bottom:10px}
.tabbar_items.l5 ul#tabbar li a div.tabbar {position: relative; width: 65px; height: 65px; padding: 40px}
.tabbar_items.l5 ul#tabbar li a div.tabbar.background,
.tabbar_items.l5 ul#tabbar li a div.tabbar.no-background {width: 100%;padding: 40px 0;}
.tabbar_items.l5 ul#tabbar li a div.tabbar.background {opacity: 0.25;}
.tabbar_items.l5 ul#tabbar li a span {position: absolute; bottom: 5px; left: 0; width: 100%;}

.tabbar_items.l6 {position:fixed;bottom:0;left:0;width:100%;height:40%;overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling:touch;}
.tabbar_items.l6::-webkit-scrollbar {display:none;}
.tabbar_items.l6 .tabbar.background {position:fixed;bottom:0;left:0;width:100%;height:40%;opacity:0.35;z-index:0;}
.tabbar_items.l6 .tabbar.no-background {position:relative;z-index:1;}
.tabbar_items.l6 #tabbar_items {position:absolute;bottom:0;width:100%;height:100%;}
.tabbar_items.l6 ul.tabbar_l6 li {height:50px;margin:0;padding:5px;border-bottom: 1px solid;}
.tabbar_items.l6 ul.tabbar_l6 li a {display:block;height:30px;padding:10px 5px;}
.tabbar_items.l6 ul.tabbar_l6 li a img, .tabbar_items.l6 ul#tabbar li a canvas, .tabbar_items.l6 ul.tabbar_l6 li a canvas {float: left;}
.tabbar_items.l6 ul.tabbar_l6 li a span {float:left;height:16px;margin-top:8px;margin-left:10px;font-size:15px;}
.tabbar_items.l6 ul.tabbar_l6 li a .badge {top:-3px;left:25px;right:auto;}

.tabbar_items.l7 {position:absolute;top:0;left:0;bottom:0;width:90px;border-right:1px solid;}
.tabbar_items.l7 .items {position:absolute;top:0;left:0;width:100%;height:100%;overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling:touch;}
.iOS7 .tabbar_items.l7 .items {padding-top:12px;}
.tabbar_items.l7 .items::-webkit-scrollbar {display:none;}
.tabbar_items.l7 .items, .tabbar_items.l7 .tabbar.background {position:absolute;top:0;left:0;width:90px;height:100%;}
.tabbar_items.l7 .tabbar.background {opacity:0.85}
.tabbar_items.l7 .items ul.tabbar_l7.is-offline{padding-bottom:30px;}
.tabbar_items.l7 .items ul.tabbar_l7 li {width:90px;height:80px;margin:0;padding:0;border-bottom: 1px solid;}
.tabbar_items.l7 .items ul.tabbar_l7 li a {display:block;width:80px;height:60px;padding:10px 5px;text-align:center;}
.tabbar_items.l7 .items ul.tabbar_l7 li a span {margin-top:8px;font-size:14px;}

#scrollview_tabbar_items {position:absolute; left:0; top: 0; bottom:0;width:100%;/*opacity:.7;filter:alpha(opacity=70);*/}
#scrollview_tabbar_items ul li a { position:relative;margin:5px;padding: 5px 15px;display:block;/*border-radius: 5px 5px 5px 5px;box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);*/line-height: 20px;border-bottom: 1px solid;}
#scrollview_tabbar_items ul li a p.badge {left:30px;right:auto;}
#scrollview_tabbar_items ul li a canvas {float:left;}
#scrollview_tabbar_items ul li a span {height:30px;line-height:30px;margin-left:5px;font-size: 20px;overflow:hidden;text-align:left;}
#scrollview_tabbar_items ul li:last-child a{border-bottom: 0;}
#scrollview_tabbar_items ul li.close_menu{margin-top:15px;}
#scrollview_tabbar_items ul li.close_menu a{border-bottom: 0;}
#scrollview_tabbar_items ul li.close_menu a span{text-align: right;font-size: 16px;}

.tabbar_items .item{cursor:pointer;}
.overview-tabbar.tabbar_items.tabbar.l14{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}