<div>
    <ul class="image_gallery">
        <li ng-repeat="image in imagecollection" class="image background_image" image-src="image.url" sb-image ng-click="showGallery(image.url, $index)"></li>
        <div ng-if="(imagecollection.length/24) % 1 === 0">
            <button class="button" ng-click="loadMoreImage(item_image_active)"><?php echo $this->_('Load more');?></button>
        </div>
    </ul>
</div>
<div ng-if="bigimage">
	<div id="myModal" class="modal">
		 <div class="modal-content">
    		<span class="close" ng-click=closeModal()>x</span>
            <div class="subcontent">
                <img src="{{showimage}}" ng-if="bigimage"/>
                <a class="prev" ng-if="prev" ng-click="showPrevImage()"><i class="icon-prev"></i></a>
                <a class="next" ng-if="next" ng-click="showNextImage()"><i class="icon-next"></i></a>
            </div>
		</div>
	</div>
</div>
<style>
.modal {position: fixed;z-index: 12;left: 0;top: 0px;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.modal-content {position: fixed;background-color: #fefefe;margin-left:-35%;padding: 20px;text-align: center;border: 1px solid #888;width: 70%;left:50%;top:50px;}
.subcontent{}
.close {color: #aaaaaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover,.close:focus {color: #000000;text-decoration: none;cursor: pointer;}
.prev{
    position: absolute;
    left: 0;
    top: 50%;
}
.next{
    position: absolute;
    right: 0;
    top: 50%;   
}
</style>