<?php 	
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
?>
<h2>MENTIONS LÉGALES</h2>
<p>SINCUBE</p>
<p>63 Route du Roi</p>
<p>78290 Croissy Sur Seine</p>
<p>0658300035</p>
<p><a href="http://sincube.com" target="_blank">www.sincube.com</a></p>
<br/>
<p>Capital Social de 1000€</p>
<p>Numéro d'enregistrement au registre du commerce et des sociétés : RCS Paris 821 460 201</p>
---
<br/>
<h3>Directeur de la publication : </h3>
<p>Email : <?php echo $this->getApplication()->getOwner()->getEmail()?> </p>
<p>Nom : <?php echo $this->getApplication()->getOwner()->getFirstname()?> - Prenom : <?php echo $this->getApplication()->getOwner()->getLastname()?></p>
---
<br/>
<h3>Hébergement :</h3>
<p>Openshif (USA)</p>
<p>Red Hat Tower</p>
<p>100E. Davie Street</p>
<p>Raleigh, NC 27601 USA</p>
<p>Direct: +1887334281</p>

<?php if($website->getGeneralConditions()):?>
	<h2 class="terms-general">Conditons Generales</h2>
	<br/>
	<?php echo $website->getGeneralConditions()?>
<?php endif;?>
