<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message" right-button="header_right_button"></sb-header>

    
    
    <div ng-if="locked === 1 && !is_logged_in">
		<?php echo $this->getPartialHtml("padlock"); ?>
	</div>  
    <div ng-if="(locked === 1 && is_logged_in) || locked === 2" style="height:100%">
    	<sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>
	    <div class="iframe-wrapper" ng-if="sourcecode.htmlFilePath">
	       <iframe ng-src="{{ sourcecode.htmlFilePath }}"></iframe>
	    </div>
	</div>
</div>