
<?php $block = $this->getCurrentBlock(); ?>
<?php $video = $block->getObject(); ?>
<?php $youtube_is_available = (bool) Api_Model_Key::findKeysFor('youtube')->getApiKey(); ?>
<?php $color = '2A2A2A'; ?>
<div id="cms_block_<?php echo $this->getPosition(); ?>" class="category inner_content cms_block video" rel="<?php echo $this->getPosition(); ?>">
    <input type="hidden" class="typeChoose" value="<?php echo $video->getTypeId(); ?>" position="<?php echo $this->getPosition(); ?>" />
    <div class="control left">
        <a class="handle" href="javascript:void(0);"><i class="icon-move"></i></a>
    </div>
    <?php if(!$video->getId()) : ?>
    <div class="left">
        <p><?php echo $this->_('Select a video type:'); ?></p>
        <div class="left video_type">
            <a href="#" class="picto link_video <?php if($youtube_is_available) : ?> link_video_<?php echo $this->getPosition(); ?><?php else : ?>" onclick="featureNotAvailable(); return false;<?php endif; ?>" rel="cms_block_youtube_<?php echo $this->getPosition(); ?>" data-type="youtube">

                <img src="<?php echo $this->getColorizedImage($this->getImage('pictos/youtube.png', true), $color) ?>" title="<?php echo $this->_('Youtube'); ?>" alt="<?php echo $this->_('Youtube'); ?>" width="64" height="64" />
                <span><?php echo $this->_('Youtube') ?></span>
            </a>
        </div>
        <div class="left video_type">
            <a href="#" class="picto link_video link_video_<?php echo $this->getPosition(); ?>" rel="cms_block_vimeo_<?php echo $this->getPosition(); ?>" data-type="vimeo">
                <img src="<?php echo $this->getColorizedImage($this->getImage('pictos/vimeo.png', true), $color); ?>" title="<?php echo $this->_('Vimeo'); ?>" alt="<?php echo $this->_('Vimeo'); ?>" width="64" height="64" />
                <span><?php echo $this->_('Vimeo') ?></span>
            </a>
        </div>
        <div class="left video_type">
            <a href="#" class="picto link_video link_video_<?php echo $this->getPosition(); ?>" rel="cms_block_podcast_<?php echo $this->getPosition(); ?>" data-type="podcast">
                <img src="<?php echo $this->getColorizedImage($this->getImage('pictos/podcast.png', true), $color); ?>" title="<?php echo $this->_('Podcast'); ?>" alt="<?php echo $this->_('Podcast'); ?>" width="64" height="64" />
                <span><?php echo $this->_('Podcast') ?></span>
            </a>
        </div>
        <div class="left video_type">
            <a href="#" class="picto link_video link_video_<?php echo $this->getPosition(); ?>" rel="cms_block_video_<?php echo $this->getPosition(); ?>" data-type="link">
                <img src="<?php echo $this->getColorizedImage($this->getImage('pictos/my_video.png', true), $color); ?>" title="<?php echo $this->_('My video'); ?>" alt="<?php echo $this->_('My video'); ?>" width="64" height="64" />
                <span><?php echo $this->_('My video') ?></span>
            </a>
        </div>
    </div>
    <?php endif; ?>
    <div class="control right">
        <a class="remove" href="javascript:void(0);"><i class="icon-remove"></i></a>
    </div>
    <div class="clear"></div>
    <?php if(!$video->getId() OR $video->getTypeId() == 'youtube') : ?>
    <div id="cms_block_youtube_<?php echo $this->getPosition(); ?>" style="<?php if(!$video OR $video AND $video->getTypeId() != 'youtube') : ?> display: none;<?php endif; ?>" class="block_video" rel="<?php echo $this->getPosition(); ?>" data-type="youtube">
        <div class="display_image">
            <div class="clear"></div>
            <div class="description_cont" rel="<?php echo $this->getPosition() ?>">
                <?php if(!$video->getId()) : ?>
                <form name="youtubeForm" action="<?php echo $this->getUrl('cms/application_page_block_video/search'); ?>" onsubmit="searchVideos($(this)); return false;" data-type="youtube">
                    <div class="top_row">
                        <div>
                            <label for="youtube_search_<?php echo $block->getId(); ?>" class="cont_title" style="line-height: 40px; padding-right: 10px"><?php echo $this->_('Make a search or enter the Youtube Url:'); ?></label><br />
                            <div class="col-sm-6">
                                <input type="text" id="youtube_search_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][search]" value="<?php if($video->getTypeId() == 'youtube') echo $video->getSearch(); ?>" class="form-control youtube_search input input_search_<?php echo $this->getPosition(); ?> left required" />
                                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type_id]" value="youtube" />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="default_button left get_youtube find_videos_<?php echo $this->getPosition(); ?>" style="margin-left: 10px;" rel="<?php echo $this->getPosition(); ?>"><?php echo $this->_('OK'); ?></button>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </form>
                <?php endif; ?>

                <div class="bottom_row param_cont">
                    <?php if($video->getId()) : ?>
                    <p><?php echo $this->_('My Youtube video:'); ?></p>
                    <div>
                        <img width="192" title="" src="<?php echo $video->getImageUrl(); ?>" />
                        <p><?php echo $video->getSearch(); ?></p>
                    <div class="form_group">
                        <div class="col-sm-12">
                            <input type="text" id="title_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][title]" value="<?php echo $video->getTitle(); ?>" class="form-control input" placeholder="<?php echo $this->_('Title'); ?>"/>
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-sm-12">
                            <input type="text" id="description_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][description]" value="<?php echo $video->getDescription(); ?>" class="form-control input description" placeholder="<?php echo $this->_('Description'); ?>"/>
                        </div>
                    </div>
                        <input type="hidden" id="youtube_search_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][search]" value="<?php if($video->getTypeId() == 'youtube') echo $video->getSearch(); ?>" class="youtube_search input input_search_<?php echo $this->getPosition(); ?> left required" />
                        <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type_id]" value="youtube" />
                    </div>
                    <?php endif; ?>
                </div>

                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][block_id]" value="<?php echo $block->getBlockId(); ?>" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][value_id]" value="<?php echo $block->getValueId(); ?>" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type]" value="video" />
                <input type="hidden" class="youtube video_link" id="youtube_<?php echo $this->getPosition(); ?>" rel="<?php echo $this->getPosition(); ?>" name="block[<?php echo $this->getPosition(); ?>][youtube]" value="<?php echo $video->getYoutube(); ?>"/>
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][position]" value="<?php echo $this->getPosition(); ?>" class="hidden_pos" rel="<?php echo $this->getPosition(); ?>" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][description]" value="<?php echo $video->getDescription(); ?>" class="video_description" rel="<?php echo $this->getPosition(); ?>" />
            </div>
        </div>
    </div>
    <?php endif; ?>

    <?php if(!$video->getId() OR $video->getTypeId() == 'vimeo') : ?>
    <div id="cms_block_vimeo_<?php echo $this->getPosition(); ?>" style="<?php if(!$video OR $video AND $video->getTypeId() != 'vimeo') : ?> display: none;<?php endif; ?>" class="block_video" rel="<?php echo $this->getPosition(); ?>" data-type="vimeo">
        <div class="display_image">
            <div class="clear"></div>
            <div class="description_cont" rel="<?php echo $this->getPosition() ?>">
                <?php if(!$video->getId()) : ?>
                <form name="vimeoForm" action="<?php echo $this->getUrl('cms/application_page_block_video/search'); ?>" onsubmit="searchVideos($(this)); return false;" data-type="vimeo">
                    <div class="top_row">
                        <div>
                            <label for="vimeo_search_<?php echo $block->getId(); ?>" class="cont_title" style="line-height: 40px; padding-right: 10px"><?php echo $this->_('Enter the Vimeo Url:'); ?></label><br />
                            <div class="col-sm-6">
                                <input type="text" id="vimeo_search_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][search]" value="<?php if($video->getTypeId() == 'vimeo') echo $video->getSearch(); ?>" class="form-control vimeo_search input input_search_<?php echo $this->getPosition(); ?> left required" />
                                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type_id]" value="vimeo" />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="default_button left get_vimeo find_videos_<?php echo $this->getPosition(); ?>" style="margin-left: 10px;" rel="<?php echo $this->getPosition(); ?>"><?php echo $this->_('OK'); ?></button>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </form>
                <?php endif; ?>

                <div class="bottom_row param_cont">
                    <?php if($video->getId()) : ?>
                    <p><?php echo $this->_('My Vimeo video:'); ?></p>
                    <div>
                        <img width="192" title="" src="<?php echo $video->getImageUrl(); ?>" />
                        <p><?php echo $video->getSearch(); ?></p>
                    <div class="form_group">
                        <div class="col-sm-12">
                            <input type="text" id="title_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][title]" value="<?php echo $video->getTitle(); ?>" class="form-control input" placeholder="<?php echo $this->_('Title'); ?>"/>
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-sm-12">
                            <input type="text" id="description_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][description]" value="<?php echo $video->getDescription(); ?>" class="form-control input description" placeholder="<?php echo $this->_('Description'); ?>"/>
                        </div>
                    </div>
                        <input type="hidden" id="vimeo_search_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][search]" value="<?php if($video->getTypeId() == 'vimeo') echo $video->getSearch(); ?>" class="vimeo_search input input_search_<?php echo $this->getPosition(); ?> left required" />
                        <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type_id]" value="vimeo" />
                    </div>
                    <?php endif; ?>
                </div>

                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][block_id]" value="<?php echo $block->getBlockId(); ?>" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][value_id]" value="<?php echo $block->getValueId(); ?>" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type]" value="video" />
                <input type="hidden" class="vimeo video_link" id="vimeo_<?php echo $this->getPosition(); ?>" rel="<?php echo $this->getPosition(); ?>" name="block[<?php echo $this->getPosition(); ?>][vimeo]" value="<?php echo $video->getVimeo(); ?>"/>
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][position]" value="<?php echo $this->getPosition(); ?>" class="hidden_pos" rel="<?php echo $this->getPosition(); ?>" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][description]" value="<?php echo $video->getDescription(); ?>" class="video_description" rel="<?php echo $this->getPosition(); ?>" />
            </div>
        </div>
    </div>
    <?php endif; ?>
    <?php if(!$video->getId() OR $video->getTypeId() == 'podcast') : ?>
    <div id="cms_block_podcast_<?php echo $this->getPosition(); ?>" style=";<?php if(!$video OR $video AND $video->getTypeId() != 'podcast') : ?> display: none;<?php endif; ?>" class="block_video" rel="<?php echo $this->getPosition(); ?>" data-type="podcast">
        <div class="display_image">
            <div class="clear"></div>
            <div class="description_cont" rel="<?php echo $this->getPosition() ?>">
                <?php if(!$video->getId()) : ?>
                <form name="podcastForm" action="<?php echo $this->getUrl('cms/application_page_block_video/search'); ?>" onsubmit="searchVideos($(this)); return false;" data-type="podcast">
                    <div class="top_row">
                        <!-- <div>
                            <label for="podcast_<?php echo $block->getId(); ?>" class="cont_title" style="line-height: 40px; padding-right: 10px"><?php echo $this->_('Podcast URL:'); ?> </label> -->
                            <div>
                                <div class="col-sm-6">
                                    <input type="text" id="podcast_search_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][search]" value="<?php if($video->getTypeId() == 'podcast') echo $video->getSearch(); ?>" class="form-control podcast_search input left url required" placeholder="<?php echo $this->_('Podcast URL'); ?>"/>
                                    <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type_id]" value="podcast" />
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="default_button left get_podcast find_videos_<?php echo $this->getPosition(); ?>" style="margin-left: 10px;" rel="<?php echo $this->getPosition(); ?>"><?php echo $this->_('OK'); ?></button>
                                </div>
                            </div>
                        <!-- </div> -->
                        <div class="clear"></div>
                    </div>
                </form>
                <?php endif; ?>

                <div class="bottom_row param_cont">
                    <?php if($video->getId()) : ?>
                    <p><?php echo $this->_('Your Podcast:'); ?></p>
                    <p>
                        <img width="192" title="<?php echo $video->getDescription(); ?>" src="<?php echo $video->getImageUrl(); ?>" />
                        <p class="block"><?php echo $video->getDescription(); ?></p>
                        <input type="hidden" id="podcast_search_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][search]" value="<?php if($video->getTypeId() == 'podcast') echo $video->getSearch(); ?>" class="form-control podcast_search input left url required"/>
                        <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type_id]" value="podcast" />
                    </p>
                    <?php endif; ?>
                </div>

                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][image]" value="<?php echo $video->getImage(); ?>" class="image video_image" rel="<?php echo $this->getPosition(); ?>" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][block_id]" value="<?php echo $block->getBlockId(); ?>" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][value_id]" value="<?php echo $block->getValueId(); ?>" />
                <input type="hidden" class="podcast video_link" id="podcast_<?php echo $this->getPosition(); ?>" rel="<?php echo $this->getPosition(); ?>" name="block[<?php echo $this->getPosition(); ?>][link]" value="<?php echo $video->getLink(); ?>"/>
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type]" value="video" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][position]" value="<?php echo $this->getPosition(); ?>" class="hidden_pos" rel="<?php echo $this->getPosition(); ?>" />
                <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][description]" value="<?php echo $video->getDescription(); ?>" class="video_description" rel="<?php echo $this->getPosition(); ?>" />
            </div>
        </div>
    </div>
    <?php endif; ?>

    <?php if(!$video->getId() OR $video->getTypeId() == 'link') : ?>
    <div id="cms_block_video_<?php echo $this->getPosition(); ?>" style=";<?php if(!$video OR $video AND $video->getTypeId() != 'link') : ?> display: none;<?php endif; ?>" class="block_video" rel="<?php echo $this->getPosition(); ?>" data-type="link">
        <div class="description_cont" rel="<?php echo $this->getPosition() ?>">
            <div class="form_group">
                <div class="col-sm-8">
                    <label for="video_<?php echo $block->getId(); ?>" class="cont_title block"><?php echo $this->_('Video URL:'); ?></label>
                    <?php $disabled =  strpos($video->getLink(),"cloudfront") ? "disabled" : ""?>
                     <?php if($disabled == "disabled"):?>
                        <input type="text" id="video_<?php echo $block->getId(); ?>" placeholder="<?php echo $this->_('.mp4 or .3gp format'); ?>" name="block[<?php echo $this->getPosition(); ?>][link]" value="<?php echo $video->getLink() ?>" class="form-control video input url videourl required" disabled="disabled"/>
                    <?php else :?>
                        <?php if(!$video->getId()):?>
                        <input type="text" id="video_new_<?php echo $block->getId(); ?>" placeholder="<?php echo $this->_('.mp4 or .3gp format'); ?>" name="block[<?php echo $this->getPosition(); ?>][link]" value="" class="form-control video input url videourl required"/>
                        <?php else:?>
                            <input type="text" id="video_<?php echo $block->getId(); ?>" placeholder="<?php echo $this->_('.mp4 or .3gp format'); ?>" name="block[<?php echo $this->getPosition(); ?>][link]" value="<?php echo $video->getLink() ?>" class="form-control video input url videourl required"/>
                        <?php endif;?>
                    <?php endif;?>
                </div>
            </div>
            <?php if((($this->getApplication()->getSubscription()->getId() && $this->getApplication()->getSubscription()->uploadFileIsEnabled()) || $this->getApplication()->getUploadEnabled() == 1) && !$video->getLink()):?> 
            <div class="form_group">
              <div class="col-sm-5">
                    <input style="border-bottom:0px !important; margin-left:-40px;" id="video_file_<?php echo $block->getId()?>" class="form-control uploader" type="file" name="video_file_upload">
                </div>
                 <div class="col-sm-5">
                    <span id="upload_video_file_<?php echo $block->getId()?>" class="form-control" style="background-color:<?php echo $this->getBlock('general')->getColor()?>; color:white;text-align:center;cursor:pointer;text-transform:uppercase;"><?php echo $this->_('Upload');?></span>
                </div>
                <div class="col-sm-1">
                    <img src="https://media.giphy.com/media/Qe2GyDLflxWms/giphy.gif" style="width:40px;visibility:hidden;" id="image_upload_<?php echo $block->getId()?>"/>
                </div> 
            </div>
            <?php elseif($video->getLink()):?>
            <?php else:?>
               <div class="form_group">
                <div class="col-sm-6">
                    <span class="" style="line-height:34px;padding: 4px 0;text-transform:uppercase;">
                        <?php echo $this->_('Upload for Advanced and Premium subscribers only')?>
                    </span>
                </div>
                </div>
               <?php endif;?> 
            <div class="form_group">
                <div class="col-sm-12">
                    <input type="text" id="title_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][title]" value="<?php echo $video->getTitle() ?>" class="form-control input description" placeholder="<?php echo $this->_('Title'); ?>"/>
                </div>
            </div>   
            <div class="form_group">
                <div class="col-sm-12">
                    <input type="text" id="description_<?php echo $block->getId(); ?>" name="block[<?php echo $this->getPosition(); ?>][description]" value="<?php echo $video->getDescription() ?>" class="form-control input description" placeholder="<?php echo $this->_('Description'); ?>"/>
                </div>
            </div>
            <div class="form_group">
                <div class="col-sm-12">
                    <label class="cont_title block"><?php echo $this->_('Loading picture:'); ?></label>
                </div>
            </div>
            <div class="form_group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div rel="<?php echo $this->getPosition(); ?>" class="cont_poster">
                        <img width="200px" src="<?php if($video->getTypeId() == 'link') echo $video->getImageUrl(); ?>" class="poster left" style="<?php if(!$video->getTypeId()) echo "display:none"; ?>" />
                            <?php if ($video->getImageUrl()) : ?>
                            <a class="removeimg" onclick="deleteImageVideo(this);" href="javascript:void(0);"><i class="icon-remove"></i></a>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <div class="form_group">
                <div class="col-sm-12">
                    <!--[if gte IE 10]><!-->
                    <button type="button" style="display:block" class="upload_picture upload editor_menu active image_left" rel="<?php echo $this->getPosition(); ?>">
                        <i class="icon-camera-retro"></i>
                        <span class="bold"><?php echo $this->_('Add a picture'); ?></span>
                    </button>
                    <!--<![endif]-->
                    <input style="display:none" enctype="multipart/form-data" rel="<?php echo $this->getPosition(); ?>" class="left fileupload fileupload_picture" type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>">
                    <div class="clear"></div>
                </div>
            </div>        
            <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][image]" value="<?php echo $block->getImage(); ?>" class="image" />
            <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][block_id]" value="<?php echo $block->getBlockId(); ?>" />
            <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][value_id]" value="<?php echo $block->getValueId(); ?>" />
            <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type]" value="video" />
            <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][type_id]" value="link" />
            <input type="hidden" name="block[<?php echo $this->getPosition(); ?>][position]" value="<?php echo $this->getPosition(); ?>" class="hidden_pos" rel="<?php echo $this->getPosition(); ?>"  />
        </div>
    </div>
    <?php endif; ?>
    <div class="clear"></div>
    <script type="text/javascript">

        $('#upload_video_file_<?php echo $block->getId()?>').click(function(){
        var file_data = $('#video_file_<?php echo $block->getId()?>').prop('files')[0]; 
        if(file_data) {
            document.getElementById("image_upload_<?php echo $block->getId()?>").style.visibility = "visible"; 
        }  
        var form_data = new FormData();                  
        form_data.append('file', file_data);

        $.ajax({
        url : "<?php echo $this->getUrl('media/application_gallery_video/uploadvideo');?>",
        dataType: 'json',  // what to expect back from the PHP script, if anything
        cache: false,
        contentType: false,
        processData: false,
        data: form_data,                         
        type: 'post',
        success: function(data)
        {
           var result = JSON.parse(data);
           if(result.success) {
                document.getElementById("video_new_<?php echo $block->getId()?>").value = result.url;
                document.getElementById("video_new_<?php echo $block->getId()?>").setAttribute("disabled", "disabled");
                document.getElementById("image_upload_<?php echo $block->getId()?>").style.visibility = "hidden"; 
           } else {
                document.getElementById("image_upload_<?php echo $block->getId()?>").style.visibility = "hidden"; 
                document.getElementById("upload_error").value = "* " + result.message;
                document.getElementById("upload_error").style.visibility = "visible";
           }
        }
        });
    });

        $('.link_video_<?php echo $this->getPosition(); ?>').click(function() {
            var type = $(this).attr('data-type');
            $('.block_video[rel="<?php echo $this->getPosition(); ?>"]').each(function() {
                if($(this).attr('data-type') == type) $(this).show().find('input').removeAttr('disabled');
                else $(this).hide().find('input').attr('disabled', 'disabled');
            });

            var myparent = $(this.parentNode.parentNode.parentNode);

            $('.typeChoose', myparent).val(type);
            return false;
        });

        $('.upload_picture[rel="<?php echo $this->getPosition() ?>"]').click(function() {
            $('.fileupload[rel="<?php echo $this->getPosition() ?>"]').trigger('click');
        });

        //Fix IE
        if ($('.cms_block[rel="<?php echo $this->getPosition(); ?>"] .upload_picture').length < 1) {
            $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] .fileupload_picture').show();
        }

        $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] input.url.required').blur(function() {
            var input = $(this);
            if(!input.val().isEmpty()) {
                if(!input.val().startsWith('http://') && !input.val().startsWith('https://')) {
                    !input.val('http://'+input.val());
                }
            }
        });

        var poster_uploader = new Uploader();
        $('.fileupload[rel="<?php echo $this->getPosition() ?>"]').fileupload({
            dataType: 'json',
            add: function(e, data) {
                data.submit();
                poster_uploader.showProgressbar();
            },
            progressall: function(e, data) {
                poster_uploader.moveProgressbar(data);
            },
            done: function(e, data) {
                if (data.result.error) {
                    poster_uploader.showError(data.result.message);
                } else {
                    poster_uploader.hide();
                    var params = new Array();
                    params["url"] = '<?php echo $this->getUrl('template/crop/crop'); ?>';
                    params["file"] = data.result.files;
                    var width = 500;
                    var height = 300;
                    /*
                    if (iframe.content.find('.cms_block[rel="<?php echo $this->getPosition(); ?>"]').find('video').length > 0) {
                        width = iframe.content.find('.cms_block[rel="<?php echo $this->getPosition(); ?>"]').find('video').width();
                        height = iframe.content.find('.cms_block[rel="<?php echo $this->getPosition(); ?>"]').find('video').height();
                    }
                    */
                    params["output_w"] = width;
                    params["output_h"] = height;
                    params["output_url"] = '<?php echo str_replace('/', '$', $this->getUrl('cms/application_page/cropvideo')) ?>';
                    params["uploader"] = 'poster_uploader';
                    poster_uploader.crop(params);
                    poster_uploader.callback = function(file) {
                        var filepath = '<?php echo Core_Model_Directory::getTmpDirectory() ?>/' + file;
                        $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] .poster').attr('src', filepath).show();
                        var btn_remove = '<a class="right removeimg" onclick="deleteImageVideo(this);" href="javascript:void(0);"><i class="icon-remove"></i></a>';
                        $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] .cont_poster .removeimg').remove();
                        $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] .cont_poster').append(btn_remove);
                        $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] input[name="block[<?php echo $this->getPosition(); ?>][image]"]').val(file);
                        /*
                        iframe.content.find('.cms_block[rel="<?php echo $this->getPosition(); ?>"] video').attr('poster', filepath);
                        */
                    }
                }
            }
        });

        $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] input.video').change(function() {
            updateVideo(<?php echo $this->getPosition(); ?>);
        });

        $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] input.description').keyup(function() {
            updateDescVideo(<?php echo $this->getPosition(); ?>);
        });

        $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] .remove').click(function() {
            removeElem(<?php echo $this->getPosition(); ?>);
        });

        $('.cms_block[rel="<?php echo $this->getPosition(); ?>"] .handle').mousedown(function() {
            dragTransformMouseDown($(this));
        }).mouseup(function() {
            dragTransformMouseUp($(this));
        });

        function searchVideos(form) {
            var input = form.find('input.url.required');
            if(input.length && !input.val().isEmpty()) {
                if(!input.val().startsWith('http://') && !input.val().startsWith('https://')) {
                    !input.val('http://'+input.val());
                }
            }

            if(!form.valid()) return false;
            var type = form.attr('data-type');
            var container = form.next('.bottom_row');
            reload(form, '<?php echo $this->getUrl('cms/application_page_block_video/search'); ?>', true, function(datas) {
                container.find('.selectVideo').unbind('click');
                container.html(datas.layout);

                var carousel_videos = container.find('.search_carousel');
                var ul = carousel_videos.find('ul.search_videos_list');

                if(ul.length) {
                    var collection = container.find('.selectVideo');
                    var description = container.find('.video_description');
                    var link = container.parent().find('.video_link');
                    var image = container.parent().find('.video_image');

                    if(collection.length == 1) {
                        var video = container.find('.selectVideo:first-child');
                        description.val(video.attr('title'));
                        link.val(video.attr('rel'));
                        image.val(video.attr('data-image'));
                    }
                    else {
                        ul.carousel({items_per_page:3, next_button:carousel_videos.find('button.next'), prev_button: carousel_videos.find('button.previous')});
                        ul.data('carousel').update();

                        collection.click(function() {
                            collection.css('opacity', '1');
                            $(this).css('opacity', '0.4');
                            description.val($(this).attr('title'));
                            link.val($(this).attr('rel'));
                            image.val($(this).attr('data-image'));
                            return false;
                        });

                        if (!link.val().isEmpty()) {
                            collection.css('opacity', '1');
                            collection.each(function() {
                                if($(this).attr('rel') == link.val()) {
                                    $(this).css('opacity', '0.4');
                                    ul.data('carousel').slideToItem($(this).parent('li'));
                                }
                            });
                        }
                    }

                }

                return false;
            });

        }
//        $('.find_videos_<?php echo $this->getPosition(); ?>').click(function() {
////        $('.get_youtube[rel="<?php echo $this->getPosition(); ?>"]').click(function() {
//            var myparent = $(this.parentNode.parentNode.parentNode);
//            var type = $(this).attr('data-type');
//            console.log(type);
////            var error = false;
////            if ($('.youtube_search', myparent).val().isEmpty()) {
////                $('.youtube_search', myparent).addClass('error');
////                error = true;
////            }
////            else {
////                $('.youtube_search', myparent).removeClass('error');
////                error = false;
////            }
////            if (error == true) {
////                return false;
////            }
//
//            reload(myparent, '<?php echo $this->getUrl('cms/application_page_block_video/search'); ?>', true, function(datas) {
//
//                myparent.find('.selectVideo').unbind('click');
//                $('.param_cont', myparent).html(datas.layout);
//
//                var youtubeCollection = myparent.find('.selectVideo');
//                var carousel_videos = myparent.find('.search_carousel');
//                var ul = carousel_videos.find('ul.search_videos_list');
//                ul.carousel({items_per_page:3, next_button:carousel_videos.find('button.next'), prev_button: carousel_videos.find('button.previous')});
//                ul.data('carousel').update();
//
//                youtubeCollection.click(function() {
//                    youtubeCollection.each(function() {
//                        $(this).css('opacity', '1');
//                    });
//
//                    $(this).css('opacity', '0.4');
//
//                    $('.video_description[rel="<?php echo $this->getPosition(); ?>"]').val($(this).attr('title'));
//
//                    $('#youtube_<?php echo $this->getPosition(); ?>').val($(this).attr('rel'));
//
//                    return false;
//                });
//
//                if (!$('#youtube_<?php echo $this->getPosition(); ?>').val().isEmpty()) {
//                    youtubeCollection.css('opacity', '1');
//                    $('.selectVideo[rel="' + $('#youtube_<?php echo $this->getPosition(); ?>').val() + '"]').css('opacity', '0.4');
//                }
//                return false;
//            });
//
//            return false;
//        });

//        $('.get_podcast[rel="<?php echo $this->getPosition(); ?>"]').click(function() {
//
//            var myparent = $(this.parentNode.parentNode.parentNode);
//            if ($('.podcast_search', myparent).val().isEmpty()) {
//                $('.podcast_search', myparent).addClass('error');
//                error = true;
//            }
//            else {
//                $('.podcast_search', myparent).removeClass('error');
//                error = false;
//            }
//            if (error == true) {
//                return false;
//            }
//
//            reload(myparent, '<?php echo $this->getUrl('cms/application_page_block_video/search'); ?>', true, function(datas) {
//
//                myparent.find('.selectVideo').unbind('click');
//                $('.param_cont', myparent).html(datas.layout);
//                var podcastCollection = myparent.find('.selectVideo');
//                podcastCollection.click(function() {
//                    $('.podcastImage', myparent.parentNode).attr('src', $(this).attr('image'));
//
//                    podcastCollection.css('color', '');
//                    $('.video_description[rel="<?php echo $this->getPosition(); ?>"]').val($(this).attr('title'));
//                    $('.video_image[rel="<?php echo $this->getPosition(); ?>"]').val($(this).attr('image'));
//                    $(this).css('color', 'red');
//
//                    $('.podcast', myparent.parentNode).val($(this).attr('rel'));
//                    return false;
//                });
//
//                if (!$('#podcast_<?php echo $this->getPosition(); ?>').val().isEmpty()) {
//                    $('.podcastImage', myparent.parentNode).attr('src', $('.selectVideo[rel="' + $('#podcast_<?php echo $this->getPosition(); ?>').val() + '"]').attr('image'));
//                    podcastCollection.css('color', '');
//                    $('.selectVideo[rel="' + $('#podcast_<?php echo $this->getPosition(); ?>').val() + '"]', myparent.parentNode).css('color', 'red');
//                }
//
//
//                return false;
//            });
//
//            return false;
//        });

    <?php /*if ($youtubeSearch != NULL) : ?>
        $(".get_youtube_<?php echo $this->getPosition(); ?>").trigger("click");
    <?php endif; ?>
    <?php if ($podcastSearch != NULL) : ?>
        $(".get_podcast_<?php echo $this->getPosition(); ?>").trigger("click");
    <?php endif;*/ ?>
    </script>
</div>
