<?php $admin = $this->getAdmin(); ?>
<?php echo $this->getAdmin()->getId();?>
<?php $applications = $this->getApplications(); ?>
<?php $countries = Zend_Registry::get('Zend_Locale')->getTranslationList('Territory', null, 2); ?>
<?php asort($countries, SORT_LOCALE_STRING); ?>
<div class="application">
    <?php $apps=$this->getAdmin()->getApplications();?>
    <?php  if(count($apps)==1) :?>
        <div class="application_header app_name">
            <?php echo $this->getPartialHtml('customization_header'); ?>
        </div>
    <?php endif;?>
    <div class="application_content inner_content">
        <div class="title">
            <i class="left icon-user"></i>
            <h2 class="left f-rounded">
                <?php if($admin->getId()) : ?>
                <?php echo $this->_('Edit the account "%s"', $admin->getFirstname()); ?>
                <?php else : ?>
                <?php echo $this->_('Create a new account'); ?>
                <?php endif; ?>
            </h2>
            <div class="clear"></div>
        </div>
        <form action="<?php echo $this->getUrl('admin/account/savepost') ?>" method="post" id="editForm">
            <div class="area form-horizontal">
                <h3 class="title">
                    <span class="left area"><?php echo $this->_('Information'); ?></span>
                    <div class="clear"></div>
                </h3>

                <div class="form-group">
                    <div class="col-md-4">
                        <input type="text" id="company" name="company" class="input form-control" value="<?php echo $admin->getCompany() ?>" placeholder="<?php echo $this->_("Company"); ?>"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="email" id="email" name="email" class="input form-control required" value="<?php echo $admin->getEmail() ?>" placeholder="<?php echo $this->_("Email"); ?>">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" id="firstname" name="firstname" class="input form-control required" value="<?php echo $admin->getFirstname() ?>" placeholder="<?php echo $this->_("Firstname"); ?>">
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="lastname" name="lastname" class="input form-control" value="<?php echo $admin->getLastname() ?>" placeholder="<?php echo $this->_("Lastname"); ?>">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <input id="address" name="address" class="input form-control" value="<?php echo $admin->getAddress() ?>" placeholder="<?php echo $this->_("Address"); ?>" />
                    </div>
                    <div class="col-md-6">
                        <input id="address2" name="address2" class="input form-control" value="<?php echo $admin->getAddress2() ?>" placeholder="<?php echo $this->_("Address2"); ?>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <input id="zip_code" name="zip_code" class="input form-control" value="<?php echo $admin->getZipCode() ?>" placeholder="<?php echo $this->_("Zip Code"); ?>" />
                    </div>
                    <div class="col-md-4">
                        <input id="city" name="city" class="input form-control" value="<?php echo $admin->getCity() ?>" placeholder="<?php echo $this->_("City"); ?>" />
                    </div>
                    <div class="col-md-3">
                        <select id="country_code" name="country_code" value="<?php echo $admin->getCountry() ?>" class="select form-control no-dk">
                            <option value=""></option>
                            <?php foreach($countries as $country_code => $country_label) : ?>
                            <option value="<?php echo $country_code ?>"<?php if($admin->getCountryCode() == $country_code) : ?> selected="selected"<?php endif; ?>><?php echo $country_label ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="region_code" name="region_code" class="form-control no-dk">
                                
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="text" id="phone" name="phone" value="<?php echo $admin->getPhone() ?>" class="input form-control" placeholder="<?php echo $this->_("Phone"); ?>">
                    </div>
                </div>

            </div>

            <?php if($this->getMode()=="management"):?>
                <div class="area">
                    <h3 class="title">
                        <span class="left area"><?php echo $this->_('Account role'); ?></span>
                        <div class="clear"></div>
                    </h3>
                    <div class="container-fluid">
                        <div class="col-sm-2">
                            <label for="role_id"><?php echo $this->_('Role'); ?> <span class="input-required">*</span> : </label>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control no-dk" id="role_id" name="role_id">
                                <option></option>
                                <?php foreach($admin->getAvailableRole() as $role): ?>
                                    <option value="<?php echo $role["role_id"];?>" <?php if($role["role_id"]==$admin->getRoleId()) echo "selected"; ?>><?php echo $role["label"];?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                </div>
            <?php endif;?>

            <div class="area">
                <h3 class="title">
                    <span id="title_change_password" class="left area"><?php echo $this->_('Change password'); ?></span>
                    <div class="clear"></div>
                </h3>
                <div class="container-fluid form-horizontal" id="table-change-password">
                    <?php if($admin->getId()) : ?>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="checkbox" for="change-password">
                                <input type="checkbox" name="changepassword" id="change-password" />
                                <?php echo $this->_('Change password'); ?>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="password" value="" name="old_password" class="toggle-disabled required form-control input" id="old_password" disabled="disabled" placeholder="<?php echo $this->_('Current password *'); ?>">
                        </div>
                    </div>
                    <?php endif; ?>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="password" value="" name="password" class="toggle-disabled required form-control input" id="password"<?php if($admin->getId()) : ?> disabled="disabled"<?php endif; ?> placeholder="<?php echo $this->_('New password *'); ?>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="password" value="" name="confirm_password" class="toggle-disabled required form-control input" id="confirm_password"<?php if($admin->getId()) : ?> disabled="disabled"<?php endif; ?> placeholder="<?php echo $this->_('Confirm new password *'); ?>"/>
                        </div>
                    </div>
                    <p class="input-required">* <?php echo $this->_('Required fields'); ?></p>
                    <div class="form-group right">
                        <div class="col-sm-12">
                            <button id="send_form" class="btn default_button"><?php echo $this->_("Save"); ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="admin_id" value="<?php echo $admin->getId(); ?>" />
            <input type="hidden" name="mode" value="<?php echo $this->getMode(); ?>" />
        </form>

        <?php if($admin->getParentId() AND $this->getMode() == "management") : ?>
        <div class="area">
            <h3 class="title">
                <span id="title_change_password" class="left area"><?php echo $this->_('Applications'); ?></span>
                <div class="clear"></div>
            </h3>

            <table class="table">
                <colgroup>
                    <col width="3%" />
                    <col width="5%" />
                    <col width="47%" />
                    <col width="30%" />
                    <col width="15%" />
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="pointer"><?php echo $this->_("Name"); ?></th>
                        <th class="pointer"><?php echo $this->_("Bundle Id"); ?></th>
                        <th class="text-center"><?php echo $this->_("Can add pages"); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($applications as $key => $application) : ?>
                    <?php if(!$application->isActive()) continue; ?>
                    <tr id="row_<?php echo $application->getId(); ?>">
                        <td class="valign-middle"><input type="checkbox" value="<?php echo $application->getId(); ?>" class="toggle-access" <?php if($application->getIsAllowedToEdit()) : ?> checked="checked"<?php endif; ?> /></td>
                        <td class="text-center"><img src="<?php echo $application->getIcon(35) ?>" width="35" /></td>
                        <td class="valign-middle"><?php echo $application->getName(); ?></td>
                        <td class="valign-middle"><?php echo $application->getBundleId(); ?></td>
                        <td class="valign-middle text-center"><input type="checkbox" class="is-allowed-to-add-pages" value="<?php echo $application->getId(); ?>" <?php if($application->getIsAllowedToAddPages()) : ?> checked="checked"<?php endif; if(!$application->getIsAllowedToEdit()) : ?> style="display:none;"<?php endif; ?> /></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>

            <form id="toggleAccessForm" action="<?php echo $this->getUrl("admin/access_management/setapplicationtoadmin", array("admin_id" => $admin->getId())); ?>" class="none">
                <input type="hidden" name="app_id" class="app_id" value="" />
                <input type="hidden" name="is_selected" class="is_selected" value="" />
                <input type="hidden" name="admin_id" value="<?php echo $admin->getId(); ?>" />
            </form>
            <form id="isAllowedToAddPagesForm" action="<?php echo $this->getUrl("admin/access_management/setpermissionstoadmin", array("admin_id" => $admin->getId())); ?>" class="none">
                <input type="hidden" name="app_id" class="app_id" value="" />
                <input type="hidden" name="is_selected" class="is_selected" value="" />
                <input type="hidden" name="admin_id" value="<?php echo $admin->getId(); ?>" />
            </form>
        </div>
        <?php endif; ?>

        <div class="area">
            <h3 class="title">
                <span id="title_subscription" class="left area"><?php echo $this->_('My Subscription'); ?></span>
                <div class="clear"></div>
            </h3>
            <div style="margin-left:10px">
                <table style="width:100%">
                    <tr class="account-edit">
                        <th style="width:25%">
                            <?php echo $this->_("App Name");?>
                        </th>
                        <th style="width:25%">
                            <?php echo $this->_("Subscription");?>
                        </th>
                        <th style="width:25%">
                            <?php echo $this->_("STOP");?>
                        </th>
                        <th style="width:25%">
                            <?php echo $this->_("UPGRADE");?>
                        </th>
                    </tr>
                <?php foreach ($apps as $key => $app):?> 
                    <tr class="account-edit">
                    <td style="width:25%">
                    <span style="font-weight:bold"><?php echo $app->getName()?></span>
                    </td>
                    <td style="width:25%">    
                    <span><?php echo $app->getSubscription()->getName() ? $app->getSubscription()->getName() : $this->_("Free period")?></span>
                    </td>
                    <td style="width:25%">
                    <?php if($app->getSubscription()->getName() && ($app->getSubscription()->getIsRecurrent()->getValue()==1)):?>
                        <a href="<?php echo $this->getUrl('admin/application/stopsubscription?id=').$app->getAppId();?>">
                            <span class="stop-button"><?php echo $this->_("STOP")?></span>
                        </a>
                    <?php else :?>
                        <span class="cant-stop-button"><?php echo $this->_("STOP")?></span>
                    <?php endif;?>
                    </td>
                    <td style="width:25%">
                    <a href="<?php echo $this->getUrl('admin/application/upgrade?id=').$app->getAppId();?>">
                        <span class="upgrade-button"><?php echo $this->_("UPGRADE")?></span>
                    </a>
                    </td>
                    </tr>
                <?php endforeach;?>
                </table>
            </div>
        </div>

    </div>
</div>
<style>
    .application_content .area a.publish { width: 125px; padding: 5px 0; display: block; font-size: 18px; text-align: center; }
    .area .application .subtitle { margin: 0; }
    .area .application .subtitle span.left { margin-left: 10px; margin-right: 0; }
    .application .area table.table input { width:auto; }
    table.list td.label { width: 215px; }
    table.regular_infos { margin-bottom: 30px; }
    input#change-password { min-width: 00px; margin-right: 10px;}
    #title_change_password { cursor: pointer; }
    button#send_form { padding: 10px 20px; }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('#send_form').click(function(){
            var $form  = $('#editForm');
            $form.validate({
                rules: {
                    confirm_password: {
                        equalTo: "#password"
                    }
                }
            });
            if($form.valid()) {
                reload($form, $form.attr('action'), true);
            };
            return false;
        });

        <?php if($admin->getId()) : ?>
        $('#change-password').removeAttr('checked');
        $('input:password').attr('disabled', 'disabled');

        $('#change-password').change(function() {
            if($('#change-password:checked').length > 0) {
                $('input:password').removeAttr('disabled');
            } else {
                $('input:password').attr('disabled', 'disabled');
                $('input:password').val('');
            }
        });
        <?php endif; ?>

        $('input:password').val('');
    });

    $(".toggle-access").change(function() {

        var _that = $(this);
        var app_id = this.value;
        var was_checked = !_that.is(":checked");
        $("#toggleAccessForm").find(".app_id").val(app_id);
        $("#toggleAccessForm").find(".is_selected").val($(this).is(":checked") ? 1 : null);

        reload($("#toggleAccessForm"), $("#toggleAccessForm").attr("action"), true, function(data) {

            if(data.success) {
                console.log(data.is_allowed_to_add_pages);
                console.log($("#row_"+app_id).length);
                if(data.is_allowed_to_add_pages) {
                    $("#row_"+app_id).find(".is-allowed-to-add-pages").prop("checked", true).show();
                } else {
                    $("#row_"+app_id).find(".is-allowed-to-add-pages").prop("checked", false).hide();
                }
            }
        }, function() {    
            _that.prop("checked", was_checked)
        });
    });

    $(".is-allowed-to-add-pages").change(function() {
        $("#isAllowedToAddPagesForm").find(".app_id").val(this.value);
        $("#isAllowedToAddPagesForm").find(".is_selected").val($(this).is(":checked") ? 1 : null);
        reload($("#isAllowedToAddPagesForm"), $("#isAllowedToAddPagesForm").attr("action"), true);
    });

    var current_country = "<?php echo System_Model_Config::getValueFor("company_country") ?>";
    var current_region = "<?php echo $admin->getRegionCode() ?>";
    var regions = <?php echo Zend_Json::encode(Siberian_Locale::getRegions()); ?>;

    $('#country_code').change(function() {

        var territory = $(this).val();
        var selected_region = "";
        // checkRowVatNumber(territory);

        $("#region_code").empty();

        if(typeof regions[territory] != "undefined") {
            
            $.each(regions[territory],function(i, value){

                if(current_region == i){
                    selected_region = 'selected="selected"';
                } else {
                    selected_region = "";
                }
                $("#region_code").append('<option value="' + i + '" ' + selected_region + '>' + value + '</option>');
            });
            $("#region_code").prop("disabled", false)
                .removeClass("disabled")
            ;
        } else {
            $("#region_code").prop("disabled", true)
                .addClass("disabled")
            ;
        }

    });

    $('#country_code').change();

//    $("#role_id").change(function() {
//        if($("#role_id").val() != "") {
//            reload($("#roleForm"), $("#roleForm").attr("action"), true);
//        }
//    });

</script>
<style>
.account-edit {
    height:50px;
    border-bottom: solid 1px;
}
.stop-button {
padding: 3% 10% 3% 10%;
background: #9f0030;
color: white;
border-radius:2px;
}
.cant-stop-button {
padding: 3% 10% 3% 10%;
background: grey;
color: #2b2b2b;
border-radius:2px;
}
.upgrade-button {
padding: 3% 10% 3% 10%;
background: green;
color: white;
border-radius:2px;
}
</style>
