<br/>
<br/>
<br/>
<br/>
<br/>
<?php if($this->getRequest()->getParam("validation_code") == "verified"):?>
    <div>
        <p style="font-size:18px;"><?php echo $this->_("We send you an email, please validate your account.");?></p>
        <p><?php echo $this->_("You have not received the confirmation email ?");?>
        <a style="background-color: #fff;padding:5px; border:solid 1px" href="<?php echo $this->getUrl('admin/account/login/')."?admin=".$this->getRequest()->getParam("admin"); ?>"><?php echo $this->_("resend email")?></a></p>
        <p style="color:#7b7b7b"><?php echo $this->_("Email never arrived !");?>
        <a style="text-decoration:underline" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#115;&#105;&#110;&#99;&#117;&#98;&#101;&#46;&#99;&#111;&#109;"><?php echo $this->_("Contact us");?></a></p>
    </div>

<?php endif;?>


<div class="content application">
    <div class="application_content">
        <div class="inner_content">
            <ul id="nav-login" class="nav nav-tabs" role="tablist">
                <li style="width:50%" class="text-center no-padding"><a href="#" rel="login"><?php echo $this->_("Log in"); ?></a></li>
                <?php if(!$this->getRequest()->isWhiteLabelEditor()) : ?>
                <li style="width:50%" class="text-center no-padding"><a href="#sign-up" rel="signup"><?php echo $this->_("Sign up"); ?></a></li>
                <?php endif; ?>
            </ul>

            <div>
                <br />
                <form action="<?php echo $this->getUrl('admin/account/loginpost') ?>" method="post" id="loginForm" class="none">

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" id="email" class="input form-control required email" name="email" placeholder="<?php echo $this->_("Email"); ?>" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="password" id="password" class="input form-control required" name="password" placeholder="<?php echo $this->_("Password"); ?>" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="javascript:void(0);" id="btnForgotPassword"><?php echo $this->_('Forgot your password ?'); ?></a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn default_button reverse right"><?php echo $this->_('Log in'); ?></button>
                        </div>
                    </div>

                </form>

                <?php if(!$this->getRequest()->isWhiteLabelEditor()) : ?>
                <form action="<?php echo $this->getUrl('admin/account/signuppost') ?>" method="post" id="signupForm" class="none">


                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" id="firstname" class="form-control input required firstname" name="firstname" placeholder="<?php echo $this->_("Firstname"); ?>" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" id="email" class="form-control input required email" name="email" placeholder="<?php echo $this->_("Email"); ?>" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="password" id="password_new" class="form-control input required" name="password" placeholder="<?php echo $this->_("Password"); ?>" onfocusout="checklengthPassword()"/>
                            <p id="password_length" style="color:#9f0030"></p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="password" id="confirm_new_password" class="form-control input required" name="confirm_password" placeholder="<?php echo $this->_("Confirm your password"); ?>" onfocusout="checkPassword()" />
                            <p id="password_check" style="color:#9f0030"></p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="signin signin_content btn btn-primary right"><?php echo $this->_('Sign up'); ?></button>
                        </div>
                    </div>

                </form>
                <?php endif; ?>

                <div class="clear"></div>

                <form action="<?php echo $this->getUrl('admin/account/forgotpasswordpost') ?>" method="post" id="forgotpasswordForm" class="none">

                    <div class="col-md-12">
                        <div class="form-group">
                            <p><?php echo $this->_('Forgot your password? Don\'t worry! Simply enter your email address and we\'ll send you a new one right now.'); ?></p>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" id="email" class="input form-control required email" name="email" placeholder="<?php echo $this->_("Email"); ?>" />
                        </div>
                    </div>

                            <div class="col-md-2">
                                <button type="button" id="btnBackForgotPassword" class="btn delete reverse"><?php echo $this->_("Back"); ?></button>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="forgot_password_content btn default_button reverse right"><?php echo $this->_('Send'); ?></button>
                            </div>
                        
                    </div>
                </form>
                <div class="clear"></div>
            </div>
        </div>
        <div class="bg-login"></div>
    </div>
    <script type="text/javascript">
        $('#loginForm').submit(function() {
            if(!$(this).valid()) return false;
        });
        $('#signupForm').submit(function() {
            if(!$(this).valid()) return false;
        });

        $('#forgotpasswordForm').submit(function() {
            if(!$(this).valid()) return false;

        });

        $('#btnForgotPassword').click(function() {
            $('#loginForm').hide();
            $('#forgotpasswordForm').fadeIn();
        });

        $('#btnBackForgotPassword').click(function() {
            $('#forgotpasswordForm').hide();
            $('#loginForm').fadeIn();
        });
    </script>
    <style>

        .content.application {
            width: 500px;
        }
        .content.application .application_content {
            width: auto;
        }
        /*.content.application .application_content .area {
            background: transparent !important;
            color: #404040 !important;
        }*/
    </style>
</div>

<script type="text/javascript">
        function checklengthPassword(){
            if(document.getElementById("password_new").value.length < 6){
                document.getElementById("password_length").innerHTML = '*6 characters minumum are required';
            }else{
                 document.getElementById("password_length").innerHTML = '';
            }
        }
        function checkPassword(){
            if(document.getElementById("password_new").value != document.getElementById("confirm_new_password").value){
                document.getElementById("password_check").innerHTML = '*password is not the same';
            }else{
                document.getElementById("password_check").innerHTML = '';
            }
        }

    login_urls = {
        checklogin_post: '<?php echo $this->getUrl('admin/account/check'); ?>',
        signin_post: '<?php echo $this->getUrl('admin/account/loginpost'); ?>',
        signup_post: '<?php echo $this->getUrl('admin/account/signuppost'); ?>',
        forgotpassword_post: '<?php echo $this->getUrl('admin/account/forgotpasswordpost'); ?>',
    }

    $('#nav-login a').click(function() {
        if($(this).hasClass("active")) return false;
        if($(this).attr("rel") == "login") {
            $('#signupForm').hide();
            $('#loginForm').fadeIn();
        } else {
            $('#loginForm').hide();
            $('#signupForm').fadeIn();
        }

        $("#nav-login li").removeClass("active");
        $(this).parent("li").addClass("active");
    });

    <?php if(!$this->getRequest()->isWhiteLabelEditor()) : ?>
    selector = window.location.href.indexOf("#sign-up") > 0 ? '[rel="signup"]' : '[rel="login"]';
    $('#nav-login a'+selector).click();
    <?php else : ?>
    $('#nav-login a[rel="login"]').click();
    <?php endif; ?>
    
</script>