<?php $application = $this->getApplication(); ?>
<!-- <div class="application_settings application">
    <div class="application_header app_name">
        <?php echo $this->getPartialHtml('customization_header'); ?>
    </div>
    <div class="application_content inner_content">-->
        <!-- <div class="title">
            <i class="left icon-facebook-sign"></i>
            <h2 class="left inner_content f-rounded"><?php echo $this->_('Facebook'); ?></h2>
            <div class="clear"></div>
        </div> -->
        <div id="facebook_config" class="area">
            <h3 class="title">
                <span class="left area"><?php echo $this->_('Facebook API Keys'); ?></span>
                <div class="clear"></div>
            </h3>
            <div class="area_content">
                <form id="facebookForm" action="<?php echo $this->getUrl('application/settings_facebook/save'); ?>" onsubmit="return false" class="form-horizontal">
                    <div class="container-fluid">
                        <div class="form-group">
                           <div class="col-sm-2">
                               <label for="facebook_id" class="control-label"><?php echo $this->_('App ID'); ?> : </label>
                           </div>
                            <div class="col-sm-4">
                                <input type="text" id="facebook_id" name="facebook_id" class="input form-control" value="<?php echo $application->getData("facebook_id") ?>" placeholder="<?php echo $this->_('App ID'); ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-2">
                               <label for="facebook_key" class="control-label"><?php echo $this->_('Secret Key'); ?> : </label>
                           </div>
                            <div class="col-sm-4">
                                <input type="text" id="facebook_key" name="facebook_key" class="input form-control" value="<?php echo $application->getData("facebook_key") ?>" />
                            </div>
                        </div>
                        <div class="form-group right">
                            <div class="col-sm-12">
                                <button type="submit" class="btn default_button"><?php echo $this->_("Save"); ?></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
<!--     </div>
</div> -->
    <script type="text/javascript">

        $(document).ready(function(){
            $('#facebookForm').submit(function() {
                reload(this, this.action, true);
                return false;
            });
        });

    </script>
<style>
    #create_application table tr th { padding: 10px; border-bottom: 1px solid; font-weight:bold; font-size: 20px; text-transform: uppercase; }
    #create_application table tr td { padding: 10px; }
    #urlForm .row_config_cname {padding-top: 5px;}
    #urlForm .row_config_cname span.delete {
        width: 540px;
        padding: 10px;
        border-radius: 7px;
        font-size: 16px;
        transition: none;
        display: none;
    }
    #urlForm .row_config_cname span i {margin-right: 10px;font-size: 18px;}
    #urlForm a#configure_cname:focus {outline: 0;}
    #urlForm .row_config_cname span i.icon-info-sign {margin-left: 10px;}
</style>
