<div class="scrollable_content" sb-load-more factory="factory" collection="collection">

    <div ng-if="collection.locked === 1 && !is_logged_in">
      <?php echo $this->getPartialHtml("padlock"); ?>
    </div>
     <div ng-if="(collection.locked === 1  &&  is_logged_in) || collection.locked === 2 || !collection.locked">
        <?php echo $this->getPartialHtml("cover"); ?>

        <div class="list l3">
            <div ng-show="show_search && collection.length > 0" class="width-100" style="padding:5px">
                <input type="text" id="search" name="search" ng-model="search" placeholder="<?php echo $this->_("Search"); ?>" style="width: 95%;"/>
            </div>
            <ul>
                <li ng-repeat="item in collection | filter:search" ng-class="{first: $index == 0, has_picture: item.picture }" ng-hide="item.is_hidden">
                    <a class="block" ng-href="{{ item.url }}">
                        <div class="left picture" image-src="item.picture" ng-if="item.picture" sb-image></div>
                        <div class="details padding" ng-class="{has_picture: item.picture}">
                            <h3 class="title">{{ item.title }}</h3>
                            <div class="subtitle" ng-bind-html="item.subtitle"></div>
                            <div class="clear"></div>
                        </div>
                    </a>
                </li>
                <li class="empty" ng-if="!collection.length">
                    <p class="a-center"><?php echo $this->_("Nothing to display"); ?></p>
                </li>
            </ul>
        </div>
    </div>    
</div>