<?php $invoice = $this->getInvoice(); ?>
<div class="application">
    <div class="application_content inner_content">
        <div class="title">
            <i class="left icon-file-alt"></i>
            <h2 class="left f-rounded"><?php echo $this->_('Invoice N°'); ?><?php echo $invoice->getNumber();?></h2>
            <div class="right">
                <a class="btn btn-primary" href="<?php echo $this->getUrl('sales/admin_invoice/list') ?>"><?php echo $this->_('Back'); ?></a>
            </div>
            <div class="clear"></div>
            <hr +>
        </div>
        <div class="area"  id="content" style="background-image:url(<?php echo '/images/site/no-image.jpg'?>);background-size:cover;height:1290px">
            <div style="background-color: rgba(255, 255, 255, 0.9);height:1290px">
                <div>
                    <div class="col-md-6">
                        <p style="margin-left:-8px;"><img src="<?php echo $this->getLogo(); ?>" id="logo" alt="<?php echo System_Model_Config::getValueFor("company_name"); ?>" title="<?php echo System_Model_Config::getValueFor("company_name"); ?>" width="150" /></p>
                        <p><?php echo System_Model_Config::getValueFor("company_name"); ?></p>
                        <p><?php echo nl2br(System_Model_Config::getValueFor("company_address")) ?></p>
                        <p><?php echo System_Model_Config::getValueFor("company_country") ?></p>
                        <p><?php echo $this->_('Tel:').System_Model_Config::getValueFor("company_phone") ?></p>
                        <p><strong><?php echo $this->_('VAT:')?></strong><?php echo System_Model_Config::getValueFor("company_vat_number") ?></p>
                        <p><strong><?php echo $this->_('Siret:')?></strong><?php echo System_Model_Config::getValueFor("company_siret") ?></p>
                    </div>
                    <div class="col-md-6 text-right" style="margin-top:45px;">
                        <p><?php echo $invoice->getAdminName(); ?></p>
                        <p><?php echo nl2br($invoice->getAdminAddress()); ?></p>
                        <?php if($invoice->getAdminAddress2()) : ?>
                            <p><?php echo $invoice->getAdminAddress2(); ?></p>
                        <?php endif; ?>
                        <?php if(($invoice->getAdminZipCode())||($invoice->getAdminCity())||($invoice->getAdminRegion())) : ?>
                            <p>
                                <?php if($invoice->getAdminZipCode()) : echo $invoice->getAdminZipCode().", "; endif;?>
                                <?php if($invoice->getAdminCity()) : echo $invoice->getAdminCity().", "; endif;?>
                                <?php if($invoice->getAdminRegion()) : echo $invoice->getAdminRegion(); endif;?>
                            </p>
                        <?php endif; ?>
                        <p><?php echo $invoice->getAdminCountry(); ?></p>
                        <?php if($invoice->getAdminVatNumber()) : ?>
                            <p><?php echo $invoice->getAdminVatNumber(); ?></p>
                        <?php endif; ?>
                    </div>

                    <div class="clear"></div>
                </div>

                <br/>
                <div class="col-md-12">
                    <p>
                        <span><strong><?php echo $this->_('Invoice N°'); ?></strong><?php echo $invoice->getNumber(); ?></span><br/>
                        <span><strong><?php echo $this->_('Created at:'); ?></strong> <?php echo $invoice->getFormattedCreatedAt($this->_("MM/dd/yy")); ?></span><br/>
                        <span><strong><?php echo $this->_('Paid at:'); ?></strong> <?php echo $invoice->getFormattedCreatedAt($this->_("MM/dd/yy")); ?></span><br/>
                        <span><strong><?php echo $this->_('Payment Method:'); ?></strong> <?php echo ucfirst($invoice->getPaymentMethod()); ?></span>
                    </p>
                </div>
                <br />
                <div class="col-md-12" style="margin-top:40px;">
                    <table class="table">
                        <col width="50%" />
                        <col width="15%" />
                        <col width="10%" />
                        <col width="15%" />
                        <thead>
                            <tr>
                                <th><?php echo $this->_('Name'); ?></th>
                                <th class="text-right"><?php echo $this->_('Price Excl. Tax'); ?></th>
                                <th class="text-center"><?php echo $this->_('Qty'); ?></th>
                                <th class="text-right"><?php echo $this->_('Total'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($invoice->getLines() as $line) : ?>
                            <tr>
                                <td><?php echo $line->getName() ?></td>
                                <td align="right"><?php echo $line->getFormattedPriceExclTax() ?></td>
                                <td align="center"><?php echo $line->getQty() ?></td>
                                <td align="right"><?php echo $line->getFormattedTotalPriceExclTax() ?></td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>

                    <div class="col-md-4 col-md-offset-8">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2"><?php echo $this->_('Total'); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><?php echo $this->_('Total Excl. Tax'); ?></td>
                                    <td align="right"><?php echo $invoice->getFormattedTotalExclTax(); ?></td>
                                </tr>
                                <tr>
                                    <td><?php echo $this->_('Tax'); ?> (<?php echo $invoice->getTaxRate() ?> %)</td>
                                    <td align="right"><?php echo $invoice->getFormattedTotalTax(); ?></td>
                                </tr>
                                <tr>
                                    <td><strong><?php echo $this->_('Total'); ?></strong></td>
                                    <td align="right"><strong><?php echo $invoice->getFormattedTotal(); ?></strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
            <div id="editor"></div>
    <div style="text-align:right; margin-right:30px;margin-top:30px;">
        <button id="cmd" class="btn btn-default reverse" style="background-color:<?php echo $this->getBlock('general')->getColor()?> !important"><?php echo $this->_('generate PDF');?></button>
    </div>
    </div>
</div>
<style>
.invoice{
    display: inline-block;
}
</style>
<script type="text/javascript">
var doc = new jsPDF('p', 'pt', 'letter');
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {
   doc.addHTML($('#content'), function () {
     doc.save('facture-'+"<?php echo $invoice->getNumber(); ?>"+'.pdf');
 });
});
</script>