<sb-section title="section_title">

    <form ng-submit="saveSubscription();" class="form-horizontal">
        <div class="form-group" ng-if="subscription.payment_method">
            <div class="col-md-6">
                <label for="expiration"><?php echo $this->_("Payment Method:"); ?> </label>
                {{ subscription.payment_method }}
            </div>
        </div>
        <div class="form-group" ng-if="subscription.payment_method">
            <div class="col-md-6">
                <label for="expiration"><?php echo $this->_("Expiration date"); ?></label>
                <input type="expiration" id="expiration" ng-model="subscription.displayed_date" class="form-control"
                       placeholder="<?php echo $this->_("Expiration date"); ?>"
                       ng-focus="datepicker_visible = true"
                       ng-change="datepicker_visible = false" />

                <datetimepicker data-ng-model="subscription.expire_at"
                                data-displayed-date="subscription.displayed_date"
                                data-datetimepicker-config="{ startView:'day', minView:'day', format:'<?php echo strtoupper($this->_("MM/dd/yyyy")); ?>' }"
                                data-is-visible="datepicker_visible"/>
            </div>
        </div>

        <div class="form-group">
            <div class="clear col-md-12" ng-if="subscription.subscription_app_id">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="subscription.is_active" ng-true-value="'1'"
                               ng-false-value="'0'" ng-disabled="is_active_checkbox_disabled"/>
                        <?php echo $this->_("This subscription is active"); ?>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="subscription.payment_method == '2checkout' && subscription.is_active=='1'">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <?php echo $this->_("Be careful: a 2Checkout stopped recurrence can only be reactivated by a 2Checkout representative."); ?>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary left"><?php echo $this->_("Save"); ?></button>
                <sb-loader is_visible="form_loader_is_visible" type="'inner_content'" size="'small'" animation="'no'"
                           class="form_loader"></sb-loader>
                <div class="clear"></div>
            </div>
        </div>
    </form>

</sb-section>