<?php $application = $this->getApplication(); ?>
<?php $value_id = $this->getRequest()->getParam('value_id');?>
<?php $locker_option = $this->getApplication()->getOption("padlock");
                $locker = new Padlock_Model_Padlock();
                $lock_values_id = $locker->getValueIds($this->getApplication()->getId());?>

<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

	<sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message" right-button="header_right_button"></sb-header>

	<div class="top_buttons" ng-show="can_post">
	</div>
	<div class="clear"></div>

<?php echo $this->getPartialHtml("list"); ?>

</div>
