<?php $application = $this->getApplication(); ?>
<div class="application_settings application">
    <div class="application_header app_name">
        <?php echo $this->getPartialHtml('customization_header'); ?>
    </div>
    <div class="application_content inner_content">
    	<div class="title">
            <i class="left icon-cog"></i>
            <h2 class="left inner_content f-rounded"><?php echo $this->_('Settings'); ?></h2>
            <div class="clear"></div>
        </div>
        
			<?php echo $this->createPartialHtml('facebook_container','admin_view_default','application/settings/facebook/index.phtml'); ?>
			<?php //echo $this->createPartialHtml('domain_container','admin_view_default','application/settings/domain/index.phtml'); ?>
			<?php //echo $this->createPartialHtml('terms_container','admin_view_default','application/settings/tc/index.phtml'); ?>
    </div>
</div>