<?php $fields = $this->getFields(); ?>
<table width="100%" bgcolor="#efefef" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="12%"></td>
        <td align="center" style="background-color:#272527;background-image:url('http://d15oktd9tyyxdq.cloudfront.net/ban-sincube.jpg');background-size:cover;background-position:50%;background-repeat:no-repeat;padding:15px 15px 30px 15px;" height="200px">
            <img src="http://d15oktd9tyyxdq.cloudfront.net/logo-sincube.png" width="150px" alt="Ina Ich l'application officielle" >
        </td>
        <td width="12%"></td>
    </tr>
    <tr style="padding: 0 15px; color:#888888; font-size: 17px; line-height: 150%; width:600px">
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:25px">
            <p style="font-family: Verdana; font-weight: bold;color: #404040;font-size:18px; line-height:150%;"><?php echo $this->_('Hello,'); ?></p>
            <p>
                <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                    <?php echo $this->_('Your form has been filled out, here are the answers:'); ?><br />
                </span>
            </p>
            <?php foreach($fields as $name => $values) : ?>
            <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                <?php echo $name ?> :
                <?php if(is_array($values)) : ?>
                <br />
                <?php foreach($values as $value) : ?>
                <span><?php echo stripslashes(nl2br($value)) ?></span><br />
                <?php endforeach; ?>
                <?php else : ?>
                <?php echo stripslashes(nl2br($values)) ?>
                <?php endif; ?>
            </p>
            <?php endforeach; ?>
        </td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:8px 25px;clear:both;font-family: Verdana, Arial, Helvetica, sans-serif;">
            <div style="background-color:#9F0030;height:2px;margin:0 auto;"></div>
            <p style="display:inline-block;line-height:38px;">
                <a href="sincube.com" target="_blank" style="text-decoration:none;color:#000000;font-size:13px;">
                    Powered by Sincube
                </a>
            </p>
            <ul style="display:inline-block;float: right;padding-left:0;">
                <li style="list-style-type:none;display:inline-block;margin-right:20px;">
                    <a href="https://www.facebook.com/wearesincube" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/facebook.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
                <li style="list-style-type:none;display:inline-block;">
                    <a href="https://twitter.com/sincub3" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/twitter.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
            </ul>
        </td>
        <td width="12%"></td>
    </tr>
</table>