<?php 
$application = $this->getApplication();
$website = new Application_Model_Website();
$website = $website->find(array("app_id" => $application->getId()));
?>
<?php //echo $website->getId();exit;?>
<article id="bio" class="biography">
	<div class="wrapper">
		<h2><?php echo $website->getBlockDetailsByType('bio')->getName() ? $website->getBlockDetailsByType('bio')->getName() : $this->_('Bio');?></h2>
		<div class="text">
			<?php if($website->getBio()==1):?>
				<?php if($website->getBiography()!=""):?>
			  		<?php echo $website->getBiography();?>
				<?php else :?>
			  		<?php echo $this->_("No biography for the moment");?>
				<?php endif;?>
			<?php endif;?> 
		</div>
	</div>
</article>