<?php 
$application = $this->getApplication();
$website = new Application_Model_Website();
$website = $website->find(array("app_id" => $application->getId()));
?>
<article id="event" class="event">
	<div class="wrapper">
		<h2><?php echo $website->getBlockDetailsByType('event')->getName() ? $website->getBlockDetailsByType('event')->getName()  : $this->_('Event');?></h2>
		<div ng-if="eventoptionvalue.length > 1">
			<ul class="list-element">
				<li ng-repeat="item in eventoptionvalue">
					<p ng-click="showevents(item)">{{item.name}}<span id="event_{{item.id}}" class="square_event"></span></p>
				</li>	
			</ul>
		</div>
		<div ng-if="!eventlaoding">
		<?php echo $this->getPartialHtml('eventgallery')?>
			<div ng-if="!eventoptionvalue.length">
				<?php echo $this->_('No event for the moment');?>
			</div>
		</div>
		<div ng-if="eventlaoding" class="loader">
			<img src="http://www.gapminder.org/GapminderMedia/wp-uploads/images_loaders/ajax-loader.gif"/>
		</div>
	</div>
</article>