<?php 
$application = $this->getApplication();
$website = new Application_Model_Website();
$website = $website->find(array("app_id" => $application->getId()));
?>
<article id="image" class="images">
	<div class="wrapper">
		<h2><?php echo$website->getBlockDetailsByType('image')->getName()  ? $website->getBlockDetailsByType('image')->getName()  : $this->_('Image');?></h2>
		<div ng-if="galleries.length > 1">	
			<ul id="image-list" class="list-element">
				<li ng-repeat="item in galleries">
					<p ng-click="showimages(item)">{{item.name}}<span id="image_{{item.gallery_id}}" class="square_image"></span></p>
				</li>	
			</ul>
		</div>
		<div class="loader" ng-if="imageloading">
			<img src="http://www.gapminder.org/GapminderMedia/wp-uploads/images_loaders/ajax-loader.gif"/>
		</div>
		<div ng-if="!imageloading">
			<?php echo $this->getPartialHtml('imagegallery')?>
			<div ng-if="!galleries.length" class="no-results">	
				<?php echo $this->_('No image for the moment');?>
			</div>
		</div>
	</div>
</article>