<?php 
$application = $this->getApplication();
$website = new Application_Model_Website();
$website = $website->find(array("app_id" => $application->getId()));
?>
<article id="music" class="medias music">
	<div class="wrapper">
		<h2><?php echo$website->getBlockDetailsByType('music')->getName()  ? $website->getBlockDetailsByType('music')->getName()  : $this->_('Music');?></h2>
		<div ng-if="!musicloading">
			<div ng-if="albums.length">
				<?php echo $this->getPartialHtml('musicgallery')?>
			</div>
			<div ng-if="!albums.length">
				<?php echo $this->_("No music for the moment");?>
			</div>
		</div>
		<div class="loader" ng-if="musicloading">
			<img src="http://www.gapminder.org/GapminderMedia/wp-uploads/images_loaders/ajax-loader.gif"/>
		</div>
		<div ng-if="albums.length > 1">
			<ul id="music-album-list" class="list-element">
				<li ng-repeat="item in albums">
					<span class="square_music" id="music_{{item.album_id}}" ng-click="showTracks(item)"></span>
				</li>	
			</ul>
		</div>
	</div>
</article>