<div ng-if="!newsletter_save">
	<div class="clear"></div>
	<label class="label_newsletter"><?php echo $this->_("Name")?></label>
	<input type="text" id="newsletter_name" style="border:solid 1px;width:60%"/>
	<div class="clear"></div>
	<label class="label_newsletter"><?php echo $this->_("Firstname") ?></label>
	<input type="text" id="newsletter_firstname" style="border:solid 1px;width:60%"/>
	<div class="clear"></div>
	<label class="label_newsletter"><?php echo $this->_("Email*")?></label>
	<input type="text" id="newsletter_email" style="border:solid 1px;width:60%"/>
	<span ng-if="validate_email" style="font-size: 9px;color: red;"><?php echo $this->_("Invalid email")?></span>
	<div class="clear"></div>
	<div style="text-align:center;">
		<p ng-click="subscribe()" style="display: inline;padding: 10px;background-color: <?php echo $this->getApplication()->getBlock('header')->getBackgroundColor()?>;color:  <?php echo $this->getApplication()->getBlock('header')->getColor()?>;border:solid 1px <?php echo $this->getApplication()->getBlock('header')->getColor()?>;"><?php echo $this->_("Save")?></p>
	</div>
</div>
<p ng-if="newsletter_save"><?php echo $this->_("Your subscription has been saved")?></p>
<style>
.label_newsletter{
	width:200px;
	display: inline-block;;
}
</style>