<?php 
$application = $this->getApplication();
$website = new Application_Model_Website();
$website = $website->find(array("app_id" => $application->getId()));
?>
<article id="video" class="medias videos">
	<div class="wrapper" style="position:relative;min-height:400px">
		<h2><?php echo $website->getBlockDetailsByType('video')->getName()  ? $website->getBlockDetailsByType('video')->getName()  : $this->_('Video');?></h2>
		<div ng-if="videogalleries.length > 1">	
			<ul class="list-element">
				<li ng-repeat="item in videogalleries">
					<p ng-click="showvideos(item, true)">{{item.name}}<span id="square_{{item.gallery_id}}" class="square_video"></span></p>
				</li>	
			</ul>
		</div>
		<div ng-if="videolaoding" class="loader">
			<img src="http://www.gapminder.org/GapminderMedia/wp-uploads/images_loaders/ajax-loader.gif"/>
		</div>
		<div ng-if="!videolaoding">
			<?php echo $this->getPartialHtml('videogallery')?>
			<div ng-if="!videogalleries.length">
				<?php echo $this->_('No video for the moment');?>
			</div>	
			<br/>
		</div>
		<div ng-if="!videoscollection.length" style="position: absolute;top: 35%;right: 48%;z-index:10;">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
</article>