<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>
<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message" right-button="header_right_button"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <div class="scrollable_content">

        <div class="for_ads_banner">
            <div ng-repeat="block in blocks">

                <div ng-switch on="block.type">
                    <div ng-switch-when="text">
                        <div sb-cms-text block="block"></div>
                    </div>
                    <div ng-switch-when="image">
                        <div sb-cms-image block="block" gallery="gallery"></div>
                    </div>
                    <div ng-switch-when="video">
                        <div sb-cms-video block="block"></div>
                    </div>
                    <div ng-switch-when="address">
                        <div sb-cms-address block="block" on-show-map="onShowMap(address)"></div>
                    </div>
                    <div ng-switch-when="button">
                        <div sb-cms-button block="block"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="popup" ng-if="share == true">
             <div class="vertical-align">
                <?php echo $this->_('Share on');?>
                <ul class="buttons share">
                    <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
                    <li>
                        <a class="share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <?php $text = $this->_("New page on the app")." : ".$this->getApplication()->getName()?>
                        <a class="share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text=<?php echo $text?>&url=<?php echo $url;?>">
                            Twitter
                        </a>
                    </li>
                </ul>
            </div>
            <a class="button-close icon-close share" ng-click="closeShare()" style="width:80%"><?php echo $this->_('Close');?></a>
        </div>
    </div>
    </div>
</div>

<!--<div sb-image-gallery gallery="gallery"></div>-->