<?php $application = $this->getApplication(); ?>
<?php $time = time(); ?>
<?php echo $this->doctype() ?>
<html>
    <head>
        <title><?php echo $application->getName() ?></title>
        <?php foreach($this->getMetas() as $meta) : ?>
        <meta <?php echo $meta->getTag() ?>="<?php echo $meta->getKey(); ?>" content="<?php echo $this->_($meta->getContent()); ?>" />
        <?php endforeach ?>

        <script type="text/javascript">
      (function(e,t){var n=e.amplitude||{_q:[]};var r=t.createElement("script");r.type="text/javascript";
      r.async=true;r.src="https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-2.9.1-min.gz.js";
      r.onload=function(){e.amplitude.runQueuedFunctions()};var i=t.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(r,i);var s=function(){this._q=[];return this};function o(e){
      s.prototype[e]=function(){this._q.push([e].concat(Array.prototype.slice.call(arguments,0)));
      return this}}var a=["add","append","clearAll","prepend","set","setOnce","unset"];for(var c=0;c<a.length;c++){
      o(a[c])}n.Identify=s;var u=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties"];
      function p(e){function t(t){e[t]=function(){e._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
      }}for(var n=0;n<u.length;n++){t(u[n])}}p(n);e.amplitude=n})(window,document);

      amplitude.init("111532fbbd81d3903aa0887322ce7823");
      </script>

        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <link href="<?php echo $application->getStartupImageUrl(); ?>?<?php echo $time; ?>" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
        <link href="<?php echo $application->getStartupImageUrl(); ?>?<?php echo $time; ?>" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <link href="<?php echo $application->getStartupImageUrl('retina4'); ?>?<?php echo $time; ?>" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

        <link rel="icon" type="image/png" href="<?php echo $application->getIcon(32); ?>" />
        <link rel="shortcut icon" id="favicon" type="image/x-icon" href="<?php echo $application->getIcon(32); ?>" />

        <link rel="apple-touch-icon" sizes="114x114" href="<?php echo $application->getIcon(114) ?>" />
        <link rel="apple-touch-icon" href="<?php echo $application->getIcon(57) ?>" />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="<?php echo $this->getApplication()->getName();?>" />
        <meta property="fb:app_id" content="1077375908950338"/>
        <?php $description=$this->getApplication()->getDescription()?$this->getApplication()->getDescription() : $this->_("Find out all about the application").' '.$this->getApplication()->getName(); ?>
        <meta property= "og:url" content= "<?php echo $this->getApplication()->getUrl().'application/mobile_landing_view'; ?>"/>
        <meta property="og:description" content="<?php echo $description;?>" />
        <meta property="og:image" content="<?php echo $this->getApplication()->getBackgroundImage();?>" />

        <?php echo $this->getPartialHtml('style'); ?>
        <?php echo $this->headLink() ?>
<!--        <base href="--><?php //echo $this->getBasePath(true); ?><!--" />-->
        <base href="<?php echo $this->getBasePath(true); ?>" />
    </head>
    <body>
        <?php echo $this->getPartialHtml("body"); ?>
        <?php echo $this->headScript() ?>
        <?php echo $this->getPartialHtml("js"); ?>
    </body>
</html>
