<div ng-if="locked === 1 && !is_logged_in">
<?php echo $this->getPartialHtml("padlock"); ?>

</div>	
<div ng-if="(locked === 1 && is_logged_in) || locked === 2">
	<div class="music_album">
		<img class="cover" ng-src="{{album_artwork}}" />
		<h3 class="playlist-name">{{album_name}}</h3>
		<div ng-if="!musiccollection.length" style="position: absolute;top: 45px;right: 28%;">
			<!-- <sb-loader is_visible="form_loader_is_visible" type="'inner_content'" is_loading="!musiccollection.length" size="'small'" animation="'no'" class="form_loader"></sb-loader> -->
			<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
		</div>
	    <ul class="music_list">
	        <li ng-repeat="track in musiccollection" ng-if="musiccollection.length" track="track">
	        	<p class="track_name">{{ track.name }} <span><a href="{{track.purchaseUrl}}" target="_blank"><i class="icon-cart"></i></a></span></p>
				<div class="album_{{track.albumId}}"> 
					<div sb-player track="track"></div>
				</div>
	        </li>
	    </ul>
	</div>
</div>