<?php   $account_option = new Application_Model_Accountoption();
        $account_option = $account_option->find(array("app_id" => $this->getApplication()->getAppId()));

        $push_option = new Application_Model_Option();
        $push_option = $push_option->find(array("code" => "push_notification"));

        $push_option_value = new Application_Model_Option_Value();
        $push_option_value = $push_option_value->find(array("app_id" => $this->getApplication()->getAppId(), "option_id"=>$push_option->getOptionId()));
?>
<div class="has_header" sb-background-image>

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="'<?php echo $this->_('Profile'); ?>'" message="message" right-button="header_right_button"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <?php if($this->isMobileDevice()) : ?>
        <div class="background_account"><div class="filter-black"></div></div>
        <div class="scrollable_content edit_account" style="position:absolute;z-index:9999;width:100%">
            <?php if ($account_option->getPushAccountIsActive() == "1"):?> 
                <a class="notif_button" href="<?php echo $this->getApplication()->getUrl().$push_option->getMobileUri().'index/value_id/'.$push_option_value->getValueId();?>">
                    <i class="icon-bell"></i>
                    <?php echo $this->_("Notifications")?>
                </a>
            <?php endif;?>
            <form method="post" name="editForm" ng-submit="post()" class="for_ads_banner">
                <div class="padding">
                    <ul class="form">

                        <li>
                             <fieldset>
                                <input type="radio" name="civility" ng-model="customer.civility" id="man" value="man" /><label class="man" for="man">Man</label><br />
                                <input type="radio" name="civility" ng-model="customer.civility" id="woman" value="Woman"  /><label class="woman" for="woman">Woman</label>
                            </fieldset>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <div ng-if="!preview_src" class="image_create">
                                <img class="logo left" ng-src="{{ customer.picture }}" title="{{ customer.firstname }}" alt="{{ answer.firstname }}" style="" />
                            </div>
                            <div ng-if="preview_src" class="image_create">
                                <img class="logo left" ng-src="{{ preview_src }}" title="{{ customer.firstname }}" alt="{{ answer.firstname }}" style="" />
                            </div>
                            <div class="file-upload" ng-if="!handle_camera_picture">
                                <button type="button" class="button image-uploader icon_left">
                                    <i class="icon-picture"></i>
                                    <span><?php echo $this->_("Change image") ?></span>
                                    <input id="image" name="image" class="upload" type="file" accept="image/*" onchange="angular.element(this).scope().imageSelected(this)"  />
                                </button>
                            </div>

                            <button type="button" ng-click="openCamera()" class="button image-uploader icon_left" ng-if="handle_camera_picture">
                                <i class="icon-picture"></i>
                                <span><?php echo $this->_("Add image") ?></span>
                            </button>
                        </li>  
                        <li>
                            <label for="customer_pseudo"><?php echo $this->_("Pseudo") ?></label>
                            <input type="text" id="customer_pseudo" name="pseudo" class="full_width" placeholder="<?php echo $this->_('Pseudo'); ?>" ng-model="customer.pseudo" ng-class="{error: editForm.pseudo.$invalid && editForm.submitted}" required />
                            <label class="error block full_width" ng-show="editForm.pseudo.$invalid && editForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                        </li>
                        <li>
                            <label for="customer_firstname"><?php echo $this->_("First name") ?></label>
                            <input type="text" id="customer_firstname" name="firstname" class="full_width" placeholder="<?php echo $this->_('First name'); ?>" ng-model="customer.firstname" ng-class="{error: editForm.firstname.$invalid && editForm.submitted}"/>
                            <label class="error block full_width" ng-show="editForm.firstname.$invalid && editForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                        </li>

                        <li>
                            <label for="customer_lastname"><?php echo $this->_("Last Name") ?></label>
                            <input type="text" id="customer_lastname" name="lastname" class="full_width" placeholder="<?php echo $this->_('Last Name'); ?>" ng-model="customer.lastname" ng-class="{error: editForm.lastname.$invalid && editForm.submitted}"/>
                            <label class="error block full_width" ng-show="editForm.lastname.$invalid && editForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                        </li>

                        <li>
                            <label for="customer_email"><?php echo $this->_("Email") ?></label>
                            <input type="email" id="customer_email" name="email" class="full_width" placeholder="<?php echo $this->_('Email'); ?>" ng-model="customer.email" ng-class="{error: editForm.email.$invalid && editForm.submitted}" required />
                            <label class="error block full_width" ng-show="editForm.email.$invalid && editForm.submitted"><?php echo $this->_("Please enter a valid email address"); ?></label>
                        </li>

                        <?php $canViewRanking = false; ?>
                        <?php if($this->getApplication()->getPage('social_gaming')->getId()) $canViewRanking = true; ?>
                        <?php if($canViewRanking) : ?>
                        <li>
                            <input type="checkbox" id="show_in_social_gaming" name="show_in_social_gaming" class="left" value="1" ng-checked="customer.show_in_social_gaming" ng-model="customer.show_in_social_gaming" />
                            <label for="show_in_social_gaming" class="inline"><?php echo $this->_("Show me in ranking") ?></label>
                        </li>
                        <?php endif; ?>

                        <li>
                            <button type="button" class="button" ng-click="customer.change_password = !customer.change_password">
                                <?php echo $this->_("Change Password") ?>
                            </button>
                        </li>
                        <li class="scale-fade" ng-show="customer.change_password">
                            <label for="old_password"><?php echo $this->_("Old Password") ?></label>
                            <input type="password" id="old_password" title="<?php echo $this->_("Old Password") ?>" placeholder="<?php echo $this->_("Old Password") ?>" class="full_width" name="old_password" ng-disabled="!customer.change_password" ng-model="customer.old_password" />
                        </li>
                        <li class="scale-fade" ng-show="customer.change_password">
                            <label for="password"><?php echo $this->_("Password") ?></label>
                            <input type="password" id="password" title="<?php echo $this->_("Password") ?>" placeholder="<?php echo $this->_("Password") ?>" class="full_width" name="password" ng-model="customer.password" ng-disabled="!customer.change_password" />
                        </li>
                        <li class="submit_button">
                            <input type="submit" class="button" value="<?php echo $this->_('Save');?>"/>
                        </li>
                        <li>
                            <button type="button" class="disconnect" ng-click="logout()">
                                <?php echo $this->_("Disconnect") ?>
                            </button>
                        </li>
                    </ul>
                </div>
                <button type="submit" class="ng-hide"></button>
            </form>
        </div>

    <?php else : ?>
        <p><?php echo $this->_("Please log in with your mobile phone") ?></p>
    <?php endif ?>
</div>