<div class="has_header" sb-background-image>

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="'<?php echo $this->_('Forgot Password'); ?>'" message="message" right-button="header_right_button"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>
    
    <div class="background_account"><div class="filter-black"></div></div>
    <div class="scrollable_content" style="position:absolute;z-index:9999;width:100%">    
        <?php if($this->isMobileDevice()) : ?>
        <div class="login_content padding">
            <form method="post" name="forgottenpasswordForm" ng-submit="post()">
                <ul class="form">
                    <li class="a-center">
                        <p><?php echo $this->_("Please enter your email address. We'll send you your password right now.") ?></p>
                    </li>
                    <li>
                        <label for="login_email"><?php echo $this->_("Email") ?></label>
                        <input type="email" id="login_email" name="email" title="<?php echo $this->_("Email") ?>" value="" class="full_width" placeholder="<?php echo $this->_("Email") ?>" ng-model="email" ng-class="{error: forgottenpasswordForm.email.$invalid && contactForm.submitted}" required />
                        <label class="error block full_width" ng-show="forgottenpasswordForm.email.$invalid && forgottenpasswordForm.submitted"><?php echo $this->_("Please enter a valid email address"); ?></label>
                    </li>
                </ul>
                <p class="log_validate">
                    <input type="submit" class="button" value="<?php echo $this->_('Send');?>"/>
                </p>
            </form>
        </div>
        <?php else : ?>
        <p><?php echo $this->_("Please log in with your mobile phone") ?></p>
        <?php endif ?>
    </div>

</div>

