
<div class="has_header" sb-background-image>
        <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="'<?php echo $this->_('Sign-in');?>'" message="message" right-button="header_right_button"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <?php if($this->isMobileDevice()) : ?>
    <div class="background_account"><div class="filter-black"></div></div>
    <div class="scrollable_content customer_register" style="position:absolute;z-index:9999;width:100%"> 
        <form method="post" name="registerForm" ng-submit="post()">
            <div class="padding">
                <ul class="form">

                    <li>
                        <fieldset>
                            <input type="radio" class="civility-man" name="civility" ng-model="customer.civility" id="man" value="man"/>
                            <label class="man" for="man"><?php echo $this->_('Man');?></label><br />
                            <input type="radio" name="civility" ng-model="customer.civility" id="woman" value="Woman"  />
                            <label class="woman" for="woman"><?php echo $this->_('Woman');?></label>      
                        </fieldset>
                        <div class="clear"></div>
                    </li>
                     <li>    
                        <div ng-if="preview_src" class="image_create padding a-center scale-fade">
                            <img ng-src="{{ preview_src }}" height="250px" />
                        </div>
                        <div class="file-upload" ng-if="!handle_camera_picture">
                            <button type="button" class="button image-uploader icon_left">
                                <i class="icon-picture"></i>
                                <span><?php echo $this->_("Add image") ?></span>
                                <input id="image" name="image" class="upload" type="file" accept="image/*" onchange="angular.element(this).scope().imageSelected(this)" />
                            </button>
                        </div>

                        <button type="button" ng-click="openCamera()" class="button image-uploader icon_left" ng-if="handle_camera_picture">
                            <i class="icon-picture"></i>
                            <span><?php echo $this->_("Add image") ?></span>
                        </button>
                    </li>

                    <li>
                        <label for="customer_pseudo"><?php echo $this->_("Pseudo") ?></label>
                        <input type="text" id="customer_pseudo" name="pseudo" class="full_width" placeholder="<?php echo $this->_('Pseudo'); ?>" ng-model="customer.pseudo" ng-class="{error: registerForm.pseudo.$invalid && registerForm.submitted}" required />
                        <label class="error block full_width" ng-show="registerForm.pseudo.$invalid && registerForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                    </li>
                    <li>
                        <label for="customer_email"><?php echo $this->_("Email") ?></label>
                        <input type="email" id="customer_email" name="email" class="full_width" placeholder="<?php echo $this->_('Email'); ?>" ng-model="customer.email" ng-class="{error: registerForm.email.$invalid && registerForm.submitted}" required />
                        <label class="error block full_width" ng-show="registerForm.email.$invalid && registerForm.submitted"><?php echo $this->_("Please enter a valid email address"); ?></label>
                    </li>
                    <li>
                        <label for="password"><?php echo $this->_("Password") ?></label>
                        <input type="password" id="password" title="<?php echo $this->_("Password") ?>" placeholder="<?php echo $this->_("Password") ?>" class="full_width" name="password" ng-model="customer.password" ng-class="{error: registerForm.password.$invalid && registerForm.submitted}" required />
                        <label class="error block full_width" ng-show="registerForm.password.$invalid && registerForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                    </li>
                    <?php $canViewRanking = false; ?>
                    <?php if($this->getApplication()->getPage('social_gaming')->getId()) $canViewRanking = true; ?>
                    <?php if($canViewRanking) : ?>
                    <li>
                        <div class="left">
                            <label id="label_show_in_social_gaming" for="show_in_social_gaming"><?php echo $this->_("Show me in ranking") ?></label>
                        </div>
                        <div class="right">
                            <input type="checkbox" name="show_in_social_gaming" id="show_in_social_gaming" class="checkbox" value="1" ng-model="customer.show_in_social_gaming" />
                        </div>
                        <div class="clear"></div>
                    </li>
                    <?php endif; ?>
                    <li>
                        <input type="checkbox" name="privacy_policy" id="privacy_policy" class="checkbox" value="1" ng-model="customer.privacy_policy" required />
                        <label id="label_privacy_policy" for="privacy_policy">
                            <a href="<?php echo $this->getUrl("cms/mobile_privacypolicy"); ?>"><?php echo $this->_("I accept the <u>privacy policy</u>") ?></a>
                        </label>
                        <label class="error block full_width a-left" ng-show="registerForm.privacy_policy.$invalid && registerForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                        <div class="clear"></div>
                    </li>
                </ul>
                <p class="log_validate">
                    <input type="submit" class="button" value="<?php echo $this->_('Sign in');?>"/>
                </p>
            </div>
            <button type="submit" class="ng-hide"></button>
        </form>
    </div>

    <?php else : ?>
    <p><?php echo $this->_("Please log in with your mobile phone") ?></p>
    <?php endif ?>
</div>