<?php $application = $this->getApplication(); ?>
<?php $block_subheader = $application->getBlock("subheader"); ?>
<?php $block_news = $application->getBlock("news"); ?>
<?php $block_button = $application->getBlock("button"); ?>
<div class="has_header" style="font-family:<?php echo $application->getFontFamily()?> !important;">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="'<?php echo $this->_("News"); ?>'" ng-class="{override_mask: elements['header']}" style="border-bottom:1px solid <?php echo $this->getApplication()->getBlock('header')->getColor()?>;"></sb-header>
    <div class="newswall">

        <div class="content">
            <ul class="content_news news" ng-class="{override_mask: elements['news']}">
                <li class="title padding">
                    <div class="logo left">
                        <img width="37" height="37" class="logo_src" src="<?php echo $application->getIcon() ?>" alt="<?php echo $application->getName(); ?>" title="<?php echo $application->getName(); ?>" />
                    </div>
                    <p class="text">
                        <span class="name bold"><?php echo $application->getName(); ?></span>
                        <br/>
                         <i class="icon-write"></i>
                         <?php echo Zend_Date::now()->toString($this->_('MM/dd/y')) ?>
                    </p>
                    <div class="clear"></div>
                </li>
                <li class="details padding news" ng-class="{override_mask: elements['news']}">
                    <div >
                        <img src="<?php echo $this->getImage('customization/news_image.jpg'); ?>" alt="<?php echo $application->getName(); ?>" title="<?php echo $application->getName(); ?>" width="100%" />
                    </div>
                    <p class="text">
                        <?php echo $this->_("Hi there ! Work in progress, new song soon") ?>
                    </p>
                   <div style="border-top: solid 1px; padding-top:10px;border-bottom: solid 1px; padding-bottom: 10px;font-size:12px; margin-top:10px">
                        <div class="icon-like">12&nbsp&nbsp</div>
                        <div class="icon-comment">2</div>
                    </div>
                        <br/>
                    <div class="a-center add_comment">
                        <button type="button" class="button half icon_left" ng-click="showForm();" ng-class="{override_mask: elements['button']}">
                            <i class="icon-comment"></i>
                            <?php echo $this->_('Comment'); ?>
                        </button>
                        <button type="button" class="button half icon_left" ng-click="addLike();" ng-class="{override_mask: elements['button']}">
                            <i class="icon-like"></i>
                            <?php echo $this->_('Like'); ?>
                        </button>
                    </div>
                </li>

                <li class="padding comments answer" ng-class="{override_mask: elements['comments']}">
                    <div>
                        <img width="35" height="35" class="logo left" src="<?php echo $this->getImage('customization/customer_image.png'); ?>" title="Marie-Rose" alt="Marie-Rose" />
                        <p class="text">
                            <span class="customer_name bold">Marie-Rose</span>
                        </p>
                        <p class="comment"><?php echo $this->_("Big Kiff <3") ?></p>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="padding comments answer" ng-class="{override_mask: elements['comments']}">
                    <div>
                        <img width="35" height="35" class="logo left" src="<?php echo $this->getImage('customization/customer_image2.png'); ?>" title="JM." alt="JM" />
                        <p class="text">
                            <span class="customer_name bold">JM</span>
                        </p>
                        <p class="comment"><?php echo $this->_("Yes! :)") ?></p>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="padding comments answer" ng-class="{override_mask: elements['comments']}">
                    <div>
                        <img width="35" height="35" class="logo left" src="<?php echo $this->getImage('customization/customer_image.png'); ?>" title="Marie-Rose" alt="Marie-Rose" />
                        <p class="text">
                            <span class="customer_name bold">Marie-Rose</span>
                        </p>
                        <p class="comment"><?php echo $this->_("Love <3") ?></p>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="mask scale-fade" ng-show="show_mask"></div>
<style>
p {
    font-family:"<?php echo $application->getFontFamily()?>" !important;
}
button {
    font-family:"<?php echo $application->getFontFamily()?>" !important;
}
span {
    font-family:"<?php echo $application->getFontFamily()?>" !important;
}

</style>
