@media screen and (min-width: 1431px) and (max-width: 2800px) {
	#overview #formats_overview ul li{width: auto}
}
@media screen and (min-width: 1261px)  and (max-width: 1430px) {
	.customization_content #customization_content_left .pages div.area {width:560px !important;}
	#customization_content_left .pages .listing ul li.category_option{width: 83px !important;}
	.startup_images .image_preview,.homepage_images .image_preview{height: 260px;}
}
@media screen and (max-width: 1360px) {
	#overview #iphone{-ms-transform-origin: left top;-webkit-transform-origin: left top;-moz-transform-origin: left top;transform-origin: left top;
    -ms-transform: scale(0.92);-webkit-transform: scale(0.92);-moz-transform: scale(0.92);transform: scale(0.92);}
}
@media screen and (min-width: 1131px) and (max-width: 1260px) {
	select{min-width: 100%;}
	#overview #iphone{-ms-transform: scale(0.80);-webkit-transform: scale(0.80);-moz-transform: scale(0.80);transform: scale(0.80);}
	.customization_content #customization_content_left .pages div.area {width:480px !important;}
	#customization_content_left .pages .listing ul li.category_option/*,.pages .listing ul li a.details, 
	#customization_content_left .pages .listing ul li span.details*/{width: 80px !important;}
	.startup_images .image_preview,.homepage_images .image_preview{height: 230px;}
}
@media screen and (max-width: 1130px) {
	#overview #iphone{-ms-transform: scale(0.75);-webkit-transform: scale(0.75);-moz-transform: scale(0.75);transform: scale(0.75);}
}
@media screen and (min-width: 931px) and (max-width: 1130px){
	.customization_content #customization_content_left .pages div.area {width:380px !important;}
	#customization_content_left .pages .listing ul li.category_option/*,.pages .listing ul li a.details, 
	#customization_content_left .pages .listing ul li span.details*/{width: 61.8px !important;}
	.startup_images .image_preview,.homepage_images .image_preview{height: 210px;}
}
@media screen and (max-width: 1060px) {
	#overview #iphone{-ms-transform: scale(0.67);-webkit-transform: scale(0.67);-moz-transform: scale(0.67);transform: scale(0.67);}
	#formats_overview ul li button.overview_size{padding: 5px !important;}
	#overview #formats_overview ul li{padding:5px;}
	.startup_images .image_preview,.homepage_images .image_preview{height: 200px;}
}
@media screen and (max-width: 960px) {
	.startup_images .image_preview, .homepage_images .image_preview{height: 160px;}
}
@media screen and (max-width: 930px) {
	.startup_images .image_preview,.homepage_images .image_preview{height: 330px;}
	.customization .content_left{width:100%;}
	.customization .content_left, .customization .content_right{float:none;}
	.customization .content_right{width:44%;margin: 0 auto;}
	.admin_account_edit .form-group div,#subscription_confirm .form-group div,#contactForm .form-group div{margin-top:8px;}
	.customization_content #customization_content_left .pages div.area {width:640px !important;}
	#customization_content_left .pages .listing ul li.category_option/*,.pages .listing ul li a.details, 
	#customization_content_left .pages .listing ul li span.details*/{width: 98px !important;}
}
@media screen and (max-width: 840px){
	.startup_images .image_preview,.homepage_images .image_preview{height: 280px;}
}
@media screen and (max-width: 770px){
	.startup_images .image_preview,.homepage_images .image_preview{height: 240px;}
	#modal_details_preview .templates_content_preview .design{height: auto;}
}