@font-face {
    font-family: 'sincube';
    src:    url('/app/design/desktop/siberian/css/webfonts/sincube/sincube.eot');
    src:    url('/app/design/desktop/siberian/css/webfonts/sincube/sincube.eot#iefix') format('embedded-opentype'),
        url('/app/design/desktop/siberian/css/webfonts/sincube/sincube.ttf') format('truetype'),
        url('/app/design/desktop/siberian/css/webfonts/sincube/sincube.woff') format('woff'),
        url('/app/design/desktop/siberian/css/webfonts/sincube/sincube.svg#sincube') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-small:before {
    font-family: 'sincube';
    content: "\e903";
}
.icon-twitter-small:before {
    font-family: 'sincube';
    content: "\e904";
}
.icon-mail-small:before {
    font-family: 'sincube';
    content: "\e90c";
}
.icon-mail:before {
    font-family: 'sincube';
    content: "\e900";
}
.icon-twitter:before {
    font-family: 'sincube';
    content: "\e901";
}
.icon-facebook:before {
    font-family: 'sincube';
    content: "\e902";
}
.icon-comment:before {
    font-family: 'sincube';
    content: "\e905";
}
.icon-like:before {
    font-family: 'sincube';
    content: "\e906";
}
.icon-share:before {
    font-family: 'sincube';
    content: "\e907";
}
.icon-add-post:before {
    font-family: 'sincube';
    content: "\e908";
}
.icon-prev:before {
    font-family: 'sincube';
    content: "\e909";
}
.icon-next:after {
    font-family: 'sincube';
    content: "\e90a";
}
.icon-close:before {
    font-family: 'sincube';
    content: "\e90d";
}
.icon-location:before {
    font-family: 'sincube';
    content: "\e90b";
}
.icon-phone:before {
    font-family: 'sincube';
    content: "\e90e";
}
.icon-website:before {
    font-family: 'sincube';
    content: "\e90f";
}

