@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
/** RESET **/
h1, h2, h3, h4, h5 { font-weight: 500; }
* { margin:0; padding:0; border:none; font-family: 'Roboto Condensed', Helvetica, sans-serif; font-weight: 500; -webkit-font-smoothing: antialiased; }
a { color: inherit; text-decoration: none; }
a:hover { text-decoration: none; }
p { margin: 10px; }
/** /RESET **/

/** GENERAL **/
h3.title, h3.title * { font-weight: bold; font-size: 20px; color:#FFFFFF !important;}
/*.default_button { padding-top: 2px; }*/
.default_button i { font-family: FontAwesome; font-size: 20px; }
button.btn.default_button { width: auto; }
h3.title.border { border: none; border-bottom: 1px solid black; margin-bottom: 10px; padding-bottom: 5px; }
h3.title a.as-button { margin-top: 6px; }
ul li { padding: 5px; list-style: none }
hr { width: 100%; }
/*img { border-radius: 5px;*/
/*body { background: #0F4B5D; }*/
.wrapper{width: 90%;margin:0 auto;}

/*input, textarea, select { min-width: 200px; padding: 6px 8px; background: white; border: 1px solid #850028; border-radius: 5px; color: #850028; font-size: 16px; line-height: 25px; font-size: 13px; }
input.checkbox, input.radio {min-width:15px;width:15px;min-height:20px;height:20px;}*/
select { min-width:100%; padding: 6px 3px 6px 8px; }
textarea { height: auto; }
button, .pointer { cursor: pointer; }
fieldset { margin: 25px 5px; }
fieldset.first { margin-top: 0; }
fieldset.last { margin-bottom: 0; }
fieldset.classic { border: 1px solid; }
fieldset.classic.no-border-top { border-top: 0; }
fieldset.classic legend { margin-left: 10px; }
fieldset.padding { margin: 0; padding: 20px; }
input.small-field { width: 50px; }
label { vertical-align: top; }
table { border-collapse: collapse;}
table.border th, table.border td { padding: 10px 0; border-bottom: 1px solid; }
table.border th { border-bottom-width: 3px; }
table.no-collapse { border-collapse: separate;}
table th { font-weight: bold; }
table p { margin: 0 }
table.list { border-collapse: separate; }
table.list tr td { padding: 10px; }
.animated {transition: all 0.5s ease 0s;}
div.form-horizontal select, .dk_fouc select.no-dk {position:inherit;top:0;visibility:inherit;}
div.form-horizontal label.checkbox { padding-top: 0; padding-left: 30px; }
button.btn.default_button {width:auto;}
.f-normal, .f-normal * { font-family: helvetica; }
.f-bold, .f-bold * { font-weight: bold; }
.f-rounded, .f-rounded * { font-weight: bold; }
.left { float: left; }
.right { float: right; }
.separator { padding: 0 !important; margin: 15px 0; height: 1px; width: 100%; background-color: white; list-style-type: none; }
.block { display: block; }
.none { display: none; }
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.toupper { text-transform: uppercase; }
.large { margin: 0 40px; }
.s-font { font-size: 10px; }
.clear { clear: both; }
.clearfix { display: inline-block; }
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.no-border { border: none !important; }
.a-top { vertical-align: top; }
.a-right { text-align: right; }
.a-bottom { vertical-align: bottom; }
.a-left { text-align: left; }
.a-center { text-align: center; }
.inline { display: inline; }
.inlineblock { display: inline-block; }
.try_for_free {padding:12px 25px;}

.text-shadow { text-shadow: 1px 1px white; }
.white { color: white; }

.green { color: #20CD37; }
.red { color: red; }
.red5 { color: #CF0939; }
.red10 { color: #E80C3F; }
.red15 { color: #FA0E47; }
.grey5 { color: #E9E9E9; }
.grey10 { color: #EEEEEE; }
.grey20 { color: #F7F7F7; }
.black0 { color: black; }
.black5 { color: #404040; }
.blue1 { color: #5F001D; }
.blue2 { color: #850028; }
.blue1.shadow, .blue2.shadow { text-shadow: 1px 1px #960032; }
.blue5 { color: #960032; }
.blue10 { color: #4DBDFF; }
.blue15 { color: #AC0034; }
.blue20 { color: #D3074A; }
.yellow { color: #FEDA0D; }
.redpurple { color: #FB2765; }

.bg-white0 { background-color: white; }

.bg-red5 { background-color: #CF0939; color: white; }
.bg-red10 { background-color: #E80C3F; color: white; }
.bg-red15 { background-color: #FA0E47; color: white; }
.bg-blue1 { background-color: #5F001D; color: white; }
.bg-blue2 { background-color: #850028; color: white; }
.bg-blue5, .bg-blue5:hover { background-color: #960032; color: white; }
.bg-blue10 { background-color: #4DBDFF; color: white; }
.bg-blue15 { background-color: #AC0034; color: white; }
.bg-blue20 { background-color: #D3074A; color: #960032; }
.bg-blue1.black { color: black; }
.bg-blue2.black { color: black; }
.bg-blue5.black { color: black; }
.bg-blue10.black { color: black; }
.bg-blue15.black { color: black; }
.bg-yellow { background-color: #FEDA0D; }
.bg-grey5 { background-color: #E9E9E9; color: #838383; }
.bg-grey10 { background-color: #EEEEEE; color: #838383; }
.bg-grey20 { background-color: #F7F7F7; color: #404040; }
.bg-redpurple, .bg-redpurple:hover { background-color: #FB2765; color: white; }

.bg-blue20 .separator { background-color: #4DBDFF; }
.bg-blue10 .separator { background-color: white; }

.bg-disabled{background-color:rgba(255, 255, 255, 0.32);}

.underline { text-decoration: underline; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

/*.border { border: 1px solid #888888; }*/
.border-bottom { border-bottom: 1px solid; }
.relative { position: relative; }
.absolute { position: absolute; }

input.error { border: 1px dotted red; }
label.error { display: block; margin-top: 5px; color: #C00939; clear: both; }
.error { color: #C41313; }
.bt-margin{margin-top: 2px;}
.margin-top-15{margin-top:15px}
.margin-top-10{margin-top:10px}
.margin-top-5{margin-top:5px}
.margin-right-5{margin-right:5px}
.padding-3{padding:3px}
.padding-bottom-0{padding-bottom: 0}
.padding-top-5{padding-top:5px;}
/** /GENERAL **/


/*---------------*/

.select { -webkit-transition: 0; -moz-transition: 0; -o-transition: 0; transition: 0; }
a.select { border: 1px solid; text-overflow: ellipsis; }

.select-icon { background-repeat: no-repeat; background-position: right center; background-color: transparent; }
.dk_open .dk_options { background-repeat: no-repeat; background-position: 189px 1px; background-color: transparent; }

/** MENU **/
.menu .content { height: 55px; margin: auto; }
.menu .content.navigation * { margin: 0; font-size: 18px; }
.menu .content.navigation li { height: 55px; padding: 0; }
.menu .content.navigation a, .menu .content.navigation span { display: inline-block; height: 55px; text-align: center; line-height: 55px; margin: 0 5px; padding: 0; }
.menu .content.navigation a { margin: 0; padding: 0 20px; }
.menu .content.navigation a.logout { padding: 0; }
.menu .content.navigation a i { width: 100%;font-size: 18px;line-height: 33px;}
.menu .content.navigation a span.header {position: relative; display: block; width: 32px; height: 32px; margin-top: 11px; padding: 0; border: 1px solid;}
.menu .content.navigation a .badge {position: absolute; top: 0; left: 0; display: block; height: 100%; width: 100%; padding: 0; margin: 0;}
.menu .content.navigation a .badge.invisible {opacity:0;}
.menu .content.navigation a span.badge {display: block; font-size: 15px; line-height: 33px;}
.menu .content.navigation a.active { color: white; }

/** /MENU **/

/** AREA **/
/*.area { min-height: 150px; margin-left: 35px; margin-top: 30px; padding: 20px; border-radius: 10px; }*/
div.area { min-height: 150px; margin: 30px 30px 0;}
div.area.no-margin { margin: 0; }
div.area hr { margin: 10px 0; }
div.area .title, div.area .subtitle { position: relative; margin-top: 0; margin-bottom: 30px; color: #000000;}
div.area .title{padding: 1.5%; background-color: #2A2A2A;text-transform: uppercase;}
div.area .title span, div.area .title img, div.area .subtitle span { position: relative; padding-right: 15px; z-index: 1; background-color: transparent !important;}
div.area .title span, div.area .title img, div.area .subtitle span.span3 { margin-left: 0; }
div.area .subtitle span.left { display: block; margin-top: 10px; font-size: 22px; font-weight: bold; }
div.area .title span.right, div.area .subtitle span.right { height: 30px; padding: 0 0 0 15px; }
div.area .subtitle span.right { margin-top: 2px; }
div.area .title hr, div.area .subtitle hr { position: absolute; top: 115%; margin: 0; z-index:0; }
#editForm div.area>div{padding: 0 1.5%;}
/** /AREA **/

/** /AREA CONTENT**/
.area_content {margin-top: 20px;}
/** /AREA CONTENT**/

/** LIST **/
ul.list-image.image-left { width: 95%; margin: auto; }
ul.list-image.image-left li { padding-left: 0px; }
ul.list-image.image-left li.left { float: left; }
ul.list-image.image-left li.center { float: left; margin-left: 1%; }
ul.list-image.image-left li.right { float: right; }

ul.list-image.image-left li div.img { float: left; /*width: 90px; */}
ul.list-image.image-left li div.details { float: left; }
ul.list-image.image-left li div.details .title { text-align: left; }

ul.list-image.image-left.cols_2 li { width: 500px; padding-right: 20px;}
ul.list-image.image-left.cols_2 li div.details { width: 415px; margin-left: 20px;}
/*ul.list-image.image-left.cols_2 li div.details .title { font-size: 36px; }*/
ul.list-image.image-left.cols_2 li div.details .title { margin: 10px; font-size: 24px; }
ul.list-image.image-left.cols_2 li div.details .text { text-align: justify; font-size: 14px; }
ul.list-image.image-left.cols_2 li div.details .intro { text-align: justify; font-size: 18px; line-height: 30px; }
ul.list-image.image-left.cols_2 li div.details ul { margin-left: 35px;}
ul.list-image.image-left.cols_2 li div.details ul li { list-style-type: disc; line-height: 20px; }
ul.list-image.image-left.cols_2 li div.details ul li span { font-family: Helvetica, Arial, sans-serif; color: white; }
ul.list-image.image-left.cols_2 li div.details ul li span.yellow { color: #FEDA0D; }
ul.list-image.image-left.cols_3 li div.details { width: 242px;margin-left: 10px;}
ul.list-image.image-left.cols_3 li div.details .title { margin: 10px; font-size: 18px; font-weight: normal; }
ul.list-image.image-left.cols_3 li div.details .text { text-align: left; font-size: 14px; line-height: 24px;}
/** /LIST **/

/** BUTTONS **/
button.blue { padding: 10px; font-size: 17px; background-repeat: no-repeat; }
button.image_left { background-position: 11px center; }
button, button.add_icon, button.btn{text-transform: uppercase;}

button.upload {width:100%;height:auto;padding: 7px 7px 7px 10px;text-transform: uppercase;}
/*button.upload i {float: left; font-size: 35px;}*/
button.upload i{font-size: 18px;padding-right: 5px;}
p.recommended_size{font-size:13px; margin: 5px 0;}

button.button, .default_button, button.delete {
    display: block;
    text-transform: uppercase;
    /*padding: 5px 11px;*/
    width: 33px;
    min-height: 29px;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
}

button.default_button, button.area {
    border: 1px solid;
}
.default_button:hover, .default_button.hover, button.delete:hover, button.delete.hover {
    border: 1px solid;
}
.default_button:active, .default_button.active, button.delete:active, button.delete.active {
    border: 1px solid;
}
button.default_button.no-border, button.delete.no-border, button.area.no-border {
    border: none;
}
.delete {
    font-size: 20px;
}
button.delete:hover{border:none;text-decoration: underline;}

.default_button.add {
    font-size: 25px;
    line-height: 25px;
}
button.default_button.btn, button.delete.btn {
    width: auto;
    /*margin-right: 15px;*/
    line-height: 20px;
    font-weight: normal;
}
button.delete{text-transform: uppercase;}

/*a.default_button, button.default_button { background-color: #404040; color: #FFFFFF; }
.bg-blue20 a.default_button, .bg-blue20 button.default_button { border: 1px solid #9F0030; }
button.back, button.cancel { background-color: #FB5384; color: #D3074A; }
*/
.default_button.auto, button.delete.auto {
    width:auto;
    padding-left: 10px;
    padding-right: 10px;
}

a.link, button.as-link {
    background: none repeat scroll 0 0 transparent;
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}

a.centera { clear: both; display: block; margin: auto; width: 275px; padding: 12px 25px; font-weight: bold; font-size: 24px; line-height: 24px; }

.picto {}
.picto span { display: block; margin-top: 10px; }

/** /BUTTONS **/

/** INPUT **/
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], .uneditable-input,
#customEventForm input, #customEventForm textarea,
#cms_block_container input, #cms_block_container textarea,
#create_product input,
#categoryForm input,
#productEditForm input,
#fieldForm input,
#list_images input,
#table_list_playlist_new input,
#table_list_album_new input,
#table_list_track_new input,
.application_settings_index input[type="text"],
#editForm input,.admin_account_login .inner_content input,
#subscription_confirm input{
    background-color:transparent !important;
    color:#2A2A2A !important;
    font-weight: normal;
    border:0 !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #b1b1b1 !important;}
}
/** /INPUT **/


/** MESSAGES **/
.application_customization_design_style_edit .wrapper .messages{margin-left: 140px;}
div.messages { font-size: 12px; width: 1140px; margin: auto;}
div.messages ul.message { margin: 10px;margin-top: 85px;margin-left: 125px;}
div.messages ul.success { padding: 10px 20px; border: 1px solid #208FAF; border-radius: 10px; padding: 10px; color: #208FAF; background-color: #D1ECF3; }
div.messages ul.error { padding: 10px 20px; border: 1px solid #9f0030; padding: 10px; color: #9f0030; background-color: #ffffff;margin-left: 200px; }
div.messages ul.warning { padding: 10px 20px; border: 1px solid #AAAA00; border-radius: 10px; padding: 10px; color: #777700; background-color: #FFFFAA; }
div.messages ul.message li { padding: 2px; font-size:14px;}

#alert { position: fixed; width: 400px; min-height: 30px; top: 0; left: 50%; text-align: center; margin-left: -200px; padding: 10px 20px 15px; color: white;box-shadow: 0 0 5px black; text-shadow: 1px 1px 1px black; z-index: 100001 !important; display:none; background-color:#9f0030 !important;}
#alert #close_alert_message { float: right; margin-top: 10px; }
/** /MESSAGES **/

/** LOADER **/
div.mask { background-color: #000000; height: 100%; left: 0; opacity: 0.4; position: fixed; top: 0; width: 100%; z-index: 10002; filter: alpha(opacity=40); }
div.mask .loader { position: fixed; top: 20px; left: 50%; width: 48px; height: 48px; margin-top: 0; margin-left: -24px; padding: 0; background: url("/app/design/desktop/siberian/images/customization/ajax/spinner_mobile.gif") no-repeat scroll center top transparent; }

/*div.mask { background-color: #EAEAEA; height: 100%; left: 0; opacity: 0.5; position: fixed; top: 0; width: 100%; z-index: 10002; filter: alpha(opacity=50); }*/
div.mask button { position: absolute; top: 10px; right: 10px; }
/*div.mask .loader { background: url("/app/design/desktop/siberian/images/customization/ajax/spinner.gif") no-repeat scroll center top transparent; color: #053C50; height: 128px; left: 45%; padding: 10px 50px 60px; position: fixed; top: 40%; width: 128px; }*/
div.mask#mask_overview {background: none;}
div.loader {
    background: url("/app/design/desktop/siberian/images/customization/ajax/spinner.gif") no-repeat scroll center top transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 32px;
    width: 32px;
    margin-left: -16px;
    margin-top: -16px;
}

#customization_mask {width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 9500;}
/** /LOADER **/

/** CKEDITOR **/
div.cke_inner .cke_contents.area { margin: 0; padding: 0; }
/** /CKEDITOR **/

/** PROGRESS BAR **/
div#progressbar { display:block; background: #960032; border-color: #960032; box-shadow: 0 0 4px #000000 inset; -moz-box-shadow: 0 0 4px #000000 inset; -webkit-box-shadow: 0 0 4px #000000 inset; -o-box-shadow: 0 0 4px #000000 inset; }
.ui-progressbar-value { background: url('/app/design/desktop/siberian/images/customization/ajax/animated-overlay.gif') #960032; opacity: 0.25; box-shadow: 0px 0px 3px 2px #000; -moz-box-shadow: 0px 0px 3px 2px #000; -webkit-box-shadow: 0px 0px 3px 2px #000; -o-box-shadow: 0px 0px 3px 2px #000; }
/** PROGRESS BAR **/

/** INSTALLER **/
.installation_details, .installation_details * {transition: none;}
/** /INSTALLER **/

/** TEMPLATES **/
#modal_content_preview{padding:0;}
#modal_content_preview h3{margin: 0;}
#modal_content_preview>p{padding: 1.5%;margin: 0;}
#modal_details_preview .categories_content { position: absolute; top: 0; left: 0; overflow-x: hidden; overflow-y: auto; width:20%; height: 100%;padding-left: 1.4%; }
#modal_details_preview .categories_content ul { height: auto; }
#modal_details_preview .categories_content ul li { float: none; margin: 0; }
#modal_details_preview .categories_content ul li a { padding: 5px 15px 5px; outline: none; display: block;}
/*#modal_details_preview .categories_content ul li a:hover { background: #c4e9ff; }*/
/*#modal_details_preview .categories_content ul li a.current { background: #9F0030; }*/
#modal_details_preview .templates_content_preview {position: absolute; top : 0;overflow-x: hidden; overflow-y: auto; width: 100%; height: 100%; }
#modal_details_preview .templates_content_preview .design { height:430px; }
#modal_details_preview .templates_content_preview .design .radius_top_only { border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; }
#modal_details_preview .templates_content_preview .design .radius_bottom_only { border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; }
#modal_details_preview .templates_content_preview .design .template_title { text-align:center; display:block; padding:2px 0; border:1px solid; border-top:none; }

.custom_modal .modal_content .modal_details .change_design { width: 220px; height: 390px; }
.custom_modal .modal_content .modal_details .change_design .checked { position:absolute;top:0;left:0;z-index:2; }
.custom_modal .modal_content .modal_details .change_design span.checked { width:100%;height:100%;z-index:1;background:white;opacity:.4 }

#templates img{display: block; margin: 0 auto;}
#templates {padding-bottom: 30px;}
/** /TEMPLATES **/

/** LAYOUTS **/
#layout_conteneur .layouts .left a > .checked {
    position: absolute;
    width:32px;
    height:32px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
div#layouts.layouts a img{width:60px;}
/** /LAYOUTS **/

/** CUSTOMIZATION SIDEBAR **/
#customization_sidebar {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
    height: 100%;
    left: -300px;
    position: fixed;
    top: 0px;
    width: 300px;
    z-index: 10000;
}

#customization_sidebar.open {
    overflow-x: hidden;
    overflow-y: scroll;
}

#customization_sidebar #toggle_customization_sidebar {
    position: absolute;
    top: 40px;
    right: 0;
    width: 107px;
    padding: 5px;
    background: none;
    border: 5px solid;
    border-radius:0px 10px 10px 0px;
}

#customization_sidebar #toggle_customization_sidebar.visible {
    right: -103px;
}

#customization_sidebar #toggle_customization_sidebar i {
    font-size: 80px;
}

#customization_sidebar #toggle_customization_sidebar span {
    font-size: 12px;
}

#customization_sidebar #toggle_customization_sidebar img {
    background: white;
}

#customization_sidebar #sidebar_logo_cont, #customization_sidebar #sidebar_favicon_cont {
    max-width: 50px;
    max-height: 50px;
}

#customization_sidebar .customization {
    position: relative;
    padding: 10px;
    z-index: 1;
}

#customization_sidebar .customization input.uploadlogo {width: 225px;}
#customization_sidebar .customization ul.block li {min-height: 35px;line-height: 35px;}
#customization_sidebar .customization ul.block li h3.title span.left {
    font-size: 20px;
}
/** /CUSTOMIZATION SIDEBAR **/
#pos, #page_list_adresse {
    position: fixed;
    top: 0;
    background: black;
    color: #fff;
    padding: 10px;
    opacity: 0.4;
}
#pos {top: 40px;}
#page_list_adresse {top: 80px;}

/** IMAGES GALLERY **/
#browse_panel {
    box-shadow: 0 2px 5px #666666;
    border: 5px solid;
    border-radius: 10px;
    position: absolute;
    display: none;
    padding: 10px;
    width: 450px;
    z-index: 1000;
}

#browse_panel .area {
    margin: 10px 0 0 0;
    width: auto;
}
#browse_panel img {
    border-radius: 0;
    border: dotted 1px transparent;
}
#browse_panel img:hover {
    cursor: pointer;
    opacity: 0.8;
    border: 1px dotted;
}
#browse_panel p.common, #browse_panel .fileupload, #browse_panel div.library {
    margin: 5px 0;
}
#browse_panel div.library {
    width: 80%;
    margin: 5px auto;
    margin-top: 30px;
}

tr#choose_bg_lowres {
    height: 60px;
}
/** /IMAGES GALLERY **/

/** MODAL **/
.custom_modal { position: fixed; top: 0; left: 0; height: 100%;/* width: 85%; */ width:100%;z-index: 10001; }
.custom_modal .area{margin:30px 0;}
.custom_modal .modal_mask { position:absolute; top: 0; left: 0; height: 100%; width: 120%; background-color: black; opacity: 0.8; z-index:10000; }
.custom_modal div.area { padding: 0; }
.custom_modal div.area .title, .customization .customization_content .modal_content .title { margin-top: 20px; margin-bottom: 20px; }
.custom_modal button.close_modal { padding-top: 0; }
.custom_modal .modal_content { overflow-x: hidden; overflow-y: auto; position: relative; width: 90%; max-width: 90%; max-height: 870px; min-height: 355px; margin: 20px auto; padding: 0 15px 10px 20px; border-radius: 10px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    /*opacity: 0;*/
    z-index: 10001;
}

/*.custom_modal .modal_content h3.title { position: relative; margin: 0 0 20px 0; }
.custom_modal .modal_content h3.title span { position: relative; padding: 0 15px 0 0; height: 30px; background: white; z-index: 1; }
.custom_modal .modal_content h3.title span.right { padding: 0 0 0 15px; }
*/.custom_modal .modal_content .modal_details { width: 100%; margin-top: 15px; }
.custom_modal .modal_content .modal_details { position: relative; max-height: 700px; min-height: 250px; overflow-x: hidden; overflow-y: auto; }
.custom_modal .modal_content .modal_details ul { height: 480px; }
.custom_modal .modal_content .modal_details ul li { float: left; margin: 0 15px 5px; padding: 0; }

.custom_modal .modal_content .modal_details .button { width: 935px; margin: 5px auto 0; padding: 10px 0 0; border-top: 3px solid #404040; }
.custom_modal .modal_content .modal_details .button button { position: absolute; top: 10px; right: 0; padding: 6px 35px; font-size: 22px; }
.application_customization_design_style_edit .custom_modal .modal_content .modal_details {max-height: 580px;}
/** /MODAL **/

/** TOP / HEADER **/
.top.is_backoffice { background-color: #5C5C5C; }
.top .header_top { height: 50px; }
.top .header_top .content { margin: auto; }
.top .header_top a { font-size: 16px; }
.top .header_top a.try_for_free { margin-top: 2px; }
.top .header_top a.as-link { float: left; display: block; margin-top: 13px; margin-right: 53px; color: white; text-decoration: underline; font-weight: bold; }
.top .header_top a.as-link i { margin-left: 7px; }
.top .header_top .dk_container { margin-top: 4px; margin-bottom: 0; }
.top .header_content { width: 100%; min-height: 62px; margin: auto;padding: 0 3%;color: #2A2A2A;}
.top .header_content #logo { max-height: 100px; margin-right: 75px; padding: 6px 3px; }
.top .header_content .links { margin-right: 50px; padding: 19px 0; }
.top .header_content .links h2 {display:inline;}
.top .header_content .links a { margin-left: 20px; font-weight: bold; font-size: 18px;}
.top .header_content .dk_container {margin-bottom: 0; }
.top .dk_container .dk_options ul.dk_options_inner { box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
.top .dk_container .dk_options ul.dk_options_inner li { width: auto; }

.top{background-color: #FFFFFF;position: fixed;top:0;left: 0;width:100%;z-index:9999;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.header_content>div.left{width:100%;padding-top: 4px;}
.top .header_content .myprofil-menu{position: relative;}
.top .header_content .myprofil-menu .myprofil{display: none;width:220px;background-color: #FFFFFF;position: absolute;padding:8px;top:40px;right:0;-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
.top .header_content .navigation-top li i{color:#2A2A2A;padding-right: 4px;}
.top .header_content .navigation-top li.dash a{font-weight: 600;text-transform: uppercase;padding-right: 15px;}
.top .header_content .myprofil-menu a p.user-connected{position: relative; width:150px;text-transform: uppercase;font-weight: 600}
.top .header_content .myprofil-menu:hover .myprofil{display: block;z-index:3;}
.top .header_content .myprofil-menu a p span.select-icon{border:none !important;}
.top .header_content .navigation-top>ul.menu-top{font-size: 17px;}
.top .header_content .navigation-top>ul>li{border-right: 1px solid rgba(0,0,0,0.1);font-weight: bold;}
.top .header_content .lang{padding-top:0;margin-top: -5px;border-right: 0 !important;}
.top .header_content .navigation-top>ul>li.myprofil-menu{border:0;}
.header_content .navigation-top li.message, .header_content .navigation-top li.wle{width:50px;text-align:center;}
/** /TOP / HEADER **/

/** CONTENT **/
.content {margin: auto;}
#up { position: fixed; bottom: 0; right: 3%; display: none; }
#up a { display: block; height: 92px; line-height: 92px; font-size: 36px; font-weight: bold; padding: 15px 50px 0; box-sizing: border-box; background-repeat: no-repeat; background-position: center center; background-color: transparent; }
/** /CONTENT **/

/** FOOTER **/
.footer { margin-top: 30px; }
.front_index_index .footer { margin-top: 0; }
.footer .footer_content .follow_us { height: 60px; padding: 15px 0 15px 80px; }
.footer .footer_content .follow_us p { margin: 15px 0; font-size: 24px; font-weight: bold; }
.footer .footer_content .follow_us a { margin-left: 30px; font-size: 18px; }

.footer .footer_content .links { padding: 20px; text-align: center; }
.footer .footer_content .links a { padding: 0 20px; font-size: 18px; }
.footer .footer_content .separator hr { width: 780px; margin: auto; height: 2px; }
.footer .footer_content .address p { margin: 0; padding: 30px; font-size: 14px; }
.footer .footer_content .copyright p { margin: 0; padding: 15px; color: #BDBDBD; }
/** /FOOTER **/

/* Menu de la page d'acceuil '*/

.menu_home {
    width: 885px;
    height: 140px;
    margin: 10px auto auto;
}

.menu_home ul li {float: left;margin-left: 15px;padding: 0;text-align: center;}

.menu_home ul li.first {margin-left: 0;}

.menu_home ul li a {
    padding-top: 10px;
    display: block;
    font-size: 12px;
    font-weight: 100;
    width: 97px;
    text-transform: uppercase;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

/* Pictos */
.menu_home ul li a { background-position: center 5px; background-repeat: no-repeat; text-align: center; }
.menu_home ul li a.half_zoom { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.menu_home ul li a.zoom { transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); }
.menu_home ul li a.rotate { transform: scale(1.1) rotate3d(0, 1, 0, 180deg); -webkit-transform: scale(1.1) rotate3d(0, 1, 0, 180deg); -moz-transform: scale(1.1) rotate3d(0, 1, 0, 180deg); -o-transform: scale(1.1) rotate3d(0, 1, 0, 180deg); -ms-transform: scale(1.1) rotate3d(0, 1, 0, 180deg); }
.menu_home ul li a span.picto { margin-bottom: 10px; padding: 22px; display:block; border-radius: 10ex; }
/** /HOMEPAGE **/

/** APPLICATION GENERAL **/
/*.application_content.customization_content.inner_content{position: relative;z-index:-1;}*/
.application .application_content { /*width: 1140px; margin: 15px auto 0;*/ padding-bottom: 20px; border-radius: 5px; }
.application .application_content div.title { margin: 0; padding: 10px 30px; }
.application .application_content div.title i { font-size: 37px; }
.application .application_content div.stat { margin: 0 30px; }
.application .application_content div.title h2 { margin: 0 0 0 10px; font-size: 36px; }
/*.application .application_content .title { margin: 20px 0; }*/
.application .application_content .title h2 { font-size: 36px; margin-left: 10px; }
/*.application .application_content div.area { padding: 0; }*/
.application .application_content div.area .devices { width: 650px; }
.application .application_content div.area .devices a.publish { width: 125px; margin-top: 4px; padding: 5px 0; display: block; font-size: 18px; text-align: center; }

/** /APPLICATION GENERAL **/

/** HOME APPLICATION **/
.application .application_header .header_top.bg-blue10 { height: 220px; }
.application .application_header div.application_name { width: 100%; height: 125px; margin: 0; padding-top: 0px; font-size: 30px; font-weight: bold; text-transform: uppercase;margin-top: 60px;}
.application .application_header div.application_name p { text-align: center;margin-top:15px; }
.application .application_header .content { width:100%;/*padding-top: 25px;*/ padding-bottom: 25px;}
.application .application_header .links { position: relative; width: 100%; }
.application .application_header .links.submenu i {font-size: 20px;background-color: #9F0030;border-radius: 50%;width:38px;height: 38px;display: inline-block;vertical-align: middle;}
.application .application_header .links.submenu i:before{vertical-align: middle;width:100%;text-align: center;padding-top:10px;}
.application .application_header .links.submenu i.icon-mobile-phone{font-size: 30px;}
.application .application_header .links.submenu i.icon-mobile-phone:before{padding-top:4px;}
.application .application_header .links.submenu i.icon-at { font-size: 60px; }
.application .application_header ul.main_menu{margin-top:60px;min-height: 450px;}
.application .application_header ul.settings_menu {right: 140px; opacity: 0; }
.application .application_header .links ul li { display: block; padding:8px 12px;text-align: left;margin-left: 25px;}
.application .application_header .links ul li span{padding-left:5px;}
.application .application_header .links.submenu ul li:last-child { margin-right: 0}
.application .application_header .links ul li * { font-size: 18px; }
.application .application_header .links ul li a { font-weight: bold; }
.application .application_header .links.submenu ul li a { display: block; width: auto;}
.application .application_header .icon{border: 3px solid;display: block;margin:0 auto;background-color: #FFFFFF;}
.application .application_header .content a.support-sincube{font-weight: normal;font-size: 14px;font-style: italic;text-decoration: underline;}

.application .application_header {position:fixed;width:230px;height: 100%;top: 0px;left:0;background-color: #2A2A2A !important;z-index:9999;-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);margin-top:62px;overflow-y:scroll;
}

/** CUSTOMIZATION **/
.square_color .square_label { word-wrap: break-word; width: 149px; display: inline-block; line-height: 20px; }
.square_color button { border: 1px solid #e4e4e4; width: 35px; height: 35px; border-radius: 5px; }


/*.customization a { color: #9F0030; }
.customization a:hover { color: #960032; }
.customization a.white { color: white; }
.customization a.white:hover { color: white; }*/
.customization .content_left { float: left; width: 55%; min-height: 750px; margin-bottom: 35px; margin-left: 30px; }
.customization .content_right { float: right; width: 38%; position: relative; /*margin-right: 20px;*/ }
.customization .content_left div.area { margin: 30px 0 0; }
.customization .content_left div.area.first { margin-top: 15px; }
/*.customization div.area {
    border: 1px solid #850028;
    box-shadow: inset 0 1px 1px #a9dfff,0px 1px 1px #a9dfff;
}*/

.customization .content_left #header_editor.area {
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
    z-index: 1;
    padding-top: 1px;
}
/*.area .listing.relative .relative{width:418px !important;}*/

.customization table.image_gallery td {
    vertical-align: middle;
}
.customization table.image_gallery tr#choose_icon td, tr#choose_bg_icon td, tr#choose_bg td {
    padding: 5px 0;
}
.customization table.image_gallery td.next_controls, .customization table.image_gallery td.previous_controls {
    width: 35px;
    text-align: center;
    vertical-align: middle;
    height: 38px;
}
.customization table.image_gallery td.next_controls a, .customization table.image_gallery td.previous_controls a {
    display: block;
    width: 52px;
    height: 30px;
    padding: 12px 0 0;
}

.customization table.image_gallery td.next_controls a {
    border-radius: 0 5px 5px 0;
}
.customization table.image_gallery td.previous_controls a {
    border-radius: 5px 0 0 5px;
}
/*.customization table.image_gallery td.next_controls a:hover, td.previous_controls a:hover {
    background: #9F0030;
    color: white;
}
.customization table.image_gallery td.next_controls a:active, td.previous_controls a:active {
    background-color: #960032;
}*/
.customization table.image_gallery td.library_link {
    width: auto;
    text-align: center;
    vertical-align: middle;
}
.customization table.image_gallery td.type_content {
    width: auto;
}

 .customization .customization_content {
    /*width: 1140px;*/
    /*margin: 15px auto 0;*/
    padding-bottom: 20px;
    border-radius: 5px;
}
/*.customization .customization_content div.area, .application.application_extras div.area, .application.applications_list div.area {
    margin-left: 0px;
    padding: 2%;
}*/
.customization .customization_content .title, .application.application_extras div.area .title, .application.applications_list div.area .title {
    margin: 0 0 20px 0;
}

.customization .menu.list {
    margin-right: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
}
.customization .menu.list ul li {
    position: relative;
}

.customization .menu.list.level2 {
    clear: both;
    float: left;
    margin-top: 25px;
}

.customization .menu.list ul li {
    width: 168px;
    height: 51px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    margin-left: -23px;
    float: left;
}

.customization .menu.list ul li.first {
    width: 168px;
    margin: 0;
}

.customization .menu.list ul li a {
    height: 100%;
    width: 155px;
    padding-left: 10px;
    display: block;
    font-size: 16px;
    line-height: 51px;
    color: white;
}

.customization div.ready_for_publish {
    width: 250px;
    margin: 0 0 0 30px;
    background: none;
}

.customization div.ready_for_publish a.publish_my_app {
    display: block;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.customization h3.title button#close_editor {
    font-size: 15px;
}

.customization .app_editor .menu ul li.ready_for_publish {
    width:auto;
    margin-left:10px;
    background:none;
}

.customization .app_editor .menu ul li.ready_for_publish a {padding:0 10px;}

/* ICON */
.icon_and_name { margin: 30px 0 0; }
.icon_and_name #change_icon { width: 105px; padding: 15px; }
.icon_and_name #change_icon.no_library { width: 90px; text-align: center; }
.icon_and_name #change_icon img { float: left; }
.icon_and_name #change_icon.no_library img { float: none; }
.icon_and_name #change_icon i { float: right; display: block; height: 40px; margin-right: 0; line-height: 40px; font-size: 35px; }

.icon_and_name #change_icon.open { border-radius: 7px 7px 0 0; }
/*.icon_and_name .tabbar_name { float: left; margin-left:20px; }*/
.icon_and_name .tabbar_name label { display: block; font-size: 18px; }
.icon_and_name .tabbar_name input { margin-top: 4px; padding: 2px 5px; font-size: 20px; height: auto; }
.icon_and_name .tabbar_name img.loader { margin-top: 8px; display: none; }
.icon_and_name #icons { position: absolute; top: 70px; padding: 0 10px 0; border: 1px solid #850028; border-top: none; border-radius: 0px 5px 5px 5px; box-shadow: 0 1px 1px #A9DFFF; z-index: 10; }
.icons i { font-size: 21px; }
#icon_library .details .icons_list { max-height: 600px; overflow: auto; }
/* /ICON */

/** OVERVIEW **/
/*#overview #iphone { position: absolute; top:0; width: 380px; height: 735px; background: url("/app/design/desktop/siberian/images/customization/overview/iphone.png") no-repeat right top transparent; }*/
#overview #iphone { position: absolute; top:70px; width: 380px ; height: 805px ; background: url("/app/design/desktop/siberian/images/customization/overview/iphone5.png") no-repeat right top transparent; }
#overview #iphone .iphone_content { margin-left: 32px; margin-top: 117px; }
#overview #iphone .iphone_content .toolbar_overview { width:320px; height:21px; line-height:22px; margin:0; padding:0; font-family:Helvetica; font-size:11px; font-weight: bold; color:black; background-repeat: no-repeat; background-position: left center;;}
#overview #iphone .iphone_content .status_bar { position:absolute; }
#overview #iphone .iphone_content .iphone_header { background-image: url(/app/design/desktop/siberian/images/customization/overview/iphone5-header.png); background-size: 320px 20px; }
#overview #iphone .iphone_content .iphone6_header { background-image: url(/app/design/desktop/siberian/images/customization/overview/iphone6-header.png); background-size: 414px auto; width: 414px; }
#overview #iphone .iphone_content .android_header { width: 356px; height:20px; background-image: url(/app/design/desktop/siberian/images/customization/overview/android_header.png); font-size: 15px; color: white; }
#overview #iphone .iphone_content iframe#mobile_overview { border-radius: 3px; }

#overview .touch_icon { position: absolute; top: 327px; left: 50px; height: 76px; }
#overview .touch_icon p#app_name { position: absolute; bottom: -1px; width:66px; margin: 0; color: white; font-size: 11px; line-height: 10px; text-align: center; left: -4px;}
#overview .icon { width: 62px; height: 62px; border-radius: 15px; overflow: hidden; }
#mobile_homescreen #preview_icon { width: 62px; height: 62px; border-radius: 15px; overflow: hidden; }
#mobile_homescreen img { border-radius: 0; }
#mobile_homescreen .touch_icon p#app_name { position: absolute; bottom: -1px; width: 71px; margin: 0; color: #FFFFFF; font-size: 12px; font-weight: lighter; line-height: 10px; text-align: center; }
#overview #mobile_startup, #overview #homepage_cont{ margin-left: 0; padding: 14px; }
#overview #formats_overview ul li {width:24%;padding:7px;display: inline-block;}
/** /OVERVIEW **/

/** STARTUP IMAGE **/
.startup_images .image_preview{width:100%; overflow:hidden;border:solid 1px #fff;padding:0;height:300px;}
.startup_images .image_preview img{display:block; background:black; border-radius: 0;}
.homepage_images .image_preview{width:100%; overflow:hidden;border:solid 1px #fff;padding:0;height:300px;}
.homepage_images .image_preview img{display:block; background:black; border-radius: 0;}
/** /STARTUP IMAGE **/

/** CATALOG **/
.catalog .addCategory {
    margin-top:10px;
    margin-right:10px;
}

.catalog #create_category button {
    float: left;
    margin-right: 10px;
}
.categories li {
    transition: none;
}

.handle_subcategory, .handle_product { cursor: move; }

.pp_content { height:auto !important;}
.categories .category div.details, .categories .subcategories { padding: 10px; }
.categories .products .product, .categories .products .add_product { padding: 0 15px 15px; }

.categories .category { margin-top: 20px; border-radius: 5px; }
.categories .category div.details { padding: 5px 10px; /*background: linear-gradient(#9F0030, #960032);*/ border-radius: 5px 5px 0 0; }
.categories .category div.details div.name { width:220px; }
.categories .category div.details div.name input.main_category_name { border:none; font-size: 20px; background: none; }
.categories .category div.details div.add_subcategory { width:240px; margin-top: 6px; }
.categories .subcategories a.view_all, .categories .subcategories ul li.subcategory { float: left; padding:5px; }

.categories .subcategories ul li.subcategory .subcategory_actions { padding: 5px; border: 2px solid; border-radius: 5px; }

.categories .subcategories ul li.subcategory .left, .categories .subcategories ul li.subcategory .right { position: absolute; top: 6px; }
.categories .subcategories ul li.subcategory .left { left: 6px; }
.categories .subcategories ul li.subcategory .right { right: 0; }
.categories .subcategories ul li.subcategory a.label_subcategory_name { padding: 0 45px 0 20px; }
.categories .subcategories ul li.subcategory_placeholder { border-radius: 5px; border: 1px solid; height: 25px; width: 100px; }
.categories .subcategories ul li.subcategory input.subcategory_name { height: 30px; }

.categories .products .product_placeholder { min-height:20px; margin:0 10px 10px; padding:10px 10px 0px 10px; border-radius:5px; }
.categories .subcategories ul li.subcategory_placeholder { border-radius: 5px; border: 1px solid; height: 25px; width: 100px; }
.categories .products .add_product { border-radius: 0 0 5px 5px; }
.categories .products .product p { margin-top: 0; margin-bottom: 0; font-size: 13px; }
.categories .products .product .name, .categories .products .product .product_description { width: 215px; }
.pp_content .area { margin: 0; width: 97%; }



.pp_content .pp_gallery { display: none; }
.pp_content .area table tr td label { width: 110px; }
.pp_content .area table tr td label.error { width: auto; }
.pp_content .area table tr td input, .pp_content .area table tr td .dk_toggle { border-radius: 5px 5px 5px 5px; font-size: 16px; height: 25px; line-height: 25px; padding: 2px 8px; width: 203px; }
.pp_content .area table tr td .dk_toggle .dk_options { background-position: 295px 1px; }
.pp_content .area table tr td .dk_toggle .dk_options li { width: 318px; }
.pp_content .area table tr td select { width: 307px; }
div.pp_default .pp_nav .currentTextHolder { display: none; }
div#cont_add_main_cat { margin-top: 15px; }
/** /CATALOG **/

/** MCOMMERCE **/
#tab_products input[type="search"]{margin-left:10px;}
#mcommerce #upload_category_background{background-color:transparent !important;color:#2A2A2A !important;border-radius: 0 !important;}
#mcommerce #upload_category_background:hover{color:#9F0030 !important;}
#mcomerce_tabs_header .editor_menu:hover{background-color: #9F0030 !important;color:#FFFFFF !important;}
#mcommerce .stores_list p.title,#mcommerce .taxes_list p.title{background-color: transparent;margin-bottom: 0;}
/** /MCOMMERCE **/

/** MEDIA VIDEOS **/
/*.media.videos table tr td { padding: 5px; }*/
.media.videos table tr td img.youtube { width: 40px; }
/*.media.videos input, .media.videos textarea { min-width: 150px;}*/
.media.videos select { min-width: 100%; max-width: 130px; }
.media.videos .dk_container { margin-bottom: 0; }
.media.videos .dk_toggle { width: 75px; }
.media.videos .dk_options { width: 133px; }
/** /MEDIA VIDEOS **/
/** MEDIA IMAGES **/
.media.images .area input.error { border: 1px solid red !important; }
.media.images .edit_page table.list .default_button.upload_picture, .edit_page #trigger_upload_image { padding: 13px; }
.media.images table tr td { padding: 5px; }
/*.media.images input, .media.images select { min-width: 160px; }*/
.media.images #edit_images {
    position: absolute;
    left: 90px;
    width: 555px;
    padding: 10px;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0 2px 5px #666666;
    z-index: 1000;
    display: none;
}
.media.images #edit_images i.icon-caret-up {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -13px;
    font-size: 45px;
}

.media.images #edit_images a#close_panel { font-size: 20px; }
.media.images #edit_images img { border-radius: 0; border: dotted 1px transparent; }
.media.images #edit_images p.conditions { margin: 5px 0; font-size: 11px; }
.media.images #edit_images #list_images img { width: 60px; height: 60px; }
.media.images #edit_images #list_images ul li div.left { margin-left: 10px; }
.media.images #edit_images img:hover { opacity: 0.8; border: dotted 1px grey; }
/*.media.images .upload_picture { min-width: 200px; height: 34px; }*/
.media.images #choose_type li { width: 100px; }
.media.images .select_type img { padding: 10px; }
/** /MEDIA IMAGES **/

/** Calendar **/
.custom_event .custom_event_website a.remove {
    position: absolute;
    right: 0;
    top: 10px;
}
/** /Calendar **/

/** Loyalty Card **/
.fidelity .subtitle button.btn-block {
    width: auto; padding: 5px 10px; margin-right: 10px;
}
/** /Loyalty Card **/

/** FORM **/
.formulaire .addSection {
    margin-top:10px;
    margin-right:10px;
}

.formulaire #create_section button {
    float: left;
}
.formulaire li {
    transition: none;
}

.pp_content { height:auto !important;}
.sections .section div.details, .sections .subcategories { padding: 10px; }
.sections .fields .field, .sections .fields .add_field { padding: 0 15px 15px; }

.sections .section { margin-top: 20px; border-radius: 5px; }
.sections .section div.details { padding: 5px 10px; /*background: linear-gradient(#9F0030, #960032);*/ border-radius: 5px 5px 0 0; }
.sections .section div.details div.name { width:220px; }
.sections .section div.details div.name input.main_section_name { border:none; font-size: 20px; background: none; }
.sections .section div.details div.add_section { width:240px; margin-top: 6px; }

.sections .fields .field_placeholder { min-height:20px; margin:0 10px 10px; padding:10px 10px 0px 10px; border-radius:5px; }
.sections .fields .add_field { border-radius: 0 0 5px 5px; }
.sections .fields .field p { margin-top: 0; margin-bottom: 0; font-size: 13px; line-height:20px; }
.sections .fields .field .name, .sections .fields .field .field_description { width: 215px; }
.pp_content .area { margin: 0; width: 97%; }



.pp_content .pp_gallery { display: none; }
.pp_content .area table tr td label { width: 110px; }
.pp_content .area table tr td label.error { width: auto; }
.pp_content .area table tr td input, .pp_content .area table tr td .dk_toggle { border-radius: 5px 5px 5px 5px; font-size: 16px; height: 25px; line-height: 25px; padding: 2px 8px; width: 203px; }
.pp_content .area table tr td .dk_toggle .dk_options { background-position: 295px 1px; }
.pp_content .area table tr td .dk_toggle .dk_options li { width: 318px; }
.pp_content .area table tr td select { width: 307px; }
div.pp_default .pp_nav .currentTextHolder { display: none; }
div#cont_add_section { margin-top: 15px; }

/** FORM **/
.field #fieldForm ul.choose_type li {
    margin: 2px;
    padding: 0;
    border: 2px solid;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.field #fieldForm ul.choose_type li p.icon {
    display: table-cell;
    font-size: 22px;
    height: 50px;
    vertical-align: middle;
    width: 45px;
    margin: 0;
}
.field #fieldForm ul.choose_type li p.icon, .field #fieldForm ul.choose_type li p.icon i {
    font-size: 22px;
}
.field #fieldForm div.manage_options {
    margin-top: 10px;
}

.linkOption {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.handle_field {
    cursor: move;
}
#form_email_config label {
    line-height: 40px;
}

.domain_500_width{
    width: 500px;
}
/** /FORM **/

/* PN TOPICS */
.topics-edit button.upload {height: auto;width: auto;padding: 0;border-radius: 0;}
.topics-edit button.upload i {float: left;font-size: 35px;}
.topics-edit #edit_category {background-color: #FFFFFF;}
.topics-edit .topic_children {margin-left: 35px;}

.topics-edit #remove_background_img{background-color: #9F0030 !important;}
.topics-edit #remove_background_img:hover{background-color: #FFFFFF !important;color:#9F0030 !important;border:1px solid #9F0030;}

/* MESSAGES */
.application_messages .load_more{cursor:pointer}
.application_messages .margin-top-8{margin-top:8px}
.application_messages .me{margin-left:50px}
.application_messages .other{margin-right:50px}
.application_messages .pointer{cursor:pointer}
.application_messages .panel-heading.area.reverse{min-height: 0;padding: 10px;margin: 0px;border-radius: 5px 5px 0 0;border-bottom:1px solid;}
.application_messages .panel-footer.area.relative{min-height: 0;padding: 10px;margin:0;width:100%;border-radius: 0 0 5px 5px;}
.application_messages .delete{border:none;}
.application_messages .delete.hover,.application_messages  .delete .hover,.application_messages  .delete:hover {color: #FB5384 !important;background-color: #FFFFFF !important;}

/** DASHBOARD **/
#applications_list .subtitle{color:#2A2A2A;}

/** CMS **/
.video .block_video .form_group div{margin-top: 12px;}
/** /CMS **/

/** EDITOR DESIGN **/
#homepage_conteneur #homepage_options,#homepage_conteneur #capture_conteneurs{margin-top: 0;}
#homepage_conteneur div.clear,  #icon_conteneur div.clear,#homepage_conteneur .icon-color,#homepage_conteneur #capture_conteneurs{padding: 0;}
/** /EDITOR DESIGN **/

/** EDTIOR COLOR **/
#fonts a.select,#countries a.select{border:0;background-color: transparent;border-radius: 0;border-bottom:2px solid #b1b1b1;width: 250px;}
#fonts span.select-icon,#countries span.select-icon {border-left: 0 !important;}
#fonts div.dk_options,#countries div.dk_options{width: 250px;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.colors #colorsForm .area #tabbar_colors{text-transform:uppercase;font-weight: bold;width:250px;text-align:center;margin:0 auto;background-color:#9F0030;color: #FFFFFF;}
.colors #colorsForm #colors #app_colors,.colors #colorsForm #font_conteneur{padding-bottom: 20px;}
.application_customization_design_colors_edit input[type="submit"]{font-weight:bold;padding: 12px; margin:0 auto;margin-top: 5px; color: white; text-align: center; background-color: #9F0030; display: block;}
.application_customization_design_colors_edit .colorpicker input{color: #FFFFFF !important;}
/** /EDITOR COLOR **/

/** LINK **/
.application_promote_index .application_content a,.message_application_index .application_content a,#customization_content_left #monetize_fields a{text-decoration: underline;color:#9F0030;}
/** /LINK **/

/** LOGIN/SIGNUP **/
.application_content #loginForm button,.application_content #signupForm button,.application_content #forgotpasswordForm button{border:none;background-color:transparent !important;padding-bottom: 15px;color:#9F0030 !important;}
.application_content #loginForm button:hover,.application_content #signupForm button:hover,.application_content #forgotpasswordForm button:hover{color:#9F0030 !important;text-decoration: underline;}
.admin_account_login .inner_content>div{background-color: #FFFFFF;}
.admin_account_login .content.application{position:relative;}
.admin_account_login .bg-login{position:absolute;bottom:-30px;width: 550px;height: 160px;left:50%;margin-left:-275px;background-color: #9F0030;z-index:-10;}
.admin_account_login .bg-login .col-md-12{padding-left: 0;}
.admin_account_login .bg-login a#btnForgotPassword{position: absolute;top:125px;color:#FFFFFF;width: 100%;text-align: center;}
.admin_account_login #loginForm{position: relative;}
.admin_account_login #loginForm .col-md-12:nth-child(3){padding: 0px !important;}
.admin_account_login #btnForgotPassword{position: absolute;color:#FFFFFF;width: 100%;text-align: center;bottom:-75px;}
.admin_account_login #forgotpasswordForm .col-md-12,.admin_account_login #forgotpasswordForm .col-md-2,.application_content #forgotpasswordForm button{float:none;}
.admin_account_login #forgotpasswordForm{position: relative;}
.admin_account_login #forgotpasswordForm .col-md-2:last-child {position: absolute;bottom:0;right: 0}
.admin_account_login li.text-center.no-padding.active a{text-transform: uppercase;font-weight: bold;font-size: 16px;color: #9F0030;border:0;}
.admin_account_login .content.application{margin-top: 10%;}
.admin_account_login #nav-login{border-bottom: 0px;}
/** /LOGIN/SIGNUP **/

/** PERSONNALISATION GENERAL **/
#icon_conteneur #icon_cont{width:160px;margin:0 auto;}
#icon_conteneur #icon_cont, #icon_conteneur #icon_cont p{float:none;}
#icon_conteneur #icon_cont p button{width:33px;height: 33px; border-radius: 50%;background-color: rgba(0,0,0,0.4) !important;position: absolute;left:125px;top:3px;}
#icon_conteneur>div.left{float:none;}


/** GENERAL **/
.form-horizontal{padding-bottom: 20px;}
.form-control{-webkit-box-shadow:none !important;box-shadow:none !important;}
.wrapper .application .application_content{margin-left: 180px;margin-top:80px;}
/*.admin_application_list .wrapper .application .application_content,.admin_account_login .wrapper .application .application_content, .sales_admin_invoice_list .wrapper .application .application_content{padding-left: 0;}*/

.admin_account_login .wrapper .application .application_content,
.admin_application_list .wrapper .application .application_content,
.whitelabel_editor_index .wrapper .application .application_content,
.sales_admin_invoice_list .wrapper .application .application_content{margin-left: auto;}
div.area>div{padding:1.5%;}
div.area>p, div.area>table{padding: 0 1.5%;word-break: break-word;}

/** FEATURES **/
.application_customization_features_list .application-content {}
div.pages h3.title div span{font-size:1.5em;font-weight:500;color:#9F0030 !important;padding-top:20px;margin-bottom: 20px;}
.application_customization_features_list #pages_list .area, .application_customization_features_list #pages_list .area .listing{min-height: 0 !important;height: 80px !important;}
.application_customization_features_list #pages_list .area>div{padding: 0;}
.application_customization_features_list #pages_list .area #option_values{margin-bottom: 0px;}
.application_customization_features_list #pages_list a#carousel_prev i,.application_customization_features_list #pages_list a#carousel_next i{font-size:23px;color:#9F0030;}
.application_customization_features_list #header_editor>div:first-child{padding: 0;}
#change_background_image {width: 120px;margin:0 auto;}
#change_background_image .conteneur_background_image{width:90px !important;height: 154px !important;}
#change_background_image .conteneur_background_image button#background_image, #change_background_image .conteneur_background_image button#background_image img{width:100% !important;height: 100% !important;}
.application_customization_features_list input#fb_url{border:none !important;border-radius: 0;border-bottom: 2px solid #b1b1b1 !important;}
.application_customization_features_list #icon_and_name .tabbar_name .row:nth-child(2),.application_customization_features_list #icon_and_name .tabbar_name .row:last-child{margin-top:5px;}
.application_customization_features_list #icon_and_name .tabbar_name .row.pagename label{line-height: 38px;}
.application_customization_features_list #icon_and_name .tabbar_name .row.pagename input,#newsCreateForm input{border-radius:0;border:none;border-bottom: 2px solid #9F0030 !important;background-color: transparent !important;color: #2A2A2A !important;}
.application_customization_features_list #icon_and_name .tabbar_name .row.enable .col-md-5 label, .application_customization_features_list #icon_and_name .tabbar_name .row.socialshare .col-md-5 label{line-height: 42px;}
#option_values li.option_value{background-color: #FFFFFF;}
#newsCreateForm input{border-bottom-color: #b1b1b1 !important;padding-top: 8px;}
.icons a:hover{color: #9F0030;}
#existing_items .list li.promotion_actions>div.left{width: 100% !important;margin-bottom: 15px;}
#existing_items .list li.promotion_actions>div.left p{margin-bottom: 0;}
#existing_items .list li.promotion_actions>div.left div.icons i{font-size: 18px !important;}
.socialgaming li.game_actions p.title{color: #9F0030 !important;background-color: transparent;font-size: 18px;}
#page .edit_page #edit_images h4.title span{color:#FFFFFF !important;}
#podcast_results button{margin-right: 15px !important;}
.pp_inline form#save_album,.pp_inline ul#tracks_list,.pp_inline>.left,.pp_inline>.right,.pp_inline #add_track{padding: 0 1.5%;}
#upload_music_custom_image, #upload_places_picture{height: auto;padding: 7px;}
.pp_inline>.left p,.pp_inline>.right span{font-weight: 600;}
.pp_inline #soundcloud_init,.pp_inline #soundcloud_connect_cont,.pp_inline #soundcloud_search_cont,.pp_inline #soundcloud_results,.pp_inline #save_soundcloud{padding: 1.5%;}
#playlist_types .edit_playlist_type i,#album_edit i.icon-th-list, .topics-edit button#upload_category_background i.icon-camera-retro{background-color: #efefef !important;color:#2A2A2A !important;}
#push_step_one #features_list label{padding-top:0;}
#push_step_one #upload_push_picture, .weblink button#upload_weblink_picture{margin-top: 10px !important;}
#list.formulaire .details .name input, .catalog .details .name input.main_category_name{color:#9F0030 !important;}
#existing_items .card_actions>p,#existing_items .promotion_actions>p,#existing_items .list li.promotion_actions>div.left p{color:#9F0030;font-size: 20px;}
#contact_content #cover_img{width: 100% !important; height: 100%;}


/** RESIZE WINDOW && ICONS WINDOW **/
.pp_pic_holder.pp_none{position: fixed;top:20px !important;width: 90% !important;max-width: 900px;}
div.pp_none .pp_content,div.pp_content_container div.area>div {padding:0 !important;}
.pp_content{max-height: 500px !important;width:90% !important;margin:0 auto !important;overflow-x:hidden;overflow-y: scroll;}
.pp_content.area,.pp_fade, .pp_content_container .pp_left,.pp_content_container .pp_right{padding: 0 !important;}
.save_selection{padding: 1.5%;}
.pp_inline form#search_itunes, .pp_inline #itunes_results, .pp_content #fieldForm, .pp_content #productForm,.pp_content #validateCrop, .pp_content #customEventForm{padding: 1.5%;}
form#saveCrop{padding:1.5%;}
#icon_library_manager #icon_library{margin-left: 210px; margin-top:60px;padding: 0;}
#icon_library_manager #icon_library h3{margin: 0;}
#icon_library_manager #icon_library .details{padding: 1.5%;}
#icon_library_manager #icon_library .section{margin: 0;}
#icon_library_manager button.close_modal_icon_library_manager, #modal_content_preview h3 button#close_modal_preview{background-color: #9F0030 !important;width: 25px; height: 25px; border: 1px solid #FFFFFF;border-radius: 3px;}
#icon_library_manager .details .section:last-child ul li{background-color: #9F0030 !important;float: right;}
#icon_library_manager h4.subtitle{font-size: 22px; color: #9F0030;}
#icon_library_manager .icons_list i.icon-remove{font-size: 18px;padding: 5px;}
.pp_content #create_field.field .area,.pp_content #create_product>.area, .pp_content #add_custom_event>.area{width: 100%;}
.pp_inline button.save_selection{margin-right: 1.4%;}

/** PUBLICATION **/
.application_customization_publication_infos_index .ready_for_publish a.rounded{border-radius: 5px; background-color: #9F0030;}
.application_customization_publication_infos_index .form-control{color:#2A2A2A;border-color: #b1b1b1;}
.application_customization_publication_infos_index textarea{height: 200px !important;}
.application_customization_publication_infos_index select{-webkit-appearance: none;border:none;border-radius: 0;border-bottom: 2px solid #b1b1b1;box-shadow: none;cursor: pointer;font-weight: 600;/*color:#9F0030 !important;*/}
.application_customization_publication_infos_index .list-select:after{content:'';display: block;background: url("/var/cache/images/1f64fbb90e4c8ed27f1a044cfadae823.png") no-repeat; width:42px;height:42px;position:absolute;top:13px;right: 0;cursor: pointer;}
#ios_admob_id,#android_admob_id{background-color: transparent !important;color:#2A2A2A !important;border-radius:5px;border: 1px solid #b1b1b1 !important;}

/** SUBSCRIPTION (PUBLICATION) **/
#subscription_confirm .list_header,#order_details{padding: 0}
#order_details .application_content{margin: 0;width: auto;padding: 1.5%;}
#paymentForm .area .checkbox .icon-to-fade,#paymentForm .area .checkbox .icon{left: 1.5%;}
#paymentForm .area label.checkbox{padding-left: 45px;}
#subscriptionForm .application_pricing_table{margin-top:30px;}
#subscriptionForm .subscription_details{text-align: center;font-size:18px;}
#subscriptionForm .pricing-selection{width:100%;}
#subscriptionForm .pricing-selection .radio .icon, #subscriptionForm .pricing-selection .radio .icon-to-fade{margin-top:9px;}
#subscriptionForm .pricing-selection label{width:120px;margin:0 auto;}
#subscriptionForm .pricing-selection .checkbox{margin-top:15px;}
#subscriptionForm .pricing-selection .radio p{font-size: 25px;}
#subscriptionForm .pricing-selection .radio.checked p{font-weight: 700;}
#subscriptionForm .pricing-selection li{display:inline-block;width:24%;}

/*PUSH NOTIFICATION*/
.push_notif #existing_items ul.list .push_actions p.title{background-color:transparent;}

.template_upgrade{position:relative;padding:3px;background-color:#9f0030;color:white;font-weight: bold;margin-right:10px;}
p.ready_for_publish{display: inline;margin-left: 30px;background-color: #9f0030;  padding: 10px;}

/*PRICING*/
.application_pricing_table .pack{display: inline-block;width:24%;vertical-align: top;}
.application_pricing_table .pack header{text-align: center;background-color:#272527;color: #FFFFFF;padding: 8px;}
.application_pricing_table .pack header h4{font-size: 22px;font-weight: 600;text-transform: uppercase;letter-spacing: 1px;}
.application_pricing_table .pack#beginner header h4{color:#fdd94e;}
.application_pricing_table .pack#starter header h4{color:#fe7c0d;}
.application_pricing_table .pack#advanced header h4{color:#ea2445;}
.application_pricing_table .pack#premium header h4{color:#9F0030;}
.application_pricing_table .pack header .pricing{font-size: 25px;}
.application_pricing_table .pack header .pricing span{font-size: 18px;}
.application_pricing_table .pack .features{text-align: center;min-height:680px;height:auto;background-color:#efefef;padding:8px;}
.application_pricing_table .services{text-align: center;}
.application_pricing_table .services .pack{width:25%;}
.application_pricing_table .services .pack .features{min-height: 230px;height: auto;}
.application_pricing_table #popup_features_open .modal_content{width: 100%;height: 100vh;position: absolute;background-color: rgba(0,0,0,0.7);}
.application_pricing_table #popup_features_open ul{width: 30%;margin: 0 auto;background-color: #FFFFFF;top: 150px;position: relative;}
.application_pricing_table #popup_features_open ul li:first-child{position:absolute;top:5px;right:10px}
.application_pricing_table #popup_features_open .close:hover{color:#9F0030;}
.application_pricing_table li.core_app{position: relative;}
.application_pricing_table li.core_app .open_popup{position: absolute;top: 0;right: -7px;width: 0;height: 0;border-top: 30px solid #9F0030;border-left: 30px solid transparent;}
.application_pricing_table li.core_app .open_popup span{position: absolute;font-size:24px;color: #FFFFFF;top: -38px;left: -14px;}
.application_pricing_table footer{text-align: center;}
.application_pricing_table footer a.btn{width:auto;margin-top:20px;}

.mymodal {position: fixed;z-index: 12;left: 0;top: 0px;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);display:none;}
.modal-content {position: fixed;background-color: #fefefe;margin-left:-35%;padding: 20px;text-align: center;border: 1px solid #888;width: 70%;left:50%;top:50px;margin-left: -400px; margin-top: 30px}
.closemymodal {color: #9f0030 !important;float: right;font-size: 28px;font-weight: bold;}
#nocrop{width:auto;margin-right: 10px;}

.spinner {
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect1{
    background-color: #9f0030;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  background-color: #9f0030;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: #9f0030;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background-color: #9f0030;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background-color: #9f0030;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
