<?php $url = str_replace($this->getApplication()->getKey().'/','',$this->getApplication()->getUrl());?>
<?php $url = substr($url, 0, -1);?>
<table width="100%" bgcolor="<?php echo $this->getApplication()->getBlock('header')->getBackgroundColor();?>" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="12%"></td>
        <td style="background-color:<?php echo $this->getApplication()->getBlock('background')->getBackgroundColor();?>;color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>;background-image:url('<?php echo $url.$this->getApplication()->getBackgroundImage();?>');background-size:cover;background-position:50%;background-repeat:no-repeat;padding:15px;" height="200px">
            <img src="<?php echo $url.$this->getApplication()->getIcon();?>" width="150px" style="margin-left:5%;border:3px solid <?php echo $this->getApplication()->getBlock('header')->getBackgroundColor();?>;"/>
        </td>
        <td width="12%"></td>
    </tr>
    <tr style="padding: 0 15px; color:#888888; font-size: 17px; line-height: 150%; width:600px">
        <td width="12%"></td>
        <td style="background-color:<?php echo $this->getApplication()->getBlock('background')->getBackgroundColor();?>;color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>;padding:25px">
             <p style="color: <?php echo $this->getApplication()->getBlock('background')->getColor();?>; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;"><?php echo $this->_('Hello,'); ?><br/><br/>
                <span style="color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;"><?php echo $this->_('A request to reset your password has been made.'); ?></span>
            </p>
            <p style="color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                <span style="color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;"><?php echo $this->_('Here is your new password:'); ?> <strong><?php echo $this->getPassword() ?></strong></span>
            </p>
            <?php if($email = $this->getAdminEmail()) : ?>
            <p style="color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                <?php echo $this->_("If you encounter any problems, do not hesitate to contact us:"); ?> <a href="mailto:<?php echo $email; ?>"><strong><?php echo $email; ?></strong></a>
            </p>
            <?php endif; ?>
            <p style="color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;margin-top:30px;">
                <?php echo $this->_('See you soon,'); ?><br/>
                <span style="color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px;font-weight:bold;"><?php echo $this->getAppName() ?></span><br/>
            </p>
        </td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td width="12%"></td>
        <td style="background-color:<?php echo $this->getApplication()->getBlock('background')->getBackgroundColor();?>;color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>;padding:8px 25px;clear:both;font-family: Verdana, Arial, Helvetica, sans-serif;">
            <div style="background-color:#9F0030;height:2px;margin:0 auto;"></div>
            <p style="display:inline-block;line-height:38px;">
                <a href="sincube.com" target="_blank" style="text-decoration:none;color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>;font-size:13px;">
                    Powered by Sincube
                </a>
            </p>
            <ul style="display:inline-block;float: right;padding-left:0;">
                <li style="list-style-type:none;display:inline-block;margin-right:20px;">
                    <a href="https://www.facebook.com/wearesincube" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/facebook.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
                <li style="list-style-type:none;display:inline-block;">
                    <a href="https://twitter.com/sincub3" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/twitter.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
            </ul>
        </td>
        <td width="12%"></td>
    </tr>
</table>