<div class="scrollable_content" sb-load-more factory="factory" collection="collection">
    <div ng-if="collection.locked === 1 && !is_logged_in">
        <?php echo $this->getPartialHtml("padlock"); ?>
    </div>
    <div ng-if="(collection.locked === 1  &&  is_logged_in) || collection.locked === 2 || !collection.locked">
        <div class="list l4 for_ads_banner">
            <ul ng-if="collection.length">
                <li ng-repeat="item in collection" class="slide-left">
                    <a href="{{item.url}}">
                        <div ng-if="!item.source">
                            <div class="image" ng-if="item.picture">
                                <div class="container" style="border-width:0px;">
                                    <img class="post_image" src="{{item.picture}}"/>
                                </div>
                            </div>
                        </div>
                        <!--<p class="text title" ng-if="item.author">{{ item.author }}</p>-->
                        <span ng-bind-html="item.message | trusted_html" style="word-wrap: break-word;"></span>
                        <div class="clear"></div>
                    </a>
                </li>
                <li ng-show="show_posts_loader"><sb-loader is-loading="show_posts_loader" size="'48'" block="'background'"></sb-loader></li>
            </ul>
            <p class="no-results" ng-if="!is_loading && !collection.length"><?php echo $this->_("No Results"); ?></p>
        </div>
    </div>
</div>