<?php $application = $this->getApplication(); ?>
<?php $block_subheader = $application->getBlock('subheader'); ?>
<?php $block_button = $application->getBlock('button'); ?>
<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>

<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message" right-button="header_right_button"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <div class="content scrollable_content" id="scrollable">
        <ul ng-class="{news: !style_background_image}" class="content_news for_ads_banner" ng-show="post.id">
            <li class="title padding" ng-class="{subheader: !style_background_image}">
                <div class="logo left">
                    <img width="37" height="37" class="logo_src" ng-src="{{ post.icon }}" alt="{{ post.author }}" title="{{ post.author }}" />
                </div>
                <div class="right" ng-show="canPost" ng-click="flagPost()">
                    <i class="icon-report"></i>
                </div>                
                <p class="text">
                    <span class="name bold">{{ post.author }}</span>
                    <span ng-show="post.author && post.title"> - </span>
                    <span>{{ post.title }}</span>
                </p>
                <span class="comments_date left" style="font-size:11px;">
                    {{ post.created_at | date : "short" }}
                </span>
                <div class="clear"></div>
            </li>
            <li class="details padding">
                <div class="image" ng-if="post.picture">
                    <img ng-src="{{ post.picture }}" alt="{{ post.author }}" title="{{ post.author }}" width="100%" />
                </div>
                <p ng-bind-html="post.message | trusted_html" style="word-wrap: break-word;margin-top:5px;" class="post_text"></p>
                <!--<button ng-click="show_form = !show_form">Comment</button>-->
                <!--<li class="padding scale-fade" ng-if="post.can_comment" ng-if="show_form == false">
                    <div class="comment_content" ng-show="is_logged_in">
                        <form class="commentForm" ng-submit="addAnswer(new_answer);">
                            <textarea rows="6" class="input_comment large border" name="text" value="" ng-model="post.new_answer" placeholder="<?php //echo $this->_("Your comment") ?>"></textarea>
                            <input type="hidden" name="status_id" value="{{ news.id }}" />
                            <div>
                                <button type="submit" ng-click="show_form = true" class="button"><?php //echo $this->_('Validate'); ?></button>
                                <button type="button" ng-click="show_form = true" class="button reverse"><?php //echo $this->_('Cancel'); ?></button>
                            </div>
                        </form>
                    </div>
                    <div ng-show="!is_logged_in">
                        <p><?php //echo $this->_("You must be logged in to post a comment"); ?></p>
                        <a href="<?php //echo $this->getUrl("customer/mobile_account_login"); ?>" class="button arrow_right" class=""><?php //echo $this->_("Log in"); ?></a>
                    </div>
                    <div class="clear"></div>
                </li> -->
                <div class="recap-social" ng-if="!item.facebook">
                    <span class="likes_count  icon-like">
                        {{ post.number_of_likes }}
                    </span>
                    <span class="comments_count icon-comment">
                        {{ post.number_of_comments }}
                    </span>
                </div>


<!-- BOUTONS LIKE + COMMENT -->
                <div class="a-center add_comment socialbutton_bar" ng-if="post.can_comment" style="border-top: solid 1px;">
                    <?php if ($this->getSession()->getCustomer()->getId()) :?>
                    <ul style="margin:10px 0;">
                        <li class="socialbutton" style="display:inline-block;width:31%;text-align: center;">
                            <span class="half icon_left icon-like" ng-click="addLike();">
                                <?php echo $this->_('Like'); ?>
                            </span>
                        </li>
                        <li class="socialbutton comment" style="display:inline-block;width:35%;text-align: center;">
                             <span class="half icon_left icon-comment" ng-click="show_form = !show_form">
                            <?php echo $this->_('Comment'); ?>
                            </span>
                        </li>
                        <li class="socialbutton share" style="display:inline-block;width:31%;text-align: center;" ng-if="post.social_sharing_active == 1">
                            <span ng-click="share=getShare(item)" class="half icon_left icon-share">
                                <?php echo $this->_('Share ');?>
                            </span>
                            <div class="popup" ng-show="share">
                                <div class="vertical-align">
                                    <?php echo $this->_('Share on');?>
                                    <ul class="buttons share">
                                        <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
                                        <li>
                                            <a class="button share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">Facebook</a>
                                        </li>
                                        <li>
                                            <?php $text = $this->_("New post on the app")." : ".$this->getApplication()->getName()?>
                                            <a class="button share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text=<?php echo $text?>&url=<?php echo $url;?>">Twitter</a>
                                        </li>
                                    </ul>
                                </div>
                                <a class="button-close icon-close share" ng-click="share=closePopup(item)" style="width:80%"><?php echo $this-> _('Close');?></a>
                            </div>
                        </li>
                    </ul>
                    <div  ng-show="show_form"></div>
                    <div ng-hide="show_form">
                        <form class="commentForm" ng-submit="addAnswer();" style="padding-bottom:15px;">
                            <textarea rows="3" class="input_comment large border" name="text" value="" ng-model="post.new_answer" placeholder="<?php echo $this->_("Your comment") ?>" style="max-height:45px;border:1px solid;"></textarea>
                            <input type="hidden" name="status_id" value="{{ news.id }}" />
                            <button type="submit" class="validate_comment"><?php echo $this->_('Validate'); ?></button>
                        </form>
                    </div>
                </div>
                    <?php else :?>
                        <ul style="margin:10px 0;">
                            <li class="socialbutton" style="display:inline-block;width:31%;text-align: center;">
                                <span ng-click="logyou=getPopup()" class="half icon_left icon-like">
                                    <?php echo $this->_('Like'); ?>
                                </span> 
                            </li>
                            <li class="socialbutton comment" style="display:inline-block;width:34%;text-align: center;">
                                <span ng-click="logyou=getPopup()" class="half icon_left icon-comment">
                                    <?php echo $this->_('Comment'); ?>
                                </span> 
                            </li>
                            <li class="socialbutton share" style="display:inline-block;width:31%;text-align: center;">
                                <span ng-click="share=getShare(item)" class="half icon_left icon-share">
                                    <?php echo $this->_('Share ');?>
                                </span>
                                <div class="popup" ng-show="share">
                                    <div class="vertical-align">
                                        <?php echo $this->_('Share on');?>
                                        <ul class="buttons share">
                                            <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
                                            <li>
                                                <a class="button share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">Facebook</a>
                                            </li>
                                            <li>
                                                <?php $text = $this->_("New post on the app")." : ".$this->getApplication()->getName()?>
                                                <a class="button share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text=<?php echo $text?>&url=<?php echo $url;?>">Twitter</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="button-close icon-close share" ng-click="share=closePopup(item)" style="width:80%"><?php echo $this-> _('Close');?></a>
                                </div>
                            </li>
                        </ul>
                        <div class="popup" ng-show="logyou">
                            <div class="vertical-align"> 
                                <?php echo $this-> _('You have to be log to like or make a comment');?>
                                <ul class="buttons">
                                    <li>
                                        <a href="<?php echo $this->getPath("customer/mobile_account_login");?>" class="button icon-next">
                                            <?php echo $this->_('Log in'); ?>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?php echo $this->getUrl('customer/mobile_account_register'); ?>" class="button icon-next">
                                            <?php echo $this->_('Create an account'); ?>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a class="button-close icon-close" style="width=80%" ng-click="logyou=closePopup()">close</a>
                        </div>
                    <?php endif;?>
            </li>
<!-- COMMENTAIRES -->
            <li class="padding comments answer" ng-repeat="comment in comments track by $index" ng-if="comment.id">
                <div>
                    <img width="35" height="35" class="logo left" ng-src="{{ comment.picture }}" title="{{ comment.author }}" alt="{{ comment.author }}" />                 
                    <div class="right" ng-click="deletedAnswer=getActionComment()">
                        <span class="icon-open"></span>
                    </div>
                    <div class="popupComment" ng-show="deletedAnswer">
                        <div class="vertical-align">
                            <ul class="buttons">
                                <li ng-if="is_logged_in && (comment.author_id == post.customer_id)">
                                    <a ng-click="deleteThisAnswer({{comment}})" class="icon more delete_comment button" style="width:80%">
                                        <?php echo $this->_("Delete this comment");?>
                                    </a>
                                </li>
                                <li ng-if="comment.author_id != post.customer_id">
                                    <a ng-click="deletedAnswer=flagComment(comment.id)" class="icon more delete_comment button" style="width:80%">
                                        <?php echo $this->_("Signal this comment");?>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a class="button-close icon-close" ng-click="deletedAnswer=closeActionComment()" style="position: absolute;top:15px;right:20px;"><?php echo $this-> _('Close');?></a>
                    </div>
                    <div class="text">
                        <span class="customer_name bold">{{ comment.author }}</span>
                        <span class="comment">{{ comment.message }}</span>
                    </div>
                    <div ng-if="comment.created_at" style="font-size:10px; padding-top:6px">{{ comment.created_at | date : "short" }}</div>
                    <div class="clear"></div>
                </div>
            </li>
            <li class="separator"></li>
        </ul>
        <div class="popup" ng-if="share == true">
            <div class="vertical-align">
                <?php echo $this->_('Share on');?>
                <ul class="buttons share">
                    <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
                    <li>
                        <a class="button share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <?php $text = $this->_("New post on the app")." : ".$this->getApplication()->getName()?>
    
                        <a class="button share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text=<?php echo $text?>&url=<?php echo $url;?>">
                            Twitter
                        </a>
                    </li>
                </ul>
            </div>
            <a class="button-close icon-close share" ng-click="closeShare()" style="width:80%"><?php echo $this->_('Close');?></a>
        </div>
    </div>   
</div>
