<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>
<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="post.title" message="message" right-button="header_right_button"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <div class="l1 scrollable_content content" id="scrollable">
        <ul ng-class="{news: !style_background_image}" class="content_news" ng-show="post">
            <li class="title padding" ng-class="{subheader: !style_background_image}">
                <div>
                    <p class="name bold">{{ post.title }}</p>
                </div>
                <div class="clear"></div>
                <p class="conditions">{{ post.short_description }}</p>
            </li>
            <li>
                <div class="image" ng-if="post.picture">
                    <img ng-src="{{ post.picture }}" alt="" title="" width="100%" />
                </div>
            </li>
            <li class="details padding">
                <div class="description" ng-bind-html="post.description">
                </div>
            </li>
        </ul>
         <div class="popup" ng-if="share == true">
             <div class="vertical-align">
                <?php echo $this->_('Share on');?>
                <ul class="buttons share">
                    <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
                    <li>
                        <a class="share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <?php $text = $this->_("New product on the app")." : ".$this->getApplication()->getName()?>
                        <a class="share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text=<?php echo $text?>&url=<?php echo $url;?>">
                            Twitter
                        </a>
                    </li>
                </ul>
            </div>
            <a class="button-close icon-close share" ng-click="closeShare()" style="width:80%"><?php echo $this->_('Close');?></a>
        </div>
    </div>
</div>