<?php $color = $this->getApplication()->getBlock("news")->getColor() ?>

<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">
    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message"></sb-header>
    <!-- <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader> -->      
    <div class="scrollable_content" sb-load-more factory="factory" id="scrollable" collection="collection" load-more="loadMore()">
        <div ng-if="locked === 1 && !is_logged_in">
            <?php echo $this->getPartialHtml("padlock"); ?>
        </div>  
        <div ng-if="(locked === 1 && is_logged_in) || locked === 2">
            <div class="cover l3 tweet">
                <div class="twitter_cover">
                    <ul class="image_cover">
                        <div class="filter"></div>
                        <li class="cover" image-src="cover_image_url" sb-image ng-show="!cover_image_url"></li>
                        <li class="cover" image-src="cover_image_url" sb-image ng-if="cover_image_url"></li>
                    </ul>
                    <div style="background-image:url({{infos.icon}});border:3px solid <?php echo $this->getApplication()->getBlock('background')->getColor()?>;" class="image_profile" ng-if="infos.icon"></div>
                    <a ng-if="infos.twitter_name" href="https://twitter.com/{{infos.twitter_name}}" target="_blank" class="button">
                        <i class="icon-follow"></i>
                    </a>
                    <div class="details" style="color:<?php echo $this->getApplication()->getBlock('background')->getColor()?>;border-bottom:1px solid <?php echo $this->getApplication()->getBlock('background')->getColor()?>;">
                        <p ng-if="infos.twitter_name" class="name">{{infos.twitter_name}}</p>
                        <ul class="account_details">
                            <li ng-if="infos.tweets">
                                <p>{{infos.tweets}}</p>
                                <p><?php echo $this->_('Tweets');?></p>
                            </li>
                            <li ng-if="infos.followers">
                                <p>{{infos.followers}}</p>
                                <p><?php echo $this->_('Followers');?></p>
                            </li>
                            <li ng-if="infos.following">
                                <p>{{infos.following}}</p>
                                <p><?php echo $this->_('Following');?></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <?php echo $this->getPartial("list")->setScrollableContentAlreadyUsedInParentElement(true)->toHtml(); ?>
            </div>
        </div>
    </div>
</div>
