<?php $application = $this->getApplication(); ?>
<?php $block_subheader = $application->getBlock('subheader'); ?>
<?php $block_button = $application->getBlock('button'); ?>
<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>         
<div <?php if(!$this->getScrollableContentAlreadyUsedInParentElement()) : ?> id="scrollable" class="scrollable_content" sb-load-more factory="factory" collection="collection"<?php endif; ?>>
  <div ng-if="collection.locked === 1 && !is_logged_in">
    <?php echo $this->getPartialHtml("padlock"); ?>
  </div>
  <div ng-if="(collection.locked === 1  &&  is_logged_in) || collection.locked === 2 || !collection.locked">
    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>
    <?php echo $this->getPartialHtml("cover"); ?>
    <div class="padding list l3 for_ads_banner">
      <ul>
          <li ng-repeat="item in collection" class="element">
          <div>
            <div style="background-image:url({{item.icon}});" class="icon" ng-if="item.icon"></div>
            <p ng-if="item.author" class="author">
              {{ item.author }}
              <span class="area1" ng-if="item.meta.area1">- {{ item.meta.area1.text }}</span>
            </p>
            <a href="{{item.tweet_url}}" target="_blank">
              <p class="message" ng-bind-html="item.message | trusted_html"></p>
            </a>
            <div class="source_post" ng-if="item.source">
              <span sb-wall-video item="item" style="padding-top:3px;"></span>
            </div>
            <div class="source_post" ng-if="item.youtube.link && !item.picture" style="position:relative;">
              <a href="http://{{item.youtube.link}}" target="_blank">
                <div class="sprite"></div>
                <img src="{{item.youtube.img}}" style="width:100%; height:200px;"/>
              </a>
            </div>
            <div class="source_post" ng-if="item.image && !item.picture">
                <div class="image" ng-if="item.image">
                    <div class="container" ng-click="logyou=getPopup()" style="border-width:0px;">
                        <img class="post_image" src="{{item.image}}"/>
                    </div>
                    <div class="popup" ng-show="logyou" ng-click="logyou=closePopup()">
                        <img src="{{item.image}}" class="vertical-align" style="max-height:80%;height:auto;"/>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
          </div> 
            <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
          <ul>
            <li ng-if="item.like" class="socialbutton">
              <span><i class="icon-like"></i>{{item.like}}</span>
            </li>
            <li ng-if="item.retweet" class="socialbutton">
              <span><i class="icon-retweet"></i>{{item.retweet}}</span>
            </li>
            <li class="socialbutton" ng-if="item.social_sharing_active == 1">
                <span class="area2">
                  <div ng-click="share=getShare(item)" class="icon-share">
                    <?php echo $this->_('Share ');?>
                  </div>
                </span>
                <div class="popup" ng-show="share">
                  <div class="vertical-align">
                    <?php echo $this->_('Share on');?>
                    <ul class="buttons share">
                      <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
                      <li>
                        <a class="button share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">Facebook</a>
                      </li>
                      <li>
                        <?php $text = $this->_("New post on the app")." : ".$this->getApplication()->getName()?>
                        <a class="button share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text=<?php echo $text?>&url=<?php echo $url;?>">Twitter</a>
                      </li>
                    </ul>
                  </div>
                  <a class="button-close icon-close share" ng-click="share=closePopup(item)" style="width:80%"><?php echo $this-> _('Close');?></a>
                </div>
            </li>
         </ul>
        </li>
        <li><sb-loader is-loading="show_posts_loader" size="'48'" block="'background'"></sb-loader></li>
      </ul>
    </div>
  </div>
</div>