<?php 	
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
?>
<h2>MENTIONS LÉGALES</h2>
<p>SINCUBE</p>
<p>63 Route du Roi</p>
<p>78290 Croissy Sur Seine</p>
<p>0658300035</p>
<p>www.sincube.com</p>
---
<br/>
<p>Capital Social de 1000€</p>
<p>Numéro d'enregistrement au registre du commerce et des sociétés : RCS Paris 712 029 370</p>
<p>Directeur de la publication : </p>
<p>email : <?php echo $this->getApplication()->getOwner()->getEmail()?> </p>
<p>Nom : <?php echo $this->getApplication()->getOwner()->getFirstname()?> - Prenom : <?php echo $this->getApplication()->getOwner()->getLastname()?></p>
---
<br/>
<p>Hébergement : Openshif (USA)</p>
<p>Red Hat Tower</p>
<p>100E. Davie Street</p>
<p>Raleigh, NC 27601 USA</p>
<p>Direct: +1887334281</p>

<?php if($website->getGeneralConditions()):?>
	<h2>Conditons Generales</h2>
	<br/>
	<?php echo $website->getGeneralConditions()?>
<?php endif;?>
