<div class="scrollable_content" sb-load-more factory="factory" collection="collection">
    <div ng-if="details.locked === 1 && !is_logged_in">
          <?php echo $this->getPartialHtml("padlock"); ?>
    </div>
    <div ng-if="(details.locked === 1  &&  is_logged_in) || details.locked === 2 || !details.locked">
        <div ng-if="fanwall == true">
            <div class="middle_buttons" ng-show="can_post">
                <div class="border-color button" ng-class="{reverse:showRecent}" ng-click="setShowRecent(true)"><?php echo $this->_('Recent'); ?>
                </div>
                <div class="border-color button" ng-class="{reverse:!showRecent}" ng-click="setShowRecent(false)">
                    <?php echo $this->_('Near me'); ?>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>
        <div class="newswall list l5 l3 for_ads_banner">
            <ul ng-if="collection.length">
                <li ng-repeat="item in collection" class="slide-left" ng-click="showItem(item)">
                    <a href="{{item.url}}">
                        <div>
                            <div class="image-container" ng-if="item.picture">
                                <div class="block bg-image" image-src="item.picture" sb-image></div>
                            </div>
                            <div class="image-container post" ng-if="!item.picture">
                                <p ng-bind-html="item.message | trusted_html" class="message"></p>
                            </div>
                            <div class="text">
                                <img width="37" height="37" class="logo left" ng-src="{{ item.icon }}" ng-if="item.icon"/>
                                <p class="author" ng-if="item.author">{{ item.author }}</p>
                                <p class="timestamp" ng-if="item.meta.area1">{{ item.meta.area1.text }}</p>
                                <div class="recap-social">
                                    <div ng-if="item.meta.area3.text > 0" class="icon-like">
                                        <div>{{ item.meta.area3.text }}</div>
                                    </div>
                                    <div ng-if="item.meta.area2.text > 0" class="icon-comment">
                                        <div>{{ item.meta.area2.text }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </a>
                </li>
                <li ng-show="show_posts_loader"><sb-loader is-loading="show_posts_loader" size="'48'" block="'background'"></sb-loader></li>
            </ul>
            <p class="no-results" ng-if="!is_loading && !collection.length"><?php echo $this->_("No Results"); ?></p>
        </div>
        <div class="clear"></div>
    </div>
</div>