<form ng-submit="save();">
    <sb-section title="'<?php echo $this->_("Details"); ?>'">

        <div class="col-md-6">
            <div class="form-group">
                <label for="name"><?php echo $this->_("Name"); ?></label>
                <input type="text" id="name" ng-model="plan.name" class="form-control" placeholder="<?php echo $this->_("Name"); ?>" />
                <p class="help-block"><?php echo $this->_("Give a name to this plan. Will be displayed on the front end"); ?></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="description"><?php echo $this->_("Description"); ?></label>
                <textarea rows="3" id="description" ng-model="plan.description" class="form-control" placeholder="<?php echo $this->_("Description"); ?>"></textarea>
                <p class="help-block"><?php echo $this->_("Describe here this plan. Will be displayed on the front end"); ?></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="user_account"><?php echo $this->_("Authorized User Account"); ?></label>
                 <select id="user_account" ng-model="plan.user_account" class="form-control">
                    <option value="0">NO</option>
                    <option value="1">YES</option>
                </select>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label for="nb_subscribers"><?php echo $this->_("Subscribers number"); ?></label>
                <input type="text" id="nb_subscribers" ng-model="plan.nb_subscribers" class="form-control" placeholder="<?php echo $this->_("Subscribers "); ?>"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="upload_file"><?php echo $this->_("Upload File Authorized set 1 for yes for no"); ?></label>
                <input type="text" id="upload_file" ng-model="plan.upload_file" class="form-control"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="template_level"><?php echo $this->_("Select template level"); ?></label>
                 <select id="template_level" ng-model="plan.template_level" class="form-control">
                    <option value="1">Beginner</option>
                    <option value="2">Starter</option>
                    <option value="3">Advanced</option>
                    <option value="4">Premium</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="use_ads"><?php echo $this->_("Use Ads"); ?></label>
                 <select id="use_ads" ng-model="plan.use_ads" class="form-control">
                    <option value="0">NO</option>
                    <option value="1">YES</option>
                </select>
            </div>
        </div>


    </sb-section>

    <div class="clear"></div>

    <sb-section title="'<?php echo addslashes($this->_("Manage access")); ?>'" button="button">
        <p class="help-block"><?php echo $this->_("You can choose which feature will be accessible with your plan. By default, all features are allowed."); ?></p>
        <p class="help-block">
            <label>
                <input type="checkbox" ng-model="manage_rights" /> <?php echo $this->_("Choose features"); ?>
            </label>
        </p>
        <ul class="list-group" ng-show="manage_rights">
            <li ng-repeat="resource in plan.resources" class="list-group-item">
                <div class="checkbox">
                    <label ng-class="{'text-danger': !resource.is_allowed,'text-success': resource.is_allowed}">
                        <input type="checkbox" ng-checked="resource.is_allowed" ng-model="resource.is_allowed" /> {{ resource.label }}
                    </label>
                </div>
            </li>
        </ul>
    </sb-section>

    <div class="clear"></div>

    <sb-section title="'<?php echo $this->_("Pricing"); ?>'">

        <div class="clear col-md-12">
            <p class="alert-warning"><i class="fa fa-warning"></i> <?php echo $this->_("Each price must be entered excluding tax"); ?></p>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="setup_fee"><?php echo $this->_("Setup fee"); ?></label>
                <input type="text" id="setup_fee" ng-model="plan.setup_fee" class="form-control" placeholder="<?php echo $this->_("Setup fee"); ?>" />
                <p class="help-block"><?php echo $this->_("Charged to your client when placing the order"); ?></p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="payment_frequency"><?php echo $this->_("Subscription"); ?></label>
                <select id="payment_frequency" class="form-control" ng-model="plan.payment_frequency" ng-options="k as v for (k, v) in payment_frequencies">
                    <option value=""><?php echo $this->_("None"); ?></option>
                </select>
            </div>
        </div>

        <div class="slide-top col-md-4" ng-show="plan.payment_frequency">
            <div class="form-group">
                <label for="regular_payment">{{ plan.payment_frequency }} <?php echo $this->_("price"); ?></label>
                <input type="text" id="regular_payment" ng-model="plan.regular_payment" class="form-control" placeholder="{{ plan.payment_frequency }} <?php echo $this->_("price"); ?>" />
                <p class="help-block" ng-show="plan.payment_frequency == 'Monthly'"><?php echo $this->_("Charged to your client every month"); ?></p>
                <p class="help-block" ng-show="plan.payment_frequency == 'Yearly'"><?php echo $this->_("Charged to your client every year"); ?></p>
            </div>
        </div>

        <div class="clear col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary left"><?php echo $this->_("Save"); ?></button>
                <sb-loader is_visible="form_loader_is_visible" type="'inner_content'" size="'small'" animation="'no'" class="form_loader"></sb-loader>
                <div class="clear"></div>
            </div>
        </div>

    </sb-section>

    <div class="clear"></div>

</form>
