<?php $application = $this->getApplication(); ?>
<?php $option_value = $this->getOptionValue(); ?>
<?php $image = new Media_Model_Gallery_Image(); ?>
<?php $images = $image->findAll(array('value_id' => $option_value->getId()), 'gallery_id DESC'); ?>
<?php $instagram_is_available = Api_Model_Key::findKeysFor('instagram')->getClientId() && Api_Model_Key::findKeysFor('instagram')->getToken(); ?>

<div class="edit_page media images">
    <div class="form_content">
        <div class="section">
            <div id="new_images_galery">
                <div id="choose_type" style="margin-left:0;">
                     <h4 class="subtitle">
                        <span class="left area"><?php echo $this->_('Add') ?></span>
                        <hr />
                        <span class="area right">
                            <button type="button" class="default_button" id="toggle_add_items">
                                <i class="icon-chevron-up"></i>
                            </button>
                        </span>
                        <div class="clear"></div>
                    </h4>
                    <ul id="list_type">
                        <li class="left a-center">
                            <a href="javascript:void(0);" rel="instagram" class="block select_type<?php if($instagram_is_available) : ?> image_type_select<?php else : ?>" onclick="featureNotAvailable(); return false;<?php endif; ?>">
                                <img src="<?php echo $this->getColorizedImage($this->getImage('customization/pictos/instagram.png', true), "#2A2A2A"); ?>" title="Instagram" alt="Instagram" width="50" height="50" />
                                <p><?php echo $this->_('Instagram') ?></p>
                            </a>
                        </li>
                        <?php if(!$this->getApplication()->getSubscription()->getId() || $this->getApplication()->getSubscriptionName() != "Free"):?>
                            <li class="left a-center">
                                <a href="javascript:void(0);" rel="custom" class="block select_type image_type_select">
                                    <img src="<?php echo $this->getImage('customization/pictos/camera.png'); ?>" width="55" height="50" title="<?php echo $this->_("My images"); ?>" alt="<?php echo $this->_("My images"); ?>" />
                                    <p><?php echo $this->_('My images') ?></p>
                                </a>
                            </li>
                        <?php else:?>
                            <li class="left a-center">
                                    <img src="<?php echo $this->getColorizedImage($this->getImage('customization/pictos/camera.png', true), "#BDBDBD"); ?>" width="30"  title="<?php echo $this->_("My images"); ?>" alt="<?php echo $this->_("My images"); ?>" />
                                    <p style="color:#BDBDBD;"><?php echo $this->_('My images - Not included in Free plan') ?></p>
                            </li>
                        <?php endif;?>
                        <li class="clear"></li>
                    </ul>
                </div>

                <div id="table_list_images_new" style="display:none">
                    <h4 class="subtitle">
                        <div class="buttons">
                            <button type="button" onclick="page.reload();" class="delete left"><i class="icon-arrow-left"></i></button>
                        </div>
                        <hr />
                        <div class="clear"></div>
                    </h4>
                    <!-- <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <label><?php //echo $this->_('Gallery Name') ?> <span data-tip="37" class="required-entry"> *</span> :</label>
                        </div>
                        <div class="col-sm-5">
                            <label><?php //echo $this->_('Search') ?> <span class="required-entry"> *</span> :</label>
                        </div>
                    </div> -->
                    <div class="row container-fluid" rel="list_new">
                        <div  class="col-sm-12" id="instagram_help"><?php echo $this->_("For synchroning your photos from your instagram account you need to create an intagram account developper and fill the client id and token fields")?>
                            <span id="open_modal_insta">
                                <i style="color:#2b2b2b !important;font-size:20px;margin-left:5px;" class="icon-question-sign"></i>
                            </span>   
                            <a href="https://www.instagram.com/developer/" target="_blank" style="text-decoration:underline;color:#9f0030;"><span>https://www.instagram.com/developer/</span></a>                 
                            <div id="modal_insta" class="mymodal">
                                <div class="modal-content">
                                    <span class="closemymodal" id="close_modal_insta" style="color:#9f0030 !important;cursor:pointer;padding-top:6px;">x</span>
                                       <iframe width="600" height="450" src="https://www.youtube.com/embed/ewEbKsrm50s" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <img id="type_instagram" rel="instagram" class="bt-margin type_selected" src="<?php echo $this->getColorizedImage($this->getImage('customization/pictos/instagram.png', true), "#2A2A2A"); ?>" width="28px" height="30px" title="Instagram" alt="Instagram" style="display:none;" />
                            <img id="type_custom" rel="user" class="margin-top-5 type_selected" src="<?php echo $this->getImage('customization/pictos/camera.png'); ?>" width="28px" title="<?php echo $this->_("My images"); ?>" alt="<?php echo $this->_("My images"); ?>" style="display:none;" />
                        </div>
                        <div class="col-sm-5" id="api_key">
                            <input type="text" name="api_key" id="api_key_input" value="" placeholder="<?php echo $this->_('Client id*') ?>" class="form-control" />
                        </div>
                        <div class="col-sm-6" id="token">
                            <input type="text" name="token" value="" id="token_input" placeholder="<?php echo $this->_('Token*') ?>" class="form-control" />
                        </div>
                        <div class="col-sm-1" id="instagram-space">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" name="name" value="" placeholder="<?php echo $this->_('Gallery Name *') ?>" class="form-control required" />
                        </div>
                        <div class="col-sm-4">
                            <button type="button" id="input_custom" class="new_search_input search_input upload_picture default_button btn-block" rel="list_new"><?php echo $this->_('Send your pictures') ?></button>
                        </div>
                        <div class="col-sm-1">
                            <input type="hidden" name="value_id" value="<?php echo $option_value->getId(); ?>" />
                            <button type="button" class="bt-margin validate default_button save_image">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <?php if ($images->count() > 0) : ?>
            <div id="existing_items_section" class="section">
                <h4 class="subtitle">
                    <span class="left area"><?php echo $this->_('Manage'); ?></span>
                    <hr />
                    <span class="area right">
                        <button type="button" class="default_button" id="toggle_existing_items">
                            <i class="icon-chevron-down"></i>
                        </button>
                    </span>
                    <div class="clear"></div>
                </h4>
                <div id="existing_items" style="display:none;" class="container-fluid">
                    <div id="table_list_images">
                        <div class=row>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <label><?php echo $this->_('Gallery Name') ?> <span data-tip="37" class="required-entry"> *</span> :</label>
                            </div>
                            <div class="col-sm-5">
                                <label><?php echo $this->_('Search') ?> <span class="required-entry"> *</span> :</label>
                            </div>
                        </div>
                        <?php foreach ($images as $image) : ?>
                            <?php echo $this->getLayout()->addPartial('row_' . $image->getId(), 'admin_view_default', 'media/application/gallery/image/edit/row.phtml')
                                ->setCurrentImage($image)
                                ->setCurrentOptionValue($option_value)
                                ->toHtml()
                            ;?>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <div class="section">
            <?php echo $this->getLayout()
                ->addPartial('background_image', 'Core_View_Default', 'application/customization/features/edit/background_image.phtml')
                ->setValueId($option_value->getId())
                ->toHtml()
            ; ?>
        </div>
        <div class="section">
            <?php echo $this->getLayout()
                ->addPartial('layout', 'Core_View_Default', 'application/customization/features/edit/layout.phtml')
                ->setOptionValue($option_value)
                ->toHtml()
            ;
            ?>
        </div>

    </div>

    <div id="edit_images" class="inner_content" style="display:none;">
        <i class="icon-caret-up"></i>

        <h4 class="title">
            <span class="inner_content"><?php echo $this->_('Send your pictures') ?></span>
            <span class="inner_content right">
                <a id="close_panel" class="right" href="javascript:void(0);">
                    <i class="icon-remove"></i>
                </a>
            </span>
        </h4>
        <div class="clear"></div>
        <!--[if gte IE 10]><!-->
        <button type="button" id="trigger_upload_image" class="default_button btn-block"><?php echo $this->_('Browse') ?></button>
        <!--<![endif]-->
        <input id="upload_image" style="display:none;" multiple type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>" />
        <p class="conditions"><?php echo $this->_('Maximum size : 2000*2000 px - Allowed filetypes : jpg and png') ?></p><br />
        <div id="list_images">
            <?php foreach ($images as $image) : ?>
                <ul style="display:none" id="list_<?php echo $image->getId(); ?>">
                    <?php if ($image->getTypeId() == 'custom') : ?>
                        <?php $gallery = new Media_Model_Gallery_Image_Custom(); ?>
                        <?php $gs = $gallery->findAll(array('gallery_id' => $image->getId())); ?>
                        <?php foreach ($gs as $p) : ?>
                            <li>
                                <div class="left">
                                    <?php 
                                    $base_image_path = Application_Model_Application::getBaseImagePath().$p->getData('url');
                                    if($p->getData('url') AND file_exists($base_image_path)) {
                                       $image_url = Application_Model_Application::getImagePath().$p->getData('url');
                                    } elseif($p->getData('url') AND fopen($p->getData('url'), 'r'))
                                    {
                                        $image_url = $p->getData('url');
                                    }?>
                                    <img class="img_list_<?php echo $image->getId(); ?>" height="60px" width="60px" src="<?php echo $image_url ?>" />
                                </div>
                                <div class="left">
                                    <input placeholder="Title" type="text" id="image_<?php echo $image->getId(); ?>_<?php echo $p->getId(); ?>_title" name="images[list_<?php echo $image->getId(); ?>][<?php echo $p->getId(); ?>][title]" class="form-control input" value="<?php echo $p->getTitle(); ?>" maxlength="30" onkeyup="$('#' + $(this).attr('id') + '_receiver').val($(this).val());" />
                                </div>
                                <div class="left">
                                    <input placeholder="Description" type="text" id="image_<?php echo $image->getId(); ?>_<?php echo $p->getId(); ?>_description" name="images[list_<?php echo $image->getId(); ?>][<?php echo $p->getId(); ?>][description]" class="form-control input" value="<?php echo $p->getDescription(); ?>" maxlength="255" onkeyup="$('#' + $(this).attr('id') + '_receiver').val($(this).val());" />
                                </div>
                                <div class="control right">
                                    <a onclick="deleteImage($(this), '<?php echo $image->getId(); ?>', '<?php echo $p->getId(); ?>');" href="javascript:void(0);"><i class="icon-remove"></i></a>
                                </div>
                                <div class="clear"></div>
                            </li>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </ul>
            <?php endforeach; ?>
            <ul style="display:none" id="list_new">
            </ul>
        </div>
    </div>
    <style type="text/css">
        .media.images #choose_type { margin-left: 30px; }
    </style>
    <script type="text/javascript">
        $('#open_modal_insta').click(function() {
            document.getElementById("modal_insta").style.display = "block";
        });
        $('#close_modal_insta').click(function() {
            document.getElementById("modal_insta").style.display = "none";
        });

        page.setCallback('willappear', function() {

            $('.image_type_select').click(function() {

                var id = $(this).attr('rel');

                $('.type_selected').hide();
                $('#type_' + id).show();
                $('#choose_type').hide();

                $('.new_search_input').removeClass('required').hide(),
                        $('#input_' + id).addClass('required').show();

                $('#table_list_images_new').show();

                if(id == "instagram"){
                    $("#token_input").addClass("required");
                    $("#api_key_input").addClass("required");
                    document.getElementById("token").style.display = "block";
                    document.getElementById("api_key").style.display = "block";
                    document.getElementById("instagram_help").style.display = "block";
                    document.getElementById("instagram-space").style.display = "block";
                } else {
                    $("#token_input").removeClass("required");
                    $("#api_key_input").removeClass("required");
                    document.getElementById("token").style.display = "none";
                    document.getElementById("api_key").style.display = "none";
                    document.getElementById("instagram_help").style.display = "none";
                    document.getElementById("instagram-space").style.display = "none";
                }

            });
        });

        $('.save_image').click(function() {
            var _that = $(this);
            var tr = $(this.parentNode.parentNode);
            var error = false;
            tr.find('input.required').each(function() {
                if($(this).val().isEmpty()) {
                    $(this).addClass('error');
                    if($(this).next('p.error').length == 0) $(this).after('<p class="error"><?php echo addslashes($this->_('Required field')) ?></p>');
                    error = true;
                }
                else {
                    $(this).removeClass('error');
                    $(this).next('p.error').remove();
                }
            });
            if(error) return false;
            reload(tr, '<?php echo $this->getUrl('media/application_gallery_image/editpost'); ?>', true, function(datas) {
                if(datas.success) {
                    if(datas.albums) {
                        for(var id in datas.albums) {
                            var album = datas.albums[id];
                            var li = $('<li />');
                            var a = $('<a />').addClass('album_found block').attr('href', album).attr('rel', album.id).html(album.title).appendTo(li);
                            $('<img />').attr('src', album.image).attr('width', 140).attr('height', 'auto').prependTo(a);
                            li.appendTo($('#albums_found_list'));
                        }
                        $('#albums_found').prettyPhoto({
                            default_width: 500,
                            default_height: 400,
                            show_title: false,
                            deeplinking: false,
                            social_tools: '',
                            gallery_markup: '',
                            keyboard_shortcuts: false,
                            changepicturecallback: function() {
                                $('#albums_found_list .album_found').click(function() {
                                    var input = _that.next('input.album_id');
                                    if(!input.length) {
                                        input = $('<input />').attr('type', 'hidden').attr('name', 'album_id');
                                        _that.after(input);
                                    }

                                    input.val($(this).attr('rel'));

                                    _that.click();
                                    $.prettyPhoto.close();
                                    return false;
                                });
                            },
                            callback: function() {
                                $('#albums_found_list .album_found').unbind('click');
                                $('#albums_found_list').empty();
                            },
                            theme: 'pp_none'
                        });
                        $.prettyPhoto.open('#albums_found');

                    }
                    else {
                        page.reload();
                    }
                }
            });
        });

        $('.delete_image').click(function() {
            if(confirm('<?php echo addslashes($this->_('Delete this gallery?')); ?>')) {
                var td = $(this.parentNode);
                var tr = $(this.parentNode.parentNode);
                reload(tr, '<?php echo $this->getUrl('media/application_gallery_image/delete'); ?>', true, function(datas) {
                    if(datas.success) {
                        iframe.f.reload();
                        tr.css('background-color', '#C41313').css('color', 'white')
                            .animate({opacity: 0.3, height: 0}, 500, function() {
                                tr.remove();
                                if($('.row_image').length == 0) {
                                    $('#existing_items_section').hide();
                                    $('#table_list_images').hide();
                                    $('#no_item').show();
                                }
                        });
                    }
                });
            }
        });

        page.setCallback('didappear', function() {
            $('#toggle_existing_items').click(function() {
                $('#existing_items').stop().slideToggle(300, function() {
                    if ($(this).is(':visible'))
                        $('#toggle_existing_items').children('i').removeClass('icon-chevron-down').addClass('icon-chevron-up');
                    else
                        $('#toggle_existing_items').children('i').removeClass('icon-chevron-up').addClass('icon-chevron-down')
                });
            });
            upload();

            $('#toggle_add_items').click(function() {
                $('#list_type').stop().slideToggle(300, function() {
                    if($(this).is(':visible')) $('#toggle_add_items').children('i').removeClass('icon-chevron-down').addClass('icon-chevron-up');
                    else $('#toggle_add_items').children('i').removeClass('icon-chevron-up').addClass('icon-chevron-down')
                });
            });
        });

        page.setCallback('willdisappear', function() {
            $('#toggle_existing_items').unbind('click');
            $('.image_type_select').unbind('click');
        })

        function deleteImage(element, list_id, image_id) {

            var img_id = "list_" + list_id;
            if(list_id == 'custom') {
                img_id = "list_new";
                $("input[type='hidden'][name*='images[" + img_id + "][" + image_id + "]']").remove();
            } else {
                $('#input_' + list_id).after("<input type='hidden' name='images[list_" + list_id + "][" + image_id + "][delete]' value='1' />");
            }

            element.parent().parent().remove();

            var html = $('.img_' + img_id).length;
            if (html == 0)
                html = '<?php echo addslashes($this->_("Send your pictures")); ?>';
            else if (html <= 1)
                html += ' <?php echo addslashes($this->_("Image")); ?>';
            else
                html += ' <?php echo addslashes($this->_("Images")); ?>';

            $('#input_' + list_id).html(html);

        }

        function slideDown(el) {
            $('#edit_images ul').hide();
            $('#edit_images ul#' + $(el).attr('rel')).show();
            $('#edit_images').css('top', $(el).parent().position().top + 57 + 'px');
            $('#edit_images').slideDown('fast');
        }

        function slideUp() {
            $('#edit_images').slideUp('fast');
        }

        function upload() {

            $('#close_panel').click(function() {
                $('#edit_images').slideUp('fast');
            });

            $('.upload_picture').click(function() {
                if ($('#edit_images').is(':visible')) {
                    slideUp();
                } else {
                    slideDown(this);
                    if (!$('button#trigger_upload_image').is(':visible')) {
                        $('input#upload_image').show();
                    }
                }
            });

            $('#trigger_upload_image').click(function() {
                $('#upload_image').click();
            });

            var uploader = new Uploader();
            $('#upload_image').fileupload({
                dataType: 'json',
                add: function(e, data) {
                    $('#edit_images p.error').remove();
                    var option_v = '<?php echo $option_value->getId(); ?>';
                    data.formData = {value_id: option_v},
                    data.submit();
                    uploader.showProgressbar();
                },
                progressall: function(e, data) {
                    uploader.moveProgressbar(data);
                },
                done: function(e, data) {
                    if (data.result.error) {
                        uploader.showError(data.result.message);
                    } else {
                        uploader.hide();
                        var id = $('#edit_images #list_images ul:visible').attr('id');
                        var short_id = id.split('_');
                        short_id = short_id[1];
                        if (isNaN(short_id))
                            short_id = 'custom';
                        var tmp_image_id = data.result.files.replace('.', '_');

                        $('#input_' + short_id).after('\n\
                            <input type="hidden" class="input_images" name="images[' + id + '][' + tmp_image_id + '][path]" value="' + data.result.files + '"/>\n\
                            <input type="hidden" id="image_' + id + '_' + tmp_image_id + '_title_receiver" name="images[' + id + '][' + tmp_image_id + '][title]" value="" />\n\
                            <input type="hidden" id="image_' + id + '_' + tmp_image_id + '_description_receiver" name="images[' + id + '][' + tmp_image_id + '][description]" value="" />\n\
                        ');

                        $('#edit_images ul#' + id).append('<li>\n\
                            <div class="left">\n\
                                <img class="img_' + id + '" height="60px" width="60px" src="<?php echo Core_Model_Directory::getTmpDirectory() ?>/' + data.result.files + '" />\n\
                            </div>\n\
                            <div class="left">\n\
                                \n\
                                <input placeholder="Title" type="text" id="image_' + id + '_' + tmp_image_id + '_title" value="" maxlength="30" class="form-control input" onkeyup="$(\'#\'+$(this).attr(\'id\')+\'_receiver\').val($(this).val());" />\n\
                            </div>\n\
                            <div class="left">\n\
                                \n\
                                <input placeholder="Description" type="text" id="image_' + id + '_' + tmp_image_id + '_description" value="" maxlength="255" class="form-control input" onkeyup="$(\'#\'+$(this).attr(\'id\')+\'_receiver\').val($(this).val());" />\n\
                            </div>\n\
                            <div class="control right">\n\
                                <a onclick="deleteImage($(this), \'' + short_id + '\',\'' + tmp_image_id + '\');" href="javascript:void(0);"><i class="icon-remove"></i></a>\n\
                            </div>\n\
                            <div class="clear"></div>\n\
                        </li>');

                        var html = $('.img_' + id).length;
                        if (html == 0)
                            html = + '<?php echo addslashes($this->_("Send your pictures")); ?>';
                        else if (html <= 1)
                            html += ' <?php echo addslashes($this->_("Image")); ?>';
                        else
                            html += ' <?php echo addslashes($this->_("Images")); ?>';

                        $('#input_' + short_id).html(html);

                    }
                }
            });
        }

        page.setCallback('willdisappear', function() {
            $('.upload_picture').unbind('click');
            $('#close_panel').unbind('click');
            $('.save_image').unbind('click');
            $('.delete_image').unbind('click');
        });
    </script>
    <style>

        .media.images #choose_type ul {
            height: 98px;
            min-height: 98px;
        }
        #albums_found_list li {
            float: left;
            width: 150px;
            height: 150px;
            font-size: 13px;
            text-align: center;
            line-height: 14px;
            overflow: hidden;
        }
        #albums_found_list li img {
            margin-bottom: 7px;
        }
    </style>
</div>