<?php $blocks = $this->getApplication()->getBlocks(); ?>
<?php $tabbar_block = $this->getApplication()->getBlock('tabbar'); ?>

<div class="colors">

    <form id="colorsForm" action="<?php echo $this->getUrl('application/customization_design_colors/save'); ?>" method="post">
        <div id="colors">
            <div id="app_colors" class="area">
                <h3 class="title">
                    <span class="left area"><?php echo $this->_('Choose your colors'); ?></span>
                    <span id="open_modal1"><i class="icon-question-sign"></i></span>
                    <div id="mymodal1" class="mymodal">
                            <div class="modal-content">
                                <span class="closemymodal" id="close1" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" style="color:inherit !important"></i></span>
                                    <iframe width="600" height="450" src="https://www.youtube.com/embed/HUaS1v-PcHE" frameborder="0" allowfullscreen></iframe>
                            </div>
                    </div>
                    <div class="clear"></div>
                </h3>
                <div>
                    <table class="no-collapse" cellspacing="10" width="100%">
                        <col width="40%" />
                        <col width="10%" />
                        <col width="40%" />
                        <col width="10%" />
                        <?php foreach($blocks as $block) : ?>

                            <?php if($block->getCode() == 'tabbar') continue; ?>
                            <?php if ($block->getCode() != "news" && $block->getCode() != "connect_button" && $block->getCode() != "discount" && $block->getCode() != "subheader" && $block->getCode() != "button"):?>

                            <tr id="row_<?php echo $block->getId(); ?>">
                                <td>
                                    <?php if ($block->getEnglishName() == "Header") :?>
                                    <?php echo $this->_("Header Background, Text Button"); ?>
                                    <?php elseif ($block->getEnglishName() == "Background") :?>
                                    <?php echo $this->_("Background"); ?>
                                    <?php elseif ($block->getEnglishName() == "Comments") :?>
                                    <?php echo $this->_("Comments color background"); ?>
                                    <?php endif; ?>
                                    <input type="hidden" name="<?php echo $block->getCode(); ?>_id" value="<?php echo $block->getId(); ?>" />
                                </td>
                                <td>
                                    <div class="square_color"><button type="button" id="<?php echo $block->getCode(); ?>_background_color" class="<?php echo $block->getCode(); ?>_background_color" style="background-color: <?php echo $block->getBackgroundColor(); ?>"></button></div>
                                    <input type="hidden" id="<?php echo $block->getCode(); ?>_background_color_receiver" name="<?php echo $block->getCode(); ?>_background_color" value="<?php echo $block->getBackgroundColor() ?>" />
                                </td>
                                <td>
                                    <?php if ($block->getEnglishName() == "Header") :?>
                                    <?php echo $this->_("Header Text, Button Background"); ?>
                                    <?php elseif ($block->getEnglishName() == "Background") :?>
                                    <?php echo $this->_("Text color"); ?>
                                    <?php elseif ($block->getEnglishName() == "Comments") :?>
                                    <?php echo $this->_("Comments color text"); ?>
                                    <?php endif; ?>
                                </td>
                                <td>
                                    <div class="square_color">
                                        <button type="button" id="<?php echo $block->getCode(); ?>_color" class="<?php echo $block->getCode(); ?>_color" style="background-color: <?php echo $block->getColor(); ?>"></button>
                                    </div>
                                    <input type="hidden" id="<?php echo $block->getCode(); ?>_color_receiver" name="<?php echo $block->getCode(); ?>_color" value="<?php echo $block->getColor() ?>" />
                                </td>
                              </tr>
                        <?php endif;?>
                        <?php endforeach; ?>
                        <?php if ($this->getApplication()->getLayoutVisibility() != "toggle"):?>
                        <tr>
                          <td> 
                            <label for="tabbar_transparent" class="checkbox"> <?php echo $this->_("Tabbar Transparent");?>
                              <input type="checkbox" id="tabbar_transparent" name="tabbar_transparent" value="transparent"<?php if($tabbar_block->getBackgroundColor() == "transparent") : ?> checked="checked"<?php endif; ?>/>
                            </label>
                          </td>  
                        </tr>
                      <?php endif; ?>
                      </table>
                    </div>
                    <input type="submit" value="<?php echo $this->_('SAVE');?>" class="submit"/>
                  </div>
                  
                </div>
                <?php if ($this->getApplication()->getLayoutVisibility() != "toggle"):?>
                <div class="area">
                  <h3 class="title">
                    <div><span data-tip="6" class="left area"><?php echo $this->_('Show my homepage'); ?></span></div>
                    <div class="clear"></div>
                  </h3>
                  <div id="tabbar_colors"><?php echo $this->_("Show");?></div>
                <div>
                <?php echo $this->_("(Color changes will be visible after submit, not available on preview)");?>
              </div>  
            </div>
            <?php endif;?>
            <div id="font_conteneur" class="area">
              <h3 class="title">
                <div><span data-tip="6" class="left area"><?php echo $this->_('Choose your font style'); ?></span></div>
                <div class="clear"></div>
              </h3>
              <?php echo $this->createPartialHtml('font_create', 'admin_view_default', 'application/customization/design/style/fonts.phtml'); ?>
              <div>
                <?php echo $this->_("(Police change will be visible after submit, not available on preview)");?>
              </div> 

              <input type="submit" value="<?php echo $this->_('SAVE');?>" class="submit" /> 
            </div>
        </form>
    <div class="clear"></div>


    <script type="text/javascript">
        $('#open_modal1').click(function() {
            document.getElementById("mymodal1").style.display = "block";
        });
        $("#mymodal1").click(function() {
            document.getElementById("mymodal1").style.display = "none";
        });
        var loadhome = 0;
        var carousel = null;
        var modal_preview;  
        $(document).ready(function() {
            $('#font_family').change(function() {
                var font_loader = $('#'+this.id+'_loader');
                font_loader.show();
                iframe.setFont($(this).val());
                reload(this.parentNode, '<?php echo $this->getUrl('application/customization_design_style/savefont'); ?>', false, function() {
                    font_loader.fadeOut();
                }, function() {
                    font_loader.fadeOut();
                });
            }).keyup(function() {
                iframe.setFont($(this).val());
            });

            $('#app_colors').hover(function() {
                $('#mobile_overview').show();
                $('#homepage_overview').hide();
                iframe.content = $('#mobile_overview').contents();
                //scroller.active();
            }, function() {return false;});

            $('#tabbar_colors').hover(function() {
                $('#mobile_overview').hide();
                $('#homepage_overview').show();
                iframe.content = $('#homepage_overview').contents();
            }, function() {return false;});
              $('#mask_colors').hide();
        });
        <?php foreach($blocks as $block) : ?>

            <?php $target = $block->getCode(); ?>
            $('#<?php echo $target ?>_color').ColorPicker({
                color: '<?php echo $block->getColor() ?>',
                onShow: function (colpkr) {
                    $('#mask_colors').show();
                    $(colpkr).slideDown(500);
                    if(iframe.content.find('#customize_colors').is(':visible'));
                    overview_colors.showMask('<?php echo $block->getCode(); ?>');
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).slideUp(500);

                    if(iframe.content.find('#customize_colors').is(':visible'));
                    overview_colors.hideMask('<?php echo $block->getCode(); ?>');
                    $('#mask_colors').hide()
                    return false;
                },
                onSubmit: function(hsb, hex, rgb, el) {
                    $('.colorpicker').slideUp(500);
                    overview_colors.hideMask('<?php echo $block->getCode(); ?>');
                    if(iframe.content.find('#customize_colors').is(':visible'));
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    hex = '#'+hex;
                    $('#<?php echo $target ?>_color_receiver').val(hex);
                    overview_colors.setColor('<?php echo $block->getCode(); ?>', hex);
                    if ( "<?php echo $target ?>" == "background" )
                     {
                        overview_colors.setColor('<?php echo "news"; ?>', hex);
                        overview_colors.setColor('<?php echo "discount"; ?>', hex);
                     }   
                     if ( "<?php echo $target ?>" == "header" )
                     {
                        overview_colors.setBackgroundColor('<?php echo "connect_button"; ?>', hex);
                        overview_colors.setBackgroundColor('<?php echo "button"; ?>', hex);
                     }  
                },
                setDefaultColors: function(hex) {
                    hex = '#'+hex;
                    $('.<?php echo $block->getCode() ?>_color').css('background-color', hex);

                }
            });

            $('#<?php echo $target ?>_background_color').ColorPicker({
                color: '<?php echo $block->getBackgroundColor() ?>',
                onShow: function (colpkr) {
                    $('#mask_colors').show();
                    if(iframe.content.find('#customize_colors').is(':visible'));
                    overview_colors.showMask('<?php echo $block->getCode(); ?>');
                    $(colpkr).slideDown(500);
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).slideUp(500);
                    overview_colors.hideMask('<?php echo $block->getCode(); ?>');
                    if(iframe.content.find('#customize_colors').is(':visible'));
                    $('#mask_colors').hide();
                    return false;
                },
                onSubmit: function(hsb, hex, rgb, el) {
                    $('.colorpicker').slideUp(500);
                    overview_colors.hideMask('<?php echo $block->getCode(); ?>');
                    if(iframe.content.find('#customize_colors').is(':visible'));
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    hex = '#'+hex;
                    $('#<?php echo $target ?>_background_color_receiver').val(hex);
                    overview_colors.setBackgroundColor('<?php echo $block->getCode(); ?>', hex);
                    if ( "<?php echo $target ?>" == "background" )
                     {
                        overview_colors.setBackgroundColor('<?php echo "news"; ?>', hex);
                        overview_colors.setBackgroundColor('<?php echo "discount"; ?>', hex);
                     }    
                      if ( "<?php echo $target ?>" == "header" )
                     {
                        overview_colors.setColor('<?php echo "connect_button"; ?>', hex);
                        overview_colors.setColor('<?php echo "button"; ?>', hex);
                     }  
                },
                setDefaultColors: function(hex) {
                    hex = '#'+hex;
                    $('.<?php echo $block->getCode() ?>_background_color').css('background-color', hex);
                    $('.<?php echo $tabbar_block->getCode() ?>_icon_color').css('background-color', "hex");
                }
            });

        <?php endforeach; ?>

        <?php $color = $block->getImageColor(); ?>
        <?php if(!empty($color)) : ?>
        <?php $rgb = $block->toRgb($color); ?>
        var rgb = new Array();
        rgb['r'] = <?php echo $rgb['red'] ?>;
        rgb['g'] = <?php echo $rgb['green'] ?>;
        rgb['b'] = <?php echo $rgb['blue'] ?>;
        <?php endif; ?>

        var overview_colors = {
            element: $('#overview'),
            setColor: function(to, color) {
                var html = '';
                if(/(background)|(news)|(comments)/.test(to)) {
                    html = '.'+to+', a .'+to+', a.'+to+' {color: '+color+'}';
                    html += '.'+to+'.reverse, .'+to+' .reverse, .'+to+'.reverse * {background-color: '+color+';}';

                }
                else {
                    html += '.'+to+', a .'+to+', a.'+to+' {color: '+color+' !important;}';
                    html += '.'+to+'.reverse, .'+to+' .reverse {background-color: '+color+' !important;}';
                }

                html = '<style id="color_'+to+'">'+html+'</style>';

                iframe.content.find('style#color_'+to).replaceWith(html);

            },
            setBackgroundColor: function(to, color) {
                console.log(to);
                var html = '';
                if(/(background)|(news)|(comments)|(tabbar)/.test(to)) {
                    html =  '.'+to+' {background-color: '+color+'}';
                    html += '.'+to+' .no-background, .'+to+'.no-background {background-color: transparent;}';
                    html += '.'+to+'.reverse, a .'+to+'.reverse, a.'+to+'.reverse {color: '+color+';}';
                }
                else {
                    html =  '.'+to+' {background-color: '+color+' !important;}';
                    html += '.'+to+' .no-background, .'+to+'.no-background {background-color: '+color+' !important;}';
                    html += '.'+to+'.reverse, a .'+to+'.reverse, a.'+to+'.reverse {color: '+color+' !important;}';
                }

                html = '<style id="backgroundColor_'+to+'">'+html+'</style>';

                iframe.content.find('style#backgroundColor_'+to).replaceWith(html);
//                iframe.content.find('.'+to).css('background-color', color);
            },
            setImageColor: function(to, rgb, type, field_code) {
                to = iframe.content.find(to);
                if(type == 'img') {
                    to.parent().find('canvas').remove();
                    var newcanvas = to.colorize(rgb, true);
                    if(newcanvas) {
                        $(newcanvas).insertBefore(to);
                        to.hide();
                    }
                }
                else {
                    rgb = rgb.replace('#', '');
                    var url = '<?php echo $this->getUrl('template/block/colorize', array('id' => 'icon_id', 'color' => 'color_code')) ?>'.replace('icon_id', to.attr('rel')).replace('color_code', rgb);
                    if(field_code == 'path') {
                        url = url.replace('/id/', '/path/');
                    }
                    to.css('background-image', 'url('+url+')');
                }
            },
            setTabbarColor: function(rgb, hex) {
                iframe.content.find('.tabbar').find('canvas').remove();
                iframe.content.find('.tabbar').find('img').each(function() {
                    if($(this).hasClass('colorable')) {
                        var newcanvas = $(this).colorize(rgb, true);
                        if(newcanvas) {
                            $(newcanvas).insertBefore($(this));
                            $(this).hide();
                        }
                    }
                });

                if(iframe.content.find('#imageColor_tabbar').length) {
                    var html = '';
                    html += '.border-color {border-color: '+hex+' !important}';
                    html = '<style id="imageColor_tabbar">'+html+'</style>';
                    iframe.content.find('style#imageColor_tabbar').replaceWith(html);
                }

            },
            pulsate: function(code) {
                iframe.content.find('.'+code).effect('pulsate', {times: 2});
            },
            showMask: function(code) {
                if(code == 'tabbar') return this;
                //iframe.f.showMask(code);
            },
            hideMask: function(code) {
                if(code == 'tabbar') return this;
                iframe.f.hideMask(code);
            }
        };
    </script>
    <style>
        #mask_colors {background-color: transparent;z-index:999}
    </style>

    <div id="mask_colors" class="mask"></div>

</div>