<?php $application = $this->getApplication(); ?>
<?php $log = new Core_Model_Log(); ?>
<?php $loyaltycard_log = new LoyaltyCard_Model_Customer_Log(); ?>
<?php $consumed_points = $loyaltycard_log->getConsumedPoints($application->getId()) ?>
<?php $average_per_customer = $loyaltycard_log->getAveragePerCustomer($application->getId()) ?>
<?php $loyal_customers = $loyaltycard_log->getLoyalCustomers($application->getId()); ?>
<?php $best_customers = $loyaltycard_log->getBestCustomers($application->getId()) ?>
<?php $nb_customers = count($this->getApplication()->getCustomers());?>
<div class="application_analytics application">
    <div class="application_header app_name">
        <?php echo $this->getPartialHtml('customization_header'); ?>
    </div>
    <div class="application_content inner_content">
        <div class="title">
            <i class="icon-bell left"></i>
            <h2 class="left inner_content f-rounded"><?php echo $this->_('Alerts'); ?></h2>
            <div class="clear"></div>
        </div>
        <div class="area">
            <h3 class="title">
                <span class="left area"><?php echo $this->_('Reported Posts'); ?></span>
                <div class="clear"></div>
            </h3>
            <div class="stat">
            <?php $comment = new Comment_Model_Comment();?>
            <?php $reported_comments  =  $comment->getReportedComments($this->getApplication());?>
            <table style="width:100%">
                <tr width="100%">
                    <th width="20%"><?php echo $this->_("Pseudo");?></th>
                    <th width="20%"><?php echo $this->_("Email");?></th> 
                    <th width="35%"><?php echo $this->_("Post");?></th>
                    <th width="13%"><?php echo $this->_("Wall Title");?></th>
                    <th width="12%"><?php echo $this->_("Action");?></th>
                </tr>
                <?php foreach($reported_comments as $comment):?>
                <tr style="height:10px"></tr>
                <tr width="100%" style="border-bottom:1px; border-bottom-style:solid;border-bottom-color:#BDBDBD">
                    <td width="20%" valign="top">
                        <?php $pseudo = $comment->getCustomer()->getPseudo() ? $comment->getCustomer()->getPseudo() : $this->getApplication()->getName();?>
                        <?php echo $pseudo;?> 
                    </td>
                    <td width="20%" valign="top">
                        <a href="mailto:<?php echo $comment->getCustomer()->getEmail();?>"><?php $comment->getCustomer()->getEmail()?></a>
                    </td> 
                    <td width="35%"> 
                        <?php echo $comment->getText()?>
                        <?php if ($comment->getImage()):?>
                            <img src="<?php echo $comment->getImage()?>" width="50%"/>
                        <?php endif;?>
                    </td>  
                    <td width="13%" valign="top">
                        <?php echo $comment->getWallTitle()?>
                    </td> 
                    <td width="12%" valign="top">
                        <a href="javascript:void(0)" class="icon more delete_reported_comment" rel="<?php echo $comment->getId() ?>">
                           <img src="http://image005.flaticon.com/1/svg/121/121715.svg" width="20%"/>
                        </a>
                        <a href="javascript:void(0)" class="icon more delete_comment" rel="<?php echo $comment->getId() ?>">
                           <i class="icon-trash"></i>
                        </a>
                    </td> 
                </tr>
                <tr style="height:10px"></tr>
                <?php endforeach;?>
            </table>
        </div>
    </div>
    <div class="area">
        <h3 class="title">
            <span class="left area"><?php echo $this->_('Reported Comments'); ?></span>
            <div class="clear"></div>
        </h3>
        <div class="stat">
            <?php $reported_answers = $comment->getReportedAnswers($this->getApplication());?>
            <table style="width:100%">
                <tr width="100%">
                    <th width="20%"><?php echo $this->_("Pseudo");?></th>
                    <th width="20%"><?php echo $this->_("Email");?></th> 
                    <th width="35%"><?php echo $this->_("Comment");?></th>
                    <th width="13%"><?php echo $this->_("Wall Title");?></th>
                    <th width="12%"><?php echo $this->_("Action");?></th>
                </tr>
                <?php foreach($reported_answers as $answer):?>
                <tr style="height:10px"></tr>
                <tr width="100%" style="border-bottom:1px;border-bottom-style:solid;border-bottom-color:#BDBDBD">
                    <td width="20%" valign="top">
                        <?php echo $answer->getCustomer()->getPseudo();?> 
                    </td>
                    <td width="20%" valign="top">
                        <a href="mailto:<?php echo $answer->getCustomer()->getEmail();?>"><?php echo $answer->getCustomer()->getEmail()?></a>
                    </td> 
                    <td width="35%"> 
                        <?php echo $answer->getText()?>
                    </td>  
                    <td width="13%" valign="top">
                        <?php echo $answer->getWallTitle()?>
                    </td> 
                    <td width="12%" valign="top">
                        <a href="javascript:void(0)" class="icon more delete_reported_answer" rel="<?php echo $answer->getAnswerId() ?>">
                           <img src="http://image005.flaticon.com/1/svg/121/121715.svg" width="20%"/>
                        </a>
                        <a href="javascript:void(0)" class="icon more delete_answer" rel="<?php echo $answer->getAnswerId() ?>">
                           <i class="icon-trash"></i>
                        </a>
                    </td> 
                </tr>
                <tr style="height:10px"></tr> 
                <?php endforeach;?>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.delete_comment').click(function() {
        var id = $(this).attr('rel');
        reload($(this), '<?php echo $this->getUrl('comment/application/delete'); ?>/id/'+id, true, function(datas) {
            if(datas.success) {
                location.reload();
            }
        });
    });

    $('.delete_reported_comment').click(function() {
        var id = $(this).attr('rel');
        reload($(this), '<?php echo $this->getUrl('comment/application/deletereported'); ?>/id/'+id+'/page/alert', true, function(datas) {
            if(datas.success) {
                location.reload();
            }
        });
    });

    $('.delete_answer').click(function() {
        var id = $(this).attr('rel');
        reload($(this), '<?php echo $this->getUrl('comment/application_answers/delete'); ?>/answer_id/'+id+'/page/alert', true, function(datas) {
            if(datas.success) {
                location.reload();
            }
        });
    });
    $('.delete_reported_answer').click(function() {
        var id = $(this).attr('rel');
        reload($(this), '<?php echo $this->getUrl('comment/application_answers/deletereported'); ?>/answer_id/'+id+'/page/alert', true, function(datas) {
            if(datas.success) {
                location.reload();
            }
        });
    });
</script>
