<div ng-if="details.locked === 1 && !is_logged_in">
<?php echo $this->getPartialHtml("padlock"); ?>
</div>	
<div ng-if="(details.locked === 1 && is_logged_in) || details.locked === 2">
<div>
    <div ng-if="collection.length==0" class="no-results">{{details.noimage}}</div>
    <ul class="image_gallery">
        <li ng-repeat="image in collection" class="image background_image" image-src="image.url" sb-image ng-click="showGallery($index)"></li>
    </ul>
</div>
</div>

