<div ng-if="locked === 1 && !is_logged_in">
	<?php echo $this->getPartialHtml("padlock"); ?>
</div>	
<div ng-if="(locked === 1 && is_logged_in) || locked === 2">
	<div sin-carousel slides="videoscollection"></div>
	<button class="button" ng-click="loadMoreVideo()" ng-if="maxresults < 16 && ((videoscollection.length/5) % 1 === 0)" ><?php echo $this->_('Load more');?></button>
</div>
