<div class="application_extras application">
    <div class="application_content inner_content">
        <div id="tc_area" class="area">
            <h3 class="title">
                <span class="area"><?php echo $this->_('Terms & Conditions'); ?></span>
                <hr />
                <div class="clear"></div>
            </h3>
    		<?php echo System_Model_Config::getValueFor("sales_tc") ?>
    	</div>
    </div>
</div>
