<?php $application = $this->getApplication(); ?>
<?php $upload_path = Application_Model_Application::getImagePath().'/startup_image/'; ?>
<!--[if gte IE 10]><!-->
<div class="startup_images">
    <div>
        <b><?php echo $this->_("Use the automatic generator for creating your splashscreen images");?></b>
        <br/>
        <br/>
        <?php echo $this->_("This image will be display when somebody launch your application, if you decide to change it after submission, another submission will be necessary for the change to be effective.");?>
    </div>
            <br/>
    <div class="col-md-4 col-sm-4 col-xs-4 first-image">

        <div class="image_preview">
            <img id="startupimage_standard" width="100%" src="<?php echo $application->getStartupImageUrl() ?>" class="phone-preview"/>
        </div>
        <p class="recommended_size"><b><?php echo $this->_('Size:'); ?></b></p><p>640x960</p>
        <!--<button type="button" class="normal upload_startupimage upload default_button" data-type="standard">
            <i class="icon-camera-retro" style=""></i>
            <span class="bold"><?php echo $this->_('Add picture'); ?></span>
        </button>-->
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="image_preview">
            <img id="startupimage_retina" width="100%" src="<?php echo $application->getStartupImageUrl("retina") ?>" class="phone-preview"/>
        </div>
        <p class="recommended_size"><b><?php echo $this->_('iPhone 5 / 5S:'); ?></b></p><p>640x1136</p>
        <!--<button type="button" class="retina upload_startupimage upload default_button" data-type="retina">
            <i class="icon-camera-retro" style=""></i>
            <span class="bold"><?php echo $this->_('Add picture'); ?></span>
        </button>-->

    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="image_preview">
            <img id="startupimage_iphone_6" width="100%" src="<?php echo $application->getStartupImageUrl("iphone_6") ?>" class="phone-preview"/>
        </div>
        <p class="recommended_size"><b><?php echo $this->_('iPhone 6:'); ?></b></p><p>750x1334</p>
        <!--<button type="button" class="retina upload_startupimage upload default_button" data-type="iphone_6">
            <i class="icon-camera-retro" style=""></i>
            <span class="bold"><?php echo $this->_('Add picture'); ?></span>
        </button>-->
    </div>

    <div class="clear"></div>
    <br />

    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="image_preview">
            <img id="startupimage_iphone_6_plus" width="100%" src="<?php echo $application->getStartupImageUrl("iphone_6_plus") ?>" class="phone-preview"/>
        </div>
        <p class="recommended_size"><b><?php echo $this->_('iPhone 6 Plus:'); ?></b></p><p>1242x2208</p>
        <!--<button type="button" class="retina upload_startupimage upload default_button" data-type="iphone_6_plus">
            <i class="icon-camera-retro" style=""></i>
            <span class="bold"><?php echo $this->_('Add picture'); ?></span>
        </button>-->
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4 retina">
        <div class="image_preview">
            <img id="startupimage_ipad_retina" width="100%" src="<?php echo $application->getStartupImageUrl("ipad_retina") ?>" class="phone-preview"/>
        </div>
        <p class="recommended_size"><b><?php echo $this->_('iPad Retina:'); ?></b></p><p>1536x2048</p>
        <!--<button type="button" class="retina upload_startupimage upload default_button" data-type="ipad_retina">
            <i class="icon-camera-retro"></i>
            <span class="bold"><?php echo $this->_('Add picture'); ?></span>
        </button>-->
    </div>
</div>
<!--<![endif]-->

<div id="fileupload_old_broswer" style="display:none">
    <p class="left">
    <span class="bold"><?php echo $this->_('Add picture'); ?></span><br />
        <span class="recommended_size">(640*1096)</span>
    </p>
    <p class="right">
        <span class="bold"><?php echo $this->_('Add picture'); ?></span><br />
        <span class="recommended_size">(640*920)</span>
    </p>
    <div class="clear"></div>
</div>
<input class="fileupload standard" type="file" style="display:none" name="files[]" data-url="<?php echo $this->getUrl('template/crop/uploadsplashscreen'); ?>" data-width="640" data-height="960" data-type="standard" />
<input class="fileupload retina" type="file" style="display:none" name="files[]" data-url="<?php echo $this->getUrl('template/crop/uploadsplashscreen'); ?>" data-width="640" data-height="1136" data-type="retina" />
<input class="fileupload iphone_6" type="file" style="display:none" name="files[]" data-url="<?php echo $this->getUrl('template/crop/uploadsplashscreen'); ?>" data-width="750" data-height="1334" data-type="iphone_6" />
<input class="fileupload iphone_6_plus" type="file" style="display:none" name="files[]" data-url="<?php echo $this->getUrl('template/crop/uploadsplashscreen'); ?>" data-width="1242" data-height="2208" data-type="iphone_6_plus" />
<input class="fileupload ipad_retina" type="file" style="display:none" name="files[]" data-url="<?php echo $this->getUrl('template/crop/uploadsplashscreen'); ?>" data-width="1536" data-height="2048" data-type="ipad_retina" />
<div class="clear"></div>
<div id="capture_conteneurs">
    <div class="left" id="crop_startupimage_cont_retina"></div>
    <div class="right" id="crop_startupimage_cont"></div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    var startup_uploader = new Uploader();
    $(document).ready(function() {

        if(!$('button.upload').is(':visible')) {
            $('input.fileupload').show();
            $('#fileupload_old_broswer').show()
        }

        $('#startup_conteneur').find('.upload_startupimage').click(function(){
            $('input.'+$(this).attr("data-type")).trigger('click');
            return false;
        });

        $('#startup_conteneur').find('.fileupload').fileupload({
            dataType: 'json',
            add: function (e, data) {
                type = $(this).attr("data-type");
                data.formData = {
                    fileType: type,
                    uniq_prefix: type+'_',
                    minwidth: '100',
                    minheight: '200',
                    maxwidth: '3000',
                    maxheight: '3000'
                },
                data.submit();
                startup_uploader.showProgressbar();
            },
            progressall: function (e, data) {
                startup_uploader.moveProgressbar(data);
            },
            done: function (e, data) {
                if(data.result.error) {
                    loader.hide();
                    startup_uploader.showError(data.result.message);
                } else {

                    startup_uploader.hide();
                    var params = new Array();
                    params["url"] = '<?php echo $this->getUrl('template/crop/crop'); ?>';
                    params["file"] = data.result.files;

                    var width = $(this).attr("data-width");
                    var height = $(this).attr("data-height");
                    var type = $(this).attr("data-type");

                    params["output_w"] = width;
                    params["output_h"] = height;
                    params["output_url"] = '<?php echo str_replace('/', '$', $this->getUrl('application/customization_publication_app/savestartup')) ?>$filetype$'+type;

                    params["uploader"] = 'startup_uploader';
                    startup_uploader.crop(params);
                    startup_uploader.callback = function(file) {
                        $('#startupimage_'+type).attr('src', file);
                    }
                }
            }
        });

    });

</script>

<style>
    #browse_panel h3.title {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    .upload {
        margin-top:20px;
    }
    div.crop_controls_retina, div.crop_controls {
        margin-top: 20px;
        width: 200px;
    }
    .bar {
        height: 18px;
        background: green;
    }
    .startup_images .recommended_size {
        margin-bottom: 0px;
        margin-top: 20px;
        font-size: 12px;
    }
    .startup_images button.upload {
        margin: 15px 0;
    }
    .phone-preview{
        border:solid 1px <?php echo $this->getBlock('general')->getColor()?> !important;
    }
</style>