<?php $application = $this->getApplication(); ?>
<?php $icon_relative_path = Application_Model_Application::getImagePath().'/watermark/'; ?>
<div>
    <?php echo $this->_("1 - Pick your color (this will be the background of your startup image and home images)");?>
    <br/>
    <?php echo $this->_("2 - Choose your logo (format:png / minimum width:100px - max width:600px / min height:100px - max height:900px )");?>
    <br/>
    <?php echo $this->_("3 - Your splashscreen and background images are created automatically - check generate splashscreen only if you wnat upload your own homepage image");?>
</div>
     <div class="form-group">
        <div class="col-sm-4">
            <?php echo $this->_('Pick your color')?>
<!--             <input name="watermark_color" type="hidden" id="color_value" value="fffff">
            <button class="jscolor {valueElement: 'color_value'}" style="width: 30px;height: 30px;border-radius: 3px;border:solid 2px black;"></button> -->

            <input class="jscolor" name="watermark_color" id="color_value" value="ffffff" style="padding:3px;border:solid 2px black;">
        </div>
        <div class="col-sm-6">
            <!--[if gte IE 10]><!-->
            <!--<![endif]-->
            <input style="display:none" class="uploader_watermark" type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>">
        </div>
        <div class="col-sm-6">
            <div style="height:15x"></div>
            <label for="splashcreen_only" class="checkbox"> <?php echo $this->_("Generate splashscreens only");?>
                <input type="checkbox" id="splashcreen_only" name="splashcreen_only"/>
            </label>
        </div>
        <div class="col-sm-12">
            <button class="upload_watermark upload default_button" type="button" style="width:200px;">
                <i class="icon-camera-retro"></i>
                <span class="bold"><?php $this->_('Choose an'); ?>
                <?php echo $this->_('logo'); ?></span>
            </button>
            <div style="height:10px"></div>
        </div>
         <div class="col-sm-4">
         </div>
        <div class="col-sm-4" style="text-align:center;">
            <div id="preview" style="height:240px;width:160px;border:solid 1px black;text-align:center;line-height: 230px;">
            </div>
            <div id="save-watermark"><?php echo $this->_('Save');?></div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="col-sm-12" style="text-align:center;display:none" id="spinner">
             <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div><?php echo $this->_("Wait...we are creating your images, it could take some minutes")?></div>
        </div>
    <div class="clear"></div>
</div>
<style type="text/css">
    .square_color button {
        border: 1px solid #e4e4e4;
        width: 35px;
        height: 35px;
    }
/*    .homepage_icon #icon_cont {
        width: 131px;
    }*/
    #icon_cont {
        margin-top:20px;
    }
    #icon_cont img.icon {
        border: solid 1px;
        margin-right: 10px;
        border-radius: 24px;
    }
    #icon_cont img.overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-radius: 24px;
    }
    #save-watermark{
        background-color: <?php echo $this->getBlock('general')->getColor()?>;
        width: 160px;
        margin-top: 20px;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    var splashscreenonly = 0;
    var fileupload = "";
    $('input[type="checkbox"][name="splashcreen_only"]').change(function() {
         if(this.checked) {
            splashscreenonly = 1;
         } else {
            splashscreenonly = 0;
         }
     });

    $("#color_value").change(function(){
        document.getElementById("preview").style.backgroundColor = "#"+document.getElementById("color_value").value;
    })

    var is_being_cropped = false;
    function removepicture() {
        $('#file').val('');
        $('#preview_icon').attr('src', '');
        $('#icon_cont img').slideUp('fast', function() {
            $('#icon_cont > *').remove();
        });
        $('#delete_picture').slideUp('fast', function() {
            $('#delete_picture').remove();
        });
        $('#file').val('');
        $('#saveIcon').submit();
        return false;
    }

    var watermark_uploader = new Uploader();

    $( "#save-watermark" ).click(function() {
        document.getElementById("spinner").style.display = "block";
        var color = document.getElementById('color_value');
        $.ajax({
            url : '<?php echo $this->getUrl('application/customization_publication_app/savewatermark/', array("color"=>"'+document.getElementById('color_value').value+'","splashscreenonly"=>"'+splashscreenonly+'")); ?>',
            dataType: 'json',  // what to expect back from the PHP script, if anything
            data : 'file=' + fileupload,                        
            type: 'post',
            success: function(data)
            {
                setTimeout(location.reload(), 3000);
            }
        });
    });

    $(document).ready(function() {

        if(!$('button.upload_watermark').is(':visible')) {
            $('input.uploader_watermark').show();
        }

        $('.upload_watermark').click(function() {
            $('.uploader_watermark').trigger('click');
        });

        $('.uploader_watermark').fileupload({
            dataType: 'json',
            add: function (e, data) {
                data.formData = {
                    uniq_prefix: 'watermark_',
                    minwidth: '100',
                    minheight: '100',
                    maxwidth: '600',
                    maxheight: '900',
                    extension: 'png'
                },
                data.submit();
                watermark_uploader.showProgressbar();
            },
            progressall: function (e, data) {
                watermark_uploader.moveProgressbar(data);
            },
            done: function (e, data) {
                if(data.result.error)
                {
                    watermark_uploader.showError(data.result.message);
                }
                if(data.result.success)
                {                    
                    watermark_uploader.hide();
                    var params = new Array();
                    params["url"] = '<?php echo $this->getUrl('template/crop/crop'); ?>';
                    params["file"] = data.result.files;
                    params["output_w"] = data.result.source_width;
                    params["output_h"] = data.result.source_height;
                    //params["output_url"] = '<?php echo str_replace('/', '$', $this->getUrl('application/customization_publication_app/savewatermark/', array("color"=>"'+document.getElementById('color_value').value+'","splashscreenonly"=>"'+splashscreenonly+'"))); ?>';
                    params["output_url"] = "<?php echo str_replace('/', '$', $this->getUrl('application/customization_publication_app/getfiledata/'))?>"
                    params["uploader"] = 'watermark_uploader';
                    watermark_uploader.crop(params);
                    //watermark_uploader.callback
                    watermark_uploader.callback = function(file) {
                        fileupload = file;
                        $("#logo").remove();
                         $( "#preview" ).append( '<img id="logo" alt="logo" src="<?php echo $this->getUrl()?>/images/application/<?php echo $this->getApplication()->getId()?>/watermark/'+file+'" style="width:150px;"/>' );
                    }
                }
            }
        });

    });
</script>
