<table width="100%" bgcolor="#efefef" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="12%"></td>
        <td align="center" style="background-color:#272527;background-image:url('http://d15oktd9tyyxdq.cloudfront.net/ban-sincube.jpg');background-size:cover;background-position:50%;background-repeat:no-repeat;padding:15px 15px 30px 15px;" height="200px">
            <img src="http://d15oktd9tyyxdq.cloudfront.net/logo-sincube.png" width="150px" alt="Ina Ich l'application officielle" >
        </td>
        <td width="12%"></td>
    </tr>
    <tr style="margin:auto; padding: 0 15px; color:#888888; font-size: 17px; line-height: 150%; width:600px">
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:25px">
            <p style="font-family: Verdana; font-weight: bold;color: #404040;font-size:18px; line-height:150%;"><?php echo $this->_("Welcome on Sincube!"); ?><br/><?php echo $this->_("Your application")." : ".$this->getAdmin()->getApplication()->getName()." ".$this->_("is ready."); ?></p>
            <p>
                <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;"><?php echo $this->_("Now you can manage a beautiful mobile app with tools and designs specially created to meet the needs of the world of music"); ?><br /><?php echo $this->_("Do not hesitate to give us your feedback by sharing your needs:"); ?> <a href="mailto:support@sincube.com" style="color:#9F0030;">support@sincube.com</a><br />
                </span>
            </p>
            <p align="center" style="font-family: Verdana; font-weight: bold;color: #404040;font-size:18px; line-height:150%;"><?php echo $this->_("Your app urls"); ?><br />
                  <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                    <?php  echo $this->_("Apple Store : ").' '; ?><?php echo $this->getAdmin()->getApplication()->getDevice(1)->getStoreUrl() ?><br />
                    <?php echo $this->_("Play Store :")." "; ?><strong><?php echo $this->getAdmin()->getApplication()->getDevice(2)->getStoreUrl() ?></strong>
                  </span>
            </p>
            <p align="center" style="font-family: Verdana; font-weight: bold;color: #404040;font-size:18px; line-height:150%;"><?php echo $this->_("Your credentials"); ?><br />
                  <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                    <?php echo $this->_("Here are your credentials, keep them preciously:"); ?><br />
                    <?php  echo $this->_("Your login : ").' '; ?><?php echo $this->getAdmin()->getEmail() ?><br />
                    <?php echo $this->_("Your password : "); ?><strong><?php echo $this->getPassword() ?></strong>
                  </span>
            </p>
            <p align="center" style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;padding-top:10px;">
                <a href="<?php echo $this->getUrl('admin/account/login')."?validation_code=".$this->getAdmin()->getValidationCode(); ?>" target="_blank" style="display:block;margin-top:20px;color:#FFFFFF;background-color:#9F0030;width:150px;height:35px;line-height:35px;text-decoration:none;"><strong><?php echo $this->_("Log in"); ?></strong></a>
            </p>
            <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px;margin-top:30px;">
                <?php echo $this->_("Enjoy!"); ?><br/>
                <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px;font-weight:bold;">
                    Sincube
                </span><br/>
            </p>
        </td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:8px 25px;clear:both;font-family: Verdana, Arial, Helvetica, sans-serif;">
            <div style="background-color:#9F0030;height:2px;margin:0 auto;"></div>
            <p style="display:inline-block;line-height:38px;">
                <a href="sincube.com" target="_blank" style="text-decoration:none;color:#000000;font-size:13px;">
                    Powered by Sincube
                </a>
            </p>
            <ul style="display:inline-block;float: right;padding-left:0;">
                <li style="list-style-type:none;display:inline-block;margin-right:20px;">
                    <a href="https://www.facebook.com/wearesincube" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/facebook.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
                <li style="list-style-type:none;display:inline-block;">
                    <a href="https://twitter.com/sincub3" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/twitter.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
            </ul>
        </td>
        <td width="12%"></td>
    </tr>
</table>