<table width="100%" bgcolor="#efefef" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="12%"></td>
        <td align="center" style="background-color:#272527;background-image:url('http://d15oktd9tyyxdq.cloudfront.net/ban-sincube.jpg');background-size:cover;background-position:50%;background-repeat:no-repeat;padding:15px 15px 30px 15px;" height="200px">
            <img src="http://d15oktd9tyyxdq.cloudfront.net/logo-sincube.png" width="150px" alt="Ina Ich l'application officielle" >
        </td>
        <td width="12%"></td>
    </tr>
    <tr style="margin:auto; padding: 0 15px; color:#888888; font-size: 17px; line-height: 150%; width:600px">
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:25px">
            <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;font-weight:bold;"><?php echo $this->_("Hello,");?><br/><br/>
                <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;font-weight:normal;"><?php echo $this->_("A request to reset your password has been made.");?></span>
            </p>
            <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;"><?php echo $this->_("Your new password:");?> <strong><?php echo $this->getPassword() ?></strong></span>
            </p>
            <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;padding-top:30px;">
                <?php echo $this->_("Do not hesitate to contact us, in case of trouble:")." ";?> <a href="mailto:support@sincube.com" style="color:#9F0030;"><strong>support@sincube.com</strong></a>
            </p>
            <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;padding-top:20px;">
                <?php echo $this->_("See you soon,");?> <?php echo $this->getAppName() ?><br/>
                <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px;font-weight:bold;">
                    Sincube
                </span><br/>
            </p>
        </td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:8px 25px;clear:both;font-family: Verdana, Arial, Helvetica, sans-serif;">
            <div style="background-color:#9F0030;height:2px;margin:0 auto;"></div>
            <p style="display:inline-block;line-height:38px;">
                <a href="sincube.com" target="_blank" style="text-decoration:none;color:#000000;font-size:13px;">
                    Powered by Sincube
                </a>
            </p>
            <ul style="display:inline-block;float: right;padding-left:0;">
                <li style="list-style-type:none;display:inline-block;margin-right:20px;">
                    <a href="https://www.facebook.com/wearesincube" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/facebook.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
                <li style="list-style-type:none;display:inline-block;">
                    <a href="https://twitter.com/sincub3" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/twitter.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
            </ul>
        </td>
        <td width="12%"></td>
    </tr>
</table>