<?php $video = $this->getCurrentVideo(); ?>
<?php $option_value = $this->getCurrentOptionValue(); ?>
<?php $key = $this->getCurrentKey(); ?>

<div id="new_gallery_<?php echo $video->getTypeId(); ?>" class="new_gallery itunes container-fluid" style="display:none;">
    <div class="row">
        <div class="col-sm-1"></div>
        <!-- <div class="col-sm-3"><label><?php echo $this->_('Gallery Name <span class="required-entry">*</span> :') ?></label></div>
        <div class="col-sm-6"><label><?php echo $this->_('Feed URL <span class="required-entry">*</span> :') ?></label></div> -->
    </div>
    <div id="row_<?php echo $video->getId(); ?>_<?php echo $video->getTypeId(); ?>" class="row_video row">
        <div class="col-sm-1"><img src="<?php echo $this->getColorizedImage($this->getImage('pictos/podcast.png', true), "#2A2A2A"); ?>" title="<?php echo $this->_('Podcast'); ?>" alt="<?php echo $this->_('Podcast'); ?>" width="33" height="33" /></div>
        <div class="col-sm-3"><input type="text" name="name" value="<?php echo $video->getName(); ?>" placeholder="<?php echo $this->_('Gallery Name') ?>" class="required form-control" /></div>
        <div  class="col-sm-6"><input type="text" name="param" value="<?php echo $video->getParam(); ?>" placeholder="<?php echo $this->_('Feed URL') ?>" class="required form-control full_td" /></div>

        <div class="col-sm-1">
            <input type="hidden" name="value_id" value="<?php echo $option_value->getId(); ?>" />
            <input type="hidden" name="type_id" value="<?php echo $video->getTypeId(); ?>" />
            <?php if($video->getId() != 'new') : ?>
                <input type="hidden" name="id" value="<?php echo $video->getId(); ?>" />
            <?php endif; ?>
            <button type="button" class="default_button save_video left"><?php echo $this->_('OK'); ?></button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="delete delete_video" rel="<?php echo $video->getId(); ?>"><i class="icon-remove"></i></button>
        </div>
    </div>
</div>
