<?php $video = $this->getCurrentVideo(); ?>
<?php $option_value = $this->getCurrentOptionValue(); ?>
<?php $key = $this->getCurrentKey(); ?>
<?php $picto = $video->getTypeId() == 'itunes' ? 'podcast' : $video->getTypeId(); ?>
<div id="row_<?php echo $video->getId(); ?>" class="row_video form-group">
    <div class="col-sm-1"><img class="youtube" src="<?php echo $this->getColorizedImage($this->getImage("pictos/$picto.png", true), "#2A2A2A"); ?>" title="<?php echo ucfirst($picto); ?>" alt="<?php echo ucfirst($picto); ?>" width="33" height="33" data-color="color" data-style="area" /></div>
    <div class="col-sm-3"><input type="text" name="name" value="<?php echo $video->getName(); ?>" placeholder="<?php echo $this->_('Gallery Name') ?>" class="form-control required" /></div>
    <div class="<?php if($video->getTypeId()=='itunes'):?>col-sm-6<?php else:?>col-sm-3<?php endif;?>">
        <input type="text" name="param" value="<?php echo $video->getParam(); ?>" placeholder="<?php echo $this->_('Parameter/Feed Url') ?>" class="form-control required <?php if($video->getTypeId()=='itunes'):?>full_div<?php endif;?>" />
    </div>
    <?php if($video->getType()):?>
        <div class="col-sm-3">
            <select name="type" class="form-control no-dk youtube_type required form-control" id="video_type_<?php echo $video->getId() ?>" tabindex="<?php echo $key; ?>" tabindex="<?php echo $key ?>">
                <option value=""><?php echo $this->_('Type') ?></option>
                <?php foreach($video->getAllTypes() as $type) : ?>
                    <option value="<?php echo $type ?>"<?php if($video->getType() == $type) :?> selected="selected"<?php endif; ?>><?php echo $this->_(ucfirst($type)); ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    <?php endif;?>
    <div class="col-sm-1">
        <input type="hidden" name="value_id" value="<?php echo $option_value->getId(); ?>" />
        <?php if($video->getId() != 'new') : ?>
            <input type="hidden" name="id" value="<?php echo $video->getId(); ?>" />
        <?php endif; ?>
        <button type="button" class="bt-margin default_button save_video left"><?php echo $this->_('OK'); ?></button>
    </div>
    <div class="col-sm-1">
        <button type="button" class="bt-margin delete delete_video" rel="<?php echo $video->getId(); ?>"><i class="icon-remove"></i></button>
    </div>
</div>