<?php $acl_resources = new Acl_Model_Resource();?>
<?php $acl_resources = $acl_resources->findAll(array("price != ?" => NULL));?>
<?php foreach($acl_resources as $resource):?>
	<?php echo $resource->getCode()?>
<?php endforeach;?>
<div class="area" style="">
	<div class="form-group">
	<?php foreach($acl_resources as $resource):?>
	<div class="col-md-checkbox">
		<input type="checkbox" name="resource_<?php echo $resource->getResourceId()?>;"/>
	</div>
	 <div class="col-md-3">
	 	<label for="resource_<?php echo $resource->getResourceId()?>;">
	 		<?php echo $resource->getLabel()?>
	 		<?php echo "-"?>
	 		<?php echo $resource->getPrice()." €"?>
		</label>
	</div>
	<?php endforeach;?>
	</div>
</div>