<?php $application = $this->getSession()->getApplication(); ?>
<?php $admin = $this->getSession()->getAdmin(); ?>
<?php $countries = Zend_Registry::get('Zend_Locale')->getTranslationList('Territory', null, 2); ?>
<?php asort($countries, SORT_LOCALE_STRING); ?>
<?php $euroZoneRegions = array_keys(Siberian_Locale::getEuroZoneTerritoryDatas()); ?>
<?php $subscription = new Subscription_Model_Subscription(); ?>
<?php $subscriptions = $subscription->findAll(); ?>
<?php $subscription_id = $this->getSession()->subscription_id; ?>
<?php $payment_methods = Payment_Model_Payment::getAvailableMethods(); ?>
<div class="application_extras application">
    <div id="subscription_confirm" class="application_content inner_content">
        <?php // echo $this->createPartialHtml('support_button', 'Front_View_Default', 'html/buttons/support.phtml'); ?>
        <div class="applications_list content" id="applications_list">
            <div class="title">
                <i class="left icon-shopping-cart"></i>
                <h2 class="left f-rounded"><?php echo $this->_('Payment'); ?></h2>
                <div class="clear"></div>
            </div>
            <div class="area" id="nearly_done">
                <p class="almost_done"><?php echo $this->_("You are almost done! After subscribing, your app can be published on both the AppStore and the Google Play."); ?></p>
            </div>

            <div id="billing_address" class="area">
                <div class="list_header">
                    <h3 class="title">
                        <span class="area"><?php echo $this->_('Billing Address'); ?></span>
                        <div class="clear"></div>
                    </h3>
                </div>
                <div>
                    <br />
                    <form id="customerInfoForm" action="<?php echo $this->getUrl('subscription/application/saveaddress'); ?>" class="form-horizontal">

                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" id="company" class="input form-control required" name="company" placeholder="<?php echo $this->_("Company"); ?>" value="<?php echo $admin->getCompany(); ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" id="firstname" class="input form-control" name="firstname" placeholder="<?php echo $this->_("Firstname"); ?>" value="<?php echo $admin->getFirstname() ?>" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="lastname" class="input form-control" name="lastname" placeholder="<?php echo $this->_("Lastname"); ?>" value="<?php echo $admin->getLastname() ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <input rows="4" id="address" name="address" placeholder="<?php echo $this->_('Address'); ?>" class="input form-control required" value="<?php echo $admin->getAddress(); ?>" />
                        </div>
                        <div class="col-sm-6">
                            <input rows="4" type="text" id="address2" class="input form-control" name="address2" placeholder="<?php echo $this->_("Address 2"); ?>" value="<?php echo $admin->getAddress2() ?>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <input type="text" id="zip_code" class="input form-control" name="zip_code" placeholder="<?php echo $this->_("Zip Code"); ?>" value="<?php echo $admin->getZipCode() ?>" />                                
                        </div>
                        <div class="col-sm-4">
                            <input type="text" id="city" class="input form-control" name="city" placeholder="<?php echo $this->_("City"); ?>" value="<?php echo $admin->getCity() ?>" />
                        </div>  
                        <div class="col-sm-3">
                            <select id="select_country" name="country_code" class="form-control select_country no-dk">
                                <option value="" disabled selected><?php echo $this->_("Country"); ?></option>
                                <?php foreach($countries as $code => $country) : ?>
                                <option value="<?php echo $code ?>"<?php if($admin->getCountryCode() == $code) : ?> selected="selected"<?php endif; ?>><?php echo $country; ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select id="select_region" name="region_code" class="form-control select_country no-dk">
                                <option value="" disabled selected><?php echo $this->_("State/Province"); ?></option>
                                <?php foreach($euroZoneRegions as $code => $region) : ?>
                                <option value="<?php echo $code ?>"<?php if($admin->getRegionCode() == $code) : ?> selected="selected"<?php endif; ?>><?php echo $region; ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="row_vat_number" class="col-sm-4 none">
                            <input type="text" id="vat_number" name="vat_number" class="input form-control" placeholder="<?php echo $this->_('VAT Number'); ?>" value="<?php echo $admin->getVatNumber(); ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="text" id="phone" name="phone" class="input form-control required" placeholder="<?php echo $this->_('Phone'); ?>" value="<?php echo $admin->getPhone(); ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn default_button"><?php echo $this->_('Save'); ?></button>
                        </div>
                    </div>

                    <div class="clear"></div>
                    </form>
                </div>
            </div>

            <div id="subscription_area" class="area<?php if(!$admin->canOrder()): ?> none<?php endif; ?>">
                <div class="list_header">
                    <h3 class="title">
                        <span class="area"><?php echo $this->_('Payment Option'); ?></span>
                        <hr />
                        <div class="clear"></div>
                    </h3>
                </div>

                <br />

                <div>
                    <p><?php echo $this->_("Choose the subscription that suits you best:"); ?></p>

                    <form id="subscriptionForm" action="<?php echo $this->getUrl('subscription/application/set'); ?>" method="post">
                        <div class="application_pricing_table">
                             <div class="packs">
                                <?php foreach($subscriptions as $subscription) : ?>
                                    <?php if(strpos($subscription->getName(), "Website") === false && $subscription->getName()!="Free"):?>
                                        <div class="pack" id="<?php echo strtolower($subscription->getName()); ?>">
                                            <header>
                                                <?php 
                                                    $tauxTax = ($subscription->getRegularPayment() * 20) / 100;
                                                    $priceTax = $subscription->getRegularPayment() + $tauxTax;
                                                    $priceMonth = $priceTax / 12; 
                                                ?>
                                                <h4><?php echo $subscription->getName(); ?></h4>
                                                <p class="pricing"><?php echo round($subscription->getRegularPayment()); ?>€ <?php echo $this->_('ex-Tax');?><span class="time">/<?php echo$this->_('yr');?></span></p>
                                            </header>
                                            <div class="features">
                                                <ul class="list">
                                                    <li><?php echo $this->_('Mobile + Tablet'); ?></li>
                                                    <li><?php echo $this->_('Android + iOS + HTML5'); ?></li>
                                                    <li class="core_app">
                                                        <?php echo $this->_('Core app features');?>
                                                        <a href="javascript:void(0)" class="open_popup"><span class="open_plus">+</span></a>
                                                    </li>
                                                    <?php if($subscription->getName() != 'Beginner') :?>
                                                        <li class="more">+</li>
                                                        <li><?php echo $this->_('Users Functionlity');?> </li>
                                                        <li><?php echo $this->_('Video');?> </li>
                                                        <li><?php echo $this->_('Private Section');?> </li>
                                                        <li><?php echo $this->_('Flux RSS');?> </li>
                                                        <li><?php echo $this->_('Monetize your app');?> </li>
                                                        <?php if($subscription->getName() != 'Starter') :?>
                                                            <li><?php echo $this->_('Fanwall');?> </li>
                                                            <li><?php echo $this->_('Custom Page');?> </li>
                                                            <li><?php echo $this->_('Radio');?> </li>
                                                            <li><?php echo $this->_('Source code');?> </li>
                                                            <li><?php echo $this->_('Woocommerce link / Shopify link');?> </li>
                                                            <li><?php echo $this->_('Wordpress synchronisation');?> </li>
                                                            <?php if($subscription->getName() != 'Advanced') :?>
                                                                <li><?php echo $this->_('Ecommerce');?> </li>
                                                                <li><?php echo $this->_('Topic Push');?> </li>
                                                            <?php endif;?>
                                                        <?php endif; ?>
                                                    <?php endif;?>
                                                    <li class="more">+</li>
                                                    <?php if($subscription->getName() == 'Premium') :?>
                                                        <li><?php echo $this->_('Advanced Analytics');?></li>
                                                        <li><?php echo $this->_('Templates Premium');?></li>
                                                    <?php else : ?>
                                                        <li><?php echo $this->_('Analytics');?></li>
                                                    <?php endif;?>
                                                    <?php if($subscription->getNbSubscribers() != 0)  :?>
                                                        <li><?php echo number_format($subscription->getNbSubscribers(), 0, ',', ' ' ).' '.$this->_('Subscribers');?></li>
                                                    <?php endif; ?>
                                                </ul>
                                                <div id="popup_features_open" class="modal">
                                                    <div class="modal_content">
                                                        <ul>
                                                            <li>
                                                                <a href="javascript:void(0)" class="close">X</a>
                                                            </li>
                                                            <li><?php echo $this->_('Images');?> </li>
                                                            <li><?php echo $this->_('Audio');?> </li>
                                                            <li><?php echo $this->_('Videos Channel');?> </li>
                                                            <li><?php echo $this->_('Newswall');?> </li>
                                                            <li><?php echo $this->_('Facebook');?> </li>
                                                            <li><?php echo $this->_('Twitter');?> </li>
                                                            <li><?php echo $this->_('Events');?> </li>
                                                            <li><?php echo $this->_('Links');?> </li>
                                                            <li><?php echo $this->_('Contact');?> </li>
                                                            <li><?php echo $this->_('Push Notifications unlimited + geofencing');?> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endif;?>
                                <?php endforeach; ?>
                            </div>
                        </div>
                        <div  class="pricing-selection">
                            <ul>
                                <?php foreach($subscriptions as $k => $subscription) : ?>
                                <?php if(!$subscription->isActive()) continue; ?>
                                <?php if(!$this->getApplication()->getSubscription()->getSubscriptionId() || ($this->getApplication()->getSubscription()->getSubscriptionId() < $subscription->getId())):?>
                                        <?php if(strpos($subscription->getName(),"Website")):?>
                                        <li>
                                            <label for="subscription_<?php echo $subscription->getId(); ?>" class="radio">
                                                <input type="radio" id="subscription_<?php echo $subscription->getId(); ?>" name="subscription_id" class="subscription_id required" value="<?php echo $subscription->getId(); ?>"<?php if($subscription->getId() == $subscription_id OR $subscriptions->count() == 1 OR $k == 0) : ?> checked="checked"<?php endif; ?> />
                                                <p><?php echo $subscription->getRegularPayment()-25; ?>&euro;/an</p>
                                            </label>
                                            <?php if(System_Model_Config::getValueFor("system_website")==1):?>
                                                <label for="website_<?php echo $subscription->getId()?>" class="checkbox">
                                                    <input type="checkbox" id="website_<?php echo $subscription->getId()?>"checked="checked" name="website_<?php echo $subscription->getId()?>"/>
                                                    <?php echo "Website  +25&euro;"?>
                                                </label>
                                            <?php endif;?>
                                        </li>
                                    <?php endif;?>
                                <?php elseif($this->getApplication()->getSubscriptionName() == "Free"):?>
                                    <?php if(strpos($subscription->getName(),"Website")):?>
                                        <li>
                                            <label for="subscription_<?php echo $subscription->getId(); ?>" class="radio">
                                                <input type="radio" id="subscription_<?php echo $subscription->getId(); ?>" name="subscription_id" class="subscription_id required" value="<?php echo $subscription->getId(); ?>"<?php if($subscription->getId() == $subscription_id OR $subscriptions->count() == 1 OR $k == 0) : ?> checked="checked"<?php endif; ?> />
                                                <p><?php echo $subscription->getRegularPayment()-25; ?>&euro;/an</p>
                                            </label>
                                            <?php if(System_Model_Config::getValueFor("system_website")==1):?>
                                                <label for="website_<?php echo $subscription->getId()?>" class="checkbox">
                                                    <input type="checkbox" id="website_<?php echo $subscription->getId()?>"checked="checked" name="website_<?php echo $subscription->getId()?>"/>
                                                    <?php echo "Website  +25&euro;"?>
                                                </label>
                                            <?php endif;?>
                                        </li>
                                    <?php endif;?>
                                <?php else:?>
                                 <?php if(strpos($subscription->getName(),"Website")):?>
                                        <li>
                                            <label for="subscription_<?php echo $subscription->getId(); ?>" class="radio">
                                                <input type="radio" id="subscription_<?php echo $subscription->getId(); ?>" name="subscription_id" class="subscription_id required" value="<?php echo $subscription->getId(); ?>"<?php if($subscription->getId() == $subscription_id OR $subscriptions->count() == 1 OR $k == 0) : ?> checked="checked"<?php endif; ?> disabled/>
                                                <p><?php echo $subscription->getRegularPayment()-25; ?>&euro;/an</p>
                                            </label>
                                            <?php if(System_Model_Config::getValueFor("system_website")==1):?>
                                            <label for="website_<?php echo $subscription->getId()?>" class="checkbox">
                                                <input type="checkbox" id="website_<?php echo $subscription->getId()?>"checked="checked" name="website_<?php echo $subscription->getId()?>" disabled/>
                                                <?php echo "Website  +25&euro;"?>
                                            </label>
                                            <?php endif;?>
                                        </li>
                                    <?php endif;?>
                                <?php endif;?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                       <!-- <a href="/subscription/application/createplan">
                            <?php //echo $this->_("Create my own plan")?>
                        </a>-->
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <button type="submit" class="btn default_button"><?php echo $this->_('Save'); ?></button>
                            </div>
                        </div>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="clear"></div>

            <div id="order_form" class="area none">
                <div id="order_details">

                </div>
                <div class="clear"></div>
            </div>

            <form id="paymentForm" action="<?php echo $this->getUrl('subscription/application/process'); ?>" method="post" class="none">
                <div class="area" id="payment_area">

                    <div class="list_header">
                        <h3 class="title">
                            <span class="area"><?php echo $this->_('Choose your Payment method'); ?></span>
                            <hr class="area reverse">
                            <div class="clear"></div>
                        </h3>
                    </div>
                    <br/>

                    <?php if(!empty($payment_methods)) : ?>
                    <?php foreach($payment_methods as $payment_code => $payment_type) : ?>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="<?php echo $payment_code ?>_method" class="radio">
                                <input type="radio" id="<?php echo $payment_code ?>_method" name="payment_method" class="required" value="<?php echo $payment_code ?>" <?php if($payment_code=="paypal"): echo "checked"; endif ?> />
                                <?php echo $this->_('Payment secured by <img src="%s" width="100" title="%s" />', $this->getImage("payment/$payment_code.png"), $payment_type); ?>
                                <?php echo $payment_code."/".$payment_type?>
                            </label>
                        </div>
                    </div>
                    <?php endforeach; ?>
                    <?php else : ?>
                        <div class="alert alert-danger">
                            <?php echo $this->_("Sorry, but no payment method was found."); ?>
                        </div>
                    <?php endif; ?>
                    <div class="clear"></div>
                </div>
                <div class="area">

                    <div class="list_header">
                        <h3 class="title">
                            <span class="area"><?php echo $this->_('Confirmation'); ?></span>
                            <hr />
                            <div class="clear"></div>
                        </h3>
                    </div>

                    <?php if(System_Model_Config::getValueFor("sales_tc")) : ?>
                    <label for="tos" class="checkbox">
                        <input type="checkbox" id="tos" class="required" value="1" name="tos" />
                        <?php echo $this->_('By checking this box, you agree <a href="%s" target="_blank" class="underline">to our terms and conditions</a>', $this->getUrl("sales/application/tc")); ?>
                    </label>
                    <?php endif; ?>

                    <div class="col-md-12 text-right">
                        <div class="form-group">
                            <button type="button" class="btn delete" onclick="window.location = '<?php echo $this->getUrl('application/customization_publication_infos'); ?>'"><?php echo $this->_('Cancel'); ?></button>
                            <?php if(!empty($payment_methods)) : ?>
                            <button type="submit" class="btn default_button"><?php echo $this->_('Validate'); ?></button>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
<?php /*
    var tos_modal = new Modal({id: 'tos_modal', url: '<?php echo Cms_Model_Page::getUrlByCode('cgv'); ?>?is_ajax=1', width: 850});
    $('#show_tos').click(function() {
        tos_modal.show();
        return false;
    });
*/ ?>

    var doc = (navigator.userAgent && navigator.userAgent.indexOf('WebKit')) != -1 ? document.body : document.documentElement;

    var current_country = "<?php echo System_Model_Config::getValueFor("company_country") ?>";
    var current_region = "<?php echo $admin->getRegionCode() ?>";
    var allowed_countries = <?php echo Zend_Json::encode($euroZoneRegions); ?>;
    var regions = <?php echo Zend_Json::encode(Siberian_Locale::getRegions()); ?>;

    $('#select_country').change(function() {

        var territory = $(this).val();
        var selected_region = "";
        checkRowVatNumber(territory);

        $("#select_region").empty();

        if(typeof regions[territory] != "undefined") {
            
            $.each(regions[territory],function(i, value){

                if(current_region == i){
                    selected_region = 'selected="selected"';
                } else {
                    selected_region = "";
                }
                $("#select_region").append('<option value="' + i + '" ' + selected_region + '>' + value + '</option>');
            });
            $("#select_region").prop("disabled", false)
                .removeClass("disabled")
            ;
        } else {
            $("#select_region").prop("disabled", true)
                .addClass("disabled")
            ;
        }

    });

    $(document).ready(function() {
        $('#select_country').change();
    });

    $('#customerInfoForm').submit(function() {

        if(!$(this).valid()) return false;
        reload(this, this.action, true, function(datas) {
            if(datas.success) {
                $('#subscription_area').fadeIn();
                $(doc).animate({scrollTop: $('#subscription_area').offset().top});

                if(datas.order_details_html) {
//                $("#paymentForm").attr("action", datas.paypal_url);
                    $('#order_form').hide();
                    $('#order_details').html(datas.order_details_html);
                    $('#order_form').fadeIn();
                    $('#paymentForm').fadeIn();
                }
            }
        });

        return false;
    });

    $('#subscriptionForm').submit(function() {

        if(!$(this).valid()) return false;

        reload(this, this.action, true, function(datas) {
            if(datas.success) {
                if(datas.has_to_be_paid) {
                    $("#payment_area").show();
                } else {
                    $("#payment_area").hide();
                }
                $('#order_form').hide();
                $('#order_details').html(datas.order_details_html);
                $('#order_form').fadeIn();
                $('#paymentForm').fadeIn();
                $(doc).animate({scrollTop: $('#order_form').offset().top});
            }
        });

        return false;
    });

    $('#paymentForm').submit(function() {
        if(!$(this).valid()) return false;

        reload(this, this.action, true, function(data) {

            if(data.form) {
                var form = $(data.form);
                $('#subscription_confirm').append(form);
                form.submit();
            }

        }, function(data) {
            message.setMessage(data.message);
            message.isError(true);
            message.show();
            loader.hide();
        });

        return false;

    });

    function checkRowVatNumber(country_code) {

        var show_vat_number = false;

        if(allowed_countries.indexOf(current_country) >= 0) {
            for (var i in allowed_countries) {
                if (country_code == allowed_countries[i] && allowed_countries[i] != current_country) show_vat_number = true;
            }
        }
        if(show_vat_number) {
            $('#row_vat_number').show();
            $('#vat_number').removeAttr('disabled');
        } else {
            $('#row_vat_number').hide();
            $('#vat_number').attr('disabled', 'disabled');
        }
    }

    $('.subscription_id').change(function() {
        $('.subscription_details').stop().slideUp();
        $('#subscription_details_'+$(this).val()).slideDown();
    });

/*
    function bindPaypalForm() {

        $('#payment-form').unbind('submit');
        $('#payment-form').submit(function(event) {

            if(!$(this).valid()) return false;
            if(!confirm('<?php echo addslashes($this->_('Proceed to payment?')); ?>')) return false;

        });

    }*/
    var modal = document.getElementById('popup_features_open');
    var btn = document.getElementsByClassName("open_popup")[0];
    var btn1 = document.getElementsByClassName("open_popup")[1];
    var btn2 = document.getElementsByClassName("open_popup")[2];
    var btn3 = document.getElementsByClassName("open_popup")[3];
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function(){modal.style.display = "block";}
    btn1.onclick = function(){modal.style.display = "block";}
    btn2.onclick = function(){modal.style.display = "block";}
    btn3.onclick = function(){modal.style.display = "block";}
    span.onclick = function(){modal.style.display = "none";}
    window.onclick = function(event) {
        if (event.target == modal) {modal.style.display = "none";}
    }
</script>

<style>
    #subscription_confirm div.area { min-height: 20px; }
    #subscription_confirm .area#form_payment, #subscription_confirm .area#discount_form { width: 480px; min-height: 405px; }
    #subscription_confirm .area#form_payment { margin-right: 0; }
    #subscription_confirm .area#discount_form { margin-left: 0; }
    #subscription_confirm div.area p.almost_done { margin: 0; font-size: 18px; transition: none; -webkit-transition: none; -moz-transition: none; -o-transition: none; }
    #subscription_confirm #paymentForm button { display: inline-block; }
    #subscription_confirm button.delete { margin-right: 10px; }
    #subscription_confirm form { margin-bottom: 0; }

    #paymentForm label.checkbox label.error { position: absolute; top: 20px; left: 15px; }
    #paymentForm div.secured_by { margin-top: 20px; }
    ul.navigation {
        width: 100%;
        display: block;
    }
    .menu .back {

    }

    .list_header h3 {
        font-size: 28px;
        text-transform: uppercase;
    }

    .area .checkbox label.error {float:left;}
</style>

