
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
 <?php $api_key = Api_Model_Key::findKeysFor('stripe');?>
  Stripe.setPublishableKey("<?php echo $api_key->getPublishKey();?>");
</script>
<?php
$subscription = new Subscription_Model_Subscription_Application();
$subscription = $subscription->find(array("app_id"=>$this->getApplication()->getAppId()));
if($subscription->getSubscriptionId()){
    $now = Zend_Date::now();
    $date = new Siberian_Date();
    $diff1 = $date->getDiff($now->get('y-MM-dd HH:mm:ss'),$subscription->getExpireAt());
    $diff2 = $date->getDiff($subscription->getCreatedAt(), $now->get('y-MM-dd HH:mm:ss'));
    $diff2 = $diff2-1;
    $sub = new Subscription_Model_Subscription();
    $proratePrice = $sub->getProratePrice($this->getRequest()->getParam("subscription"), $this->getApplication()->getSubscription()->getSubscriptionId(),$diff1,$diff2);
    $proratePrice = round($proratePrice+(($proratePrice*20)/100),2);
    $price = $proratePrice;
} else {
  $sub = new Subscription_Model_Subscription();
  $sub = $sub->find(array("subscription_id"=>$this->getRequest()->getParam("subscription")));
  $price = $sub->getRegularPayment();
  $price = round($price+(($price*20)/100),2);
}
$now = Zend_Date::now();
$now = $now->get('YYYY')
?>
<div class="area" style=" margin-top: 150px;padding: 15px;">
   <p style="text-align: center;margin-bottom: 15px;}"><?php echo $this->_('Payment CB secured by <img src="%s" width="100" title="%s" />', $this->getImage("payment/stripe.png"), "Stripe"); ?></p>
    <?php if($subscription->getSubscriptionId()):?>
      <p><?php echo $this->_("You will upgrade your plan, so you will be charge with the prorate price :")." ".$proratePrice."euros TTC"?></p>
    <?php else:?>
        <p><?php echo $this->_("You will be charge with the price :")." ".$price."euros TTC"?></p>
    <?php endif;?>
<form action="<?php echo $this->getUrl('subscription/application/success') ?>" method="POST" id="payment-form">
  <span class="payment-errors"></span>
  <div class="form-row">
    <label>
      <input type="hidden" size="50" name="stripeEmail" value="<?php echo $this->getSession()->getAdmin()->getEmail()?>"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span style="width: 125px; display: inline-block;">Card Number</span>
    </label>
    <input type="hidden" size="20" data-stripe="number" id="card_number">
    <input type="text" size="4" class="card" maxlength="4" id="card1">
    <input type="text" size="4" class="card" maxlength="4" id="card2">
    <input type="text" size="4" class="card" maxlength="4" id="card3">
    <input type="text" size="4" class="card" maxlength="4" id="card4">
  </div>
  <br/>
  <div class="form-row">
    <label>
      <span style="width: 125px; display: inline-block;">Expiration (MM/YY)</span>
      <input type="hidden" size="2" data-stripe="exp_month" id="select_month" value="01">
      <select id="month">
        <?php for ($i=1; $i<13; $i++):?>
            <?php if($i<10):?>
                <option value="<?php echo '0'.$i?>"><?php echo '0'.$i?></option>
            <?php else:?>
                <option value="<?php echo $i?>"><?php echo $i?></option>
            <?php endif;?>
        <?php endfor;?>
      </select>
    </label>
    <span> / </span>
    <input type="text" size="2" data-stripe="exp_year" id="select_year" value="2016" style="display:none">
      <select id="year">
        <?php for ($i=0; $i<11; $i++):?>
            <option value="<?php echo $now+$i?>"><?php echo $now+$i?></option>
        <?php endfor;?>
      </select>
  </div>

  <div class="form-row">
    <label>
      <span style="width: 125px; display: inline-block;">CVC</span>
      <input type="text" size="4" data-stripe="cvc" class="card">
    </label>
  </div>
    <input type="hidden" name="subscription" value="<?php echo $this->getRequest()->getParam('subscription')?>">
  <input type="submit" class="submit btn" value="Submit Payment" style="background-color:<?php echo $this->getBlock('general')->getColor()?>;margin-top: 30px;">
</form>
</div>
<script type="text/javascript">
$( "#month" ).change(function() {
  var eselect = $("#month option:selected").val();
  document.getElementById("select_month").value = eselect;
});

$("#card1").change(function(){
var card = document.getElementById("card1").value + document.getElementById("card2").value + document.getElementById("card3").value + document.getElementById("card4").value;
document.getElementById("card_number").value = card;
});

$("#card2").change(function(){
var card = document.getElementById("card1").value + document.getElementById("card2").value + document.getElementById("card3").value + document.getElementById("card4").value;
document.getElementById("card_number").value = card;
});

$("#card3").change(function(){
var card = document.getElementById("card1").value + document.getElementById("card2").value + document.getElementById("card3").value + document.getElementById("card4").value;
document.getElementById("card_number").value = card;
});

$("#card4").change(function(){
var card = document.getElementById("card1").value + document.getElementById("card2").value + document.getElementById("card3").value + document.getElementById("card4").value;
document.getElementById("card_number").value = card;
});

$( "#year" ).change(function() {
  var eselect = $("#year option:selected").val();
  document.getElementById("select_year").value = eselect;
});

$(function() {
  var $form = $('#payment-form');
  $form.submit(function(event) {
    // Disable the submit button to prevent repeated clicks:
    $form.find('.submit').prop('disabled', true);

    // Request a token from Stripe:
    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from being submitted:
    return false;
  });
});



function stripeResponseHandler(status, response) {
  // Grab the form:
  var $form = $('#payment-form');

  if (response.error) { // Problem!

    // Show the errors on the form:
    $form.find('.payment-errors').text(response.error.message);
    $form.find('.submit').prop('disabled', false); // Re-enable submission

  } else { // Token was created!

    // Get the token ID:
    var token = response.id;

    // Insert the token ID into the form so it gets submitted to the server:
    $form.append($('<input type="hidden" name="stripeToken">').val(token));

    // Submit the form:
    $form.get(0).submit();
  }
};
</script>
<style>
input.card{
    width: 55px;
    border: solid 2px #b1b1b1 !important;
}
</style>