<div class="application_extras application">
    <div id="subscription_success" class="application_content inner_content">
        <div class="applications_list content">
            <div class="title">
                <i class="left icon-thumbs-up"></i>
                <h2 class="left f-rounded"><?php echo $this->_('Thanks!'); ?></h2>
                <div class="clear"></div>
                <hr class="reverse" />
            </div>
            <div class="area">
                <p><?php echo $this->_("Your order has been successfully paid."); ?></p>
                <p><?php echo $this->_('<a href="%s">Click here</a> to go back to home', $this->getUrl('/application/customization_design_style/edit')); ?></p>
                <br/>
                <p class="ready_for_publish" style="display:inline;color:#fff;padding:10px; margin-left:10px;">
                    <a class="rounded publish_my_app" onclick="openModal();"><?php echo $this->_('Ready ? Publish my app!'); ?></a>
                </p>
            </div>
        </div>
    </div>

<div id="modal_1" class="custom_modal" style="display:none;">
    <div id="modal_mask_1" class="modal_mask close_modal close_modal_1"></div>

    <div class="area no-background">
        <div id="modal_content_1" class="modal_content inner_content" style="min-height: 0px !important;height: 200px;padding-top:10px;color:#fff;">
            <h3 class="title">
                <span class="f-bold"><?php echo $this->_("Publish my app"); ?></span>
                <span class="right">
                    <button id="close_modal_1" class="inner_content close_modal close_modal_1" type="button">
                        <i class="icon-remove" style="color:#9f0030 !important" onclick="closeModal()"></i>
                    </button>
                </span>
                <div class="clear"></div>
            </h3>
            <p class="f-bold"><?php echo "Ready to publish your app, choose your option : "?></p>
                <div id="modal_details_1" class="modal_details">
                    <p class="ready_for_publish" style="display:inline;color:#fff;padding:10px; margin-left:10px;">
                        <a class="rounded publish_my_app" href="<?php echo $this->getUrl('application/customization/sendpublishapp'); ?>"><?php echo $this->_('Publish with no add'); ?></a>
                    </p>
                    <?php $subscription_type = $this->getApplication()->getSubscription()->getSubscription();?>
                    <?php if($subscription_type->getUseAds()==1):?>
                        <p class="ready_for_publish" style="display:inline;color:#fff;padding:10px; margin-left:10px;">
                            <a class="rounded publish_my_app" href="<?php echo $this->getUrl('application/customization/sendpublishapp?add=1'); ?>"><?php echo $this->_('Monetise my app*'); ?></a>
                        </p>
                        <br/>
                        <br/>
                        <p style="color:grey; font-size:12px;">*<?php echo $this->_("By choosing this option, you monetize your application thanks to advertising. Sincube will pay you annually 50&#37; of earnings generated.")?></p>
                    <?php else:?>
                        <p class="ready_for_publish" style="display:inline;background-color:gray !important;">
                            <a class=""><?php echo $this->_('Monetise my app (Enable for Starter, Advanced and Premium)'); ?></a>
                        </p>
                    <?php endif;?>
            </div>
        </div>
    </div>
</div>
</div>
<script>
function openModal(){
   document.getElementById("modal_1").style.display="block";
}
function closeModal(){
   document.getElementById("modal_1").style.display="none";
}
</script>
