<sb-section title="'<?php echo addslashes($this->_("List of your applications")); ?>'" button="button">
    <br />
    <div class="col-md-6">
        <div class="form-group">
            <label for="filter"><?php echo $this->_("Search"); ?></label>
            <input type="text" id="filter" class="form-control" ng-model="filter" placeholder="<?php echo $this->_("Search"); ?>" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="show_app_to_publish_only" />
                <?php echo $this->_("Show the applications waiting for publication only."); ?>
            </label>
        </div>
    </div>
    <div class="clear"></div>
    <br />
    <div sb-pager items="applications | filter:filter | appToPublish: show_app_to_publish_only" ng-if="applications">
        <table class="table">
            <col width="5%" />
            <col width="5%" />
            <col width="43%" />
            <col width="40%" />
            <col width="7%" />
            <thead>
                <tr>
                    <th></th>
                    <th class="pointer" ng-click="order = 'id'; by = !by"><?php echo $this->_("Id"); ?></th>
                    <th class="pointer" ng-click="order = 'name'; by = !by"><?php echo $this->_("Name"); ?></th>
                    <th class="pointer" ng-click="order = 'bundle_id'; by = !by"><?php echo $this->_("Bundle Id"); ?></th>
                    <th><?php echo $this->_("Actions"); ?></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="application in pageItems() | orderBy:order:by">
                    <td><img ng-src="{{ application.icon }}" width="30" /></td>
                    <td>{{ application.id }}</td>
                    <td>{{ application.name }}</td>
                    <td>{{ application.bundle_id }}</td>
                    <td>
                        <a href="<?php echo $this->getUrl("application/backoffice_view"); ?>/app_id/{{ application.id }}" title="<?php echo $this->_("View"); ?>"><i class="fa fa-eye"></i></a>
    <!--                    <a href="#" ng-click="deleteUser(admin)" title="--><?php //echo $this->_("Delete"); ?><!--"><i class="fa fa-remove"></i></a>-->
                    </td>
                </tr>
                <tr ng-show="!applications.length">
                    <td colspan="5" class="a-center"><?php echo $this->_("You don't have any applications yet"); ?></td>
                </tr>
            </tbody>
        </table>
    </div>
</sb-section>