<?php $application = $this->getApplication(); ?>
<div class="area" style="min-height:400px;">
    <h3 class="title">
        <span class="left area"><?php echo $this->_("Nombre d'écoutes par track"); ?></span>
        <div class="clear"></div>
    </h3>
    <div style="min-height: 200px;">
    <div id="DivBarContainer" style="float:left;height:320px;"></div>
    <div id="js-legend" class="chart-legend"></div>
    </div>
    <div>
    <p style="margin-top:150px;" class="views_title">
      All your tracks :
     </p> 
     <div style="margin-bottom:30px;">
        <button  type="button" id="btntrack1" class="btn" onclick="get10()"><?php echo $this->_("10");?></button>
        <button type="button" id="btntrack2" class="btn" onclick="get30()"><?php echo $this->_("30");?></button>
        <button type="button" id="btntrack3" class="btn" onclick="getAll()"><?php echo $this->_("All");?></button>
     </div>
     <div id="track_10"> 
     <?php $all_music_tracks = $application->getAllTracks(10);?>
     <?php $i=0;?>
      <?php foreach($all_music_tracks as $key=>$track):?>
          <p class="test"><?php echo $track->getName()." : ".$track->getNbPlay();?></p>
      <?php $i++;?>
      <?php endforeach;?>
    </div>
    <div id="track_30" style="display:none"> 
    <?php $all_music_tracks = $application->getAllTracks(30);?>
     <?php $i=0;?>
      <?php foreach($all_music_tracks as $key=>$track):?>
          <p class="test"><?php echo $track->getName()." : ".$track->getNbPlay();?></p>
      <?php $i++;?>
      <?php endforeach;?>
      </div>
      <div id="track_all" style="display:none"> 
           <?php $all_music_tracks = $application->getAllTracks();?>
     <?php $i=0;?>
      <?php foreach($all_music_tracks as $key=>$track):?>
          <p class="test"><?php echo $track->getName()." : ".$track->getNbPlay();?></p>
      <?php $i++;?>
      <?php endforeach;?>
     </div>
    </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        get10()
    });

    function get10() {
        document.getElementById("track_10").style.display="block";
        document.getElementById("track_30").style.display="none";
        document.getElementById("track_all").style.display="none";

        document.getElementById("btntrack1").style.backgroundColor = "#FFFFFF";
        document.getElementById("btntrack2").style.backgroundColor = "#9F0030";
        document.getElementById("btntrack3").style.backgroundColor = "#9F0030";


        document.getElementById("btntrack1").style.color = "#9F0030";
        document.getElementById("btntrack2").style.color = "#FFFFFF";
        document.getElementById("btntrack3").style.color = "#FFFFFF";
    }
    function get30() {
        document.getElementById("track_10").style.display="none";
        document.getElementById("track_30").style.display="block";
        document.getElementById("track_all").style.display="none";

        document.getElementById("btntrack1").style.backgroundColor = "#9F0030";
        document.getElementById("btntrack2").style.backgroundColor = "#FFFFFF";
        document.getElementById("btntrack3").style.backgroundColor = "#9F0030";


        document.getElementById("btntrack1").style.color = "#FFFFFF";
        document.getElementById("btntrack2").style.color = "#9F0030";
        document.getElementById("btntrack3").style.color = "#FFFFFF";
    }
    function getAll() {
        document.getElementById("track_10").style.display="none";
        document.getElementById("track_30").style.display="none";
        document.getElementById("track_all").style.display="block";

        document.getElementById("btntrack1").style.backgroundColor = "#9F0030";
        document.getElementById("btntrack2").style.backgroundColor = "#9F0030";
        document.getElementById("btntrack3").style.backgroundColor = "#FFFFFF";


        document.getElementById("btntrack1").style.color = "#FFFFFF";
        document.getElementById("btntrack2").style.color = "#FFFFFF";
        document.getElementById("btntrack3").style.color = "#9F0030";
    }
    <?php $music_tracks = $application->getAllTracks(5);?>
    <?php $music_labels = array();?>
    <?php foreach ($music_tracks as $key => $track) {
      $music_labels[] = $track->getName();
    }?>
    <?php $music_labels=json_encode($music_labels);?>
    <?php $music_plays = array();?>
    <?php foreach ($music_tracks as $key => $track) {
      $music_plays[] = $track->getNbPlay();
    }?>
    <?php $music_plays=json_encode($music_plays);?>
    var data = {
        labels: <?php echo $music_labels?>,
        datasets: [
            {
               label: "My First dataset",
                fillColor: "rgba(139,0,0,0.2)",
                strokeColor: "rgba(159,0,0,1)",
                pointColor: "rgba(159,0,0,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(0,0,0,1)",
                data: <?php echo $music_plays?>,
            }
        ]
    };

      $('#DivBarContainer').empty();
      $('#DivBarContainer').append('<canvas id="myBarChart"  width="600px" height="300px"></canvas>');
    var ctx = document.getElementById("myBarChart").getContext("2d");
    var barChart = new Chart(ctx).Bar(data);
</script>