<?php $application = $this->getApplication(); ?>
<div class="area" style="min-height:400px;">
    <h3 class="title">
        <span class="left area"><?php echo $this->_('Nombre de vues par page'); ?></span>
        <div class="clear"></div>
    </h3>
    <p class="views_title">
        <?php echo $this->_('Les cinq pages les plus vues')." : "; ?>
    </p>
    <div style="min-height: 200px;">
    <div id="DivPieContainer" style="float:left;height:320px;"></div>
    <div id="js-legend" class="chart-legend"></div>
    </div>
    <div>
    <p style="margin-top:150px;" class="views_title">
      Toutes vos pages
     </p> 
     <?php $alloptionsvalues = $this->getApplication()->findMoreViews();?>
     <?php $option = new Application_Model_Option();?>
     <?php $pages = array();?>
      <?php $i=0;?>
      <?php foreach($alloptionsvalues as $key=>$value):?>
      <?php $option = $option->find(array("option_id"=>$value->getOptionId()));?>
      <?php $pages[$i]['name'] = $value->getTabbarName() ? $value->getTabbarName() : $option->getName();?>
      <?php $pages[$i]['count'] = $value->getCountView();?>
      <?php $total += $option->getCountView();?>
      <?php if($pages[$i]['count'] != 0):?>
          <p class="test"><?php echo $pages[$i]['name']." : ".$pages[$i]['count']."views";?></p>
      <?php endif;?>
      <?php $i++;?>
      <?php endforeach;?>
    </div>
</div>
<script type="text/javascript">
<?php $options = $this->getApplication()->findMoreViews(5);?>
<?php $pages = array();?>
<?php $i=0;?>
<?php foreach($options as $key=>$option){
 if($option->getCountView() != 0){
    $pages[$i]['name'] = $option->getTabbarName();
    $pages[$i]['count'] = $option->getCountView();
    $total += $option->getCountView();
    $i++;
  }
}?>
//pie chart
var data = [
    <?php if(isset($pages[0])):?>
    {
      value: <?php echo ($pages[0]['count']*100)/$total;?>,
      color:"#9f0030",
      label : <?php echo "'".$pages[0]['name']."-".$pages[0]['count']."'";?>
    },
    <?php endif;?>
    <?php if(isset($pages[1])):?>
    {
      value : <?php echo ($pages[1]['count']*100)/$total;?>,
      color : "#ffaaaa",
      label : <?php echo "'".$pages[1]['name']." - ".$pages[1]['count']."'";?>
    },
    <?php endif;?>
    <?php if(isset($pages[2])):?>
      {
        value : <?php echo ($pages[2]['count']*100)/$total;?>,
        color : "#ffffff",
        label : <?php echo "'".$pages[2]['name']." - ".$pages[2]['count']."'";?>
      },
    <?php endif;?>
    <?php if(isset($pages[3])):?>
      {
        value : <?php echo ($pages[3]['count']*100)/$total;?>,
        color : "#882d61",
        label : <?php echo "'".$pages[3]['name']." - ".$pages[3]['count']."'";?>
      },
    <?php endif;?>
    <?php if(isset($pages[4])):?>
      {
        value : <?php echo ($pages[4]['count']*100)/$total;?>,
        color : "#ffd1aa",
        label : <?php echo "'".$pages[4]['name']." - ".$pages[4]['count']."'";?>
      }
    <?php endif;?>
];

var options = {
    segmentShowStroke: true,
    animateRotate: true,
    animateScale: false,
    segmentStrokeColor:"#9f0030",
    segmentStrokeWidth: "1",
    tooltipTemplate: "<%=label%> views",
}

  $('#DivPieContainer').empty();
  $('#DivPieContainer').append('<canvas id="myPieChart"  width="600px" height="300px"></canvas>');
var ctx = document.getElementById("myPieChart").getContext("2d");
var pieChart = new Chart(ctx).Pie(data, options);
document.getElementById('js-legend').innerHTML = pieChart.generateLegend();
</script>
<style>
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.pie-legend-text{
  width: 200px !important;
}
.pie-legend-icon{
      border: solid 1px #9f0030;
}
.test{
    display: inline-block;
    margin-left: 90px;
    width: 180px;
}
.views_title{
    font-size: 20px;
    color: #9f0030 !important;
}
</style>