<?php $application = $this->getApplication(); ?>
<?php $nb_customers = count($this->getApplication()->getCustomers());?>
<div class="area">
    <h3 class="title">
        <span class="left area"><?php echo $this->_('Subcribers'); ?></span>
        <div class="clear"></div>
    </h3>
    <div class="stat">
        <?php echo $nb_customers." ".$this->_("Subcribers");?>
    </div>
    <div style="margin-left:30px">
      <button  type="button" id="btn1" class="btn" onclick="getLastWeek()"><?php echo $this->_("Last week");?></button>
      <button type="button" id="btn2" class="btn" onclick="getLastMonth()"><?php echo $this->_("Last month");?></button>
      <button type="button" id="btn3" class="btn" onclick="getLastYear()"><?php echo $this->_("Last year");?></button>
      <div id="DivChartContainer"></div>
    </div>
</div>

<script>
$( document ).ready(function() {
    getLastWeek();
});

function getLastWeek() {
  $('#DivChartContainer').empty();
  $('#DivChartContainer').append('<canvas id="myChart"  width="800px" height="400px"></canvas>');
  document.getElementById("btn1").style.backgroundColor = "#FFFFFF";
  document.getElementById("btn2").style.backgroundColor = "<?php echo $this->getBlock('general')->getColor()?>";
  document.getElementById("btn3").style.backgroundColor = "<?php echo $this->getBlock('general')->getColor()?>";

  document.getElementById("btn1").style.color = "<?php echo $this->getBlock('general')->getColor()?>";
  document.getElementById("btn2").style.color = "#FFFFFF";
  document.getElementById("btn3").style.color = "#FFFFFF";

<?php
$dates = Core_Model_Date::getAllDaysBetween(date('Y'), date('m'), date('d'), 7);

$js_array = json_encode(array_reverse($dates));
echo "var labels = ". $js_array . ";\n";

$countCustomers = $this->getApplication()->countCustomersByDate(date('Y'), date('m'), date('d'), 7);
$js_array = json_encode(array_reverse($countCustomers));
echo "var datas = ". $js_array . ";\n";
?>

var data = {
    labels: labels,
    datasets: [
        {
           label: "My First dataset",
            fillColor: "rgba(139,0,0,0.2)",
            strokeColor: "rgba(159,0,0,1)",
            pointColor: "rgba(159,0,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0,0,0,1)",
            data: datas
        }
    ]
};


// Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx).Line(data, {
    bezierCurve: true,
    scaleGridLineColor : "rgba(0,0,0,.0)",
});
};
function getLastMonth() {
  document.getElementById("btn1").style.backgroundColor = "<?php echo $this->getBlock('general')->getColor()?>";
  document.getElementById("btn2").style.backgroundColor = "#FFFFFF";
  document.getElementById("btn3").style.backgroundColor = "<?php echo $this->getBlock('general')->getColor()?>";


  document.getElementById("btn1").style.color = "#FFFFFF";
  document.getElementById("btn2").style.color = "<?php echo $this->getBlock('general')->getColor()?>";
  document.getElementById("btn3").style.color = "#FFFFFF";

  $('#DivChartContainer').empty();
  $('#DivChartContainer').append('<canvas id="myChart"  width="800px" height="400px"></canvas>');
<?php
$dates = Core_Model_Date::getAllDaysBetween(date('Y'), date('m'), date('d'), 30);

$js_array = json_encode(array_reverse($dates));
echo "var labels = ". $js_array . ";\n";

$countCustomers = $this->getApplication()->countCustomersByDate(date('Y'), date('m'), date('d'), 30);
$js_array = json_encode(array_reverse($countCustomers));
echo "var datas = ". $js_array . ";\n";
?>

var data = {
    labels: labels,
    datasets: [
        {
           label: "My First dataset",
            fillColor: "rgba(139,0,0,0.2)",
            strokeColor: "rgba(159,0,0,1)",
            pointColor: "rgba(159,0,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0,0,0,1)",
            data: datas
        }
    ]
};


// Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx).Line(data, {
    bezierCurve: true,
    scaleGridLineColor : "rgba(0,0,0,.0)",
});
};

function getLastYear() {
  document.getElementById("btn1").style.backgroundColor = "<?php echo $this->getBlock('general')->getColor()?>";
  document.getElementById("btn2").style.backgroundColor = "<?php echo $this->getBlock('general')->getColor()?>";
  document.getElementById("btn3").style.backgroundColor = "#FFFFFF";


  document.getElementById("btn1").style.color = "#FFFFFF";
  document.getElementById("btn2").style.color = "#FFFFFF";
  document.getElementById("btn3").style.color = "<?php echo $this->getBlock('general')->getColor()?>";

  $('#DivChartContainer').empty();
  $('#DivChartContainer').append('<canvas id="myChart"  width="800px" height="400px"></canvas>');
<?php
$allMonth = Core_Model_Date::getLastTwelveMonth(date('y'), date('m'), true);
$js_array = json_encode(array_reverse($allMonth));
echo "var labels = ". $js_array . ";\n";

$countCustomers = $this->getApplication()->countCustomersByMonth(date('Y'), date('m'));
$js_array = json_encode(array_reverse($countCustomers));
echo "var datas = ". $js_array . ";\n";
?>

var data = {
    labels: labels,
    datasets: [
        {
           label: "My First dataset",
            fillColor: "rgba(139,0,0,0.2)",
            strokeColor: "rgba(159,0,0,1)",
            pointColor: "rgba(159,0,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0,0,0,1)",
            data: datas
        }
    ]
};
// Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx).Line(data, {
    bezierCurve: true,
    scaleGridLineColor : "rgba(0,0,0,.0)",
});
};
</script>