<!-- <center><?php //echo $this->getApplication()->getName()?></center>
<div style="margin-left:30px">
<img src="<?php //echo $this->getApplication()->getIcon()?>"/>	
<?php //echo $this->getApplication()->getId();?>
<?php //var_dump($this->getRequest()->getParams())?>
{{object_id}}
</div> -->
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
</style>
<header>
	<div class="wrapper">
		<h1>
			<a href="http://sincube.com" target="_blank">
				<img src="/images/site/sincube.png" width="200px" alt="">
			</a>
		</h1>
		<button>
			<a href="" target="_blank">
				<?php echo $this->_("Create your app");?>
			</a>
		</button>
	</div>
</header>
<main class="clearfix">
	<article class="presentation">
		<div class="background-image" style="background-image: url('<?php echo $this->getApplication()->getBackgroundImage();?>');"><div class="filter"></div></div>
		<div class="wrapper">
			<div class="icon">
				<img src="<?php echo $this->getApplication()->getIcon();?>" alt="">
				<div class="app-name">
					<h2><?php echo $this->getApplication()->getName();?></h2>
					<p><?php echo $this->_("By Sincube");?></p>
				</div>
			</div>
			<div class="description">
				<p class="biographie"><?php echo $this->getApplication()->getDescription();?></p>
				<div class="download">
					<h2><?php echo $this->_("Available now on");?></h2>
					<ul>
						<li>
							<a href="<?php echo $this->getApplication()->getDevice(2)->getStoreUrl()?>" target="_blank">
								<img src="http://d15oktd9tyyxdq.cloudfront.net/playstore.png" alt="download play store">
							</a>
						</li>
						<li>
							<a href="<?php echo $this->getApplication()->getDevice(1)->getStoreUrl()?>" target="_blank">
								<img src="http://d15oktd9tyyxdq.cloudfront.net/appstore.png" alt="download apple store">
							</a>
						</li>
						<!--<li>
							<a href="<?php echo $this->getApplication()->getDomain() ? $this->getApplication()->getDomain() : $this->getApplication()->getUrl() ?>" target="_blank">
								<img src="http://d15oktd9tyyxdq.cloudfront.net/windowsstore.png" alt="download windows store">
							</a>
						</li>-->
					</ul>
				</div>
			</div>
		</div>
	</article>
	<article class="download wrapper">
		<div class="iphone">
			<div class="homepage-app">
				<img src="<?php echo $this->getApplication()->getBackgroundImage();?>" alt="application mobile ">
			</div>
		</div>
		<div class="bloc-right">
			<div class="share">
				<h2><?php echo $this->_("Share");?></h2>
				<ul>
					<li>
						<?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
						<a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>" target="_blank" class="background">
							<i class="icon-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/intent/tweet?url=<?php echo $url;?>" target="_blank" class="background">
							<i class="icon-twitter"></i>
						</a>
					</li>
					<li>
						<a href="mailto:?body=<?php echo $url;?>" class="background">
							<i class="icon-mail"></i>
						</a>
					</li>
				</ul>
			</div>
			<!--<div class="content">
				<?php //echo $this->getApplication()->getQrcode(); ?>
			</div>-->
			<div class="download">
				<h2><?php echo $this->_("Download");?></h2>
				<ul>
					<li>
						<a href="<?php echo $this->getApplication()->getDevice(2)->getStoreUrl()?>" target="_blank">
							<img src="http://d15oktd9tyyxdq.cloudfront.net/playstore.png" alt="download play store">
						</a>
					</li>
					<li>
						<a href="<?php echo $this->getApplication()->getDevice(1)->getStoreUrl()?>" target="_blank">
							<img src="http://d15oktd9tyyxdq.cloudfront.net/appstore.png" alt="download apple store">
						</a>
					</li>
					<!--<li>
						<a href="<?php echo $this->getApplication()->getDomain() ? $this->getApplication()->getDomain() : $this->getApplication()->getUrl() ?>" target="_blank">
							<img src="http://d15oktd9tyyxdq.cloudfront.net/windowsstore.png" alt="download windows store">
						</a>
					</li>-->
				</ul>
			</div>
		</div>
	</article>
</main>
<footer>
	<div class="wrapper">
		<p><a href="http://sincube.com" alt="sincube agence production communication" target="_blank">&copy; Copyright Sincube</a></p>
		<ul>
			<li>
				<a href="https://www.facebook.com/wearesincube/?fref=ts" target="_blank">
					<i class="icon-facebook-small"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/sincub3" target="_blank">
					<i class="icon-twitter-small"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>
<style type="text/css">
/*RESET*/
html, body, div, span, object, iframe,h1, h2, h3, p, a, img, ul, li, fieldset, form, label, article, aside, footer, header, menu, nav, section{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
/*/RESET*/
/*CLEARFIX*/
.clearfix {height:1%;display: block !important;}
.clearfix:after {content:".";height:0;line-height:0;display:block;visibility:hidden;clear:both;}
/*/CLEARFIX*/
body{font-family: 'Roboto Condensed', Helvetica, sans-serif !important;font-weight: bold;
	font-size: 20px;color: #2A2A2A;background-color: #FFFFFF;}
h2{text-transform: uppercase;}
a{text-decoration: none;}
ul li{list-style-type: none;display: inline-block;}
.wrapper{width: 960px;margin:0 auto;}
header{position: fixed;top:0;left: 0;width: 100%;background-color: #FFFFFF;z-index: 1;-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
header h1{float: left;width: 200px;margin:15px 10px;}
header h1 img{width: 100%;}
button{float: right;border: 0;border-radius: 0;font-size: 18px;font-weight: bold;text-transform: uppercase;color: #FFFFFF;background-color: #9F0030;margin: 25px;width:auto !important;}
button a{line-height: 1.8;padding:10px;}
footer{position: relative;bottom: 0;left: 0;width: 100%;height: 75px;line-height: 75px;text-transform: uppercase;color: #FFFFFF;background-color: #2A2A2A;}
footer p{float:left;}
footer ul{float: right;height: 75px;}
footer ul li{height: 75px;vertical-align: top;width:40%;}
footer ul li i:before{font-size: 35px;margin-left: 55px;}
footer ul li a:hover i:before{color:inherit;}/*#9F0030*/
article.presentation{position: relative;height: 560px;color:#FFFFFF;background-color: #2A2A2A;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.at-view-slide.background{overflow: visible !important;position: static !important;}
article.presentation .background-image{width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: 50%;-webkit-filter: blur(3px);filter: blur(3px);}
.filter{background-color: rgba(0,0,0,0.2);width: 100%;height: 100%;}
article.presentation .wrapper{position: absolute;width: 960px;top:100px;left:50%;margin-left:-480px;}
article.presentation .icon {width: 40%;margin-top: 6%;float: left;}
article.presentation .icon img{width: 170px;border:3px solid #FFFFFF;border-radius: 2px;margin-bottom: 30px;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);background-color: #FFFFFF;}
article.presentation .icon .app-name{line-height: 1.5;width:160px;height: auto;color: #2A2A2A;background-color: #FFFFFF;padding:8px;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
article.presentation .icon .app-name h2{color:#9F0030;font-size:23px;line-height: }
article.presentation .icon .app-name p{font-weight: normal;}
article.presentation .description{width:50%;display: inline-block;margin-top: 7%;}
article.presentation .description p.biographie{text-transform: uppercase;line-height: 1.3;word-wrap: break-word;font-size: 18px;text-overflow: ellipsis;max-height: 180px;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 7;}
article.presentation .description .download{text-align: center;color: #2A2A2A;background-color: rgba(255,255,255,0.6);height: auto;margin-top: 40px;padding: 10px;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
article.presentation .description .download h2{font-size: 23px;line-height: 1.5;padding-bottom: 7px;}
article.presentation .description .download ul li,article.download .bloc-right .download ul li{width: 29%;vertical-align: middle;padding-right: 10px;}
article.presentation .description .download ul li img,article.download .bloc-right .download ul li img{width: 100%;}
article.download{padding: 107px 0;height: 600px;}
article.download .iphone{position: relative;width: 288px;height: 600px;background-image: url('/app/design/desktop/siberian/images/customization/overview/iphone5.png');background-repeat: no-repeat;background-size: 100% ;float: left;}
article.download .iphone .homepage-app{width:240px;height: auto;position:absolute;top:90px;left:25px;}
article.download .iphone .homepage-app img{width: 100%;height: 100%;}
article.download .bloc-right{width: 60%;text-align: center;float: right;}
article.download .bloc-right h2{font-size: 30px;margin-bottom: 25px;}
article.download .bloc-right .share ul{margin-bottom: 40px;}
article.download .bloc-right .share ul li{width:20%;}
article.download .bloc-right .share ul li a i{color: inherit;font-size: 60px;}
article.download .bloc-right .share ul li a i:before{padding-right: 0 !important;}
article.download .bloc-right .content{height: 280px;padding: 10px;background-color: #efefef;margin-bottom: 40px;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
article.download .bloc-right .content .qrcode{width:100%;height: 100%;}
article.download .bloc-right .content .qrcode img{height: 100%;}
/*MEDIAQUERIES*/
@media screen and (max-width: 970px) {
	* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
 	.wrapper{width:90%;}
	article.presentation .wrapper{width:90%;margin-left: -45%;}
	article.download{height: auto;}
	article.download .iphone{float: none;margin: 0 auto;}
	article.download .bloc-right{width:100%;float:none;}
	article.download .bloc-right .share{margin-top: 40px;}
	article.download .bloc-right .share ul li{margin-right: 0;width:20%;}
	article.download .bloc-right .content{height: 320px;}
	article.download .bloc-right .download ul li{width:25%;}
	article.presentation .description p.biographie{max-height:220px;-webkit-line-clamp: 9;}
}
@media screen and (max-width: 750px) {
 	body{font-size: 19px;}
 	article.presentation{height:580px;}
 	article.presentation .wrapper{height:450px;}
	article.presentation .icon img{width:156px;}
	article.presentation .icon .app-name{width:146px; height: auto;}
	article.presentation .icon .app-name h2{font-size: 20px;}
	article.presentation .description .download{position: absolute;width: 100%;left: 0;bottom:0;}
	article.download .bloc-right .share ul li{margin-right: 0;width:31%;}
	article.presentation .description p.biographie{max-height: 249px;-webkit-line-clamp: 11;}
}
@media screen and (max-width: 580px) {
 	header button{font-size: 15px;margin:25px 0;}
 	article.presentation .description .download ul li, article.download .bloc-right .download ul li{width:31%;padding-right: 0;}
 	article.presentation .description p.biographie{max-height: 310px;-webkit-line-clamp: 12;}
}
@media screen and (max-width: 450px) {
 	header h1{width:100%;margin: 10px auto;text-align: center;float:none;}
 	header h1 img{width: 160px;}
 	header button{margin:15px 0;width: 100% !important;}
 	article.presentation{height: 650px;}
 	article.presentation .wrapper{margin-top: 25px}
	article.presentation .icon{width: 100%;float: none;}
	article.presentation .icon img{width:140px;}
	article.presentation .icon .app-name{float:right;margin-top:35px;}
	article.presentation .description{width: 100%;margin-top: 0;}
	article.presentation .description p.biographie{font-size: 16px;max-height: 185px;-webkit-line-clamp: 9;}
	article.presentation .description .download{position:static;margin-top: 30px;}
	footer ul li i:before{font-size: 35px;margin-left: 15px;}
}
@media screen and (max-width: 430px) {
	article.presentation{height: 700px;}
	footer{height: 120px;}
	footer p,footer ul{float:none;text-align: center;line-height: 55px;}
	footer ul,footer ul li{height: auto;}
}
@media screen and (max-width: 330px) {
	article.presentation .icon img{width: 120px;}
	article.download .iphone{width: 210px;height: 480px;}
	article.download .iphone .homepage-app{width: 176px;top:66px;left:18px;}
	article.download .bloc-right .content{height: 120px;}
	footer .wrapper p{font-size: 16px;}
	footer ul li i:before{font-size: 28px;}
}
@media screen and (max-width: 300px) {
	article.presentation{height: 650px;}
	article.presentation .icon img{display: none;}
	article.presentation .icon .app-name{float: none; margin:35px auto;}
}
/*/MEDIAQUERIES*/
</style>