
<?php if($this->getApplication()->getSubscription()->getUserAccount() == 1):?>
<div class="customer_account">
    <div class="section">
    	<p><?php echo $this->_('To be connected in your application, you have to used the same login and password used for creating the application'); ?></p>
    	<p><?php echo $this->_("Your login")." : ".$this->getAdmin()->getEmail()?></p>
    	<p><?php echo $this->_("Once connected, you will be able to writte news and push directly inside the app !");?>
        <p><?php echo $this->_('This page will be displayed to mobile users to enable them to login and manage their account. It is automatically added when you use features which need user login.'); ?></p>
        <p style="color:#9F0030; font-size:20px"><?php echo $this->_('If you active the push on profile option, you should desactivated the push notification section.'); ?></p>
    </div>
</div>
<?php else:?>
<div class="customer_account">
    <div class="section">
        <p><?php echo $this->_('User Account is not activated for your plan.'); ?></p>
    </div>
</div>
<?php endif;?>