<?php $application = $this->getApplication(); ?>

<?php $sub = new Subscription_Model_Subscription()?>
<?php $subscriptions = $sub->findAll()?>

<div class="application_pricing_table application">
    <div class="application_header app_name">
        <?php echo $this->getPartialHtml('customization_header'); ?>
    </div>
    <div class="application_content inner_content">
    	<div class="title">
            <i class="left icon-euro"></i>
            <h2 class="left inner_content f-rounded"><?php echo $this->_('Pricing'); ?></h2>
            <div class="clear"></div>
        </div>
        <div class="area">
            <h3 class="title">
                <span class="left area"><?php echo $this->_('Packs pricing'); ?></span>
                <div class="clear"></div>
            </h3>
            <div class="packs">
                <?php foreach($subscriptions as $subscription) : ?>
                    <?php if(strpos($subscription->getName(), "Website") === false && $subscription->getName() !="Free"):?>
                        <div class="pack" id="<?php echo strtolower($subscription->getName()); ?>">
                            <header>
                                <?php 
                                    $tauxTax = ($subscription->getRegularPayment() * 20) / 100;
                                    $priceTax = $subscription->getRegularPayment() + $tauxTax;
                                    $priceMonth = $priceTax / 12; 
                                ?>
                                <h4><?php echo $subscription->getName(); ?></h4>
                                <p class="pricing"><?php echo round($subscription->getRegularPayment()); ?>€ <?php echo $this->_('ex-Tax');?><span class="time">/<?php echo$this->_('yr');?></span></p>
                                <p class="tva_pricing">(<?php echo $priceTax; ?>€ <?php echo $this->_('VAT/yr either').' '.number_format($priceMonth,2); ?>€ <?php echo $this->_('VAT/mo')?>)</p>
                            </header>
                            <div class="features">
                                <ul class="list">
                                    <li><?php echo $this->_('Mobile + Tablet'); ?></li>
                                    <li><?php echo $this->_('Android + iOS + HTML5'); ?></li>
                                    <li class="core_app">
                                        <?php echo $this->_('Core app features');?>
                                        <a href="javascript:void(0)" class="open_popup"><span class="open_plus">+</span></a>
                                    </li>
                                    <?php if($subscription->getName() != 'Beginner') :?>
                                        <li class="more">+</li>
                                        <li><?php echo $this->_('Users Functionlity');?> </li>
                                        <li><?php echo $this->_('Video');?> </li>
                                        <li><?php echo $this->_('Private Section');?> </li>
                                        <li><?php echo $this->_('Flux RSS');?> </li>
                                        <li><?php echo $this->_('Monetize your app');?> </li>
                                        <?php if($subscription->getName() != 'Starter') :?>
                                            <li><?php echo $this->_('Fanwall');?> </li>
                                            <li><?php echo $this->_('Custom Page');?> </li>
                                            <li><?php echo $this->_('Radio');?> </li>
                                            <li><?php echo $this->_('Source code');?> </li>
                                            <li><?php echo $this->_('Woocommerce link / Shopify link');?> </li>
                                            <li><?php echo $this->_('Wordpress synchronisation');?> </li>
                                            <?php if($subscription->getName() != 'Advanced') :?>
                                                <li><?php echo $this->_('Ecommerce');?> </li>
                                                <li><?php echo $this->_('Topic Push');?> </li>
                                            <?php endif;?>
                                        <?php endif; ?>
                                    <?php endif;?>
                                    <li class="more">+</li>
                                    <?php if($subscription->getName() == 'Premium') :?>
                                        <li><?php echo $this->_('Advanced Analytics');?></li>
                                        <li><?php echo $this->_('Templates Premium');?></li>
                                    <?php else : ?>
                                        <li><?php echo $this->_('Analytics');?></li>
                                    <?php endif;?>
                                    <?php if($subscription->getNbSubscribers() != 0)  :?>
                                        <li><?php echo number_format($subscription->getNbSubscribers(), 0, ',', ' ' ).' '.$this->_('Subscribers');?></li>
                                    <?php endif; ?>
                                </ul>
                                <div id="popup_features_open" class="modal">
                                    <div class="modal_content">
                                        <ul >
                                            <li>
                                                <a href="javascript:void(0)" class="close">X</a>
                                            </li>
                                            <li><?php echo $this->_('Images');?> </li>
                                            <li><?php echo $this->_('Audio');?> </li>
                                            <li><?php echo $this->_('Videos Channel');?> </li>
                                            <li><?php echo $this->_('Newswall');?> </li>
                                            <li><?php echo $this->_('Facebook');?> </li>
                                            <li><?php echo $this->_('Twitter');?> </li>
                                            <li><?php echo $this->_('Events');?> </li>
                                            <li><?php echo $this->_('Links');?> </li>
                                            <li><?php echo $this->_('Contact');?> </li>
                                            <li><?php echo $this->_('Push Notifications unlimited + geofencing');?> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <?php if(!$this->getApplication()->getSubscription()->getSubscriptionId() || ($this->getApplication()->getSubscription()->getSubscriptionId() < $subscription->getId())):?>
                            <footer>
                                <a class="btn default_button" href="<?php echo $this->getUrl('subscription/application/create');?>">
                                    <span class="upgrade-button"><?php echo $this->_('Upgrade');?></span>
                                </a>
                            </footer>
                            <?php endif;?>
                            <?php if($this->getApplication()->getSubscriptionName() == "Free"):?>
                            <footer>
                                <a class="btn default_button" href="<?php echo $this->getUrl('subscription/application/create');?>">
                                    <span class="upgrade-button"><?php echo $this->_('Upgrade');?></span>
                                </a>
                            </footer>
                            <?php endif;?>
                        </div>
                    <?php endif;?>
                <?php endforeach; ?>
            </div>
        </div>
        <div class="area">
            <h3 class="title">
                <span class="left area"><?php echo $this->_('Services pricing'); ?></span>
                <div class="clear"></div>
            </h3>
            <div class="packs services">
                <div class="pack" id="beginner">
                    <header>
                        <h4><?php echo $this->_('Pack 1'); ?></h4>
                        <p class="pricing">50€ <?php echo $this->_('ex-Tax');?></p>
                        <p class="tva_pricing">(<?php echo $this->_('either');?> 60€ <?php echo $this->_('VAT');?>)</p>
                    </header>
                    <ul class="features">
                        <li><?php echo $this->_('Content integration');?></li>
                    </ul>
                    <footer>
                        <a class="btn default_button" href="http://site-sincubeapp.rhcloud.com/services-pack/?pack=pack60" target="_blank">
                            <span class="upgrade-button"><?php echo $this->_('Contact us');?></span>
                        </a>
                    </footer>
                </div>
                <div class="pack" id="starter">
                    <header>
                        <h4><?php echo $this->_('Pack 2'); ?></h4>
                        <p class="pricing">125€ <?php echo $this->_('ex-Tax');?></p>
                        <p class="tva_pricing">(<?php echo $this->_('either');?> 150€ <?php echo $this->_('VAT');?>)</p>
                    </header>
                    <ul class="features">
                        <li><?php echo $this->_('Content integration');?></li>
                        <li><?php echo $this->_('Colors selection');?></li>
                        <li><?php echo $this->_('Font selection');?></li>
                        <li class="more">+</li>
                        <li><?php echo $this->_('Iteration review');?></li>
                    </ul>
                    <footer>
                        <a class="btn default_button" href="http://site-sincubeapp.rhcloud.com/services-pack/?pack=pack150" target="_blank">
                            <span class="upgrade-button"><?php echo $this->_('Contact us');?></span>
                        </a>
                    </footer>
                </div>
                <div class="pack" id="advanced">
                    <header>
                        <h4><?php echo $this->_('Pack 3'); ?></h4>
                        <p class="pricing">250€ <?php echo $this->_('ex-Tax');?></p>
                        <p class="tva_pricing">(<?php echo $this->_('either');?> 300€ <?php echo $this->_('VAT');?>)</p>
                    </header>
                    <ul class="features">
                        <li><?php echo $this->_('Content integration');?></li>
                        <li><?php echo $this->_('Colors selection');?></li>
                        <li><?php echo $this->_('Font selection');?></li>
                        <li><?php echo $this->_('App icon creation');?></li>
                        <li><?php echo $this->_('Splash screen creation');?></li>
                        <li class="more">+</li>
                        <li>2 <?php echo $this->_('Iteration review');?></li>
                    </ul>
                    <footer>
                        <a class="btn default_button" href="http://site-sincubeapp.rhcloud.com/services-pack/?pack=pack300" target="_blank">
                            <span class="upgrade-button"><?php echo $this->_('Contact us');?></span>
                        </a>
                    </footer>
                </div>
            </div>
            <div class="packs manager" style="text-align:center;margin-top:40px;">
                <div class="pack" id="premium" style="width:50%;">
                    <header>
                        <h4><?php echo $this->_('Social Media Management'); ?></h4>
                        <p class="pricing">30€/<?php echo $this->_('hour').' '.$this->_('ex-Tax').' '.$this->_('OR');?> 300€/<?php echo $this->_('year').' '.$this->_('ex-Tax')?></p>
                        <p class="tva_pricing">(<?php echo $this->_('either');?> 36€/<?php echo $this->_('hour').' '.$this->_('VAT').' '.$this->_('OR');?> 360€/<?php echo $this->_('year').' '.$this->_('VAT')?>)</p>
                    </header>
                    <article class="features details" style="min-height:auto;">
                        <h3 style="color:<?php echo $this->getBlock('general')->getColor()?>"><?php echo $this->_("An effective application is an active application")?></h3>
    <h3><?php echo $this->_("Sincube offers you to update your content")." : "?></h3> 
    <p><?php echo $this->_("Every month, we establish together the program, we publish your photos, videos, posts, push notifications ... on the desired date")?></p>
    <h3><?php echo $this->_("Entertainment program")?></h3>
    <p><?php echo $this->_("We create with you a program of animations, chat rooms, competitions, blindtests ...")?></p>
                    </article>
                    <footer>
                        <a class="btn default_button" href="http://site-sincubeapp.rhcloud.com/services-pack/?pack=socialmediamanagment" target="_blank">
                            <span class="upgrade-button"><?php echo $this->_('Contact us');?></span>
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var modal = document.getElementById('popup_features_open');
    var btn = document.getElementsByClassName("open_popup")[0];
    var btn1 = document.getElementsByClassName("open_popup")[1];
    var btn2 = document.getElementsByClassName("open_popup")[2];
    var btn3 = document.getElementsByClassName("open_popup")[3];
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function(){modal.style.display = "block";}
    btn1.onclick = function(){modal.style.display = "block";}
    btn2.onclick = function(){modal.style.display = "block";}
    btn3.onclick = function(){modal.style.display = "block";}
    span.onclick = function(){modal.style.display = "none";}
    window.onclick = function(event) {
        if (event.target == modal) {modal.style.display = "none";}
    }
</script>