<?php $album = new Media_Model_Gallery_Music_Album(); ?>
<?php $album->find($this->getAlbumId()); ?>
<?php $tracks = new Media_Model_Gallery_Music_Track(); ?>
<?php $tracks = $tracks->findAll(array('album_id' => $album->getId()), 'position ASC'); ?>
<?php $gallery = new Media_Model_Gallery_Music(); ?>
<?php $gallery = $gallery->find(array("gallery_id" => $album->getGalleryId())); ?>
<?php $value_id = $gallery->getValueId()?>
<div id="album_cont">
    <div class="left" style="margin-top:20px;">
        <?php if($album->getArtworkUrl()) : ?>
            <img class="album_illus" id="album_illus" src="<?php echo $album->getArtworkUrl() ?>" width="150px" height="150px"/>
        <?php endif; ?>
        <input id="music_custom_image_file" class="uploader" type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>">
        <input type="hidden" id="custom_artwork_url" name="artwork_url" value="">
        <input type="hidden" name="album_id" id="album_id" value="<?php echo $album->getId() ?>" />
        <input type="hidden" name="value_id" id="value_id" value="<?php echo $value_id;?>" />
    </div>
    <div class="right" style="margin-top: 60px;margin-right: 150px !important;">
        <input type="text" id="album_name" name="album_name" value="<?php echo $album->getName()?>"></input>
        <input type="text" id="album_artist" name="album_artist" value="<?php echo $album->getArtistName()?>"></input>
        <br/>
        <span class="track_count"><?php echo $tracks->count() ?> <?php echo $tracks->count() == 1 ? $this->_('title') : $this->_('titles') ?></span>
    </div>
    <div class="clear"></div>
    <ul id="track_edit" class="table_row_galleries sortable">
        <?php foreach($tracks as $track) : ?>
            <li class="col-md-12 col-sm-12 col-ls-12" rel="<?php echo $track->getId() ?>">
                <i class="col-md-1 col-sm-1 col-ls-1 handle icon-move"></i>
                <span class="col-md-7 col-sm-7 inner_content">
                    <?php echo $track->getName() ?> de <?php echo $track->getArtistName() ?><span class="right"><?php echo $track->getFormatedDuration() ?></span>
                </span>
                <span class="col-md-4 col-ls-4 col-sm-4 actions right">
                    <button class="deleteTrack delete left" type="button"><i class="icon-trash"></i></button>
                    <button class="addlyrics btn left" rel='<?php echo $track->getId() ?>' type="button"><?php echo $this->_('Add Lyrics');?></button>
                    <input type="hidden" name="album_id" value="<?php echo $album->getId() ?>" />
                    <input type="hidden" name="type" value="track" />
                    <input type="hidden" name="element_id[]" value="<?php echo $track->getId() ?>" />
                    <input type="hidden" name="value_id" value="<?php echo $value_id;?>" />
                </span>
                <div id="container_<?php echo $track->getId()?>" style="display:none;width: 70%;margin-top: 20px;margin-bottom:20px;">
                    <button class="closelyrics delete right" rel="<?php echo $track->getId() ?>" type="button"><i class="icon-remove"></i></button>
                     <textarea class="lyrics input " id="lyrics_<?php echo $track->getId()?>" type="text" style="width:100%;height:200px"><?php echo str_replace('<br />',"\n", $track->getLyrics())?></textarea>
                      <button class="savelyrics btn" rel='<?php echo $track->getId() ?>' type="button" style="margin-top: 20px; margin-left: 90%;"><?php echo $this->_('SAVE');?></button>
                </div>
            </li>
        <?php endforeach ?>
    </ul>
    <button id="savealbum" class="right save_selection default_button btn-block" type="button"><?php echo $this->_('Save') ?></button>
</div>
<style type="text/css">
    #album_cont {
        padding: 0 10px;
    }
    #album_cont img.album_illus {
        border: solid 1px;
        margin-right: 20px;
    }
    #track_edit {
        margin-top: 20px;
        max-height: 500px;
        overflow: auto;
    }
    #track_edit li {
        transition: none;
        display: block;
    }
    #track_edit li i, #track_edit li span {
        display: inline;
        vertical-align: middle;
    }
    #track_edit li .inner_content {
        border-radius: 7px 7px 7px 7px;
        display: inline-block;
        margin-left: 10px;
        padding: 10px;
        /*width: 80%;*/
    }
    #track_edit .icon-move {
        cursor: move;
    }
    .track_edit-placeholder {
        height: 20px;
        border: dotted 1px;
    }
    #cke_product_description .cke_button__image { display:none; }
    .cke_voice_label{display:none;}
    .cke_skin_kama .cke_dialog_body { z-index: 10200 !important; }
</style>
<script type="text/javascript">
$('#savealbum').click(function(){
    var datas = {album_name:$('#album_name').val(), artist_name:$('#album_artist').val(), album_id:$('#album_id').val(), file:$('#custom_artwork_url').val(),value_id:$('#value_id').val()};
    datas = JSON.stringify(datas);
    $.ajax({
                url : "<?php echo $this->getUrl('media/application_gallery_music/savealbum');?>",
                type:"POST",
                dataType:"json",
                data : datas,
                    success:function (data) {
                         reloadPP();
                        iframe.f.reload();
                        $.prettyPhoto.close();
                        }

                    });
            });

    $('#music_custom_image_file').fileupload({
        dataType: 'json',
        add: function(e, data) {
            data.submit();
            music_album_image_uploader.showProgressbar();
        },
        progressall: function(e, data) {
            music_album_image_uploader.moveProgressbar(data);
        },
        done: function(e, data) {
            if (data.result.error) {
                music_album_image_uploader.showError(data.result.message);
            }
            if (data.result.success) {
                music_album_image_uploader.hide();
                var params = new Array();
                params["url"] = '<?php echo $this->getUrl('template/crop/crop'); ?>';
                params["file"] = data.result.files;
                params["output_w"] = 200;
                params["output_h"] = 200;
                params["output_url"] = '<?php echo str_replace('/', '§', $this->getUrl('media/application_gallery_music/crop')) ?>';
                params["uploader"] = 'music_album_image_uploader';
                music_album_image_uploader.crop(params);
                music_album_image_uploader.callback = function(file) {
                    //$('#custom_delete_image').val('');
                    //$('#upload_music_custom_image').hide();
                    //$('#music_custom_image_file').hide();
                    //$('#remove_custom_image_img').show();
                    $('#custom_artwork_url').val(file);
                    //$('#td_delete_album').css('padding-top', '0px');
                    $('#album_illus').attr('src', '<?php echo Core_Model_Directory::getTmpDirectory(); ?>/'+file);
                    //$('#music_custom_img_src').show();
                };
            }
        }
    });

    $('.addlyrics').click(function(){
        var id =  $(this).attr('rel');
        document.getElementById("container_"+id).style.display="block";
    });
    $('.closelyrics').click(function(){
        var id =  $(this).attr('rel');
        document.getElementById("container_"+id).style.display="none";
    });
    $('.savelyrics').click(function(){
        var id =  $(this).attr('rel');
        var lyrics = $("#lyrics_"+id).val();
         $.ajax({
                url : "<?php echo $this->getUrl('media/application_gallery_music/savelyrics');?>",
                type:"POST",
                dataType:"json",
                data : {
                            track_id : id,
                            lyrics : lyrics
                        },
                    success:function (data) {
                        alert("done!");
                    }
       });
    });
    $('.deleteTrack').click(function(){
        var $li = $(this).parent().parent();
        var id = $(this).parent().find('input[name="track_id[]"]').val();
        var album_id = $(this).parent().find('input[name="album_id"]').val();
        if(confirm('<?php echo addslashes($this->_("Are you sure you want to delete this track?")); ?>')) {
            reload($(this.parentNode), '<?php echo $this->getUrl('media/application_gallery_music/deleteelement'); ?>', true, function(datas) {
                if(datas.success) {
                    var track_count = $('#track_edit li').length;
                    var chanson = '<?php echo $this->_("titles") ?>';
                    if(track_count == 1) {
                        chanson = '<?php echo $this->_("title") ?>';
                    }
                    $('.track_count').html(track_count+' '+chanson);
                    $('#album_edit li[rel="'+album_id+'"]').find('.edit_album i').html('('+track_count+' '+chanson+')');
                    $li.slideUp(function(){
                        $li.remove();
                    });
                    iframe.f.reload();
                }
            });
        }
        return false;
    });

    $('#track_edit').sortable({
        handle : '.handle',
        placeholder: "track_edit-placeholder",
        axis: "y",
        update : function (e, ui) {
            var order = $(e.target).sortable('serialize');
            $(e.target).sortable("refresh");
            reload($("#track_edit"), "<?php echo $this->getUrl('media/application_gallery_music/sorttracks', array('option_value_id' => $this->getOptionValueId())); ?>?"+order, true, function() {
                if(iframe) iframe.reload();
            });
        }
    });


        //$(".addLyrics").click(function{
          //  var $li = $(this).parent().parent();
            //var id = $(this).parent().find('input[name="track_id[]"]').val();
            //document.getElementById("lyrics_"+id).style.display = "block";
        //});
        

</script>