<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <div class="scrollable_content" sb-load-more factory="factory" collection="collection">

    <div ng-if="details.locked === 1 && !is_logged_in">
      <?php echo $this->getPartialHtml("padlock"); ?>
    </div>
    <div ng-if="(details.locked === 1  &&  is_logged_in) || details.locked === 2 || !details.locked">
        <?php echo $this->getPartialHtml("cover"); ?>

        <div class="padding list l2 for_ads_banner">
            <div class="no-results" ng-if="details.length==0">{{details.nopost}}</div>
            <ul>
                <li class="padding" ng-repeat="item in collection" ng-class="{first: $index == 0}">
          
                       <!-- <div class="month">
                            <span class="title background reverse">
                                {{ item.month_name_short }}
                            </span>
                        </div>
                        <div class="day background">
                            <span class="background">{{ item.day }}</span>
                        </div>-->
                     <div ng-if="item.month" style="width:100%; height:40px; line-height:40px; background-color:<?php echo $this->getApplication()->getBlock('background')->getColor()?>;text-align:center;margin-bottom:10px;color:<?php echo $this->getApplication()->getBlock('background')->getBackgroundColor()?>">
                        {{ item.month }}
                     </div>  
                    <a href="{{item.url}}"?> 
                    <div style="background-color:<?php echo $this->getApplication()->getBlock('background')->getBackgroundColor()?>; padding:10px; height:100px;"> 
                    <div class="image" image-src="item.picture" sb-image style="background-position: 50% 50%; margin-right:5px;background-size:cover;">
                    <div class="month">
                            <span class="title background reverse">
                                {{ item.month_name_short }}
                            </span>
                        </div>
                        <div class="day background">
                            <span class="background">{{ item.day }}</span>
                        </div>
                    </div>

                    <div class="details">
                        <div class="title top" >
                            <span class="title block" style="font-size: 10px; overflow:initial; line-height: 10px;">{{ item.title }}</span>
                            <span class="subtitle">{{ item.subtitle }}</span>
                            <span class="title block">{{ item.title2 }}</span>
                            <span class="subtitle bottom" ng-if="item.subtitle">{{ item.subtitle2 }}</span>
                        </div>
                    </div>
                    </div>
                    </a>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
