<?php $option_value = $this->getOptionValue(); ?>
<?php $application = $this->getSession()->getApplication(); ?>
<?php $radio = $option_value->getObject(); ?>
<div class="form_content">
    <div id="list" class="edit_page radios">
        <div class="section form_content">
            <form id="radioForm" name="radioForm" method="post" action="<?php echo $this->getUrl('radio/application/editpost') ?>">
                <h4 class="subtitle">
                    <span class="left area"><?php echo $this->_('Information') ?></span>
                    <hr />
                    <div class="clear"></div>
                </h4>
                <input type="hidden" name="value_id" value="<?php echo $option_value->getId(); ?>" />
                <div class="form_content">

                    <fieldset class="form-horizontal">

                        <div class="form-group">
                            <!-- <div class="col-sm-2">
                                <label for="title_radio"><?php //echo $this->_('Title:') ?> <span class="input-required">*</span></label>
                            </div> -->
                            <div class="col-sm-5">
                                <input type="text" id="title_radio" name="title" class="form-control required" value="<?php echo $radio->getTitle() ?>" placeholder="<?php echo $this->_('Title *') ?>"/>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="link_radio" name="link" class="form-control required url" value="<?php echo $radio->getLink() ?>" placeholder="<?php echo $this->_('Link *') ?>"/>
                            </div>
                        </div>
                        <div class="form_group">
                        <div class="col-sm-12">
                            <!--[if gte IE 10]><!-->
                            <button type="button" style="display:block" class="upload_picture upload editor_menu active image_left">
                                <i class="icon-camera-retro"></i>
                                <span class="bold"><?php echo $this->_('Add a picture'); ?></span>
                            </button>
                            <!--<![endif]-->
                            <input style="display:none" enctype="multipart/form-data" class="left fileupload fileupload_picture" type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>">
                            <div class="clear"></div>
                             <input type="hidden" name="image" value="<?php echo $radio->getImage(); ?>" class="uploadimage" />
                        </div>
                    </div> 

                        <!-- <div class="form-group">
                            <div class="col-sm-2">
                                <label for="link_radio"><?php //echo $this->_('Link:') ?> <span class="input-required">*</span></label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="link_radio" name="link" class="form-control required url" value="<?php //echo $radio->getLink() ?>" placeholder="<?php //echo $this->_('Link:') ?>"/>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn default_button" type="submit">
                                        <?php echo $this->_('Save'); ?>
                                </button>
                            </div>
                        </div>

                    </fieldset>

                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    page.setCallback('didappear', function() {

        $('#link_radio').change(function() {
            if(!$(this).val().isEmpty() && !$(this).val().startsWith('http://') && !$(this).val().startsWith('https://')) {
                $(this).val('http://'+$(this).val());
            }
        });
        $('#radioForm').submit(function() {
            if(!$(this).valid()) return false;
            reload(this, this.action, true, function(datas) {
                if(datas.success) {

                }
            });
            return false;
        });

    });

    page.setCallback('willdisappear', function() {
        $('#radio').unbind('change');
        $('#radioForm').unbind('submit');
    });

    $('.upload_picture').click(function() {
            $('.fileupload').trigger('click');
    });

    var poster_uploader = new Uploader();
        $('.fileupload').fileupload({
            dataType: 'json',
            add: function(e, data) {
                data.submit();
                poster_uploader.showProgressbar();
            },
            progressall: function(e, data) {
                poster_uploader.moveProgressbar(data);
            },
            done: function(e, data) {
                if (data.result.error) {
                    poster_uploader.showError(data.result.message);
                } else {
                    poster_uploader.hide();
                    var params = new Array();
                    params["url"] = '<?php echo $this->getUrl('template/crop/crop'); ?>';
                    params["file"] = data.result.files;
                    var width = 500;
                    var height = 300;
                    /*
                    if (iframe.content.find('.cms_block[rel="<?php echo $this->getPosition(); ?>"]').find('video').length > 0) {
                        width = iframe.content.find('.cms_block[rel="<?php echo $this->getPosition(); ?>"]').find('video').width();
                        height = iframe.content.find('.cms_block[rel="<?php echo $this->getPosition(); ?>"]').find('video').height();
                    }
                    */
                    params["output_w"] = width;
                    params["output_h"] = height;
                    params["output_url"] = '<?php echo str_replace('/', '$', $this->getUrl('cms/application_page/cropvideo')) ?>';
                    params["uploader"] = 'poster_uploader';
                    poster_uploader.crop(params);
                    poster_uploader.callback = function(file) {
                        var filepath = '<?php echo Core_Model_Directory::getTmpDirectory() ?>/' + file;
                        alert(file);
                        $('input[name="image"]').val(file);
                        /*
                        iframe.content.find('.cms_block[rel="<?php echo $this->getPosition(); ?>"] video').attr('poster', filepath);
                        */
                    }
                }
            }
        });

</script>