<?php $option_value = $this->getCurrentOptionValue(); ?>
<?php $link = $this->getCurrentLink(); ?>

<?php $options = $this->getApplication()->getOptions();?>
<?php $optionsName = array();?>
<?php foreach ($options as $key => $option) {
    $optionsName[]['url'] = $this->getApplication()->getUrl().$option->getMobileUri().'index/value_id/'.$option->getValueId();
    $optionsName[]['name'] = $option->getName();
}?>
<div id="row_<?php echo $link->getId(); ?>" class="row_link row" rel="<?php echo $link->getId(); ?>"<?php if($link->getId() == 'new') : ?> style="display:none;"<?php endif; ?>>
    <div class="col-sm-1" align="center">
        <button type="button" id="upload_weblink_picto_<?php echo $link->getId(); ?>" class="bt-margin default_button add upload_weblink_picto" rel="<?php echo $link->getId(); ?>"><?php if($link->getPicto()) : ?><img src="<?php echo $link->getPictoUrl(); ?>" width="100%" height="100%" /><?php else : ?><i class="icon-camera-retro"></i><?php endif; ?></button>
        <input id="link_file_<?php echo $link->getId(); ?>" class="uploader link_file" style="display:none" type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>" data-id="<?php echo $link->getId(); ?>" rel="picto" />
        <input type="hidden" name="value_id" value="<?php echo $option_value->getId(); ?>"/>
        <input id="picto_file_<?php echo $link->getId(); ?>" type="hidden" name="link[picto]" value="<?php echo $link->getPicto(); ?>" />
    </div>
    <div class="col-sm-4">
        <input type="text" name="link[title]" id="title_<?php echo $link->getId(); ?>" value="<?php echo $link->getTitle(); ?>" placeholder="<?php echo $this->_('Title') ?>" class="weblink_field form-control required" rel="<?php echo $link->getId(); ?>" /></td>
    </div>  
    <div class="col-sm-5">
    <?php if($link->getId() == 'new') : ?>
    <?php if ($option_value->getCode() == "submenuplus") :?>
        <button onclick="showInApp()" type="checkbox" value="in-app">In app</button>
        <button onclick="showInWeb()" type="checkbox" value="web">web</button>
          <select id="in-app"  onchange="setLinkVal()" class="form-control" style="display:none; visibility:visible; position:initial";>
             <option value="<?php echo $this->_("Choose an option")?>"><?php echo $this->_("Choose an option")?></option>
              <?php foreach ($options as $key => $option):?>
                <?php $is_disabled = !$this->_canAccess("feature_".$option->getCode(), $option->getValueId()); ?>
                <?php if(!$is_disabled):?>
                   <option value="<?php echo $this->getApplication()->getUrl().$option->getMobileUri().'index/value_id/'.$option->getValueId();?>"><?php echo $option->getName()?></option>
                 <?php endif;?>
               <?php endforeach;?>
           </select> 
            <input id="in-web" type="text" name="link[url]" class="form-control required weblink_url url" placeholder="<?php echo $this->_('Link') ?>" value="<?php echo $link->getUrl() ?>" rel="<?php echo $link->getId(); ?>" style="display:none"/>
    <?php elseif($option_value->getCode() == "weblink_multi"):?>
        <input type="text" name="link[url]" class="form-control required weblink_url url" placeholder="<?php echo $this->_('Link') ?>" value="<?php echo $link->getUrl() ?>" rel="<?php echo $link->getId(); ?>"/>
    <?php else:?>
          <select id="in-app"  onchange="setLinkVal()" class="form-control" style="visibility:visible; position:initial";>
              <option value="<?php echo $this->_("Choose an option")?>"><?php echo $this->_("Choose an option")?></option>
              <?php foreach ($options as $key => $option):?>
                <?php $is_disabled = !$this->_canAccess("feature_".$option->getCode(), $option->getValueId()); ?>
                <?php if(!$is_disabled):?>
                   <option value="<?php echo $this->getApplication()->getUrl().$option->getMobileUri().'index/value_id/'.$option->getValueId();?>"><?php echo $option->getTabbarName()?></option>
                 <?php endif;?>
               <?php endforeach;?>
           </select> 
            <input id="in-web" type="text" name="link[url]" class="form-control required weblink_url url" placeholder="<?php echo $this->_('Link') ?>" value="<?php echo $link->getUrl() ?>" rel="<?php echo $link->getId(); ?>" style="display:none"/>

            <?php endif;?>


  
       <?php else: ?>
        <?php if($option_value->getCode() == "submenu"):?>
         <select id="app_<?php echo $link->getId()?>" onchange="setNewVal(<?php echo $link->getId()?>)" class="form-control" style="visibility:visible; position:initial";>
              <?php foreach ($options as $key => $option):?>
                <?php $is_disabled = !$this->_canAccess("feature_".$option->getCode(), $option->getValueId()); ?>
                <?php if(!$is_disabled):?>
                  <?php if($this->getApplication()->getUrl().$option->getMobileUri().'index/value_id/'.$option->getValueId() == $link->getUrl()) :?>
                   <option value="<?php echo $this->getApplication()->getUrl().$option->getMobileUri().'index/value_id/'.$option->getValueId();?>" selected><?php echo $option->getTabbarName()?></option>
                <?php else:?>
                   <option value="<?php echo $this->getApplication()->getUrl().$option->getMobileUri().'index/value_id/'.$option->getValueId();?>"><?php echo $option->getTabbarName()?></option>
                <?php endif;?>  
                 <?php endif;?>
               <?php endforeach;?>
           </select> 
            <input id="web_<?php echo $link->getId()?>" name="link[url]" class="form-control required weblink_url url" placeholder="<?php echo $this->_('Link') ?>" value="<?php echo $link->getUrl() ?>" rel="<?php echo $link->getId(); ?>" style="display:none"/>
        <?php else:?>
            <input type="text" name="link[url]" class="form-control required weblink_url url" placeholder="<?php echo $this->_('Link') ?>" value="<?php echo $link->getUrl() ?>" rel="<?php echo $link->getId(); ?>"/>
        <?php endif;?>

    <?php endif;?>
    </div>
    <div class="col-sm-1">
        <button type="button" class="bt-margin validate default_button save_link" rel="<?php echo $link->getId(); ?>">OK</button></td>
    </div>
    <div class="col-sm-1">
        <button type="button" class="bt-margin delete red default_button delete_link" rel="<?php echo $link->getId(); ?>"><i class="icon-remove"></i></button>
        <input type="hidden" name="value_id" value="<?php echo $option_value->getId(); ?>" />
        <?php if($link->getId() AND $link->getId() != 'new') : ?>
        <input type="hidden" name="link[link_id]" value="<?php echo $link->getId(); ?>" />
        <?php endif; ?>
    </div>
</div>
<script>
function showInApp()
{
    document.getElementById("in-app").style.display = "initial";
    document.getElementById("in-web").style.display = "none";
}
function showInWeb()
{
    document.getElementById("in-web").style.display = "initial";
    document.getElementById("in-app").style.display = "none";
}

function setLinkVal()
{
    document.getElementById("in-web").value = document.getElementById("in-app").value;
}

function setNewVal(id)
{
   document.getElementById("web_"+id).value = document.getElementById("app_"+id).value;
}
</script>