<?php $application = $this->getApplication(); ?>
<?php $upload_path = Application_Model_Application::getImagePath().'/fonts/'; ?>
<!--[if gte IE 10]><!-->

<div id="fonts" class="fonts">
    <?php $fontFamilies = Core_Model_Lib_Fonts::getFonts(); ?>
    <table width="100%" cellspacing="10" class="no-collapse">
        <col width="40%">
        <col width="40%">
        <col width="20%">
        <tr>
            <td><label for="icon_text_font" class="inlineblock mountain"><?php echo $this->_('Choose a font family'); ?> : </label></td>
            <td>
            <select id="font_family" name="font_family" class="span3" tabindex="1">
            <?php foreach($fontFamilies as $fontFamily) : ?>
                <option value="<?php echo $fontFamily ?>"<?php if($application->getFontFamily() == $fontFamily OR !$application->getFontFamily() AND $fontFamily == 'Signika') : ?> selected="selected"<?php endif; ?>><?php echo $fontFamily ?></option>
            <?php endforeach; ?>
            </select>
            </td>
            <td><img id="font_family_loader" src="<?php echo $this->getImage('customization/ajax/spinner.gif'); ?>" alt="<?php echo $this->_("Loading"); ?>" title="<?php echo $this->_("Loading"); ?>" width="24" height="24" style="display:none;"/></td>
        </tr>
    </table>
</div>