<div ng-if="locked === 1 && !is_logged_in">
<?php echo $this->getPartialHtml("padlock"); ?>

</div>	
<div ng-if="(locked === 1 && is_logged_in) || locked === 2">
<div>
    <ul class="video_gallery">
        <li ng-repeat="video in collection" class="list_videos relative slide-left"  ng-if="collection.length"><div sb-video video="video"></div>
        </li>
    </ul>
</div>
</div>


