<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>

<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>
<div class="scrollable_content submenu" style="height:100%">
  <div ng-if="weblink.locked === 1 && !is_logged_in">
    <?php echo $this->getPartialHtml("padlock"); ?>
  </div>
  <div ng-if="(weblink.locked === 1 && is_logged_in) || weblink.locked === 2" style="height:100%">  
    <div clss="scrollable_content" style="height:100%">
        <div class="for_ads_banner" style="height:100%">
            <ul class="ul_weblink links_list l3">
                <li ng-repeat="link in weblink.links">
                   <div class="content_link" ng-click="showLink(link)" ng-if="link.target==false">
                      <a href="{{link.url}}" target="_blank">
                        <div class="link_image" ng-if="link.picto_url" ng-style="{'background-image':'url({{ link.picto_url }})'}">
                          <div class="filter"></div>
                          <span class="simple_link">{{ link.title }}</span>
                        </div> 
                      </a>
                    </div>
                    <div class="content_link" ng-if="link.target==true">
                      <a href="{{link.url}}" target="_blank">
                        <div class="link_image" ng-if="link.picto_url" ng-style="{'background-image':'url({{ link.picto_url }})'}"> 
                          <div class="filter"></div>
                          <span class="simple_link">{{ link.title }}</span>
                        </div> 
                      </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
</div>