* {
  padding: 0;
  margin: 0;
}

.wallop-slider {
  width: 100%;
}

.wallop-slider__list {
  list-style: none;
  position: relative;
  overflow: hidden;
}

.wallop-slider__item {
  display: none;
  color:white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.wallop-slider__item img {
  display: block;
  width: 100%;
}

.wallop-slider__item--current {
  display: block;
  position: static;
  color:red;
}
.no-current, .current-item {
  display:block;
  width:13px;
  height:13px;
  border-radius:50%;
  border:1px solid;
  margin:13px 15px;
  cursor: pointer;
}
.no-current {
  border-color : white;
}
.current-item {
  background-color : white;
}
footer {
  padding: 30px 0;
}