<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>
<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>
<div class="scrollable_content links">
  <div ng-if="weblink.locked === 1 && !is_logged_in">
    <?php echo $this->getPartialHtml("padlock"); ?>
  </div>
  <div ng-if="(weblink.locked === 1 && is_logged_in) || weblink.locked === 2">  
      <div class="scrollable_content">
        <div class="link_cover" ng-if="weblink.cover_url" ng-style="{'background-image':'url({{ weblink.cover_url }})'}"></div>
          <div class=" for_ads_banner">
              <div style="" class="alpha_index" ng-if="weblink.alphabetic_order">
                <ul style="height:100%">
                    <li class="letter" ng-repeat="letter in letters">
                        <p ng-click="goToItem('{{letter.index}}')" style="margin:0 !important">{{letter.value}}</p></li>
                </ul>
              </div>
              <ul class="links_list l1">
                  <li ng-repeat="link in weblink.links">
                    <div ng-if="link.first_index && weblink.alphabetic_order" id="{{link.index}}" class="anchor_index">{{link.index| uppercase}}</div>
                      <div class="content_link" ng-if="link.target==false">
                        <a href="{{link.url}}">
                          <div class="link_image" ng-if="link.picto_url" ng-style="{'background-image':'url({{ link.picto_url }})'}"></div>
                          <i class="link_image icon-website" ng-if="!link.picto_url"></i>
                          <span class="simple_link">{{ link.title }}</span>
                        </a>
                      </div>  
                      <div class="clear"></div>
                      <div class="content_link" ng-if="link.target==true">
                        <a href="{{link.url}}" target="_blank">
                          <div class="link_image" ng-if="link.picto_url" ng-style="{'background-image':'url({{ link.picto_url }})'}"></div>
                          <i class="link_image icon-website" ng-if="!link.picto_url"></i>
                          <span class="simple_link">{{ link.title }}</span>
                        </a>
                      </div>  
                      <div class="clear"></div>                         
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
</div>

