<form ng-submit="saveTemplate()">
	    <div class="col-md-6">
            <div class="form-group">
                <label for="name"><?php echo $this->_("Code"); ?></label>
                <input type="text" id="code" ng-model="template.code" class="form-control"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name"><?php echo $this->_("Name"); ?></label>
                <input type="text" id="name" ng-model="template.name" class="form-control" placeholder="<?php echo $this->_("Name"); ?>" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="preview"><?php echo $this->_("Preview"); ?></label>
                <input type="text" id="preview" ng-model="template.preview" class="form-control" placeholder="<?php echo $this->_("Preview"); ?>" />
            </div>
        </div>



        <div class="col-md-6">
            <div class="form-group">
                <label for="position"><?php echo $this->_("Position"); ?></label>
                <input type="text" id="position" ng-model="template.position" class="form-control" placeholder="<?php echo $this->_("Position"); ?>" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="template_level"><?php echo $this->_("Select template level"); ?></label>
                 <select id="template_level" ng-model="template.template_level" class="form-control">
                    <option value="1">Beginner</option>
                    <option value="2">Starter</option>
                    <option value="3">Advanced</option>
                    <option value="4">Premium</option>
                </select>
            </div>
        </div> 

        <div class="clear col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary left"><?php echo $this->_("Save"); ?></button>
                <sb-loader is_visible="form_loader_is_visible" type="'inner_content'" size="'small'" animation="'no'" class="form_loader"></sb-loader>
                <div class="clear"></div>
            </div>
        </div>
</form>