<?php $application_options = new Application_Model_Option()?>
<?php $application_options = $application_options->findAll()?>

<form ng-submit="save()">

    <sb-section title="template_category.title">
        <div ng-repeat="columns in template_category.columns" class="form-group">
            <div class="col-md-6" ng-repeat="category in columns">
                <label for="{{ key.name }}">{{ category.name }}</label>
                <input type="text" id="{{ category.name }}" ng-model="category.name" class="form-control" placeholder="{{ category.name }}" />
            </div>
            <div class="clear"></div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary left"><?php echo $this->_("Save"); ?></button>
                <sb-loader is_visible="form_loader_is_visible" type="'inner_content'" size="'small'" animation="'no'" class="form_loader"></sb-loader>
            </div>
        </div>

    </sb-section>

</form>

<form ng-submit="saveTemplate()">
   <sb-section title="'<?php echo $this->_("Add new template"); ?>'">     
        <div class="col-md-6">
            <div class="form-group">
                <label for="name"><?php echo $this->_("Code"); ?></label>
                <input type="text" id="code" ng-model="template.code" class="form-control" placeholder="<?php echo $this->_("Code"); ?>" />
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label for="option_id"><?php echo $this->_("Option"); ?></label>
                <select id="option_id" ng-model="template.option_id" class="form-control">
                    <?php foreach ($application_options as $key => $option):?>
                        <option value="<?php echo $option->getOptionId()?>"><?php echo $option->getName()?></option>
                    <?php endforeach;?>
                </select> 
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="name"><?php echo $this->_("Name"); ?></label>
                <input type="text" id="name" ng-model="template.name" class="form-control" placeholder="<?php echo $this->_("Name"); ?>" />
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label for="preview"><?php echo $this->_("Preview"); ?></label>
                <input type="text" id="preview" ng-model="template.preview" class="form-control" placeholder="<?php echo $this->_("Preview"); ?>" />
            </div>
        </div>



        <div class="col-md-6">
            <div class="form-group">
                <label for="position"><?php echo $this->_("Position"); ?></label>
                <input type="text" id="position" ng-model="template.position" class="form-control" placeholder="<?php echo $this->_("Position"); ?>" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="template_level"><?php echo $this->_("Select template level"); ?></label>
                 <select id="template_level" ng-model="template.template_level" class="form-control">
                    <option value="1">Beginner</option>
                    <option value="2">Starter</option>
                    <option value="3">Advanced</option>
                    <option value="4">Premium</option>
                </select>
            </div>
        </div> 


        <div class="clear col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary left"><?php echo $this->_("Save"); ?></button>
                <sb-loader is_visible="form_loader_is_visible" type="'inner_content'" size="'small'" animation="'no'" class="form_loader"></sb-loader>
                <div class="clear"></div>
            </div>
        </div>
        </sb-section>
</form>

<div style="padding-right: 10px;font-weight: bold;font-size: 22px;">
    <?php echo $this->_("Template List"); ?>
</div>
<hr>
<label for="sort_option"><?php echo $this->_("Option"); ?></label>
<select id="sort_option" ng-model="templatebis.option_id" class="form-control" ng-change="update()">
    <?php foreach ($application_options as $key => $option):?>
        <option value="<?php echo $option->getOptionId()?>"><?php echo $option->getName()?></option>
    <?php endforeach;?>
</select> 

<br/>
<br/>
<ul>
        <li style="width:5%; display:inline-block;">
                CODE
        </li>
        <li  style="width:10%; display:inline-block;">
                OPTION
        </li>
        <li  style="width:10%; display:inline-block;">
                LEVEL
        </li>
        <li style="width:20%; display:inline-block;">
                NAME
        </li>
        <li style="width:5%; display:inline-block;">
                POS
        </li>
        <li style="width:30%; display:inline-block;">
                PREVIEW  LINK 
        </li> 
        <li style="width:10%; display:inline-block;">
                PREVIEW   
        </li> 
</ul> 
<ul class="listposts" style="width:100%">
    <li ng-repeat="item in templates">
        <ul>
        <li class="maclass" style="width:5%; display:inline-block;">
                {{item.code}}
        </li>
        <li class="maclass" style="width:10%; display:inline-block;">
                {{item.option_name}}
        </li>
        <li class="maclass" style="width:10%; display:inline-block;">
                {{item.template_level}}
        </li>
        <li style="width:20%; display:inline-block;">
                {{item.name}}
        </li>
        <li style="width:5%; display:inline-block;">
                {{item.position}}
        </li>
        <li style="width:25%; display:inline-block;">
                {{item.preview}}   
        </li> 
        <li style="width:10%; display:inline-block;">
             <img src="<?php echo $this->getUrl().'app/design/desktop/siberian/images'?>{{item.preview}}" style="width:80%"/>
        </li>
        <li style="width:5%; display:inline-block;">
            <a href="<?php echo $this->getUrl().'/template/backoffice_category_edit'?>/{{item.layout_id}}"><span>Edit<span></a>
        </li>
        </ul> 
    </li>
</ul> 




