<?php $url = str_replace($this->getApplication()->getKey().'/','',$this->getApplication()->getUrl());?>
<?php $url = substr($url, 0, -1);?>
<?php $order = $this->getCurrentOrder(); ?>
<table width="100%" bgcolor="<?php echo $this->getApplication()->getBlock('header')->getBackgroundColor();?>" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="12%"></td>
        <td style="background-color:<?php echo $this->getApplication()->getBlock('background')->getBackgroundColor();?>;color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>;background-image:url('<?php echo $url.$this->getApplication()->getBackgroundImage();?>');background-size:cover;background-position:50%;background-repeat:no-repeat;padding:15px;" height="200px">
            <img src="<?php echo $url.$this->getApplication()->getIcon();?>" width="150px" style="margin-left:5%;border:3px solid <?php echo $this->getApplication()->getBlock('header')->getBackgroundColor();?>;"/>
        </td>
        <td width="12%"></td>
    </tr>
     <tr style="padding: 0 15px; color:#888888; font-size: 17px; line-height: 150%; width:600px">
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;color:#000000;padding:25px">
             <p style="font-family: Verdana; font-weight: bold;color: #000000;font-size:18px; line-height:150%;"><?php echo $this->_('Hello,'); ?></p>
            <p>
                <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                    <?php echo $this->_('Here is the detail of your order'); ?>
                </span>
            </p>

            <h4 style="margin:10px 0; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px;"><?php echo $this->_('Client'); ?></h4>
            <p style="margin:0; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;"><?php echo $order->getCustomerFirstname() . ' ' . $order->getCustomerLastname(); ?></p>
            <p style="margin:0; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;"><?php echo $order->getCustomerStreet(); ?></p>
            <p style="margin:0; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;"><?php echo $order->getCustomerPostcode(); ?> <?php echo $order->getCustomerCity(); ?></p>
            <p style="margin:0; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;"><?php echo $order->getCustomerPhone(); ?></p>
            <br />

            <h4 style="margin:10px 0; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px;"><?php echo $this->_('Order details'); ?></h4>
            <table width="400px">
                <col width="50%"/>
                <col width="50%"/>
                <tr>
                    <th align="left"><?php echo $this->_('Delivery Method'); ?></th>
                    <th align="left"><?php echo $this->_('Payment Method'); ?></th>
                </tr>
                <tr>
                    <td><?php echo $order->getDeliveryMethod(); ?></td>
                    <td><?php echo $order->getPaymentMethod(); ?></td>
                </tr>
            </table>
            <br />
            <table width="100%">
                <col width="70%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
                <tr>
                    <th align="left"><?php echo $this->_('Product'); ?></th>
                    <th><?php echo $this->_('Unit Price'); ?></th>
                    <th><?php echo $this->_('Qty'); ?></th>
                    <th><?php echo $this->_('Total'); ?></th>
                </tr>
                <tr><td colspan="4"><div style="width:100%;margin-top:5px;margin-bottom:5px;border-bottom:2px solid black;"></div></td></tr>
            <?php foreach($order->getLines() as $line) : ?>
                <?php $format = unserialize($line->getFormat()); ?>
                <?php $text_format = isset($format['title']) ? "<br />" . $this->_("Format:") . " " . $format['title'] : ""; ?>
                <tr>
                    <td><?php echo $line->getName() . $text_format; ?></td>
                    <td align="right"><?php echo $line->getFormattedBasePriceInclTax(); ?></td>
                    <td align="center"><?php echo $line->getQty(); ?></td>
                    <td align="right"><?php echo count($line->getOptions()) ? $line->formatPrice($line->getBasePriceInclTax() * $line->getQty()): $line->formatPrice($line->getTotalInclTax() * $line->getQty()); ?></td>
                </tr>
                <?php foreach($line->getOptions() as $option) : ?>
                <tr>
                    <td style="font-size:13px;">+ <?php echo $option->getName(); ?></td>
                    <td style="font-size:13px;" align="right"><?php echo $option->getFormattedPriceInclTax(); ?></td>
                    <td style="font-size:13px;" align="center"><?php echo $option->getQty(); ?></td>
                    <td style="font-size:13px;" align="right"><?php echo $option->formatPrice($option->getPriceInclTax() * $option->getQty()); ?></td>
                </tr>
                <?php endforeach; ?>
                <tr><td colspan="4"><div style="width:100%;margin-top:5px;margin-bottom:5px;border-bottom:1px solid black;"></div></td></tr>
            <?php endforeach; ?>
            </table>
            <br />
            <h4 style="margin:0; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px;"><?php echo $this->_('Total'); ?></h4>
            <table width="100%">
                <col width="80%" />
                <col width="20%" />
                <tr><td colspan="2"><div style="width:100%;margin-top:0px;margin-bottom:5px;border-bottom:2px solid black;"></div></td></tr>
                <tr>
                    <th align="left"><?php echo $this->_('Subtotal'); ?></th>
                    <td align="right"><?php echo $order->getFormattedSubtotalExclTax(); ?></td>
                </tr>
                <?php if($order->getDeliveryCost() > 0) : ?>
                <tr class="cart_totals">
                    <th align="left"><?php echo $this->_('Delivery Fees'); ?></th>
                    <td align="right"><?php echo $order->getFormattedDeliveryCost(); ?></td>
                </tr>
                <tr class="cart_totals">
                    <th align="left"><?php echo $this->_('Total Excl. Tax'); ?></th>
                    <td align="right"><?php echo $order->getFormattedTotalExclTax(); ?></td>
                </tr>
                <?php endif; ?>
                <tr class="cart_totals">
                    <th align="left"><?php echo $this->_('Total Tax'); ?></th>
                    <td align="right"><?php echo $order->getFormattedTotalTax(); ?></td>
                </tr>
                <tr class="cart_totals">
                    <th align="left"><?php echo $this->_('Total'); ?></th>
                    <td align="right"><?php echo $order->getFormattedTotal(); ?></td>
                </tr>
                <?php if($order->getPaidAmount() && !$order->getHidePaidAmount()) : ?>
                <tr><td colspan="2"><div style="width:100%;margin-top:0px;margin-bottom:5px;border-bottom:2px solid black;"></div></td></tr>
                <tr>
                    <th align="left"><?php echo $this->_("I will pay"); ?></th>
                    <td align="right"><?php echo $order->getFormattedPaidAmount(); ?></td>
                </tr>
                <tr>
                    <th align="left"><?php echo $this->_("Remaining due"); ?></th>
                    <td align="right"><?php echo $order->formatPrice($order->getPaidAmount() - $order->getTotal()); ?></td>
                </tr>
                <?php endif; ?>
            </table>
            <p style="color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px;margin-top:30px;">
                <?php echo $this->_('See you soon,'); ?><br/>
                <span style="color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px;font-weight:bold;"><?php echo $this->getAppName() ?></span><br/>
            </p>
        </td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td width="12%"></td>
        <td style="background-color:<?php echo $this->getApplication()->getBlock('background')->getBackgroundColor();?>;color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>;padding:8px 25px;clear:both;font-family: Verdana, Arial, Helvetica, sans-serif;">
            <div style="background-color:#9F0030;height:2px;margin:0 auto;"></div>
            <p style="display:inline-block;line-height:38px;">
                <a href="sincube.com" target="_blank" style="text-decoration:none;color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>;font-size:13px;">
                    Powered by Sincube
                </a>
            </p>
            <ul style="display:inline-block;float: right;padding-left:0;">
                <li style="list-style-type:none;display:inline-block;margin-right:20px;">
                    <a href="https://www.facebook.com/wearesincube" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/facebook.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
                <li style="list-style-type:none;display:inline-block;">
                    <a href="https://twitter.com/sincub3" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/twitter.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
            </ul>
        </td>
        <td width="12%"></td>
    </tr>
</table>