<?php $target = $this->isOverview() ? "_blank" : "_self"?>
<div class="metas_facebook">
    <span class="area3 icon-like" ng-if="item.meta.area3">
      <div ng-if="item.meta.area3.text">{{ item.meta.area3.text }}</div>
    </span>
    <span class="area2 icon-comment" ng-if="item.meta.area2" style="padding-left:10px;">
        <div ng-if="item.meta.area2.text">{{ item.meta.area2.text }}</div>
    </span>
    <span class="area2 socialbutton icon-share" style="padding-left: 10px;">
      <div ng-click="share=getShare(item)"><?php echo $this->_('share');?></div>
    </span>
    <div class="popup" ng-show="share">
        <div class="vertical-align">
            <?php echo $this->_('Share on');?>
            <ul class="buttons share">
              <li>
                <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
                <a class="button share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">Facebook</a>
              </li>
              <li>
                <?php $text = $this->_("New post on the app")." : ".$this->getApplication()->getName()?>
                <a class="button share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text=<?php echo $text?>&url=<?php echo $url;?>">Twitter</a>
              </li>
            </ul>
        </div>
        <a class="button-close icon-close share" ng-click="share=closePopup(item)" style="width:80%"><?php echo $this->_('Close');?></a>
    </div>
    <a target="<?php echo $target ?>" href="https://www.facebook.com/{{item.from.id}}/posts/{{item.postid}}">
        <span class="area2" ng-if="item.meta.area2" style="padding-left:15px;">
            <u><?php echo $this->_("details");?></u>
        </span>
    </a>
</div>


