<div ng-if="!item.facebook">
    <ul>
        <?php if($this->getApplication()->getSubscription()->getUserAccount() == 1):?>
        <li class="socialbutton" style="display:inline-block;width:31%;text-align: center;">
            <span class="area3" ng-if="item.meta.area3">
                <?php if ($this->getSession()->getCustomer()->getId()) :?>
                    <div ng-click="addDirectLike(item);" class="icon-like"><?php echo $this->_('Like');?></div>
                <?php else :?>
                    <div ng-click="logyou=getPopup()" class="icon-like">
                        <?php echo $this->_(' Like  ');?>
                    </div>
                    <div class="popup" ng-show="logyou">
                        <div class="vertical-align"> 
                            <?php echo $this-> _('You have to be log to like a content');?>
                            <ul class="buttons">
                                <li>
                                    <a href="<?php echo $this->getPath("customer/mobile_account_login");?>" class="button icon-next">
                                          <?php echo $this->_('Log in'); ?>
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo $this->getUrl('customer/mobile_account_register'); ?>" class="button icon-next">
                                        <?php echo $this->_('Create an account'); ?>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a class="button-close icon-close" ng-click="logyou=closePopup()"><?php echo $this->_('Close');?></a>
                    </div>
                <?php endif;?>
            </span>
        </li>
        <li class="socialbutton comment" style="display:inline-block;width:34%;text-align: center;">
            <span class="area2" ng-if="item.meta.area2">
                <?php if ($this->getSession()->getCustomer()->getId()) :?>
                    <div ng-click="showItem(item)" class="icon-comment">
                        <?php echo $this->_(' Comment');?>
                    </div>
                <?php else :?>
                    <div ng-click="logyou=getPopup()" class="icon-comment">
                        <?php echo $this->_('Comment ');?>
                    </div>
                    <div class="popup" ng-show="logyou">
                        <div class="vertical-align"> 
                            <?php echo $this->_('You have to be log to make a comment');?>
                            <ul class="buttons">
                                <li>
                                    <a href="<?php echo $this->getPath("customer/mobile_account_login");?>" class="button icon-next">
                                        <?php echo $this->_('Log in'); ?>
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo $this->getUrl('customer/mobile_account_register'); ?>" class="button icon-next">
                                        <?php echo $this->_('Create an account'); ?>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a class="button-close icon-close" ng-click="logyou=closePopup()">
                            <?php echo $this->_('Close');?>
                        </a>
                    </div>
                <?php endif;?>
            </span>
        </li>
    <?php endif;?>
        <li class="socialbutton" style="display:inline-block;width:31%;text-align: center;"  ng-if="item.social_sharing_active == 1">
            <span class="area2 socialbutton">
              <div ng-click="share=getShare(item)" class="icon-share">
                <?php echo $this->_('Share ');?>
              </div>
            </span>
            <div class="popup" ng-show="share">
              <div class="vertical-align">
                <?php echo $this->_('Share on');?>
                <ul class="buttons share">
                  <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
                  <li>
                    <a class="button share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">Facebook</a>
                  </li>
                  <li>
                    <?php $text = $this->_("New post on the app")." : ".$this->getApplication()->getName()?>
                    <a class="button share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text=<?php echo $text?>&url=<?php echo $url;?>">Twitter</a>
                  </li>
                </ul>
              </div>
              <a class="button-close icon-close share" ng-click="share=closePopup(item)" style="width:80%"><?php echo $this-> _('Close');?></a>
            </div>
        </li>
    </ul>
</div>