<?php $application = $this->getApplication(); ?>
<?php $block_subheader = $application->getBlock('subheader'); ?>
<?php $block_button = $application->getBlock('button'); ?>
<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>  
<?php $customer_pseudo = $this->getSession()->getCustomer()->getPseudo()?> 
<div <?php if(!$this->getScrollableContentAlreadyUsedInParentElement()) : ?> id="scrollable" class="scrollable_content" factory="factory" collection="collection" pull-to-refresh  refresh-function="refreshFunction()" value-id="value_id"<?php endif; ?>>
    <div ng-if="details.locked === 1 && !is_logged_in">
          <?php echo $this->getPartialHtml("padlock"); ?>
    </div>
    <div ng-if="(details.locked === 1  &&  is_logged_in) || details.locked === 2 || !details.locked">
        <div ng-if="fanwall == true">
            <div class="middle_buttons" ng-show="can_post">
                <div class="border-color button" ng-class="{reverse:showRecent}" ng-click="setShowRecent(true)"><?php echo $this->_('Recent'); ?>
                </div>
                <div class="border-color button" ng-class="{reverse:!showRecent}" ng-click="setShowRecent(false)">
                    <?php echo $this->_('Near me'); ?>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>
        <?php echo $this->getPartialHtml("cover"); ?>
        <div class="padding list l1 for_ads_banner">
            <div ng-if="details.length==0" class="no-results">{{details.nopost}}</div>
            <ul class="listposts">
                <li ng-repeat="item in collection track by $index" class="slide-left">
                    <div ng-if="item.id">
                    <img width="37" height="37" class="logo left" ng-src="{{ item.icon }}" ng-if="item.icon" style="border:solid 2px"/>
                    <p ng-if="item.topic" class="margin-label-topic">
                        <span class="topic-label">{{ item.topic }}</span>
                    </p>
                    <p class="name bold">{{ item.author }}</p>
                    <p class="area1 left timepost" ng-if="item.meta.area1" style="font-size:11px;">
                        {{ item.meta.area1.text }}
                    </p>
                    <div ng-if="is_logged_in && (item.author_id == details.customer_id) && !item.facebook" style="float:right;margin-top:-20px;">
                        <div ng-click="deletecomment=getPopup(item)">
                            <span class="icon-open"></span>
                        </div>
                        <div class="popupComment" ng-show="deletecomment">
                            <div class="vertical-align">
                                <ul class="buttons">
                                    <li>
                                        <a ng-click="deleteComment({{item}})" class="icon more delete_comment button" rel="{{item.id}}" style="width:80%">
                                              <?php echo $this->_("Delete this comment");?>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a class="button-close icon-close" ng-click="deletecomment=closePopup(item)" style="position: absolute;top:20px;right:20px;text-align:right;"><?php echo $this-> _('Close');?></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="image" ng-if="item.link">
                        <a href="{{ item.link }}" target="_blank" style="word-wrap: break-word;">{{item.link}}</a>
                    </div>
                    <p>
                        <?php if($this->getApplication()->getSubscription()->getUserAccount() == 1):?>
                            <a ng-if="!item.facebook" href="{{item.url}}">
                                <span ng-bind-html="item.message | trusted_html" style="word-wrap: break-word;"></span>
                            </a>
                        <?php else:?>
                             <span ng-bind-html="item.message | trusted_html" style="word-wrap: break-word;"></span>
                        <?php endif;?>
                        <a ng-if="item.facebook" href="https://www.facebook.com/{{item.from.id}}/posts/{{item.postid}}"  target="<?php echo $target?>">
                            <span ng-bind-html="item.message | trusted_html" style="word-wrap: break-word;"></span>
                        </a>
                    </p>
                    <div ng-if="!item.source">
                        <div class="image" ng-if="item.picture">
                            <div class="container" ng-click="logyou=getPopup()" style="border-width:0px;">
                                <img class="post_image" src="{{item.picture}}"/>
                            </div>
                            <div class="popup" ng-show="logyou" ng-click="logyou=closePopup()">
                                <img src="{{item.picture}}" class="vertical-align" style="max-height:80%;height:auto;"/>
                            </div>
                        </div>
                    </div>
                    <div ng-if="item.source">
                        <span sb-wall-video item="item" style="padding-top:3px;"></span>
                    </div>
                    <p ng-show="item.action_value">
                        <span class="block right">
                            <a href="{{ item.action_value }}">
                                <?php echo $this->_("View"); ?>
                            </a>
                        </span>
                    </p>
                    <div class="clear"></div>
                    <?php if($this->getApplication()->getSubscription()->getUserAccount() == 1):?>
                    <div class="recap-social" ng-if="!item.facebook">
                        <div ng-if="item.meta.area3.text > 0" class="icon-like">
                            <div>{{ item.meta.area3.text }}</div>
                        </div>
                        <div ng-if="item.meta.area2.text > 0" class="icon-comment">
                            <div>{{ item.meta.area2.text }}</div>
                        </div>
                    </div>
                    <?php endif;?>
                    <div ng-if="item.meta" class="socialbutton_bar" style="border-top: solid 1px;">
                        <?php echo $this->getPartialHtml("intern_item"); ?>
                        <?php echo $this->getPartialHtml("facebook_item"); ?>
                        <div class="clear"></div>
                    </div>

                    <div ng-repeat="answer in item.answer" class="slide-left padding comments" style="margin-bottom: 2px; min-height:35px; margin-top:1px;">
                        <img class="logo left" ng-src="{{ answer.picture }}" title="{{ answer.author }}" alt="{{ answer.author }}" style="border:solid 2px; width:30px; height:30px" />
                        <span class="name">{{ answer.author }}</span> 
                        <span class="user_comment" style="word-wrap: break-word;">{{ answer.message }}</span>
                        <br/>
                        <font style="font-size:10px">{{ answer.area1.text }}</font>
                    </div> 
                    <p ng-if="item.countanswers > 3" style="text-align:right; font-size:9px;">
                        <a href="{{item.url}}">
                            <u>
                                <?php echo $this->_("Show")." ";?>{{ item.countanswersminusthree}}<?php echo " ".$this->_(" more comments")?>
                            </u>
                        </a>
                    </p>
                </div>
                </li>
            </ul>
        </div>
    </div>
</div>

