<div id="mobile_view">

	<?php echo $this->getApplication()->getUrl("application/mobile_customization_colors", array(), Core_Model_Language::getCurrentLanguage(), true); ?>
</div>
<div id="homepage_view">
<?php echo $this->getApplication()->getUrl("front/mobile_home/colors", array(), Core_Model_Language::getCurrentLanguage(), true); ?>
</div>