<div class="clear">
    <div id="iphone" style="top:20px;">
		<div id="colors_overview" class="iphone_content" style="height: 570px;overflow: scroll;">
			<p class="iphone_header toolbar_overview a-center" style="position:absolute;"><?php echo date('H:m'); ?></p>
		    <iframe id="mobile_overview" src="<?php echo $this->getApplication()->getUrl("application/mobile_customization_colors", array(), Core_Model_Language::getCurrentLanguage(), true); ?> " width="320" height="680" style="overflow: hidden;"></iframe>
		    <iframe id="homepage_overview" src="<?php echo $this->getApplication()->getUrl("front/mobile_home/colors", array(), Core_Model_Language::getCurrentLanguage(), true); ?>" width="320" height="568" style="overflow: hidden; display: none;"></iframe>
		</div>
	</div>
</div>