<div class="header_content">
   <div class="left">
        <a href="<?php echo $this->getUrl(''); ?>" class="left">
            <?php $platform_name = System_Model_Config::getValueFor("platform_name"); ?>
            <img src="<?php echo $this->getLogo(); ?>" id="logo" alt="<?php echo $platform_name; ?>" title="<?php echo $platform_name; ?>" width="150" />
            <p style="font-size: 9px;margin-top: -5px;margin-bottom: -10px;color:<?php echo $this->getBlock('general')->getColor()?>"><?php echo System_Model_Config::getValueFor("system_baseline")?></p>
        </a>
        <?php if($this->getSession()->isLoggedIn()) :?>
        <div class="navigation-top">
            <ul class="menu-top">
                <li class="left dash">
                    <a href="<?php echo $this->getUrl('admin/application/list'); ?>" class="dashboard">
                        <i class="icon-home"></i>
                    </a> 
                </li>
                <li class="left dash">
                    <a href="<?php echo $this->getUrl('admin/application/help'); ?>" class="dashboard">
                        <?php echo $this->_('I need some help') ?>
                    </a> 
                </li>
                <!--<li class="left message">
                    <a href="<?php echo $this->getUrl('message/application'); ?>" class="message">
                        <i class="icon-envelope"></i>
                        <?php //echo $this->_('Message') ?>
                    </a>
                </li>-->
                <?php if($this->_canAccessWhiteLabelEditor()) : ?>
                <li class="left wl_panel wle">
                    <a href="<?php echo $this->getUrl('whitelabel/editor/index'); ?>" class="">
                        <i class="icon-edit-sign"></i>
                    </a>
                </li>
                <?php endif; ?>
                <li class="right lang">
                    <select id="change_language" tabindex="1">
                        <?php foreach (Core_Model_Language::getLanguages() as $language) : ?>
                        <option value="<?php echo $this->getCurrentUrl(true, $language->getCode()); ?>"<?php if(Core_Model_Language::getCurrentLanguage() == $language->getCode()) : ?> selected="selected"<?php endif; ?>><?php echo $language->getName(); ?></option>
                        <?php endforeach ?>
                    </select>
                </li>
                <li class="right myprofil-menu">
                    <a class="right">
                        <p class="user-connected"><?php echo $this->getSession()->getAdmin()->getFirstname()?>
                        <span class="select-icon" data-image="339" data-style="select" data-color="color"></span></p>
                    </a>
                    <ul class="myprofil right">
                        <li>
                            <a href="<?php echo $this->getUrl('admin/account/edit'); ?>" class="<?php if($current == 'my_account') : ?> active<?php endif; ?>">
                                <i class="icon-user"></i>
                                <?php echo $this->_('My account'); ?>
                            </a>
                        </li>
                        <li>
                            <?php //if($this->_canAccessInvoice()) : ?>
                            <a href="<?php echo $this->getUrl('sales/admin_invoice/list'); ?>" class="<?php if($current == 'my_invoices') : ?> active<?php endif; ?>">
                                <i class="icon-file"></i>
                                <?php echo $this->_('My invoices'); ?>
                            </a>
                            <?php //endif; ?>
                        </li>
                        <li>
                            <a href="<?php echo $this->getUrl('admin/account/logout'); ?>" class="logout" title="<?php echo $this->_('Log-out') ?>">
                                <span class="header rounded">
                                    <i class="left icon-off"></i>
                                </span>
                                <span class="hey left"><?php echo $this->_('Log-out') ?></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <?php endif; ?>
    </div>
    
    
    <div class="clear"></div>
    <style>
        .menu.l1 {}
        .menu.l1 li { float: left; /*width: 140px;*/ padding: 0; text-align: center; }
        .menu.l1 li a { display: block; padding: 20px 26px 20px 21px; color: white; font-size: 19px; }
        .menu.l1 li a i { margin-right: 10px; }
        .menu.l1 li a:hover { background-color: #888888; }
        .menu.l1 li ul.l2 { position: absolute; z-index: 20; background: #5C5C5C; top: 0; opacity: 0; visibility: hidden; transition: all .4s ease 0s; border-radius: 0 0 7px 7px; }
        .menu.l1 li.has_submenu:hover ul.l2 { top: 60px; opacity: 1; visibility: visible; }
        .menu.l1 li ul.l2 li { float: none; /*width: 170px;*/ }
        .menu.l1 li ul.l2 li a { text-align: left; }
        .menu.l1 li ul.l2 li a.last { border-radius: 0 0 7px 7px; }
        .wrapper.is_backoffice { padding-top: 60px; }
        .wrapper.is_backoffice .top {background-color: #5C5C5C;position: fixed; top: 0; width: 100%; z-index: 30;}
    </style>
</div>
