<?php   $account_option = new Application_Model_Accountoption();
        $account_option = $account_option->find(array("app_id" => $this->getApplication()->getAppId()));
?>
<div id="tabbar_items" class="overview-tabbar tabbar_items tabbar {{ features.layoutId }} ng-hide" ng-class="{'slide-top': animate_tabbar}" ng-show="tabbar_is_visible">
    <ul id="tabbar" class="tabbar_l1">
        <li ng-repeat="option in features.overview.options">
            <a tabbar-items option="option" go-to-url="goToUrl(option)" class="item relative" ng-class="{ is_link: option.is_link }" target="_parent" title="{{ option.name }}">
                <div class="fullscreen"></div>
                <img ng-src="{{ option.icon_url }}" ng-class="{ colorable: option.icon_is_colorable }" width="30" height="30" title="{{ option.name }}" alt="{{ option.name }}" />
                <span class="block">{{ option.name }}</span>
                <div ng-if="option.code == 'push_notification' && pushs" class="badge">{{ pushs }}</div>
                <?php if ($account_option->getPushAccountIsActive() == "1"):?>      
                    <div ng-if="option.code == 'tabbar_account' && pushs" class="badge">{{ pushs }}</div>
                <?php endif;?>
            </a>
        </li>
    </ul>
</div>

<div id="scrollview_tabbar_items" class="full-tabbar scrollable_content slide-top ng-hide" ng-show="pages_list_is_visible">
    <ul>
        <li class="close_menu">
            <a href="javascript:void(0)" class="item" ng-click="closeList();">
                <span id="tabbar_name_close" class="block icon-close"><?php //echo $this->_("Close") ?></span>
            </a>
        </li>
        <li ng-repeat="option in features.options">
            <a tabbar-items option="option" go-to-url="goToUrl(option)" class="item relative" target="_parent" title="{{ option.name }}" ng-if="features.overview.options.indexOf(option) == -1">
                <div class="fullscreen"></div>
                <img ng-src="{{ option.icon_url }}" alt="" title="" width="30" height="30" class="left" ng-class="{ colorable: option.icon_is_colorable }" title="{{ option.name }}" alt="{{ option.name }}" />
                <span class="block left">{{ option.name }}</span>
                <div ng-if="option.code == 'push_notification' && pushs" class="badge more_l1">{{ pushs }}</div>
                <?php if ($account_option->getPushAccountIsActive() == "1"):?>      
                    <div ng-if="option.code == 'tabbar_account' && pushs" class="badge more_l1">{{ pushs }}</div>
                <?php endif;?>
                <div class="clear"></div>
            </a>
        </li>
    </ul>
</div>