<?php $event = $this->getEvent();?>
<?php $websites = $event->getWebsites(); ?>
<div id="add_custom_event" class="custom_event">
    <div class="area">
        <h3 class="title">
            <span class="area"><?php echo $event->getId() ? $this->_("Modify the event") : $this->_('Create a new event'); ?></span>
            <hr />
            <div class="clear"></div>
        </h3>
        <form action="<?php echo $this->getUrl('event/application_event/edit'); ?>" method="post" id="customEventForm" class="form-horizontal">
            <div class="button">
                <button type="button" id="hide_form" class="delete left" onclick="custom.cancel();"><i class="icon-arrow-left"></i></button>
                <button type="button" class="default_button right right" onclick="custom.save();"><?php echo $this->_('OK');?></button>
                <div class="clear"></div>
            </div>
            <br />

            <div class="form-group">
                <div class="col-sm-12">
                    <input class="name required form-control input" type="text" id="custom_event_name" value="<?php echo $event->getName(); ?>" name="name" placeholder="<?php echo $this->_("Title"); ?>"/>
                </div>
            </div>
            <div class="form-group">
                <!-- <div class="col-sm-4">
                    <label for="custom_event_description" class="control-label"><?php echo $this->_('Description:'); ?></label>
                </div> -->
                <div class="col-sm-12">
                    <textarea rows="5" class="description form-control input" id="custom_event_description" name="description" placeholder="<?php echo $this->_('Description'); ?>"><?php echo $event->getDescription()?></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input class="form-control input calendar required" type="text" id="custom_event_start_at" value="<?php echo $event->getStartAt(); ?>" name="start_at" placeholder="<?php echo $this->_('Beginning date'); ?>"/>
                </div>
                <div class="col-sm-6">
                    <input class="end_at form-control input calendar required" type="text" id="custom_event_end_at" value="<?php echo $event->getEndAt(); ?>" name="end_at" placeholder="<?php echo $this->_('Ending date'); ?>"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input class="address form-control input" type="text" id="custom_event_street" value="<?php echo $event->getStreet(); ?>" name="street" placeholder="<?php echo $this->_('Street'); ?>"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input class="address form-control input" type="text" id="custom_event_postalcode" value="<?php echo $event->getPostalCode(); ?>" name="postal_code" placeholder="<?php echo $this->_('Postal Code'); ?>"/>
                </div>
                <div class="col-sm-6">
                    <input class="address form-control input" type="text" id="custom_event_city"  value="<?php echo $event->getCity(); ?>" name="city" placeholder="<?php echo $this->_('City'); ?>"/>
                </div>
            </div>

            <!--<div id="custom_event_location" class="custom_event_location">
                <div class="form-group">   
                    <div class="col-sm-12">
                        <label for="custom_event_location_label" class="control-label"><?php echo $this->_('Location:'); ?></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input class="custom_event_location form-control input" type="text" id="custom_event_location_label" value="<?php echo $event->getLocationLabel(); ?>" name="location_label" placeholder="<?php echo $this->_("Label"); ?>" /><br />
                    </div>
                    <div class="col-sm-6">
                        <input class="custom_event_location form-control input" type="text" id="custom_event_location_url" value="<?php echo $event->getLocationUrl(); ?>" name="location_url" placeholder="<?php echo $this->_("URL"); ?>" />
                    </div>
                </div>
            </div>-->
            <!-- <div class="form-group">
                <div class="col-sm-4">
                    <label for="custom_event_in_app_value_id" class="control-label"><?php echo $this->_('In App Page ID:'); ?></label>
                </div>
                <div class="col-sm-8">
                    <input class="in_app_value_id form-control input" type="text" id="custom_event_in_app_value_id" value="<?php echo $event->getInAppValueId(); ?>" name="in_app_value_id" />
                </div>
            </div>  -->
            <br/>
            <p><?php echo $this->_("Event Price")." : "?></p>
             <div class="col-sm-5">
                <p><?php echo $this->_("Price Label")." : "?></p>
            </div>
            <div class="col-sm-5">
                <p><?php echo $this->_("Price")." : "?></p>
            </div>
            <?php foreach ($event->getPrices() as $key => $price) :?>
                <div id="price_<?php echo $price->getPriceId();?>">
                    <div class="col-sm-5">
                        <input class="input" type="text" id="price_label_new" name="price_label[]" value="<?php echo $price->getTitle()?>" />
                    </div>
                    <div class="col-sm-5">
                         <input class="input" type="text" id="price_new" name="price[]" value="<?php echo $price->getPrice()?>" />
                     </div>
                    <div class="col-sm-2">
                        <i class="icon-trash" onclick="custom.removeprice(<?php echo $price->getPriceId()?>)"></i>
                    </div>
                </div>
            <?php endforeach;?> 
            <div id="price"></div>
           <button id="add_price" class="default_button btn-block" style="width:200px" type="button">
                <?php echo $this->_("Add a Price"); ?>
            </button>
            
            <br/>
            <br/>
           
                <div style="text-align:center;">
                    <span style="font-size:10px;">
                        <?php echo $this->_("You want to sell your tickets ? Create your online ticketing with")?> 
                    </span>
                    <a href="https://www.yuticket.com" target="_blank"><span style="background-color:<?php echo $this->getBlock('general')->getColor()?>;color:white;padding:3px;cursor: pointer;font-size:12px;font-weight:bold;">Yuticket</span></a>
                    <span style="font-size:10px;">
                        <?php echo $this->_("or paste the url of the plateform you choosed")?> 
                    </span>
                </div>
            <br/>
            <div class="form-group">
                <div class="col-sm-6">
                    <input class="ticket_shop_url form-control input" type="text" id="custom_event_ticket_shop_url" value="<?php echo $event->getTicketShopUrl(); ?>" name="ticket_shop_url" placeholder="<?php echo $this->_('Ticket URL'); ?>" />
                </div>
                <div class="col-sm-6">
                    <input class="rsvp form-control input" type="text" id="custom_event_rsvp" value="<?php echo $event->getRsvp(); ?>" name="rsvp" placeholder="<?php echo $this->_('Reservation URL'); ?>"/>
                </div>
            </div>
            <?php foreach($websites as $k => $website) : ?>
            <div id="custom_event_website_<?php echo $k ?>" class="custom_event_website form-group group_<?php echo $k ?>">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="custom_event_website_<?php echo $k ?>" class="control-label"><?php echo $this->_('Website:'); ?></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input class="custom_event_website_label_<?php echo $k ?> form-control input" type="text" id="custom_event_website_label_<?php echo $k ?>" value="<?php echo $website["label"]; ?>" name="websites[<?php echo $k ?>][label]" />
                    </div>
                    <div class="col-sm-6">
                        <input class="custom_event_website_url_<?php echo $k ?> form-control input" type="text" id="custom_event_website_url_<?php echo $k ?>" value="<?php echo $website["url"]; ?>" name="websites[<?php echo $k ?>][url]" />
                        <a class="remove remove_website" href="javascript:void(0)" rel="<?php echo $k ?>" onclick="custom.removeWebsite('<?php echo $k ?>')"><i class="icon-remove"></i></a>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>

            <div id="custom_event_website_new">
                <div class="custom_event_website group_new">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="custom_event_website_label_new" class="control-label"><?php echo $this->_('Website:'); ?></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input class="custom_event_website_new form-control input" type="text" id="custom_event_website_label_new" value="" name="websites[new][label]" placeholder="<?php echo $this->_("Label"); ?>" /><br />
                    </div>
                    <div class="col-sm-6">
                        <input class="custom_event_website_new form-control input" type="text" id="custom_event_website_url_new" value="" name="websites[new][url]" placeholder="<?php echo $this->_("URL"); ?>" />
                        <a class="remove remove_website" href="javascript:void(0)" rel="new" onclick="custom.removeWebsite('new')"><i class="icon-remove"></i></a>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <button id="custom_add_website" class="default_button btn-block reverse" type="button">
                        <?php echo $this->_("Add a Website"); ?>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <!--[if gte IE 10]><!-->
                    <button class="upload_picture default_button btn-block reverse" type="button">
                        <?php echo $event->getPicture() ? $this->_("Change picture") : $this->_("Add a picture"); ?>
                    </button>
                    <!--<![endif]-->
                    <input style="display:none" class="uploader_picture" type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>">
                </div>
            </div>

            <br />
            <input type="hidden" name="option_value_id" value="<?php echo $this->getOptionValue()->getId(); ?>" />
            <input type="hidden" id="custom_event_id" name="id" value="<?php echo $event->getId(); ?>" />
            <input type="hidden" id="agenda_id" name="agenda_id" value="<?php echo $this->getAgendaId(); ?>" />
            <input type="hidden" id="picture" name="picture" value="<?php echo $event->getPicture(); ?>" />
            <div class="clear"></div>

            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <!--[if gte IE 10]><!-->
                    <button type="button" class="default_button btn-block" onclick="custom.save();"><?php echo $this->_('SAVE');?></button>
                    <!--<![endif]-->
                </div>
            </div>
        </form>
        <form action="<?php echo $this->getUrl('event/application_event/validatecrop'); ?>" method="post" id="validateCrop" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4" id="cont_delete_picture">
                    <?php if($event->getPicture()) : ?>
                        <button type="button" onclick="custom.removepicture();" id="delete_picture" class="delete delete_red"><i class="icon-remove"></i></button>
                    <?php endif; ?>
                </div>
                <div class="col-sm-8 text-center" id="event_picture">
                    <?php if($event->getPicture()) : ?>
                        <img src="<?php echo Application_Model_Application::getImagePath().$event->getPicture(); ?>" width="150" height="100" />
                    <?php endif; ?>
                </div>
            </div>
            <input type="hidden" id="file" name="file"/>
            <input type="hidden" id="x1" name="x1" />
            <input type="hidden" id="y1" name="y1" />
            <input type="hidden" id="x2" name="x2" />
            <input type="hidden" id="y2" name="y2" />
            <input type="hidden" id="w" name="w" />
            <input type="hidden" id="h" name="h" />
            <input type="hidden" id="source_width" name="source_width" value="" />
            <input type="hidden" id="source_height" name="source_height" value="" />
            <input type="hidden" id="output_width" name="output_width" value="900" />
            <input type="hidden" id="output_height" name="output_height" value="600" />
            <input type="hidden" id="crop_width" name="crop_width" value="" />
            <input type="hidden" id="crop_height" name="crop_height" value="" />
        </form>
    </div>
    <style>
        .pp_content div.area .product_formats .title span.right {
            width: 100px;
        }
        .pp_content div.area .product_formats .title span.right label {
            font-size: 20px;
        }
        .pp_content div.area .product_formats table tr td input {
            width: 145px;
        }
    </style>
</div>
