<?php
$application = $this->getApplication();
$website = new Application_Model_Website();
$website = $website->find(array("app_id" => $application->getId()));
$now = Zend_Date::now();
$blocks = $website->getBlocks(); 
$url= array();
foreach($website->getSliderImages() as $image){
$url[] =  $image->getImageUrl();
}
?>
<?php if($application->getFreeUntil() == NULL || $now->get('YYYY-MM-dd HH:mm:ss') < $application->getFreeUntil() || $application->subscriptionIsActive()):?>
	<div id="website" ng-if="!is_loading">
	    <div ng-if="website == true">
	    	<div id="iframecontainer">
			<div class="scrollable_content" style="background-color:<?php echo $application->getBlock('background')->getBackgroundColor()?>;">
				<header>
					<div class="wrapper">
						<a href="#"	scroll-to="home">
							<h1 id="logo">
								<img src="<?php echo $application->getIcon();?>" height="50px" alt="">
								<span><?php echo $website->getName() ? ucfirst($website->getName()) : ucfirst($application->getName());?></span>
							</h1>
						</a>
						<nav id="navigation">
							<ul>
								<?php foreach ($blocks as $key => $block):?> 
								<li>
									<?php if($block->getType()!="shop"):?>
										<?php if(!$this->getDevice()->isIphone()):?>
										<a href="#"
										    scroll-to="<?php echo $block->getType();?>">
										    <p><?php echo $block->getName() ? ucfirst($block->getName()) :  $this->_(ucfirst($block->getType()));?></p>
										</a>
										<?php else:?>
											<a href="#<?php echo $block->getType();?>">
											    <p><?php echo $block->getName() ? ucfirst($block->getName()) :  $this->_(ucfirst($block->getType()));?></p>
											</a>
									    <?php endif?>
									<?php else:?>
										<a href="<?php echo $website->getShopUrl()?>" target="_blank"><p><?php echo $block->getName() ? ucfirst($this->_($block->getName())) : $this->_(ucfirst($block->getType()));?></p></a>
									<?php endif;?>
									</li>
								<?php endforeach;?>
								<?php if($website->getNewsletterSubscription() == 1):?>
									<li style="border:0px;width:20px;" id="newsletter" ng-click="openNewsletter()">
										<i class="icon-newsletter" style="color:<?php echo $this->getApplication()->getBlock('header')->getColor()?>"></i>
									</li>
								<?php endif;?>
							</ul>
							<div id="modal-newsletter" class="modal newsletter" ng-if="newsletter">
								 <div class="modal-content">
								 	<span class="close" ng-click="closeNewsletter()">close x</span>
								 	<?php echo $this->getPartialHtml('article_newsletter'); ?>
								</div>
							</div>
							<a class="burger" id="nav-open" ng-click="setNavVisible('left')"></a>
							<a class="burger" id="nav-close" ng-click="setNavHidden('left')"></a>
						</nav>
					</div>
				</header>
				<main>
					<?php if($website->getPromoteApp()==1):?>
						<article class="presentation" id="home">
							<div class="background-image" style="background-image: url('<?php echo $this->getApplication()->getBackgroundImage();?>');">
								<div class="filter">
								</div>
							</div>
							<div class="wrapper">
								<div class="iphone">
									<div class="homepage-app">
										<img src="<?php echo $this->getApplication()->getBackgroundImage();?>" alt="application mobile ">
									</div>
								</div>
								<div class="description">
									<div class="download">
										<h2><?php echo $this->_("Download").' '.$this->getApplication()->getName().' '.$this->_(" on :")?></h2>
										<ul>
											<li>
												<a href="<?php echo $this->getApplication()->getDevice(2)->getStoreUrl()?>" target="_blank">
													<img src="http://d15oktd9tyyxdq.cloudfront.net/playstore.png" alt="download play store">
												</a>
											</li>
											<li>
												<a href="<?php echo $this->getApplication()->getDevice(1)->getStoreUrl()?>" target="_blank">
													<img src="http://d15oktd9tyyxdq.cloudfront.net/appstore.png" alt="download apple store">
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</article>
					<?php endif;?>
					<?php if($website->getVideoDescription()==1):?>
						<article class="presentation" id="home">
							<iframe class="youtube_video" width="100%" height="98%" src="<?php echo $website->getYoutubeUrl(true)."?autoplay=0"?>" frameborder="0" allowfullscreen></iframe>
						</article>
					<?php endif;?>
					<?php if($website->getPhotoSlider()==1):?>
						<article class="slider_website" id="home" style="">
							<!--<div class="slideshow" style="background-image: url('<?php echo $this->getApplication()->getBackgroundImage();?>');">
							</div>-->
						
						<ul rn-carousel rn-carousel-indicator="true" class="rn-carousel-slides websiteslide" style="width:100%; height:500px;text-align:center;">
      						<li><img height="100%" src="<?php echo $url[0]?>"/></li>
      						<?php if(isset($url[1])):?>
  								<li><img width="100%" src="<?php echo $url[1]?>"/></li>
							<?php endif;?>
  							<?php if(isset($url[2])):?>
    							<li><img width="100%"rc="<?php echo $url[2]?>"/></li>
    						<?php endif;?>
						</ul>
					</article>
					<?php endif;?>
					<?php foreach ($blocks as $key => $block):?> 
						<?php if($block->getType()!="shop"):?>
							<?php echo $this->getPartialHtml('article_'.$block->getType())?>
						<?php endif;?>
					<?php endforeach;?>

					<div id="myModal" class="modal mention" ng-if="mention">
						 <div class="modal-content">
						 	<span class="close" ng-click="closeModal()">close x</span>
						 	<?php echo $this->createPartialHtml('tc_create', 'admin_view_default', 'application/tc/tc_site.phtml'); ?>
						</div>
					</div>
				</main>
				<footer>
					<div class="wrapper">
						<?php if($website->getFacebookId() != ""):?>
							<div class="facebook_like">	
							<?php $scr = "https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2F".$website->getFacebookId()."&width=450&layout=standard&action=like&show_faces=true&height=80&appId=671585722862694&colorscheme=light";?>
							<iframe src='<?php echo $scr?>' width="300" height="100" style="overflow:hidden;padding:10px;" scrolling="no" frameborder="1" allowTransparency="true"></iframe>
							</div>
						<?php endif;?>
						<?php
						$social_networks = new Application_Model_Website_SocialContent();
   						$social_networks = $social_networks->findAll(array("website_id"=>$website->getWebsiteId()));
						?>
						<div style="text-align:center;">
							<?php foreach ($social_networks as $key => $network):?>
								<?php $social = new Application_Model_Website_Social();?>
								<?php $social->find(array("social_id"=>$network->getSocialId()));?>
								<a href="<?php echo $network->getSocialUrl()?>" target="_blank"><img src="<?php echo $this->getColorizedImage($this->getImage($social->getImage(), true));?>" width="30px"/></a>
							<?php endforeach?>
						</div>
						<p><a href="http://sincube.com" alt="sincube agence production communication" target="_blank">&copy; Powered by Sincube</a></p>
						<ul>
							<?php if($website->getContactEmail()):?>
								<li>
									<a href="mailto:<?php echo $website->getContactEmail();?>">
										<i class="icon-mail"></i>
										<?php echo $this->_('Contact Us');?>
									</a>
								</li>
							<?php endif;?>
							<li ng-click="openModal()">
								<?php echo $this->_('General Conditions');?>
							</li>
						</ul>
					</div>
				</footer>
			</div>
			</div>
		</div>
		<div ng-if="website==false">
			<div class="allowed">
				<h3>
					<i class="icon-padlock"></i>
					<?php echo $this->_('Site not allowed');?>
				</h3>
				<p><?php echo $this->_('If you want a website, please')." ";?><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#105;&#110;&#99;&#117;&#98;&#101;&#46;&#99;&#111;&#109;"><?php echo $this->_('Contact Us');?></a></p>
				<!-- <p><?php //echo $this->_('If you want the website, please go to the payment page and buy a website.');?></p> -->
			</div>
		</div>
	</div>
	<div ng-if="is_loading">
		<div class="scrollable_content" style="background-color:<?php echo $application->getBlock('background')->getBackgroundColor()?>; min-height:800px"> <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader></div>
	</div>
<?php else :?>
	<div class="allowed">
		<h3><?php echo $this->_('This website is no longer available');?></h3>
		<p><?php echo $this->_('We are sorry but this website has been deactivated and may not be re-activated.');?></p>
	</div>
<?php endif;?>
<style type="text/css">
/*RESET*/
<?php echo $website->getCustomCss();?>
html, body, div, span, object, iframe,h1, h2, h3, p, a, img, ul, li, fieldset, form, label, article, aside, footer, header, menu, nav, section{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
header .wrapper{width: 98%;}
.wrapper{width: 960px;margin:0 auto;}
<?php if ($this->getDevice()->isIphone()):?>
#iframecontainer {
  position: relative; /*can be absolute or fixed*/
  overflow-x: hidden; /*necessary*/
  overflow-y: auto; /*doesn't seem necessary*/
  width: 100%; /*necessary*/
  height: 100vh; /*necessary*/
}
<?php endif;?>
body{
	/*font-family: 'Roboto Condensed', Helvetica, sans-serif !important;*/
	font-family: '<?php $this->getApplication()->getFontFamily(); ?>', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: <?php echo $application->getBlock('background')->getColor()?>;
	background-color: <?php echo $application->getBlock('background')->getBackgroundColor()?>;
}
.websiteslide{background-color: <?php echo $application->getBlock('header')->getBackgroundColor()?>;}
h2{text-transform: uppercase;}
ul li{list-style-type: none;display: inline-block;}
header{position: fixed;top:0;left: 0;width: 100%;z-index: 11;-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);border-bottom:2px solid <?php echo $application->getBlock('header')->getColor()?>;}
header h1{float: left;width: 340px;margin:4px 10px;}
header h1 img{height: 70px;}
header h1 span{display: inline-block;line-height: 70px;vertical-align: top;padding-left:5px;color:<?php echo $application->getBlock('header')->getColor()?>;}
header nav{line-height: 87px;text-align: right;}
header ul li{width:10%;font-size:18px;text-align: center;line-height:normal;padding-top: 28px;}
header nav ul li p,header nav ul li a, header nav ul li a:visited{color:<?php echo $application->getBlock('header')->getColor()?>;overflow: hidden; text-overflow:ellipsis;cursor: pointer;}
header nav ul li a{display: inherit;}
footer{position: relative;bottom: 0;left: 0;width: 100%;font-size: 15px;line-height: 60px;text-transform: uppercase;color: <?php echo $application->getBlock('background')->getBackgroundColor()?>;background-color: <?php echo $application->getBlock('background')->getColor()?>;border-top:3px solid <?php echo $application->getBlock('background')->getBackgroundColor()?>;}
footer p{float:left;}
footer ul{height: 60px;}
footer ul li{height: 60px;vertical-align: top;float: right;}
footer ul li i:before{font-size: 30px;margin-left: 55px;vertical-align: middle;}
footer ul li a:hover i:before{color:inherit;}
article{padding-top: 90px;}
article ::-webkit-scrollbar {background-color: <?php echo $application->getBlock('background')->getBackgroundColor()?>;width:7px;}
article ::-webkit-scrollbar-track-piece {background-color: <?php echo $application->getBlock('background')->getBackgroundColor()?>;}
article:nth-child(odd) ::-webkit-scrollbar {background-color: <?php echo $application->getBlock('background')->getColor()?>;width:7px;}
article:nth-child(odd) ::-webkit-scrollbar-track-piece {background-color: <?php echo $application->getBlock('background')->getColor()?>;}
article ::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,0.4);border-radius: 1.25em;}
article:nth-child(odd){margin-top: 90px;padding-top: 0;}
article.presentation:nth-child(odd){margin-top:0;}
article.presentation{padding-top: 0;}
article>h2,article .wrapper>h2,.modal.mention h2{padding-bottom:10px;border-bottom: 2px solid <?php echo $application->getBlock('background')->getColor()?>;margin-bottom: 40px;font-size:28px;}
article:nth-child(odd) h2{padding-top:50px;border-bottom-color: <?php echo $application->getBlock('background')->getBackgroundColor()?>;}
article.presentation:nth-child(odd) h2{padding-top:0px;}
.button{text-transform: uppercase;box-shadow: none !important;width:140px;}
.button.reverse{border:1px solid <?php echo $application->getBlock('header')->getColor()?>;}
article.presentation{position: relative;height: 565px;
	color:<?php echo $application->getBlock('header')->getColor()?>;
	background-color: <?php echo $application->getBlock('header')->getBackgroundColor()?>;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.at-view-slide.background{overflow: visible !important;position: static !important;}
article.presentation .background-image {width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: 50%;-webkit-filter: blur(3px);filter: blur(3px);}
.filter{background-color: rgba(0,0,0,0.5);width: 100%;height: 100%;}
article .loader{text-align:center;}
article.presentation .wrapper{position: absolute;top:0px;left:50%;margin-left:-480px;}
article.presentation .description{width:75%;display: inline-block;}
article.presentation .description .download{text-align: center;color: <?php echo $application->getBlock('header')->getColor()?>;width:70%;height: auto;margin:27% auto 0;padding: 10px;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
article.presentation .description .download h2{font-size: 23px;line-height: 1.5;padding-bottom: 7px;}
article.presentation .description .download ul li{width: 29%;vertical-align: middle;padding-right: 10px;}
article.presentation .description .download ul li img{width: 100%;}
article.presentation .iphone{position: relative;width: 220px;height: 480px;background-image: url('/app/design/desktop/siberian/images/customization/overview/iphone5.png');background-repeat: no-repeat;background-size: 100%;float: left;margin-top:85px;}
article.presentation .iphone .homepage-app{width:184px;height: 328px;background-color: #272527;position:absolute;top:69px;left:19px;}
article.presentation .iphone .homepage-app img{width: 100%;height: 100%;}
article.biography{padding-bottom: 50px;}
article.biography .text{text-align: center;font-size:16px;font-weight: 300;}
article:nth-child(odd){background-color: <?php echo $application->getBlock('background')->getColor()?>;color:<?php echo $application->getBlock('background')->getBackgroundColor()?>;}
article .list-element{padding: 15px 0 20px;text-align: center;}
article .list-element li{width:13%;}
article .list-element li p{cursor: pointer;}
article .list-element li span{text-align: center;display:block;width:13px;height:13px;border-radius:50%;border:1px solid <?php echo $application->getBlock('background')->getColor()?>;margin:10px auto;cursor: pointer;}
article:nth-child(odd) .list-element li span{border-color: <?php echo $application->getBlock('background')->getBackgroundColor()?>;}
article:nth-child(odd) .list-element li:active span{background-color:<?php echo $application->getBlock('background')->getBackgroundColor()?>;}
article .list-element li:active span{background-color: <?php echo $application->getBlock('background')->getColor()?>;}
article.medias.music{padding-bottom: 40px;}
article.medias.video{padding-bottom: 20px;}
article.medias.music li div.album_infos{display:none;}
article.medias.music li:first-child div.album_infos{display:block;}
article.medias.music .music_album{position: relative;width:80%;height:300px;margin: 0 auto;background-color: <?php echo $application->getBlock('background')->getBackgroundColor()?>;color:<?php echo $application->getBlock('background')->getColor()?>;}
article:nth-child(even).medias.music .music_album{background-color: <?php echo $application->getBlock('background')->getColor()?>;color:<?php echo $application->getBlock('background')->getBackgroundColor()?>;}

article.medias.music .music_album .progress_bar{
        border: solid 1px <?php echo $this->getApplication()->getBlock('background')->getColor();?>;
        margin-bottom: -15px;
        z-index: 99;
    	position: relative;
}
article.medias.music .music_album .progress_bar_intern{
        background-color:<?php echo $this->getApplication()->getBlock('background')->getColor();?>;
        opacity: 0.99;
   		z-index: -1;
   		border-radius: 5px;
}
article:nth-child(even).medias.music .music_album .progress_bar{
        border: solid 1px <?php echo $this->getApplication()->getBlock('background')->getBackgroundColor();?>;
        margin-bottom: -17px;
        z-index: 99;
    	position: relative;
    	border-radius:5px;
}
article:nth-child(even).medias.music .music_album .progress_bar_intern{
        background-color:<?php echo $this->getApplication()->getBlock('background')->getBackgroundColor();?>;
        opacity: 0.99;
    	z-index: -1;
    	border-radius: 5px;
}
article.medias.music .music_album .progressbar-content{display:inline-block;height:30px;line-height:15px;width:80%;opacity: 0.99;z-index:10;}
article.medias.music .music_album .cover{width:300px;}
article.medias.music .music_album .playlist-name{text-transform: uppercase;}
article.medias.music .music_album .playlist-name{position: absolute;top:15px;left:320px;}
article.medias.music .music_album ul.music_list{position: absolute;width:55%;height: 230px;top: 60px;left: 335px;overflow-y:scroll;}
article.medias.music .music_album ul.music_list li{display: block !important;padding:5px 0;}
article.medias.music .music_album ul.music_list li p.track_name{font-weight: 300;font-size: 17px;}
article.medias.music .music_album ul.music_list li p.track_name i{padding-left: 20px;}
article.medias.music .music_album ul.music_list li .audio{margin:15px 0 8px;}
article.medias.music .music_album ul.music_list li .audio audio{width: 100% !important;}
article.event{padding-bottom: 30px;}
article.event .event_list{height: 530px;overflow-y:scroll;}
article.event .event_element{width:100% !important;margin:20px 0;}
article.event .event_element div{display:inline-block;vertical-align:middle;}
article.event .event_element .date,article.event .event_element .shop{width:15%;}
article.event .event_element .location{width:55%;}
article.event .event_element .date{padding-right: 12%;}
article.event .event_element .date p{text-align: center;}
article.event .event_element .date p.day{font-size: 60px;}
article.event .event_element .date p.month{font-size: 19px;text-align: center;text-transform: uppercase;letter-spacing: 2px;}
article.event .event_element .location p.title_event{font-size: 22px;}
article.event .event_element .location p.time,article.event .event_element .location p.address{font-size: 15px;}
article.event .event_element .location p.time{padding: 10px 0 2px;}
article.videos ul.wallop-slider__list li .youtube_preview {height: 400px;}
article.videos ul.wallop-slider__list li{height:400px;}
article.videos ul.wallop-slider__list li iframe{height: 400px;}
article.images{padding-bottom: 50px;}
article.images ul.image_gallery{max-height:490px;overflow-y:scroll;padding-left: 0;}
article.images .image_gallery li{width: 230px;height: 230px;}
article.images .button,article.videos .button{width: 140px;margin-top: 20px;}
div.facebook_like{text-align: center;padding-top: 30px;}
div.allowed {text-align: center;}
div.allowed h3{font-size: 42px;margin-top:200px;}
div.allowed h3 i{font-size:80px;display: block;margin-bottom: 30px;}
div.allowed p{margin: 50px 0;}
div.allowed p a{text-decoration: underline;}
div.allowed button{width:150px;}
.youtube_video {
	margin-top: 95px;
}
.rn-carousel-indicator{margin-top: -30px;}
@media screen and (max-width: 990px) {
	header{height:105px}
	header h1{float:none;margin:4px 0 4px 60px;}
	header ul li{width: 10%;font-size: 18px;text-align: center;line-height: normal;padding-top: 10px;padding-bottom: 10px;border:0;border-radius:0px; border-color: <?php echo $this->getApplication()->getBlock("header")->getColor()?>}
	header nav ul li a:hover{color:<?php echo $application->getBlock('background')->getColor()?>;}
	header nav{z-index:10;position:absolute;top:0;right:-47%;background-color:<?php echo $application->getBlock('header')->getBackgroundColor()?>;width:47%;min-height:100vh;padding:20px 0 0;margin-top:0;-webkit-transition: left .4s cubic-bezier(.72,.89,.28,1);-moz-transition: left .4s cubic-bezier(.72,.89,.28,1);-o-transition: left .4s cubic-bezier(.72,.89,.28,1);transition: left .4s cubic-bezier(.72,.89,.28,1);}
	header nav ul li{width:100%;height:50px;line-height:52px;display: block;border-bottom: 1px solid;padding-top: 0}
	header nav ul li:last-child{border:none;}
	header nav ul li p{color:<?php echo $application->getBlock('header')->getColor()?>;}
	header nav>a:after{font-family: 'sincube';line-height:1;font-size:40px;position:absolute;top:33px;left:-3rem;cursor: pointer;color:<?php echo $application->getBlock('header')->getColor()?>;}
	header nav>a#nav-open:after{content: "\e91e";}
	header nav>a#nav-close:after{content: "\e90d";}
	#nav-close {display: none;}
	.youtube_video {
		margin-top: 70px;
	}
	.slider_website{margin-top:70px !important;}
}

/*MEDIAQUERIES*/
@media screen and (max-width: 990px) {
	header h1{float:none;margin:4px 0 4px 60px;}
	header nav ul li a:hover{color:<?php echo $application->getBlock('background')->getColor()?>;}
	header nav{z-index:10;position:absolute;top:0;left:-47%;background-color:<?php echo $application->getBlock('header')->getBackgroundColor()?>;width:47%;min-height:100vh;padding:20px 0 0;margin-top:0;-webkit-transition: left .4s cubic-bezier(.72,.89,.28,1);-moz-transition: left .4s cubic-bezier(.72,.89,.28,1);-o-transition: left .4s cubic-bezier(.72,.89,.28,1);transition: left .4s cubic-bezier(.72,.89,.28,1);}
	header nav ul li{width:100%;height:50px;line-height:52px;display: block;border-bottom: 1px solid;padding-top: 0}
	header nav ul li:last-child{border:none;}
	header nav ul li p{color:<?php echo $application->getBlock('header')->getColor()?>;}
	header nav>a:after{font-family: 'sincube';line-height:1;font-size:29px;position:absolute;top:19px;right:-3rem;cursor: pointer;color:<?php echo $application->getBlock('header')->getColor()?>;}
	header nav>a#nav-open:after{content: "\e91e";}
	header nav>a#nav-close:after{content: "\e90d";}
	#nav-close {display: none;}
}
@media screen and (max-width: 970px) {
	* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
 	.wrapper{width:80%;}
	article.presentation .wrapper{width:90%;margin-left: -45%;}
	article.presentation .description{width:65%;}
	article.presentation .description .download{margin-top: 42%;}
	article.medias.music .music_album{width:95%;}
	article.medias.music .music_album ul.music_list{width:48%;left:320px;}
	article.event .event_element .date{width:22%;padding-right: 0;}
	article.images .image_gallery li{width:24%;height: 180px;}
	article.medias.music .music_album .progress_bar{height: 12px !important;}
}
@media screen and (max-width: 835px) {
	header ul li{width:11%;}
	article.medias.music .music_album .cover{width:110px;padding:8px;}
	article.medias.music .music_album .playlist-name{left:120px;}
	article.medias.music .music_album ul.music_list{width: 68%;left: 120px;max-width: 480px;}
}
@media screen and (max-width: 750px) {
 	body{font-size: 19px;}
 	article.presentation{height:500px;}
 	article.presentation .description .download{margin-top:36%;}
	article.presentation .iphone{display: none;}
	article.presentation .description .download{position: absolute;width: 100%;left: 0;}
	article.event .event_element .date p.day{font-size: 45px;}
	article.event .event_element .date p.month{font-size: 16px;padding-top: 5px;}
	article.event .event_element .location p.title_event{font-size: 18px;}
	article.event .event_element .location p.time, article.event .event_element .location p.address{font-size: 13px;}
}
@media screen and (max-width: 700px) {
	article .list-element li{font-size: 80%;}
	article.videos ul.wallop-slider__list li,article.videos ul.wallop-slider__list li .youtube_preview,article.videos ul.wallop-slider__list li iframe{height: 300px;}
	article.images ul.image_gallery{max-height: 420px;}
	article.images .image_gallery li{height: 130px;}
	article.event .event_element .location{width:50%;padding:0 15px;}
	article.event .event_element .date p.month{letter-spacing: 1px;}
	footer p{font-size: 11px}
	footer ul li{font-size: 12px}
}
@media screen and (max-width: 670px){
	
}
@media screen and (max-width: 580px) {
 	header button{font-size: 15px;margin:25px 0;}
 	article.presentation .description .download ul li{width:31%;padding-right: 0;} 
 	article.presentation .description .download{margin-top: 45%;}
 	article.medias.music .music_album .cover{width:80px;}
 	article.medias.music .music_album .playlist-name{left:90px;}
	article.medias.music .music_album ul.music_list{position: static;width:100%;height:209px;padding:0 10px 5px;}
	footer p, footer ul li{float:none;}
	footer ul{text-align: center;}
	footer ul li{width:45%;}
	footer ul li{font-size: 13px}
}
@media screen and (max-width: 550px) {
	article.images .list-element{padding-top:0;}
	article.images .image_gallery li{width:32%;}
}
@media screen and (max-width: 500px){
	article .list-element li{width:25%;}
	article.presentation{height: 460px;}
	article.event .event_element .date p.day{font-size: 35px;}
	article.event .event_element .date p.month{font-size:13px;}
	article.event .event_element .location p.title_event{font-size: 16px;}
	article.event .event_element .location{padding:0 8px;}
}
@media screen and (max-width: 450px) {
 	header h1{width:75%;text-align: center;float:none;}
 	header button{margin:15px 0;width: 100% !important;}
 	article.event .event_element div{display: block;}
	article.event .event_element .date, article.event .event_element .shop,article.event .event_element .location{width: 100%;text-align: center}
	article.event .event_element .location{margin:15px 0;}
	article.event .event_element{padding-bottom:15px;margin-bottom:0;border-bottom: 1px solid}
	footer ul li i:before{margin-left: 10px;padding-right: 3px !important;}
}
@media screen and (max-width: 400px) {
	article.videos ul.wallop-slider__list li, article.videos ul.wallop-slider__list li .youtube_preview, article.videos ul.wallop-slider__list li iframe{height:200px;}
	article.images .image_gallery li{width:49%;}
	footer ul li{font-size: 10px;}
}
@media screen and (max-width: 330px) {
	article .list-element li{width:30%;}
	article.presentation .description .download{margin-top:35%;}
	footer .wrapper *{line-height: 1;height: auto;float:none;text-align: center;}
	footer p{padding:10px 0 10px;}
	footer ul{padding: 10px 0 20px;}
}
.tabbar {visibility: hidden;}
.square_video_selected{background-color:<?php echo $application->getBlock('background')->getColor()?>;}
.square_music_selected{background-color:<?php echo $application->getBlock('background')->getColor()?>;}
.square_image_selected{background-color:<?php echo $application->getBlock('background')->getColor()?>;}
.square_event_selected{background-color:<?php echo $application->getBlock('background')->getColor()?>;}
article:nth-child(odd) .square_video_selected{background-color:<?php echo $application->getBlock('background')->getBackgroundColor()?>;}
article:nth-child(odd) .square_music_selected{background-color:<?php echo $application->getBlock('background')->getBackgroundColor()?>;}
article:nth-child(odd) .square_image_selected{background-color:<?php echo $application->getBlock('background')->getBackgroundColor()?>;}
article:nth-child(odd) .square_event_selected{background-color:<?php echo $application->getBlock('background')->getBackgroundColor()?>;}
.current-item span.round{
	display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid <?php echo $application->getBlock('background')->getBackgroundColor()?>;
    margin: 10px;
    cursor: pointer;
    background-color:<?php echo $application->getBlock('background')->getBackgroundColor()?>;
}
.no-current span.round{
	display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid <?php echo $application->getBlock('background')->getBackgroundColor()?>;
    margin: 10px;
    cursor: pointer;
}
article:nth-child(odd) .current-item span.round{border-color:<?php echo $application->getBlock('background')->getColor()?>;background-color:<?php echo $application->getBlock('background')->getColor()?>;}
article:nth-child(odd) .no-current span.round{border-color: <?php echo $application->getBlock('background')->getColor()?>;}
.modal {
    position: fixed; /* Stay in place */
    z-index: 12; /* Sit on top */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
	position: fixed; /* Stay in place */
    background-color: #fefefe;
    margin-left:-35%;
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    left:50%;
    top:50px;
    color:black;
    text-transform: none;
    overflow-y:scroll;
    max-height: 82vh; 
}
.modal-content img{max-height: 78vh;}
.close {color: #aaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover,.close:focus {color: black;text-decoration: none;cursor: pointer;}
.no-current, .current-item {border-color: <?php echo $this->getApplication()->getBlock('background')->getColor()?>;}
.current-item {background-color: <?php echo $this->getApplication()->getBlock('background')->getColor()?>;}
article:nth-child(odd) .no-current,article:nth-child(odd) .current-item {border-color: <?php echo $this->getApplication()->getBlock('background')->getBackgroundColor()?>;}
article:nth-child(odd) .current-item {background-color: <?php echo $this->getApplication()->getBlock('background')->getBackgroundColor()?>;}
.modal.mention .modal-content{text-align: left;font-size:16px;line-height: 1.3;}
.modal.mention .modal-content h2.terms-general{margin-top:30px;}
.modal.mention .modal-content p{font-weight: 300;}
.modal.mention .modal-content h3{font-weight: 700;}
/*/MEDIAQUERIES*/
/*SPINNER*/
article .spinner > div, article.music:nth-child(odd) .spinner > div {
  background-color: <?php echo $this->getApplication()->getBlock('background')->getColor()?>;
}
article:nth-child(odd) .spinner > div,article:nth-child(even).music .spinner > div {
  background-color: <?php echo $this->getApplication()->getBlock('background')->getBackgroundColor()?>;
}
#newsletter{
	display: inline-block;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
<?php if($website->getPhotoSlider()==1):?>
.slideshow
{
    background: no-repeat;
    background-size: cover;
    -webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
  	-o-background-size: cover; /* pour Opera */
    margin-top: 100px;
    height:100%;
    width:100%;
    animation: changeBackground 10s infinite;
    -webkit-animation: changeBackground 10s infinite;
}

@media screen and (max-width: 970px) {
	.slideshow
	{
		margin-top: 70px;
	}
	article.presentation {
    	height: 400px;
    }
    #newsletter{
    	display: none;
    }
}
@media screen and (max-width: 500px) {
	.slideshow
	{
		margin-top: 70px;
	}
		article.presentation {
    height: 200px;}
}


@keyframes changeBackground
{
    0%
    {
         background-image: url("<?php echo $url[0];?>");   
    }
    50%
    {
         background-image: url("<?php echo isset($url[1]) ? $url[1] : $url[0];?>");   
    }
    100%
    {
         background-image: url("<?php echo isset($url[2]) ? $url[2] : $url[0];?>");   
    }
}

@-webkit-keyframes changeBackground
{
    0%
    {
         background-image: url("<?php echo $url[0];?>");   
    }
    50%
    {
         background-image: url("<?php echo isset($url[1]) ? $url[1] : $url[0];?>");   
    }
    100%
    {
         background-image: url("<?php echo isset($url[2]) ? $url[2] : $url[0];?>");    
    }
}
<?php endif;?>


</style>





