<form ng-submit="save()">

    <sb-section title="'<?php echo $this->_("Your Platform"); ?>'">

        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ configs.platform_name.code }}">{{ configs.platform_name.label }}</label>
                <input type="text" id="{{ configs.platform_name.code }}" ng-model="configs.platform_name.value" class="form-control" placeholder="{{ configs.platform_name.label }}" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ configs.company_siret.code }}">{{ configs.company_siret.label }}</label>
                <input type="text" id="{{ configs.company_siret.code }}" ng-model="configs.company_siret.value" class="form-control" placeholder="{{ configs.company_siret.label }}" />
            </div>
        </div>

    </sb-section>

    <sb-section class="clear" title="'<?php echo $this->_("Your company"); ?>'">

        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ configs.company_name.code }}">{{ configs.company_name.label }}</label>
                <input type="text" id="{{ configs.company_name.code }}" ng-model="configs.company_name.value" class="form-control" placeholder="{{ configs.company_name.label }}" />
            </div>
        </div>
        <div class="clear"></div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ configs.company_address.code }}">{{ configs.company_address.label }}</label>
                <textarea rows="3" id="{{ configs.company_address.code }}" ng-model="configs.company_address.value" class="form-control" placeholder="{{ configs.company_address.label }}"></textarea>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ configs.company_country.code }}">{{ configs.company_country.label }}</label>
                <select id="configs.company_country.code" class="form-control" ng-model="configs.company_country.value" ng-options="k as v for (k, v) in countries">
                    <option value=""><?php echo $this->_("Select a country"); ?></option>
                </select>
            </div>
        </div>

        <div class="clear"></div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ configs.company_phone.code }}">{{ configs.company_phone.label }}</label>
                <input type="text" id="{{ configs.company_phone.code }}" ng-model="configs.company_phone.value" class="form-control" placeholder="{{ configs.company_phone.label }}" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ configs.company_vat_number.code }}">{{ configs.company_vat_number.label }}</label>
                <input type="text" id="{{ configs.company_vat_number.code }}" ng-model="configs.company_vat_number.value" class="form-control" placeholder="{{ configs.company_vat_number.label }}" />
            </div>
        </div>
    </sb-section>

    <div class="clear"></div>

    <sb-section title="'<?php echo $this->_("Your Location"); ?>'">
        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ configs.system_timezone.code }}">{{ configs.system_timezone.label }}</label>
                <select class="form-control" ng-model="configs.system_timezone.value" ng-options="k as v for (k, v) in configs.territories">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label for="{{ configs.system_currency.code }}">{{ configs.system_currency.label }}</label>
                <select id="{{ configs.system_currency.code }}" class="form-control" ng-model="configs.system_currency.value" ng-options="k as v for (k, v) in configs.currencies">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="col-md-6" ng-if="configs.languages">
            <div class="form-group">
                <label for="{{ configs.system_default_language.code }}">{{ configs.system_default_language.label }}</label>
                <select class="form-control" ng-model="configs.system_default_language.value" ng-options="k as v for (k, v) in configs.languages">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </sb-section>

    <div class="clear"></div>

    <sb-section title="'<?php echo $this->_("Your Applications"); ?>'">

        <div class="col-md-6" ng-if="configs.system_publication_access_type">
            <div class="form-group">
                <label for="{{ configs.system_publication_access_type.code }}">{{ configs.system_publication_access_type.label }}</label>
                <select class="form-control" ng-model="configs.system_publication_access_type.value">
                    <option value="sources"><?php echo $this->_("Sources code"); ?></option>
                    <option value="info"><?php echo $this->_("Info"); ?></option>
                </select>
                <p class="help-block" ng-show="configs.system_publication_access_type.value == 'sources'"><?php echo $this->_("Users can download application sources code."); ?></p>
                <p class="help-block" ng-show="configs.system_publication_access_type.value == 'info'"><?php echo $this->_("Users give you the required information to publish applications."); ?></p>
            </div>
        </div>
        <?php if($this->isPe()): ?>
        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ configs.application_free_trial.code }}">{{ configs.application_free_trial.label }}</label>
                <input type="text" id="{{ configs.application_free_trial.code }}" ng-model="configs.application_free_trial.value" class="form-control" placeholder="{{ configs.application_free_trial.label }}"/>
                <p class="help-block"><?php echo $this->_("Duration of the free trial period of your platform (in days, 0 for no free trial)."); ?></p>
            </div>
        </div>
        <?php endif; ?>
        <div class="clear"></div>

        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary left"><?php echo $this->_("Save"); ?></button>
                <sb-loader is_visible="form_loader_is_visible" type="'inner_content'" size="'small'" animation="'no'" class="form_loader"></sb-loader>
                <div class="clear"></div>
            </div>
        </div>

    </sb-section>

</form>