<?php   $account_option = new Application_Model_Accountoption();
        $account_option = $account_option->find(array("app_id" => $this->getApplication()->getAppId()));
?>
<div>
    <div class="tabbar background-tabbar"></div>
    <ul class="tabbar">
        <li style="border-bottom: solid 2px;">
            <span class="" style="font-weight:bold; font-size:18px;display: inline-block;height: 30px;vertical-align: middle;margin-top:15px;">MENU</span>
        </li>
        <li ng-repeat="option in features.options" ng-if="option.is_active" class="border-color" style="border-bottom: solid 1px;vertical-align: middle;height: 60px">
            <a tabbar-items option="option" go-to-url="goToUrl(option)" ng-hide="layout.properties.options.current === option" class="item relative" target="_parent" title="{{ option.name }}" style="text-align:left;margin-left:50px;">
                <div class="fullscreen"></div>
                <img ng-src="{{ option.icon_url }}" ng-class="{ colorable: option.icon_is_colorable }" width="30" height="30" title="{{ option.name }}" alt="{{ option.name }}" />
                <span class="" style="display: inline-block;height: 30px;vertical-align: middle;">{{ option.name }}</span>
                <div ng-if="option.code == 'push_notification' && pushs" class="badge menu_left">{{ pushs }}</div>
                <?php if ($account_option->getPushAccountIsActive() == "1"):?>      
                    <div ng-if="option.code == 'tabbar_account' && pushs" class="badge menu_left">{{ pushs }}</div>
                <?php endif;?>
            </a>
            <span ng-show="layout.properties.options.current === option" class="current item" style="text-align:left;padding-left:50px;background-color:<?php echo $this->getApplication()->getBlock("header")->getColor()?>; color:<?php echo $this->getApplication()->getBlock("header")->getBackgroundColor()?>;margin:0;">
                <img ng-src="{{ option.icon_url_reverse }}" ng-class="{ colorable: option.icon_is_colorable }" width="30" height="30" title="{{ option.name }}" alt="{{ option.name }}" />
                <span class="" style="display: inline-block;height: 30px;vertical-align: middle;">{{ option.name }}</span>
                <div ng-if="option.code == 'push_notification' && pushs" class="badge menu_left">{{ pushs }}</div>
                <?php if ($account_option->getPushAccountIsActive() == "1"):?>      
                    <div ng-if="option.code == 'tabbar_account' && pushs" class="badge menu_left">{{ pushs }}</div>
                <?php endif;?>
            </span>
        </li>
    </ul>
</div>