<div ng-if="locked === 1 && !is_logged_in">
    <?php echo $this->getPartialHtml("padlock"); ?>
</div>
<div ng-if="(locked === 1  &&  is_logged_in) || locked === 2 || !collection.locked">
    <div ng-if="events.length">
        <ul class="event_list">
            <li class="event_element" ng-repeat="item in events">
                <div class="date">
                    <p class="day">{{ item.day }}</p>    
                    <p class="month">{{ item.month_name_short }} {{ item.year }}</p>
                </div>
                <div class="location">
                    <p class="title_event">{{ item.title }} - {{ item.subtitle }}</p>
                    <p class="time"><?php echo $this->_('at');?> {{ item.time }}</p>  
                    <p class="address" ng-click="openMaps(item);">{{ item.address }}</p>
                </div>
                <div class="shop">
                    <a ng-if="item.shop_url" class="button" href="{{ item.shop_url }}" target="_blank"><?php echo $this->_('Ticket');?></a>
                    <a ng-if="item.rsvp_url" class="button reverse" href="{{ item.rsvp_url }}" target="_blank"><?php echo $this->_('RSVP');?></a>
                </div>
            </li>
            <button class="button" ng-click="loadMoreEvent()"><?php echo $this->_('Load more');?></button>
        </ul>
    </div>
    <div ng-if="!events.length">
        <?php echo $this->_('No event for the moment');?>
    </div>
</div>