<div class="area" style="margin-top:100px;margin-bottom:-40px">
<h3 class="title">
	<?php echo $this->_("You need some informations ? Contact-us")." : "?>
</h3>
<br/>
<div style="text-align:center;margin-top:-40px;">
<ul>
<li style="margin-right:100px;border: solid 2px <?php echo $this->getBlock('general')->getColor()?>;padding: 30px;border-radius: 50%;width:220px;display:inline-block;">
<p><?php echo $this->_("Commercial service")." : "?></p>
<p>DOMINIQUE MOUYEAUX</p>
<p>dmouyeaux@sincube.com</p>
<p>+33 (0)6 98 36 07 52</p>
</li>
<li style="border: solid 2px <?php echo $this->getBlock('general')->getColor()?>;padding: 30px;border-radius: 50%;width:220px;display:inline-block">
<p><?php echo $this->_("Technical service")." : "?></p>
<p>LAETITIA FERDINAND</p>
<p>laetitiaferdinand@sincube.com</p>
<p>+33 (0)6 58 30 00 35</p>
</li>
</ul>
</div>
<h4 style="text-align:center;"><?php echo $this->_("You need some help ? Sincube offers several solutions")." : "?></h4>
<div style="text-align:center
"><a href="#creation" style="padding:5px;background:white;border:solid 1px <?php echo $this->getBlock('general')->getColor()?>;color:<?php echo $this->getBlock('general')->getColor()?>;width:300px;display:inline-block;"><?php echo $this->_("Our creation assistance services")?></a>
<a href="#animation" style="padding:5px;background:white;border:solid 1px <?php echo $this->getBlock('general')->getColor()?>;color:<?php echo $this->getBlock('general')->getColor()?>;width:300px;display:inline-block;"><?php echo $this->_("Our animation services for your application")?></a>
</div>
<div class="clear"></div>
</div>
<div class="application_pricing_table application">
<div class="application_content inner_content" style="margin-left:0px;">
<div class="area">
    <h3 class="title" id="creation">
        <span class="left area"><?php echo $this->_("You need some help for creating your mobile app? Sincube offers severals options")." : "?></span>
        <div class="clear"></div>
    </h3>
    <div class="packs services">
        <div class="pack" id="beginner">
            <header>
                <h4><?php echo $this->_('Pack 1'); ?></h4>
                <p class="pricing">50€ <?php echo $this->_('ex-Tax');?></p>
                <p class="tva_pricing">(<?php echo $this->_('either');?> 60€ <?php echo $this->_('VAT');?>)</p>
            </header>
            <ul class="features">
                <li><?php echo $this->_('Content integration');?></li>
            </ul>
            <footer>
                <a class="btn default_button" href="http://site-sincubeapp.rhcloud.com/services-pack/?pack=pack60" target="_blank">
                    <span class="upgrade-button"><?php echo $this->_('Contact us');?></span>
                </a>
            </footer>
        </div>
        <div class="pack" id="starter">
            <header>
                <h4><?php echo $this->_('Pack 2'); ?></h4>
                <p class="pricing">125€ <?php echo $this->_('ex-Tax');?></p>
                <p class="tva_pricing">(<?php echo $this->_('either');?> 150€ <?php echo $this->_('VAT');?>)</p>
            </header>
            <ul class="features">
                <li><?php echo $this->_('Content integration');?></li>
                <li><?php echo $this->_('Colors selection');?></li>
                <li><?php echo $this->_('Font selection');?></li>
                <li class="more">+</li>
                <li><?php echo $this->_('Iteration review');?></li>
            </ul>
            <footer>
                <a class="btn default_button" href="http://site-sincubeapp.rhcloud.com/services-pack/?pack=pack150" target="_blank">
                    <span class="upgrade-button"><?php echo $this->_('Contact us');?></span>
                </a>
            </footer>
        </div>
        <div class="pack" id="advanced">
            <header>
                <h4><?php echo $this->_('Pack 3'); ?></h4>
                <p class="pricing">250€ <?php echo $this->_('ex-Tax');?></p>
                <p class="tva_pricing">(<?php echo $this->_('either');?> 300€ <?php echo $this->_('VAT');?>)</p>
            </header>
            <ul class="features">
                <li><?php echo $this->_('Content integration');?></li>
                <li><?php echo $this->_('Colors selection');?></li>
                <li><?php echo $this->_('Font selection');?></li>
                <li><?php echo $this->_('App icon creation');?></li>
                <li><?php echo $this->_('Splash screen creation');?></li>
                <li class="more">+</li>
                <li>2 <?php echo $this->_('Iteration review');?></li>
            </ul>
            <footer>
                <a class="btn default_button" href="http://site-sincubeapp.rhcloud.com/services-pack/?pack=pack300" target="_blank">
                    <span class="upgrade-button"><?php echo $this->_('Contact us');?></span>
                </a>
            </footer>
        </div>
    </div>
</div>
<div class="area">
    <h3 class="title" id="animation">
        <span class="left area"><?php echo $this->_("Vous avez besoin d'aide pour animer votre application ?"); ?></span>
        <div class="clear"></div>
    </h3>
    <div style="padding:10px;margin-top:-40px;">
    <h3 style="color:<?php echo $this->getBlock('general')->getColor()?>"><?php echo $this->_("An effective application is an active application")?></h3>
    <h3><?php echo $this->_("Sincube offers you to update your content")." : "?></h3> 
    <p><?php echo $this->_("Every month, we establish together the program, we publish your photos, videos, posts, push notifications ... on the desired date")?></p>
    <h3><?php echo $this->_("Entertainment program")?></h3>
    <p><?php echo $this->_("We create with you a program of animations, chat rooms, competitions, blindtests ...")?></p>
    <h3 style="text-align:center;color:<?php echo $this->getBlock('general')->getColor()?>"><?php echo $this->_("Starting from")."30€ HT/".$this->_("month")?></h3>
      <footer>
                <a class="btn default_button" href="http://site-sincubeapp.rhcloud.com/services-pack/?pack=socialmediamanagment" target="_blank">
                    <span class="upgrade-button"><?php echo $this->_('Contact us');?></span>
                </a>
            </footer>
    </div>
</div>
</div>
</div>