<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>

<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>
<div class="scrollable_content links">
    <div ng-if="weblink.locked === 1 && !is_logged_in">
        <?php echo $this->getPartialHtml("padlock"); ?>
    </div>
    <div ng-if="(weblink.locked === 1 && is_logged_in) || weblink.locked === 2">  
        <div class="scrollable_content">
            <div class="link_cover" ng-if="weblink.cover_url" ng-style="{'background-image':'url({{ weblink.cover_url }})'}"></div>
            <div class=" for_ads_banner">
                <ul class="links_list l5">
                    <li ng-repeat="link in weblink.links">
                        <div class="content_link" ng-if="link.target==false" ng-if="link.picto_url" ng-style="{'background-image':'url({{ link.picto_url }})'}">
                            <div class="filter"></div>
                            <a href="{{link.url}}">
                                <span class="simple_link">{{ link.title }}</span>
                            </a>
                        </div>  
                        <div class="clear"></div>
                        <div class="content_link" ng-if="link.target==true" ng-if="link.picto_url" ng-style="{'background-image':'url({{ link.picto_url }})'}">
                            <div class="filter"></div>
                            <a href="{{link.url}}" target="_blank">
                                <span class="simple_link">{{ link.title }}</span>
                            </a>
                        </div>  
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

