<?php
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
?>
<div class="form-group">
	<div class="col-sm-4"><?php echo $this->_("General Conditions (General Conditions are mandatories, Sincube is not responsible in case of missuses of your website if you don't fill it)");?>
	</div>
	<div class="col-sm-8">
		<textarea class="ckeditor" name="general_conditions" id="general_conditions"><?php echo $website->getGeneralConditions();?></textarea>
	</div>
<input type="text" id="input-data" name="order" style="display:none"/>
</div>