<?php
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
?>
<div class="form-group">
	<div class="col-sm-4"><?php echo $this->_("Advanced : custom css");?>
	</div>
	<div class="col-sm-8">
		<textarea name="custom_css" id="custom_css" style="    border: solid #2A2A2A 2px !important;height: 300px;width: 100%;"><?php echo $website->getCustomCss();?></textarea>
	</div>
</div>