<?php
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
?>
<div class="form-group">
	<div class="col-sm-4"><?php echo $this->_("Website Name");?>
		<span id="open_modal1"><i class="icon-question-sign"></i></span>
		<div id="mymodal1" class="mymodal">
        	<div class="modal-content">
            	<span class="closemymodal" id="close1" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" style="color:inherit !important"></i></span>
					<iframe width="600" height="500" src="https://www.youtube.com/embed/i5rz24XVuzo" frameborder="0" allowfullscreen></iframe>
        	</div>
		</div>
	</div>
	<div class="col-sm-8">
		<input type="text" name="name" id="name" value="<?php echo $website->getName() ? $website->getName() : $this->getApplication()->getName();?>" />
	</div>
</div>

<div class="form-group">
	<div class="col-sm-4"><?php echo $this->_("Description (Biography/Presentation)");?>
		<span id="open_modal2"><i class="icon-question-sign"></i></span>
		<div id="mymodal2" class="mymodal">
        	<div class="modal-content">
            	<span class="closemymodal" id="close2" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" style="color:inherit !important"></i></span>
				<iframe width="600" height="450" src="https://www.youtube.com/embed/Jmrik_Cmcb4" frameborder="0" allowfullscreen></iframe>
        	</div>
		</div>
	</div>
	<div class="col-sm-8">
		<textarea class="ckeditor" name="biography" id="biography"><?php echo $website->getBiography();?></textarea>
	</div>
</div>