<?php
    $application = $this->getApplication();
    $website = new Application_Model_Website();
    $website = $website->find(array("app_id" => $application->getId()));
?>
<h3 class="title">
    <span class="left area"><?php echo $this->_('Get your own domain name'); ?></span>
    <i class="icon-chevron-down right" id="down-domain" onclick="showcontent('domain')"></i>
    <i class="icon-chevron-up right" style="display:none;" id="up-domain" onclick="hidecontent('domain')"></i>
    <div class="clear"></div>
</h3>
<div id="domain" style="display:none;"> 
<p><?php echo $this->_("if you just have domain name without web hosting you could make a 301 redirection on this url")." : ".$this->getApplication()->getUrl()."website"?></p>
<p></p>

<p><?php echo $this->_("Use a CNAME")." : "?></p>
<p><?php echo "1 - ".$this->_("enter your domain/url adress").(" (ex : www.mydomain.com)")?></p>
<p><?php echo "2 - ".$this->_("save");?> </p>
<p><?php echo "3 - ".$this->_("copy the return url")?></p>
<p><?php echo "4 - ".$this->_("create a CNAME enter in the DNS zone of your host")?> </p>
<input type="text" name="domain_url" id="domain_url" placeholder="enter your domain url" value="<?php echo $website->getDomain()?>"/><i class="icon-check" id="check_domain" style="color:green !important;display:none"></i>
<p id="cname" style="display:none"><img id="spinner" src="<?php echo $this->getImage('customization/ajax/spinner.gif'); ?>" title="Loading" width="24" style="background-color: black;margin: 5px;padding: 3px;" /><p>
<p id="save_domain" onclick="savedomain()" style="background-color:<?php echo $this->getBlock('general')->getColor()?>;margin-bottom: 30px;margin-top: 30px;margin-left: 30px;width:130px; padding:10px; color:white;text-align:center;"><?php echo $this->_("Save")?></p>
</div>
</div>
<script>
</script>