<?php
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
   	$blocks = $website->getBlocks();
?>
<div class="form-group">
	<div class="col-sm-4"><?php echo $this->_("Contact (mail)");?>
		<span id="open_modal3"><i class="icon-question-sign"></i></span>
		<div id="mymodal3" class="mymodal">
        	<div class="modal-content">
            	<span class="closemymodal" id="close3" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" style="color:inherit !important"></i></span>
					<iframe width="600" height="450" src="https://www.youtube.com/embed/j_RS5NSbYkc" frameborder="0" allowfullscreen></iframe>
        	</div>
		</div>
	</div>
	<div class="col-sm-8">
		<input name="contact_mail" type="text" value="<?php echo $website->getContactEmail();?>"></input>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-4"><?php echo $this->_("Facebook Page Id");?>
		<span id="open_modal5"><i class="icon-question-sign"></i></span>
		<div id="mymodal5" class="mymodal">
        	<div class="modal-content">
            	<span class="closemymodal" id="close5" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" style="color:inherit !important"></i></span>
				<iframe width="600" height="450" src="https://www.youtube.com/embed/RIkoXtNLXm8" frameborder="0" allowfullscreen></iframe>
        	</div>
		</div>
		<br/>
		<u><a href="http://findmyfbid.com" target="_blank"><?php echo $this->_('*Click here to find your Facebook ID')?></a></u>
	</div>

	<div class="col-sm-8">
		<input name="facebook_id" type="text" value="<?php echo $website->getFacebookId();?>"></input>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-4"><?php echo $this->_("Newsletter");?></div>
	<div class="col-sm-4">
		<input name="newsletter" type="checkbox" value="<?php echo $website->getNewsletterSubscription();?>" <?php if($website->getNewsletterSubscription() ==1) echo 'checked'?>></input>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-4"><?php echo $this->_("Shop Url");?>
		<span id="open_modal4"><i class="icon-question-sign"></i></span>
		<div id="mymodal4" class="mymodal">
        	<div class="modal-content">
            	<span class="closemymodal" id="close4" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" style="color:inherit !important"></i></span>
					<iframe width="600" height="450" src="https://www.youtube.com/embed/uchFWT5uJ9E" frameborder="0" allowfullscreen></iframe>
        	</div>
		</div>
	</div>
	<div class="col-sm-8">
		<input name="shop_url" type="text" placeholder="http://" value="<?php echo $website->getShopUrl();?>"></input>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-4">
		<?php echo $this->_("Choose categories to synchronize from your application (categories locked in apllication will not appeared on your website)");?>
		<span id="open_modal6"><i class="icon-question-sign"></i></span>
		<div id="mymodal6" class="mymodal">
        	<div class="modal-content">
            	<span class="closemymodal" id="close6" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" style="color:inherit !important"></i></span>
				<iframe width="600" height="450" src="https://www.youtube.com/embed/8FsZrtbrnBQ" frameborder="0" allowfullscreen></iframe>
        	</div>
		</div>
	</div>
	<div class="col-sm-4">
		<ul>
			<li class="col-sm-8">	
				<input class="col-sm-1" type="checkbox" name="bio" id="bio"value="<?php echo $website->getBio();?>" <?php if($website->getBio()==1) echo "checked"?>></input>
				<label class="col-sm-11"><?php echo $this->_("Presentation/Biography")?></label>
			</li>
			<li class="col-sm-8">
       			<input class="col-sm-1" type="checkbox" name="image" id="image"<?php if($website->getImage()==1) echo "checked"?>></input>
		 			<label class="col-sm-11"><?php echo $this->_("Images")?></label>
    		</li>
    		<li class="col-sm-8">
       			<input class="col-sm-1" type="checkbox" name="video" id="video" <?php if($website->getVideo()==1) echo "checked"?>></input>
		 			<label class="col-sm-11"><?php echo $this->_("Videos (Youtube Channel Only)")?></label>
    		</li>
    		<li class="col-sm-8">
       			<input class="col-sm-1" type="checkbox" name="music" id="music"<?php if($website->getMusic()==1) echo "checked"?>></input>
		 			<label class="col-sm-11"><?php echo $this->_("Music")?></label>
    		</li>
    		<li class="col-sm-8">
       			<input class="col-sm-1" type="checkbox" name="event" id="event"<?php if($website->getEvent()==1) echo "checked"?>></input>
		 			<label class="col-sm-11"><?php echo $this->_("Event")?></label>
    		</li>
    		<li class="col-sm-8">
       			<input class="col-sm-1" type="checkbox" name="shop" id="shop" <?php if($website->getShop()==1) echo "checked"?>></input>
		 			<label class="col-sm-11"><?php echo $this->_("Shop")?></label>
    		</li>
		</ul>
	</div>
	<div class="col-sm-4">
		<ul>
			<li>	
				<input name="bio_name" type="text" value="<?php echo $website->getBlockDetailsByType('bio')->getName() ?>" placeholder="<?php echo $this->_('Menu Name')?>"></input>
			</li>
			<li>
				<input name="image_name" type="text" value="<?php echo $website->getBlockDetailsByType('image')->getName() ?>" placeholder="<?php echo $this->_('Menu Name')?>"></input>
    		</li>
    		<li>
				<input name="video_name" type="text" value="<?php echo $website->getBlockDetailsByType('video')->getName() ?>" placeholder="<?php echo $this->_('Menu Name')?>"></input>
    		</li>
    		<li>
				<input name="music_name" type="text" value="<?php echo $website->getBlockDetailsByType('music')->getName() ?>" placeholder="<?php echo $this->_('Menu Name')?>"></input>
    		</li>
    		<li>
				<input name="event_name" type="text" value="<?php echo$website->getBlockDetailsByType('event')->getName() ?>" placeholder="<?php echo $this->_('Menu Name')?>"></input>
    		</li>
    		<li>
				<input name="shop_name" type="text" value="<?php echo $website->getBlockDetailsByType('shop')->getName() ?>" placeholder="<?php echo $this->_('Menu Name')?>"></input>
    		</li>
		</ul>
	</div>
</div>