<?php
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
   	$blocks = $website->getBlocks();

   	$social = new Application_Model_Website_Social();
   	$socials = $social->findAll();

   	$social_networks = new Application_Model_Website_SocialContent();
   	$social_networks = $social_networks->findAll(array("website_id"=>$website->getWebsiteId()));

   	$user_agent = $_SERVER['HTTP_USER_AGENT'];
    $pos1 = strpos($_SERVER['HTTP_USER_AGENT'], "Safari");
    $pos2 = strpos($_SERVER['HTTP_USER_AGENT'], "Chrome");
    $bio = str_replace("\n", ' ',strip_tags($website->getBiography()));
    $bio = str_replace("\r\n", " ", $bio); 
	$bio = str_replace("\r", " ", $bio);
?>

<div id="dz-root"></div>
<script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>

<div class="application_website application">
    <div class="application_header app_name">
        <?php echo $this->getPartialHtml('customization_header'); ?>
    </div>
    <div class="application_content inner_content">
    	<div class="title">
            <i class="left icon-desktop"></i>
            <h2 class="left f-rounded"><?php echo $this->_('Website Configuration'); ?></h2>
            <div class="clear"></div>
        </div>
            <div class="container-fluid form-horizontal">
	            <form action="<?php echo $this->getUrl('application/website/save'); ?>" method="post">
	        <div class="area">
	        	<h3 class="title">
	                <span><?php echo $this->_("Choose your design")?></span>
	                <i class="icon-chevron-down right" id="down-design" onclick="showcontent('design')"></i>
	                <i class="icon-chevron-up right" style="display:none;" id="up-design" onclick="hidecontent('design')"></i>
	                <div class="clear"></div>
	            </h3>
	            <div id="design" style="display:none;">
	            <?php echo $this->getPartialHtml("template");?>
	            <div class="clear"></div>
		        <button class="default_button" type="submit" style="padding:10px; width:300px;margin:auto"><?php echo $this->_('Save');?></button>
		        <br/>
		    	</div>
	        </div>
	        <div class="area">
	        	<h3 class="title">
	                <!--<span class="left area"><?php echo $this->_('Set Your Website Configuration (Synshronized from your application pages)'); ?></span>-->
	                <span><?php echo $this->_("Title/Description")?></span>
	                <i class="icon-chevron-down right" id="down-description" onclick="showcontent('description')"></i>
	                <i class="icon-chevron-up right" style="display:none;" id="up-description" onclick="hidecontent('description')"></i>
	                <div class="clear"></div>
	            </h3>
	            <div id="description" style="display:none;">
	            <?php echo $this->getPartialHtml("description");?>
		        <button class="default_button" type="submit" style="padding:10px; width:300px;margin:auto"><?php echo $this->_('Save');?></button>
		        <br/>
		    	</div>
	        </div>
	        <div class="area">
	            <h3 class="title">
                <span><?php echo $this->_('Set Your Website Configuration (Synshronized from your application pages)')?></span>
                <i class="icon-chevron-down right" id="down-fonctionnality" onclick="showcontent('fonctionnality')"></i>
                <i class="icon-chevron-up right" style="display:none;" id="up-fonctionnality" onclick="hidecontent('fonctionnality')"></i>
                <div class="clear"></div>
            	</h3>
            	<div id="fonctionnality" style="display:none;">
            	<?php echo $this->getPartialHtml("fonctionnality");?>
	            	<button class="default_button" type="submit" style="padding:10px; width:300px;margin:auto"><?php echo $this->_('Save');?></button>
	            	<br/>
	            </div>
	        </div>
			<div class="area">
	            <h3 class="title">
               			<span><?php echo $this->_('Order your sections')?></span>
               			<i class="icon-chevron-down right" id="down-order" onclick="showcontent('order')"></i>
               			<i class="icon-chevron-up right" style="display:none;" id="up-order" onclick="hidecontent('order')"></i>
                		<div class="clear"></div>
            	</h3>
            	<div id="order" style="display:none;">	
	            	<?php echo $this->getPartialHtml("order")?>
					<button class="default_button" type="submit" style="padding:10px; width:300px;margin:auto"><?php echo $this->_('Save');?></button>
					<br/>
				</div>
			</div>
			<div class="area">
				<h3 class="title">
               		<span><?php echo $this->_('Social Network')?></span>
               		<i class="icon-chevron-down right" id="down-social" onclick="showcontent('social')"></i>
               		<i class="icon-chevron-up right" style="display:none;" id="up-social" onclick="hidecontent('social')"></i>
                	<div class="clear"></div>
            	</h3>
            	<div id="social" style="display:none;">
	            	<?php echo $this->getPartialHtml("social")?>	
					<button class="default_button" type="submit" style="padding:10px; width:300px;margin:auto"><?php echo $this->_('Save');?></button>
					<br/>
				</div>
			</div>
			<div class="area">
				<h3 class="title">
               		<span><?php echo $this->_('General Conditions')?></span>
               		<i class="icon-chevron-down right" id="down-conditions" onclick="showcontent('conditions')"></i>
               		<i class="icon-chevron-up right" style="display:none;" id="up-conditions" onclick="hidecontent('conditions')"></i>
                	<div class="clear"></div>
            	</h3>
            	<div id="conditions" style="display:none;">
	            	<?php echo $this->getPartialHtml("conditions")?>	
	                <button class="default_button" type="submit" style="padding:10px; width:300px;margin:auto"><?php echo $this->_('Save');?></button> 
	                	<br/>
	            </div>
            </div>
            <div class="area">
				<h3 class="title">
               		<span><?php echo $this->_('Advanced : custom css')?></span>
               		<i class="icon-chevron-down right" id="down-custom_css" onclick="showcontent('custom_css')"></i>
               		<i class="icon-chevron-up right" style="display:none;" id="up-custom_css" onclick="hidecontent('custom_css')"></i>
                	<div class="clear"></div>
            	</h3>
            	<div id="custom_css" style="display:none;">
	            	<?php echo $this->getPartialHtml("customcss")?>	
	                <button class="default_button" type="submit" style="padding:10px; width:300px;margin:auto"><?php echo $this->_('Save');?></button> 
	                	<br/>
	            </div>
            </div>
	    </form>
	    <div class="area">
        	<?php echo $this->getPartialHtml("domain")?>
    	</div>
    	<div style="text-align: center;">
	    	<?php echo $this->_('Preview');?> :
				<a style="padding: 10px;background-color: <?php echo $this->getBlock('general')->getColor()?>;color: white;" href="<?php echo $application->getUrl();?>./website"target="_blank"><?php echo $this->_("view my website");?></a>
		</div>
		</div>
	</div>
</div>
<?php echo $this->getPartialHtml("websitejs");?>
<style>
.ui-state-default{
	float: left;
	width: 100px;
	border: solid 1px;
	height: 100px;
	margin-left: 10px;
	text-align: center;
	padding-top: 40px;
	background-color: <?php echo $this->getBlock('general')->getColor()?>;
	color: white;
	cursor: pointer;
}
.ui-state-default:hover {
    background-color: #ffffff;
    color:<?php echo $this->getBlock('general')->getColor()?>;
    border: solid 1px <?php echo $this->getBlock('general')->getColor()?>;
}
.area {
	min-height: 0px !important;
}
</style>