<?php
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
   	$blocks = $website->getBlocks();
?>
<div class="form-group" id="order">
	<div class="col-sm-12"><?php echo $this->_("Select Order : Drag and Drop for ordering your sections - you have to choose your sections first");?>
	</div>
	<div class="col-sm-12">
		<ul id="sortable" style="margin: auto;width: 75%;">
			<?php foreach ($blocks as $key => $block) :?>
				<li class="ui-state-default" id="block_<?php echo $block->getType();?>"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><?php echo ucfirst($block->getType());?></li>
			<?php endforeach;?>
		</ul>
	</div>
</div>