<?php
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
   	$blocks = $website->getBlocks();

   	$social = new Application_Model_Website_Social();
   	$socials = $social->findAll();

   	$social_networks = new Application_Model_Website_SocialContent();
   	$social_networks = $social_networks->findAll(array("website_id"=>$website->getWebsiteId()));
?>
<div class="form-group" id="social">
		<div class="col-sm-12">
			<p id="add_social" class="btn" style="background-color:<?php echo $this->getBlock('general')->getColor()?>"><?php echo "+".$this->_("Add your socials networks");?></p>
			<div id="test"></div>
		</div>
		<div class="col-sm-12">
			<?php foreach ($social_networks as $key => $network):?>
			 <?php $social_name = $social->find(array("social_id"=>$network->getSocialId()));
			 $social_name = $social_name->getName();?>
			 <div class="col-sm-12" id="social_content_<?php echo $network->getSocialContentId()?>">
    			 <div class="col-sm-4"><?php echo $social_name?></div>
    			 <div class="col-sm-6"><?php echo $network->getSocialUrl()?></div>
    			 <div class="col-sm-2">
    			 <i class="icon-trash" onclick="deleteSocial(<?php echo $network->getSocialContentId()?>)"></i>
    			</div>
    		</div>
			<?php endforeach;?>
		</div>
	</div>	