<?php
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
?>
<div class="col-sm-4">
		<p><?php echo $this->_("Choose your design");?></p>
		<ul>
			<li class="col-sm-8">	
				<input class="col-sm-1" type="radio" name="design" id="1 "value="1" <?php if($website->getLayoutId()==1) echo "checked"?>></input>
				<label class="col-sm-11"><?php echo $this->_("Design 1")." "?><i class="icon-eye-open" onclick="showimage('modal-design1')" ></i></label>
				<div id="modal-design1" class="mymodal" style="display:none">
	        	<div class="modal-content">
	        		<span class="closemymodal" id="closecode" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" onclick="closeimage('modal-design1')" style="color:inherit !important"></i></span>
	        		<img src="https://s3.amazonaws.com/images-sincube/design1.png" width="30%"/>
	        	</div>
	        	</div>

			</li>
			<li class="col-sm-8">	
				<input class="col-sm-1" type="radio" name="design" id="2" value="2" <?php if($website->getLayoutId()==2) echo "checked"?>></input>
				<label class="col-sm-11"><?php echo $this->_("Design 2")." "?><i class="icon-eye-open" onclick="showimage('modal-design2')" ></i></label>
				<div id="modal-design2" class="mymodal" style="display:none">
	        	<div class="modal-content">
	        		<span class="closemymodal" id="closecode" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" onclick="closeimage('modal-design2')" style="color:inherit !important"></i></span>
	        		<img src="https://s3.amazonaws.com/images-sincube/design2.png" width="30%"/>
	        	</div>
	        	</div>
			</li>
			<li class="col-sm-8">	
				<input class="col-sm-1" type="radio" name="design" id="3" value="3" <?php if($website->getLayoutId()==3) echo "checked"?>></input>
				<label class="col-sm-11"><?php echo $this->_("Design 3")." "?><i class="icon-eye-open" onclick="showimage('modal-design3')" ></i></label>
				<div id="modal-design3" class="mymodal" style="display:none">
	        	<div class="modal-content">
	        		<span class="closemymodal" id="closecode" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" onclick="closeimage('modal-design3')" style="color:inherit !important"></i></span>
	        		<img src="https://s3.amazonaws.com/images-sincube/design3.png" width="30%"/>
	        	</div>
	        	</div>
			</li>
			<li class="col-sm-8">	
				<input class="col-sm-1" type="radio" name="design" id="4" value="4" <?php if($website->getLayoutId()==4) echo "checked"?>></input>
				<label class="col-sm-11"><?php echo $this->_("Design 4")." "?><i class="icon-eye-open" onclick="showimage('modal-design4')" ></i></label>
				<div id="modal-design4" class="mymodal" style="display:none">
	        	<div class="modal-content">
	        		<span class="closemymodal" id="closecode" style="color:#9f0030 !important;cursor:pointer"><i class="icon-close" onclick="closeimage('modal-design4')" style="color:inherit !important"></i></span>
	        		<img src="https://s3.amazonaws.com/images-sincube/design4.png" width="30%"/>
	        	</div>
	        	</div>
			</li>
		</ul>
</div>
<div class="col-sm-8">
	   <p><?php echo $this->_("Choose your header");?></p>
		<ul>
			<li class="col-sm-8">	
				<input class="col-sm-1" type="radio" name="promote" id="promote" onchange="usepromote()" value="promote" <?php if($website->getPromoteApp()==1) echo "checked"?>></input>
				<label class="col-sm-11"><?php echo $this->_("Promote my app")?></label>
			</li>
			<li class="col-sm-8">	
				<input class="col-sm-1" type="radio" name="promote" id="photo_slider" onchange="usepromote()" value="photo_slider" <?php if($website->getPhotoSlider()==1) echo "checked"?>></input>
				<label class="col-sm-11"><?php echo $this->_("Use photos animation (3 photos)")?></label>
				<div id="slider" style="display:<?php echo $website->getPhotoSlider()==1 ? 'block' : 'none'?>">
					<p class="recommended_size"><b><?php echo $this->_('Recommanded Size:'); ?></b>1280x565</p>
	        		 <button class="upload_slider upload default_button" type="button" style="width:200px;">
	                	<i class="icon-camera-retro"></i>
	                	<span class="bold"><?php $this->_('Choose an'); ?>
	                	<?php echo $this->_('Image'); ?></span>
	            	</button>
	            <!--<![endif]-->
	            	<input style="display:none" class="uploader_slider" type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>">
	            	<br />
	            	<?php foreach($website->getSliderImages() as $image):?>
	            		<span style="margin-right:10px;" id="slider_image_<?php echo $image->getImageId()?>">
	            	 	<img  src="<?php echo $image->getImageUrl()?>" width="80px"/>
	            	 	<i class="icon-close" onclick="deletesliderimage('<?php echo $image->getImageId()?>')" style="color:inherit !important"></i>
	            	 </span>
	            	<?php endforeach;?>
            	</div>
			</li>
			<li class="col-sm-8">	
				<input class="col-sm-1" type="radio" name="promote" id="video_description" onchange="usepromote()" value="video_description" <?php if($website->getVideoDescription()==1) echo "checked"?>></input>
				<label class="col-sm-11"><?php echo $this->_("Use video")?></label>
				<input style="display:<?php echo $website->getVideoDescription()==1 ? 'block' : 'none'?>" type="text" name="video_url" placeholder="Enter youtube URL" id="video_url" value="<?php echo $website->getYoutubeUrl();?>">
			</li>
			<li class="col-sm-8">	
				<input class="col-sm-1" type="radio" name="promote" id="none" onchange="usepromote()" value="none" <?php if($website->getVideoDescription()==0 && $website->getPhotoSlider()==0 && $website->getPromoteApp()==0) echo "checked"?>></input>
				<label class="col-sm-11"><?php echo $this->_("Use none");?></label>
			</li>
		</ul>
</div>
<script>
function showimage(id){
document.getElementById(id).style.display = "block";
}
function closeimage(id){
document.getElementById(id).style.display = "none";
}
function usepromote(){
	if(document.getElementById('video_description').checked) {
		document.getElementById('video_url').style.display = "block";
	} else {
		document.getElementById('video_url').style.display = "none";
	}
	if(document.getElementById('photo_slider').checked) {
		document.getElementById('slider').style.display = "block";
	} else {
		document.getElementById('slider').style.display = "none";
	}
}

function deletesliderimage(image_id){
	$.ajax({
        url : "<?php echo $this->getUrl('application/website/deletesliderimage');?>",
            type:"POST",
            dataType:"json",
            data : 'image_id=' + image_id,
                    success:function (data) {
                    	document.getElementById("slider_image_"+image_id).style.display = "none";
                    }
            });
}

     var slider_uploader = new Uploader();
    $(document).ready(function() {

        if(!$('button.upload_slider').is(':visible')) {
        	//alert("dfkdhf");
            $//('input.uploader_slider').show();
        }

        $('.upload_slider').click(function() {
            $('.uploader_slider').trigger('click');
        });

        $('.uploader_slider').fileupload({
            dataType: 'json',
            add: function (e, data) {
                data.formData = {
                    uniq_prefix: 'slider_',
                    minwidth: '300',
                    minheight: '100',
                    maxwidth: '1500',
                    maxheight: '1500',
                    extension: 'png'
                },
                data.submit();
                slider_uploader.showProgressbar();
            },
            progressall: function (e, data) {
                slider_uploader.moveProgressbar(data);
            },
            done: function (e, data) {
                if(data.result.error)
                {
                    slider_uploader.showError(data.result.message);
                }
                if(data.result.success)
                {                    
                    slider_uploader.hide();
                    var params = new Array();
                    params["url"] = '<?php echo $this->getUrl('template/crop/crop'); ?>';
                    params["file"] = data.result.files;
                    params["output_w"] = data.result.source_width;
                    params["output_h"] = data.result.source_height;
                    params["output_url"] = '<?php echo str_replace('/', '$', $this->getUrl('application/website/saveslider/', array("website_id"=>$website->getWebsiteId()))); ?>';
                    params["uploader"] = 'slider_uploader';
                    slider_uploader.crop(params);
                    slider_uploader.callback = function(file) {
                        location.reload();
                    }
                }
            }
        });

    });
</script>