<?php
	$application = $this->getApplication();
    $website = new Application_Model_Website();
   	$website = $website->find(array("app_id" => $application->getId()));
   	$blocks = $website->getBlocks();

   	$social = new Application_Model_Website_Social();
   	$socials = $social->findAll();

   	$social_networks = new Application_Model_Website_SocialContent();
   	$social_networks = $social_networks->findAll(array("website_id"=>$website->getWebsiteId()));
?>
<script type="text/javascript">
function showcontent(id){
	document.getElementById(id).style.display = "block";
	document.getElementById('up-'+id).style.display = "block";
	document.getElementById('down-'+id).style.display = "none";

}
function hidecontent(id){
	document.getElementById(id).style.display = "none";
	document.getElementById('up-'+id).style.display = "none";
	document.getElementById('down-'+id).style.display = "block";
}
	var i = 0;
   $("#add_social").click(function(){
   		$( "#test" ).append( 
   		'<div class="form-group">'+
   		'<div class="col-sm-4">'+
   			'<input type="text" name="social_url['+i+']" placeholder="Enter your network URL with http://" onchange="checkUrl('+i+')" id="social_url['+i+']"/>'+
   			'<p id="url_error['+i+']" style="display:none">enter a valid url with http://</p>'+
   		'</div>'+
   		'<div class="col-sm-6">'+
		    '<select name="social_name['+i+']">'+
		            '<option disabled selected class="hidden-option"><?php echo $this->_("Select your network")?></option>'+
		            "<?php foreach ($socials as $key => $social) :?>"+
		            	'<option value="<?php echo $social->getSocialId()?>"><?php echo $social->getName();?></option>'+
		            "<?php endforeach;?>"+
				"</select>"+
		'</div>'+
		'</div>');
		i++;
   });
   function checkUrl(i){
   	var str = document.getElementById('social_url['+i+']').value;
   	var n = str.indexOf("http://");
   	var m = str.indexOf("https://");
   	if(n<0 && m<0){
   		document.getElementById('url_error['+i+']').style.display="block";
   	}
   }
   function deleteSocial(i){
   	    $.ajax({
                url : "<?php echo $this->getUrl('application/website/deletesocial');?>",
                type:"POST",
                dataType:"json",
                data : 'social_content_id=' + i,
                    success:function (data) {
                    	$( "#social_content_"+i ).remove();
                    }
                });

   }
   function updateSortable(){
		$("#sortable").sortable('refresh');
		var data = $("#sortable").sortable('serialize');
	    var data = data.replace("block[]=", "");
	    $('#input-data').val(data);
   }

  $( function() {
    // quand la page a fini de se charger
  $("#sortable").sortable({ // initialisation de Sortable sur #list-photos
	update: function (event, ui) {
        var data = $(this).sortable('serialize');
        var data = data.replace("block[]=", "");
        $('#input-data').val(data);
	}
  });
  $("#sortable").disableSelection(); // on désactive la possibilité au navigateur de faire des sélections
  $("#sortable").sortable('refresh');
		var data = $("#sortable").sortable('serialize');
	    var data = data.replace("block[]=", "");
	    $('#input-data').val(data);
  } );
$('#bio').click(function() {
	if( $(this).is(':checked') ) {
		$("#sortable").append('<li class="ui-state-default" id="block_bio"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Bio</li>');
	} else {
		$('#block_bio').remove();
	}
	updateSortable();
});
$('#event').click(function() {
	if( $(this).is(':checked') ) {
		$("#sortable").append('<li class="ui-state-default" id="block_event"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Event</li>');
	} else {
		$('#block_event').remove();
	}
	updateSortable();
});
$('#music').click(function() {
	if( $(this).is(':checked') ) {
		$("#sortable").append('<li class="ui-state-default" id="block_music"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Music</li>');
	} else {
		$('#block_music').remove();
	}
	updateSortable();
});
$('#video').click(function() {
	if( $(this).is(':checked') ) {
		$("#sortable").append('<li class="ui-state-default" id="block_video"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Video</li>');
	} else {
		$('#block_video').remove();
	}
	updateSortable();
});
$('#shop').click(function() {
	if( $(this).is(':checked') ) {
		$("#sortable").append('<li class="ui-state-default" id="block_shop"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Shop</li>');
	} else {
		$('#block_shop').remove();
	}
	updateSortable();
});
$('#image').click(function() {
	if( $(this).is(':checked') ) {
		$("#sortable").append('<li class="ui-state-default" id="block_image"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Image</li>');
	} else {
		$('#block_image').remove();
	}
	updateSortable();
});


        $('#open_modal1').click(function() {
            document.getElementById("mymodal1").style.display = "block";
        });
		$("#mymodal1").click(function() {
		    document.getElementById("mymodal1").style.display = "none";
		});
        $('#open_modal2').click(function() {
            document.getElementById("mymodal2").style.display = "block";
        });
		$("#mymodal2").click(function() {
		    document.getElementById("mymodal2").style.display = "none";
		});		
        $('#open_modal3').click(function() {
            document.getElementById("mymodal3").style.display = "block";
        });
		$("#mymodal3").click(function() {
		    document.getElementById("mymodal3").style.display = "none";
		});
        $('#open_modal4').click(function() {
            document.getElementById("mymodal4").style.display = "block";
        });
		$("#mymodal4").click(function() {
		    document.getElementById("mymodal4").style.display = "none";
		});
        $('#open_modal5').click(function() {
            document.getElementById("mymodal5").style.display = "block";
        });
		$("#mymodal5").click(function() {
		    document.getElementById("mymodal5").style.display = "none";
		});
        $('#open_modal6').click(function() {
            document.getElementById("mymodal6").style.display = "block";
        });
		$("#mymodal6").click(function() {
		    document.getElementById("mymodal6").style.display = "none";
		});

    $(document).ready(function(){
    	        CKEDITOR.config.language = '<?php echo $this->_('en') ?>';
        CKEDITOR.config.toolbar = [
        { name: 'source', items: [ 'Source' ] },
            { name: 'basicstyles', groups: [ 'basicstyles', , 'cleanup' ], items: [  'Font','FontSize', 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },
            { name: 'paragraph', groups: [ 'indent', 'align' ], items: [ 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
            { name: 'links', items: [ 'Link', 'Unlink' ] },
            { name: 'insert', items: [ 'Cms', 'Image' ] },
            { name: 'styles', items: [ 'TextColor' ] }
                ];

     });

function savedomain(){
	var domain = document.getElementById("domain_url").value;
	document.getElementById("cname").style.display = "block";
	$( "#cname" ).append("<?php echo $this->_('Wait we are creating the url adress for your Cname').' : '?>" );
	$.ajax({
        url : "<?php echo $this->getUrl('application/website/savedomain');?>",
            type:"POST",
            dataType:"json",
            data :  "domain=" + domain,
                    success:function (data) {
                    	document.getElementById("check_domain").style.display = "inline-block";
                    	document.getElementById("spinner").style.display = "none";
						$( "#cname" ).append(" "+"<a href='http://"+domain+".s3-website-us-east-1.amazonaws.com' target='_blank'>"+domain+".s3-website-us-east-1.amazonaws.com</a></span>" );
                    }
            });
}
</script>