<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>
<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message" right-button="header_right_button"></sb-header>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <div class="scrollable_content event_view" id="scrollable">
        <?php echo $this->getPartialHtml("cover"); ?>

        <div class="padding for_ads_banner">
            <div class="description bold" id="event_description">
                <p ng-if="event.description " class="event" style="padding:10px;"><?php echo $this->_("Description");?></p>
                <span ng-bind-html="event.description | trusted_html"></span>
                <p ng-if="prices" class="event" style="padding:6px;"><i class="icon-ticket"></i><?php echo $this->_("Pricing");?></p>
                <ul style="margin-top:15px;" ng-if="prices">
                    <li ng-repeat="price in prices" style="margin:5px 0;">
                        <p style="margin:0;">
                            <span class="price_title">{{price.title}} : </span>{{price.price}} euros
                        </p>
                    </li>
                </ul>
            </div>
            <div class="buttons">
                <a class="button icon_left icon-next" target="<?php echo $target; ?>" ng-href="{{ event.ticket_shop_url }}" ng-if="event.ticket_shop_url">
                    <i class="icon-ticket"></i>
                    <?php echo $this->_('Buy Tickets'); ?>
                </a>
                <a class="button icon_left icon-next" ng-click="openMaps();" ng-if="event.address">
                    <i class="icon-location"></i>
                    <?php echo $this->_('Location'); ?>
                </a>
                <p style="text-align:center" ng-if="event.address">{{event.address}}</p>
                <a class="button icon_left icon-next" target="<?php echo $target; ?>" ng-href="{{ event.rsvp }}" ng-if="event.rsvp">
                    <i class="icon-website"></i>
                    <?php echo $this->_('RSVP'); ?>
                </a>
                <a class="button icon_left icon-next" target="<?php echo $target; ?>" ng-repeat="website in event.websites" ng-href="{{ website.url }}">
                    <i class="icon-website"></i>
                    {{ website.label }}
                </a>
            </div>
        </div>
        <div class="popup" ng-if="share == true">
             <div class="vertical-align">
                <?php echo $this->_('Share on');?>
                <ul class="buttons share">
                    <li>
                       <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
                        <a class="button share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <?php $text = $this->_("New event on the app")." : ".$this->getApplication()->getName()?>
                        <a class="button share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text=<?php echo $text?>&url=<?php echo $url;?>">
                            Twitter
                        </a>
                    </li>
                </ul>
            </div>
            <a class="button-close icon-close share" ng-click="closeShare()" style="width:80%"><?php echo $this->_('Close');?></a>
        </div>
    </div>
    </div>
</div>
<style>
p.event {
    text-align: center;
    color: <?php echo $this->getApplication()->getBlock("header")->getColor();?>;
    border: solid 1px;
    border-radius:3px;
}
</style>
