<?php $application = $this->getApplication() ?>
<div class="application">
    <div class="infos">
        <div class="area first">
            <h3 class="title">
                <span class="left area"><?php echo $this->_('General information'); ?></span>
                <div class="clear"></div>
            </h3>
            <div class="area_content">
                <div class="container-fluid form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label data-tip="44" data-tip-left="80" for="name"><?php echo $this->_('Application name'); ?> : </label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" id="name" name="name" class="autosave form-control" value="<?php echo $application->getName() ? $application->getName() : ucfirst(mb_strtolower($this->getSession()->getAdmin()->getName())); ?>" maxlength="30" />
                        </div>
                        <div class="col-sm-3">
                            <img src="<?php echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_name" alt="Loading" title="Loading" width="24" style="display:none;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="description"><?php echo $this->_('Description'); ?> : </label>
                        </div>
                        <div class="col-sm-8">
                            <textarea type="text" id="description" name="description" class="autosave form-control"><?php echo $application->getDescription(); ?></textarea>
                        </div>
                        <div class="col-sm-3">
                            <img src="<?php echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_description" alt="Loading" title="Loading" width="24" style="display:none;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="keywords"><?php echo $this->_('Keywords'); ?> : </label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" id="keywords" name="keywords" class="autosave form-control" value="<?php echo $application->getKeywords(); ?>" />
                        </div>
                        <div class="col-sm-3">
                            <img src="<?php echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_keywords" alt="Loading" title="Loading" width="24" style="display:none;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="main_category_id"><?php echo $this->_('Main category'); ?> : </label>
                        </div>
                        <div class="col-sm-5 list-select">
                            <select id="main_category_id" name="main_category_id" class="form-control autosave no-dk" tabindex="1">
                                <option value=""><?php echo $this->_('Main category'); ?></option>
                                <?php $categories = Application_Model_Device_Ios::getStoreCategeories(); ?>
                                <?php foreach($categories as $category) : ?>
                                    <option value="<?php echo $category->getId(); ?>"<?php if($application->getMainCategoryId() == $category->getId()) : ?> selected="selected"<?php endif; ?>><?php echo $category->getName(); ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <img src="<?php echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_main_category_id" alt="Loading" title="Loading" width="24" style="display:none;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label data-tip="48" data-tip-left="80" for="secondary_category_id"><?php echo $this->_('Secondary category<br />(Optional)'); ?> : </label>
                        </div>
                        <div class="col-sm-5 list-select">
                            <select id="secondary_category_id" name="secondary_category_id" class="form-control autosave no-dk" tabindex="2">
                                <option value=""><?php echo $this->_('Secondary category'); ?></option>
                                <?php foreach($categories as $category) : ?>
                                    <option class="test" value="<?php echo $category->getId(); ?>"<?php if($application->getSecondaryCategoryId() AND $application->getSecondaryCategoryId() == $category->getId()) : ?> selected="selected"<?php endif; ?>><?php echo $category->getName(); ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <img src="<?php echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_secondary_category_id" alt="Loading" title="Loading" width="24" style="display:none;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="area">
            <h3 class="title">
                <span class="left area"><?php echo $this->_('Monetize your app'); ?></span>
                <div class="clear"></div>
            </h3>
            <div class="area_content monetize_area form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label data-tip="15" for="use_ads" class="checkbox <?php if ($application->getUseAds() == 1) echo 'checked' ?>">
                            <input id="use_ads" type="checkbox" class="autosave" value="1" name="use_ads" <?php if ($application->getUseAds() == 1) echo 'checked="checked"' ?> />
                            <input id="flag_use_ads" type="hidden" value="1" name="flag_use_ads" />
                            <?php echo $this->_('Monetize my app using AdMob'); ?>
                            <p style="font-size:9px;"><?php echo $this->_('*advertising will be effective if this option is part of your subscription (>beginner)'); ?></p>
                        </label>
                    </div>
                </div>
            </div>
        </div>-->
                <!--<div id="monetize_fields" class="<?php if(!$application->getUseAds()) : ?>none<?php endif; ?>">
                    <!--<div class="form-group">
                        <div class="col-sm-12">
                            <p><?php echo $this->_("Enter your AdMob ID for each platform."); ?> <?php echo $this->_('<a href="%s" target="_blank">Click here for more information about AdMob</a>', "https://www.google.com/admob/"); ?></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="ios_admob_id"><?php echo $this->_('iOS'); ?> : </label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" id="ios_admob_id" name="admob_id" class="autosave input form-control" placeholder="AdMob ID" value="<?php echo $application->getDevice(1)->getAdmobId(); ?>" maxlength="50" />
                            <input type="hidden" name="device_id" value="1" />
                        </div>
                        <div class="col-sm-5 list-select">
                            <select id="select_admob_type_ios" name="admob_type" class="autosave no-dk form-control" tabindex="2">
                                <option value="banner" <?php if($application->getDevice(1)->getAdmobType() == "banner") : ?> selected="selected"<?php endif; ?>>Banner</option>
                                <option value="interstitial" <?php if($application->getDevice(1)->getAdmobType() == "interstitial") : ?> selected="selected"<?php endif; ?>>Interstitial</option>
                            </select>
                            <input type="hidden" name="device_id" value="1" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="android_admob_id"><?php echo $this->_('Android'); ?> : </label>    
                        </div>
                        <div class="col-sm-5">
                            <input type="text" id="android_admob_id" name="admob_id" class="autosave input form-control" placeholder="AdMob ID" value="<?php echo $application->getDevice(2)->getAdmobId(); ?>" maxlength="50" />
                            <input type="hidden" name="device_id" value="2" />
                        </div>
                        <div class="col-sm-5 list-select">
                            <select id="select_admob_type_android" name="admob_type" class="autosave no-dk form-control" tabindex="2">
                                <option value="banner" <?php if($application->getDevice(2)->getAdmobType() == "banner") : ?> selected="selected"<?php endif; ?>>Banner</option>
                                <option value="interstitial" <?php if($application->getDevice(2)->getAdmobType() == "interstitial") : ?> selected="selected"<?php endif; ?>>Interstitial</option>
                            </select>
                            <input type="hidden" name="device_id" value="2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
       <!-- <div class="area">
            <?php //$device = $application->getDevice(1); ?>
            <h3 class="title">
                <span class="left area"><?php //echo $this->_("Apple's Information"); ?></span>
                <div class="clear"></div>
            </h3>
            <div class="area_content">
                <div class="ask_if_has_account">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="has_apple_account_1" class="radio">
                                <input data-tip="49" data-tip-right="60" type="radio" id="has_apple_account_1" name="has_apple_account" class="has_account autosave" value="1" onclick="$('#doesnt_have_apple_account').slideUp(); $('#has_apple_account').slideDown();" />
                                <?php //echo $this->_("I have an Apple developer account"); ?>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="has_apple_account_0" class="radio">
                                <input data-tip="50" data-tip-right="300" type="radio" id="has_apple_account_0" name="has_apple_account" class="has_account" value="0" onclick="$('#has_apple_account').slideUp(); $('#doesnt_have_apple_account').slideDown();" />
                                <?php //echo $this->_("I don't have an Apple developer account and I want to create one"); ?>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="has_apple_account_2" class="radio <?php //if($device->getUseOurDeveloperAccount()) echo "checked"; ?>">
                                <input type="radio" id="has_apple_account_2" name="has_apple_account" class="has_account autosave" value="2" onclick="$('#has_apple_account').slideUp(); $('#doesnt_have_apple_account').slideUp();" />
                                <?php //echo $this->_('I let you publish my application under your Apple developer account'); ?>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="has_account">
                    <div id="has_apple_account" style="display:none;">
                        <div class="container-fluid form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="ios_username"><?php //echo $this->_("Email:"); ?></label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" id="ios_username" name="ios_username" class="autosave form-control" value="<?php //echo $device->getDeveloperAccountUsername(); ?>" maxlength="30" />
                                </div>
                                <div class="col-sm-4">
                                    <img src="<?php //echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_ios_username" alt="Loading" title="Loading" width="24" style="display:none;" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="ios_password"><?php //echo $this->_('Password:'); ?></label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="password" id="ios_password" name="ios_password" class="autosave  form-control" value="<?php //echo $device->getDeveloperAccountPassword(); ?>" />
                                </div>
                                <div class="col-sm-4">
                                    <img src="<?php //echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_ios_password" alt="Loading" title="Loading" width="24" style="display:none;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="doesnt_have_apple_account" style="display:none;">
                        <p>
                            <?php //echo $this->_('You have to create an Apple account before publishing your application. <a href="https://developer.apple.com/programs/ios" target="_blank">Click here to create one.</a>'); ?>
                        </p>
                    </div>
                </div>
            </div>
        </div>-->
        <!--<div class="area">
            <?php //$device = $application->getDevice(2); ?>
            <h3 class="title">
                <span class="left area"><?php //echo $this->_("Google's Information"); ?></span>
                <div class="clear"></div>
            </h3>
            <div class="area_content">
                <div class="ask_if_has_account">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="has_android_account_1" class="radio">
                                <input data-tip="51" type="radio" id="has_android_account_1" name="has_android_account" class="has_account autosave input" value="1" onclick="$('#doesnt_have_android_account').slideUp(); $('#has_android_account').slideDown();" />
                                <?php //echo $this->_("I have an Google developer account"); ?>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="has_android_account_0"  class="radio <?php //if(!$device->getUseOurDeveloperAccount()) echo 'checked' ?>">
                                <input data-tip="52" type="radio" id="has_android_account_0" name="has_android_account" class="has_account input" value="0" onclick="$('#has_android_account').slideUp(); $('#doesnt_have_android_account').slideDown();" />
                                <?php //echo $this->_("I don't have a Google developer account and I want to create one"); ?>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="has_android_account_2" class="radio <?php //if($device->getUseOurDeveloperAccount()) //echo "checked"; ?>">
                                <input type="radio" id="has_android_account_2" name="has_android_account" class="has_account autosave input" value="2" onclick="$('#has_android_account').slideUp(); $('#doesnt_have_android_account').slideUp();" />
                                <?php //echo $this->_('I let you publish my application under your Google developer account'); ?>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="has_account">
                    <div id="has_android_account" style="display:none;">
                        <div class="container-fluid form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="android_username"><?php //echo $this->_("Email:"); ?></label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" id="android_username" name="android_username" class="autosave form-control" value="<?php //echo $device->getDeveloperAccountUsername(); ?>" maxlength="30" />
                                </div>
                                <div class="col-sm-4">
                                    <img src="<?php //echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_android_username" alt="Loading" title="Loading" width="24" style="display:none;" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="android_password"><?php //echo $this->_('Password:'); ?></label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="password" id="android_password" name="android_password" class="autosave form-control" value="<?php //echo $device->getDeveloperAccountPassword(); ?>" />
                                </div>
                                <div class="col-sm-5">
                                    <img src="<?php //echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_android_password" alt="Loading" title="Loading" width="24" style="display:none;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="doesnt_have_android_account" style="display:none;">
                        <p>
                            <?php //echo $this->_('You have to create a Google account before publishing your application. <a href="https://play.google.com/apps/publish/signup" target="_blank">Click here to create one.</a>'); ?>
                        </p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
<script type="text/javascript">

    <?php if(!$application->getDevice(2)->getUseOurDeveloperAccount()) : ?>
    $('#has_android_account_1').click();
    <?php else : ?>
    $('#has_android_account_2').click();
    <?php endif; ?>
    <?php if(!$application->getDevice(1)->getUseOurDeveloperAccount()) : ?>
    $('#has_apple_account_1').click();
    <?php else : ?>
    $('#has_apple_account_2').click();
    <?php endif; ?>

    setAppName($('#name').val());
    //changement de nom appli
    $('#name').keyup(function() {
        setAppName($('#name').val());
    });

    $('#use_ads').click(function() {
        if($(this).is(':checked')) {
            $(this).removeClass("checked");
            $("#monetize_fields").removeClass("none");
        } else {
            $(this).addClass("checked");
            $("#monetize_fields").addClass("none");
        }
    });

    function setAppName(name) {
        if(!name) name = '';
        name = name.trim();
        var newName = name;
        if(name.length > 11) newName = name.substring(0, 10).trim()+'...';

        $('#app_name').html(newName);
        $('#header_app_name').html(newName);
    }

    $('.autosave').change(function() {
        var input_loader = $('#loader_'+$(this).attr('id'));
        input_loader.show();
        reload(this.parentNode, '<?php echo $this->getUrl('application/customization_publication_infos/save'); ?>', false, function(datas) {
            input_loader.hide();
        }, function() {
            input_loader.hide();
        });
    });
</script>

<style type="text/css">
    .application .infos .ask_if_has_account { padding: 5px; }
    .application .infos input.has_account { min-width: 20px; width: 20px; }

    /*homescreen*/
    #mobile_homescreen {  }
    /*#mobile_homescreen .touch_icon { position: absolute; top: 249px; left: 128px; height: 71px; }*/
    #name:disabled { opacity:0.4 }
    input#name.error { border: 1px dotted red !important }
</style>
