<?php $application = $this->getApplication(); ?>
<?php $block_subheader = $application->getBlock('subheader'); ?>
<?php $block_button = $application->getBlock('button'); ?>
<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>  
<?php $customer_pseudo = $this->getSession()->getCustomer()->getPseudo()?> 
<div class="scrollable_content" sb-load-more factory="factory" collection="collection">
    <div ng-if="details.locked === 1 && !is_logged_in">
          <?php echo $this->getPartialHtml("padlock"); ?>
    </div>
    <div ng-if="(details.locked === 1  &&  is_logged_in) || details.locked === 2 || !details.locked">
        <div ng-if="fanwall == true">
            <div class="middle_buttons" ng-show="can_post">
                <div class="border-color button" ng-class="{reverse:showRecent}" ng-click="setShowRecent(true)"><?php echo $this->_('Recent'); ?>
                </div>
                <div class="border-color button" ng-class="{reverse:!showRecent}" ng-click="setShowRecent(false)">
                    <?php echo $this->_('Near me'); ?>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>
        <div class="newswall list l4 for_ads_banner">
            <ul ng-if="collection.length">
                <li ng-repeat="item in collection" class="slide-left" ng-click="showItem(item)">
                     <div ng-if="item.id">   
                        <a href="{{item.url}}">
                            <img width="37" height="37" class="logo left" ng-src="{{ item.icon }}" ng-if="item.icon"/>
                            <div class="text">
                                <p class="author" ng-if="item.author">{{ item.author }}</p>
                                <p class="timestamp" ng-if="item.meta.area1">{{ item.meta.area1.text }}</p>
                                <div class="image-container" ng-if="item.picture">
                                    <div class="block bg-image" image-src="item.picture" sb-image></div>
                                </div>
                                <p ng-bind-html="item.message | trusted_html" class="message"></p>
                                <div class="recap-social">
                                    <div ng-if="item.meta.area3.text > 0" class="icon-like">
                                        <div>{{ item.meta.area3.text }}</div>
                                    </div>
                                    <div ng-if="item.meta.area2.text > 0" class="icon-comment">
                                        <div>{{ item.meta.area2.text }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                        <div class="socialbutton_bar" style="border-top: solid 1px;">
                            <?php echo $this->getPartialHtml("intern_item"); ?>
                        </div>
                        <div ng-repeat="answer in item.answer" class="slide-left padding comments" style="margin-bottom: 2px; min-height:35px; margin-top:1px;">
                            <img class="logo left" ng-src="{{ answer.picture }}" title="{{ answer.author }}" alt="{{ answer.author }}" style="border:solid 2px; width:30px; height:30px" />
                            <span class="name">{{ answer.author }}</span> 
                            <span class="user_comment" style="word-wrap: break-word;">{{ answer.message }}</span>
                            <br/>
                            <font style="font-size:10px">{{ answer.area1.text }}</font>
                        </div> 
                        <p ng-if="item.countanswers > 3" style="text-align:right; font-size:9px;">
                            <a href="{{item.url}}">
                                <u>
                                    <?php echo $this->_("Show")." ";?>{{ item.countanswersminusthree}}<?php echo " ".$this->_(" more comments")?>
                                </u>
                            </a>
                        </p>
                    </div>
                </li>
                <li ng-show="show_posts_loader"><sb-loader is-loading="show_posts_loader" size="'48'" block="'background'"></sb-loader></li>
            </ul>
            <p class="no-results" ng-if="!is_loading && !collection.length"><?php echo $this->_("No Results"); ?></p>
        </div>
        <div class="clear"></div>
    </div>
</div>