<table width="100%" bgcolor="#efefef" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="12%"></td>
        <td align="center" style="background-color:#272527;background-image:url('http://d15oktd9tyyxdq.cloudfront.net/ban-sincube.jpg');background-size:cover;background-position:50%;background-repeat:no-repeat;padding:15px 15px 30px 15px;" height="200px">
            <img src="http://d15oktd9tyyxdq.cloudfront.net/logo-sincube.png" width="150px" alt="Ina Ich l'application officielle" >
        </td>
        <td width="12%"></td>
    </tr>
    <tr style="padding: 0 15px; color:#888888; font-size: 17px; line-height: 150%; width:600px">
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:25px">
            <p style="font-family: Verdana; font-weight: bold;color: #404040;font-size:18px; line-height:150%;"><?php echo $this->_('Hello,'); ?></p>
            <p>
                <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                    <?php echo $this->_('You have received a message for the booking of'); ?> <strong><?php echo $this->getData('name') ?></strong><br />
                </span>
            </p>
            <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                <?php echo $this->_('Here are his personal information:'); ?>
                <ul>
                    <li style="list-style-type:none;"><?php echo $this->_('Name:'); ?> <?php echo $this->getData('name'); ?></li>
                    <?php if($this->getData('phone')) : ?>
                        <li style="list-style-type:none;"><?php echo $this->_('Phone number:'); ?> <?php echo $this->getData('phone'); ?></li><?php endif; ?>
                    <?php if($this->getData('email')) : ?>
                        <li style="list-style-type:none;"><?php echo $this->_('Email address:'); ?> <a href="mailto:<?php echo $this->getData('email'); ?>" style="color:#9F0030;"><?php echo $this->getData('email'); ?></a></li><?php endif; ?>
                </ul>
            </p>
            <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;">
                <?php echo $this->_('Booking details:'); ?>
                <ul>
                    <li style="list-style-type:none;"><?php echo $this->_('Date and time:'); ?> <?php echo $this->getData('date'); ?></li>
                    <li style="list-style-type:none;"><?php echo $this->_('People number:'); ?> <?php echo $this->getData('people'); ?></li>
                    <li style="list-style-type:none;"><?php echo $this->_('Booking subject:'); ?> <?php echo $this->getData('prestation'); ?></li>
                    <?php if($this->getData('comment')) : ?>
                        <li style="list-style-type:none;"><?php echo $this->_('Comment:'); ?> <?php echo $this->getData('comment'); ?></li><?php endif; ?>
                </ul>
            </p>
        </td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:8px 25px;clear:both;font-family: Verdana, Arial, Helvetica, sans-serif;">
            <div style="background-color:#9F0030;height:2px;margin:0 auto;"></div>
            <p style="display:inline-block;line-height:38px;">
                <a href="sincube.com" target="_blank" style="text-decoration:none;color:#000000;font-size:13px;">
                    Powered by Sincube
                </a>
            </p>
            <ul style="display:inline-block;float: right;padding-left:0;">
                <li style="list-style-type:none;display:inline-block;margin-right:20px;">
                    <a href="https://www.facebook.com/wearesincube" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/facebook.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
                <li style="list-style-type:none;display:inline-block;">
                    <a href="https://twitter.com/sincub3" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/twitter.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
            </ul>
        </td>
        <td width="12%"></td>
    </tr>
</table>