<?php   $account_option = new Application_Model_Accountoption();
        $account_option = $account_option->find(array("app_id" => $this->getApplication()->getAppId()));
?>
<div class="tabbar_items border-color l7" ng-class="{'rotate-in': animate_tabbar}" ng-show="tabbar_is_visible">
    <div class="tabbar background"></div>
    <div class="border-color items">
        <div id="tabbar_items" class="tabbar no-background">
            <ul class="tabbar_l7 {{ classOffline }}">
                <li ng-repeat="option in features.overview.options" class="border-color">
                    <a tabbar-items option="option" go-to-url="goToUrl(option)" class="item relative" ng-class="{ is_link: option.is_link }" target="_parent" title="{{ option.name }}">
                        <div class="fullscreen"></div>
                        <img ng-src="{{ option.icon_url }}" ng-class="{ colorable: option.icon_is_colorable }" width="30" height="30" title="{{ option.name }}" alt="{{ option.name }}" />
                        <span class="block">{{ option.name }}</span>
                        <div ng-if="option.code == 'push_notification' && pushs" class="badge square">{{ pushs }}</div>
                        <?php if ($account_option->getPushAccountIsActive() == "1"):?>      
                            <div ng-if="option.code == 'tabbar_account' && pushs" class="badge square">{{ pushs }}</div>
                        <?php endif;?>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>