<table width="100%" bgcolor="#efefef" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="12%"></td>
        <td align="center" style="background-color:#272527;background-image:url('http://d15oktd9tyyxdq.cloudfront.net/ban-sincube.jpg');background-size:cover;background-position:50%;background-repeat:no-repeat;padding:15px 15px 30px 15px;" height="200px">
            <img src="http://d15oktd9tyyxdq.cloudfront.net/logo-sincube.png" width="150px" alt="Ina Ich l'application officielle" >
        </td>
        <td width="12%"></td>
    </tr>
    <tr style="margin:auto; padding: 0 15px; color:#888888; font-size: 17px; line-height: 150%; width:600px">
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:25px">
            <?php if($this->getApkStatus()) : ?>
            <p style="font-family: Verdana; font-weight: bold;color: #404040;font-size:18px; line-height:150%;"><?php echo $this->_("The APK has been generated!"); ?></p>
            <a href ="<?php echo $this->getLink() ?>" style="display:block;margin-top:20px;color:#FFFFFF;background-color:#9F0030;width:150px;height:35px;line-height:35px;text-decoration:none;text-align:center;"> Download the apk</a>
            <?php else : ?>
            <p style="font-family: Verdana; font-weight: bold;color: #404040;font-size:18px; line-height:150%;"><?php echo $this->_("An error occurred when generating the apk"); ?></p>
            <?php endif; ?>
        </td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td width="12%"></td>
        <td style="background-color:#FFFFFF;padding:8px 25px;clear:both;font-family: Verdana, Arial, Helvetica, sans-serif;">
            <div style="background-color:#9F0030;height:2px;margin:0 auto;"></div>
            <p style="display:inline-block;line-height:38px;">
                <a href="sincube.com" target="_blank" style="text-decoration:none;color:#000000;font-size:13px;">
                    Powered by Sincube
                </a>
            </p>
            <ul style="display:inline-block;float: right;padding-left:0;">
                <li style="list-style-type:none;display:inline-block;margin-right:20px;">
                    <a href="https://www.facebook.com/wearesincube" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/facebook.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
                <li style="list-style-type:none;display:inline-block;">
                    <a href="https://twitter.com/sincub3" target="_blank">
                        <img width="35px" src="http://d15oktd9tyyxdq.cloudfront.net/twitter.png" alt="facebook sincube agence communication production musique"/>
                    </a>
                </li>
            </ul>
        </td>
        <td width="12%"></td>
    </tr>
</table>