<div class="animated part part1">
    <h3 class="title blue10">To continue the installation, you must be agreed with the terms below</h3>
    <div class="license">
        <h1 class="title">Multi-Apps and Platform Edition License Agreement</h1>
        <div class="post-body">
            <div class="container">
                <h2><i class="icon-doc-text"></i> License Summary</h2>
                <ul class="summary">
                    <li>License does not expire.</li>
                    <li>Can be used on 1 site, 1 server</li>
                    <li>Source-code or binary products cannot be resold or distributed</li>
                    <li>Commercial use allowed</li>
                    <li>Can modify source-code but cannot distribute modifications (derivative works)</li>
                    <li>Support provided as follows :
                        <p class="detail">SUPPORT TERMS AND CONDITIONS</p>
                    </li>
                    <li>Software trademarks are included in the license</li>
                    <li>Software patents are included in the license</li>
                    <li>Parts of the software are provided under separate licenses, as follows:
                        <p class="detail">
                            The Software includes certain open source software which is governed by the applicable license terms thereof. A list of such open source software, as amended from time to time, including the links applicable to such open source software is specified in the product software bundled within the Software, and the Software is subject to the provisions of such license agreements, and in the event of any contradiction between the provisions of this Agreement and the provisions of such applicable license agreement, the provisions of the applicable open source license agreement shall prevail solely with respect to such open source software products.</p>
                    </li>
                </ul></div>
            <div class="container terms">
                <h2><i class="icon-book-open"></i> License agreement</h2>
                <ol>
                    <li>
                        <p><strong>Preamble:</strong> This Agreement, signed on Sep 2, 2014 [hereinafter: Effective Date] governs the relationship between The Licensee, a duly registered company, (hereinafter: Licensee) and Xtraball, a duly registered company in France whose principal place of business is 28 rue Jean Chaptal 31400 Toulouse, France (Hereinafter: Licensor). This Agreement sets the terms, rights, restrictions and obligations on using [Siberian CMS Multi-Apps Edition (Siberian MAE) and/or Siberian CMS Platform Edition(Siberian PE)] (hereinafter: The Software) created and owned by Licensor, as detailed herein</p>
                    </li>
                    <li>
                        <p><strong>License Grant:</strong> Licensor hereby grants Licensee a Personal, Non-assignable &amp; non-transferable, Commercial, Royalty free, Including the rights to create but not distribute derivative works, Non-exclusive license, all with accordance with the terms set forth and other legal restrictions set forth in 3rd party software used while running Software.</p>
                        <ol>
                            <li>
                                <p><strong>Limited:</strong> Licensee may use Software for the purpose of:</p>
                                <ol>
                                    <li>Running Software on one Licensee’s Website and Designated Production Server Instance;</li>
                                    <li>Running Software on one Licensee’s Non-Production Server Instance, for technical and development tests;</li>
                                    <li>Allowing 3rd Parties to run Software on Licensee’s Website and Designated Production Server Instance;</li>
                                    <li>Publishing Software’s output to Licensee and 3rd Parties;</li>
                                    <li>Distribute verbatim copies of Software’s output (including compiled binaries);</li>
                                    <li>Modify Software to suit Licensee’s needs and specifications.</li>
                                </ol>
                            </li>
                            <li>
                                <p><strong>Non Assignable &amp; Non-Transferable:</strong> Except as expressly authorized herein, Licensee may not assign or transfer his rights and duties under this license.</p>
                            </li>
                            <li>
                                <p><strong>Commercial, Royalty Free: </strong>Licensee may use Software for any purpose, including paid-services, without any royalties</p>
                            </li>
                            <li>
                                <p><strong>Including the Right to Create Derivative Works: </strong>Licensee may create derivative works based on Software, including amending Software’s source code, modifying it, integrating it into a larger work or removing portions of Software, as long as no distribution of the derivative works is made</p>
                            </li>
                            <li>
                                <p><strong>Licensee is authorized to use the Software on a single substitute or backup Server</strong> on a temporary basis without charge any time a Designated Production Server is inoperative due to a malfunction beyond the control of Licensee.</p>
                            </li>
                            <li>
                                <p><strong>With support &amp; updates:</strong> Licensor shall provide Licensee support and updates for one year as follows in the SUPPORT SERVICES TERMS AND CONDITIONS.</p>
                            </li>
                            <li>
                                <p>Licensor shall retain full title in Trademarks, and any trademarks and tradenames contained, including Software&#8217;s names, logos, and all other intellectual property. Unless specifically stated in this license, no license shall be made to use, associate or affiliate Software with Licensee in any manner. Licensee may not use Software’s name, tradename, trademarks or logo when distributing derivative works of software to 3rd parties.</p>
                            </li>
                            <li>
                                <p>If Software is covered by Patents, Licensor grants Licensee a non-exclusive, worldwide, royalty-free patent license under Licensor&#8217;s essential patent claims, to make, use, sell, offer for sale, import and otherwise run, modify and propagate the contents of Software.</p>
                            </li>
                        </ol>
                    </li>
                    <li> <strong>Term &amp; Termination:</strong> The Term of this license shall be until terminated. Licensor may terminate this Agreement, including Licensee’s license in the case where Licensee :
                        <ol>
                            <li>
                                <p>became insolvent or otherwise entered into any liquidation process; or</p>
                            </li>
                            <li>
                                <p>exported The Software to any jurisdiction where licensor may not enforce his rights under this agreements in; or</p>
                            </li>
                            <li>
                                <p>Licensee was in breach of any of this license&#8217;s terms and conditions and such breach was not cured, immediately upon notification; or</p>
                            </li>
                            <li>
                                <p>Licensee in breach of any of the terms of clause 2 to this license; or</p>
                            </li>
                            <li>
                                <p>Licensee otherwise entered into any arrangement which caused Licensor to be unable to enforce his rights under this License.</p>
                            </li>
                        </ol>
                    </li>
                    <li><strong>Payment:</strong> In consideration of the License granted under clause 2, Licensee shall pay Licensor a fee, via Credit-Card, PayPal or any other mean which Licensor may deem adequate. Failure to perform payment shall construe as material breach of this Agreement. </li>
                    <li>
                        <p><strong>Upgrades, Updates and Fixes:</strong> Licensor may provide Licensee, from time to time, with Upgrades,   Updates or Fixes, as detailed herein and according to his sole   discretion. Licensee hereby warrants to keep The Software up-to-date and   install all relevant updates and fixes, and may, at his sole discretion,   purchase upgrades, according to the rates set by Licensor. Licensor   shall provide any update or Fix free of charge; however, nothing in this   Agreement shall require Licensor to provide Updates or Fixes.</p>
                        <ol>
                            <li>
                                <p><strong>Upgrades:</strong> for the purpose of this license, an Upgrade  shall be a material amendment in The Software, which contains new features   and or major performance improvements and shall be marked as a new   version number. For example, should Licensee purchase The Software under   version 1.X.X, an upgrade shall commence under number 2.0.0.</p>
                            </li>
                            <li>
                                <p><strong>Updates: </strong> for the purpose of this license, an update shall be a minor amendment   in The Software, which may contain new features or minor improvements and   shall be marked as a new sub-version number. For example, should   Licensee purchase The Software under version 1.1.X, an upgrade shall   commence under number 1.2.0.</p>
                            </li>
                            <li>
                                <p><strong>Fix:</strong> for the purpose of this license, a fix shall be a minor amendment in   The Software, intended to remove bugs or alter minor features which impair   the The Software&#8217;s functionality. A fix shall be marked as a new   sub-sub-version number. For example, should Licensee purchase Software   under version 1.1.1, an upgrade shall commence under number 1.1.2.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p><strong>Liability: </strong>&nbsp;To the extent permitted under Law, The Software is provided under an   AS-IS basis. Licensor shall never, and without any limit, be liable for   any damage, cost, expense or any other payment incurred by Licensee as a   result of Software’s actions, failure, bugs and/or any other  interaction  between The Software &nbsp;and Licensee’s end-equipment, computers,  other  software or any 3rd party, end-equipment, computer or  services.  &nbsp;Moreover, Licensor shall never be liable for any defect in  source code  written by Licensee when relying on The Software or using The Software’s source  code.</p>
                    </li>
                    <li>
                        <p><strong>Warranty: &nbsp;</strong></p>
                        <ol>
                            <li>
                                <p><strong>Intellectual Property: </strong>Licensor   hereby warrants that The Software does not violate or infringe any 3rd   party claims in regards to intellectual property, patents and/or   trademarks and that to the best of its knowledge no legal action has   been taken against it for any infringement or violation of any 3rd party   intellectual property rights.</p>
                            </li>
                            <li>
                                <p><strong>No-Warranty:</strong> The Software is provided without any warranty; Licensor hereby disclaims   any warranty that The Software shall be error free, without defects or code   which may cause damage to Licensee’s computers or to Licensee, and  that  Software shall be functional. Licensee shall be solely liable to  any  damage, defect or loss incurred as a result of operating software  and  undertake the risks contained in running The Software on License’s  Server[s]  and Website[s].</p>
                            </li>
                            <li>
                                <p><strong>Prior Inspection: </strong> Licensee hereby states that he inspected The Software thoroughly and found   it satisfactory and adequate to his needs, that it does not interfere   with his regular operation and that it does meet the standards and  scope  of his computer systems and architecture. Licensee found that  The Software  interacts with his development, website and server environment  and that  it does not infringe any of End User License Agreement of any  software  Licensee may use in performing his services. Licensee hereby  waives any  claims regarding The Software&#8217;s incompatibility, performance,  results and  features, and warrants that he inspected the The Software.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p><strong>No Refunds:</strong> Licensee warrants that he inspected The Software according to clause 7(c)   and that it is adequate to his needs. Accordingly, as The Software is   intangible goods, Licensee shall not be, ever, entitled to any refund,   rebate, compensation or restitution for any reason whatsoever, even if   The Software contains material flaws.</p>
                    </li>
                    <li>
                        <p><strong>Indemnification:</strong> Licensee hereby warrants to hold Licensor harmless and indemnify   Licensor for any lawsuit brought against it in regards to Licensee’s use   of The Software in means that violate, breach or otherwise circumvent this   license, Licensor&#8217;s intellectual property rights or Licensor&#8217;s title  in  The Software. Licensor shall promptly notify Licensee in case of such  legal  action and request Licensee’s consent prior to any settlement in   relation to such lawsuit or claim.</p>
                    </li>
                    <li>
                        <p><strong>Governing Law, Jurisdiction: </strong>Licensee hereby agrees not to initiate class-action lawsuits against   Licensor in relation to this license and to compensate Licensor for any   legal fees, cost or attorney fees should any claim brought by Licensee   against Licensor be denied, in part or in full.</p>
                    </li>
                    <li>
                        <p><strong>Definitions</strong></p>
                        <ol>
                            <li>
                                <p><strong>&#8220;Designated Production Server&#8221;</strong> shall mean the Server running the software in the purpose of a Commercial use with respect to a particular Software license. Such Server may be that of a third-party under nondisclosure obligations that will host the Software for the benefit of Licensee.
                                </p>
                            </li>
                            <li>
                                <p><strong>&#8220;Modifications&#8221;</strong> means any code developed by Licensee or any third party, including without limitation, configuration, integrations, implementations, or localizations to the external layer of the core, baseline Software product. The term &#8220;Modifications&#8221; excludes Updates.
                                </p>
                            </li>
                            <li>
                                <p><strong>&#8220;Server&#8221;</strong> means each physical or virtual server from which a single instance of the Software is accessed and used either for production purposes (&#8220;Designated Production Server Instance&#8221;) or for non-production purposes, such as development, testing, training and other non-operational business transactions (&#8220;Non-Production Server Instance&#8221;). For example, if one server contains two (2) instances of the Software, i.e., one Production Server Instance and one Non-Production Server Instance, then one Server license is required for such instances;
                                </p>
                            </li>
                            <li>
                                <p><strong>&#8220;Software&#8221;</strong> means Xtraball&#8217;s proprietary software solution known as the Siberian Multi-Apps Edition (MAE), provided solely in source code, including associated technical documentation, and all Updates thereof furnished to Licensee as part of Support Services. Except as otherwise specified herein, the term Software includes certain open source software programs described in LICENCE SUMMARY Section. &#8220;Software&#8221; does not include any Modifications.
                                </p>
                            </li>
                            <li>
                                <p><strong>&#8220;Updates&#8221;</strong> means all published revisions and corrections to the printed documentation and corrections and new releases of the Software which are generally made available to Xtraball&#8217;s supported customers at no additional cost or for media and handling charges only. Updates shall not include any options or future products which Xtraball sells separately.
                                </p>
                            </li>
                        </ol>
                    </li>
                </ol></div>
            <h2>Support Services Terms and Conditions</h2>
            <p>Unless otherwise defined herein, all capitalized terms will have the meanings set forth in the Agreement.</p>
            <h3>1. &#8220;Support Services&#8221; consists of:</h3>
            <ol>
                <li>Advice regarding the downloading, installation and configuration of the Software (including Updates provided by Xtraball, but excluding for the avoidance of doubt any Modifications to the Software), when used by Licensee on systems that meet the Software&#8217;s &#8220;System Requirements&#8221; specified on Siberian CMS website currently located at http://www.siberiancms.com and its related sites as may be updated by Xtraball from time to time (collectively, the “Site”) (see specifically, <a href="http://www.siberiancms.com/system-requirements" >http://www.siberiancms.com/system-requirements</a>)</li>
                <li>Facilities for bug tracking, escalation of problems for priority attention, and access to community-supported FAQs and Forums relating to the Software.</li>
                <li>Assistance with troubleshooting to diagnose and fix errors in the Software.</li>
                <li>Access to Xtraball documentation relating to the Software, including authorization to make copies of that documentation for internal use as specified in the Agreement.</li>
            </ol>
            <h4>2. Exclusions from Support Services</h4>
            <p>Xtraball shall have no obligation to support (i) versions of the Software other than the then-current and immediately previous releases, which are operated on a supported hardware/operating system platform specified in the release notes for the Software; (ii) altered or modified Software; (iii) Software accessed on unlicensed Servers; (iv) problems caused by Licensee&#8217;s negligence, misuse, or hardware malfunction; or (v) use of the Software inconsistent with Xtraball&#8217;s instructions. Xtraball is not responsible for hardware changes necessitated by changes to the Software. Support Services does not include:</p>
            <ol>
                <li>Assistance in the development or debugging of Licensee&#8217;s system, including the operating system and support tools.</li>
                <li>Information and assistance on technical issues related to the installation, administration, and use of enabling technologies such as databases, computer networks, and communications.</li>
                <li>Assistance with the installation and configuration of hardware including, but not limited to computers, hard disks, networks, and printers.</li>
            </ol>
            <h4>3. Subcontractors</h4>
            <p>Xtraball or its authorized resellers reserve the right to subcontract any or all of the work to be performed under these Support Terms, and Xtraball retains responsibility for any work so subcontracted.</p>
            <h4>4. Licensee Responsibilities</h4>
            <p>Licensee shall provide commercially reasonable cooperation and full information to Xtraball with respect to the furnishing of Support Services under this Agreement.</p>
            <h4>5. Support Contacts</h4>
            <p>Licensee shall designate one or more support contacts that are authorized to submit Software problems.</p>
            <h4>6. Community Support</h4>
            <p>Problems can be posted in the support forum dedicated to commercial versions of Siberian, which can be found at: http://www.siberiancms.com/forums/forum/commercial-support-forum/</p>
            <h4>7. Prohibited Use</h4>
            <p>As a condition of Licensee&#8217;s use of the Forums, Licensee will not use (and will prohibit its customers from using) the Forums (i) to violate any applicable law, statute, ordinance or regulation; (ii) to disseminate content that is harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, or otherwise objectionable; (iii) to disseminate any software viruses or any other computer code, files or programs that may interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; (iv) to infringe the intellectual property rights or proprietary rights, or rights of publicity or privacy, of any third party; or (v) use the Forums for any purpose other than their intended use.</p>
            <h4>8. Term and Termination</h4>
            <p>Xtraball will provide  Support Services and any free Updates to Licensee during a one year period starting the day Licensee acquires his Software License, and subject to Licensee&#8217;s payment of the applicable fees. In the event Licensee fails to pay such fees to Xtraball or in the event Licensee materially breaches the Support Services provisions and does not cure such breach within thirty (30) days of its receipt of Xtraball&#8217;s notice of same, Xtraball may suspend or cancel Support Services.</p>
            <h4>9. General</h4>
            <p>Xtraball shall not be liable for any failure or delay in performance under these Support Terms due to causes beyond its reasonable control. Any illegal or unenforceable provision shall be severed from these Support Terms. Licensee agrees that any information received pursuant to these Support Terms shall be deemed to be subject to the non-disclosure obligations set forth in the License Agreement. Licensee&#8217;s obligation of payment of moneys due under these Support Terms shall survive termination of these Support Terms or the License Agreement. These Support Terms state the entire agreement regarding provision of Support Services to Licensee and may be amended only by a written amendment set forth on a separate document executed by authorized representatives of both parties.</p>
            <p>Last updated: September 15th 2014</p>
        </div>
    </div>
</div>
<div class="animated part part2">
    <form id="licenseForm">
        <label class="checkbox blue5 opacity_on_active">
            <input type="checkbox" id="license" name="license" class="required" value="1" />
            <span>I agree to the above terms and conditions.</span>
        </label>
    </form>
</div>
<script type="text/javascript">
    var step = new Step(2);
    $('#licenseForm').validate();
    installer.addStep(step);
    step.canGoForward = function() {
        return $('#licenseForm').valid();
    };
</script>