<?php   $account_option = new Application_Model_Accountoption();
        $account_option = $account_option->find(array("app_id" => $this->getApplication()->getAppId()));
?>
<div class="layout-bottom-sidebar" ng-if="tabbar_is_visible">
    <div class="overview-tabbar horizontal-tabbar slide-top {{ features.layoutId }} {{ classOffline }}">
        <ul rn-carousel rn-carousel-indicator="true">
            <li ng-repeat="options in features.overview.paged_options">
                <a ng-repeat="option in options" tabbar-items option="option" go-to-url="goToUrl(option)" class="item" ng-class="{ is_link: option.is_link }" target="_parent" title="{{ option.name }}">
                    <div class="relative">
                        <div class="tabbar background"></div>
                        <div class="tabbar no-background">
                            <div class="fullscreen"></div>
                            <img ng-src="{{ option.icon_url }}" ng-class="{ colorable: option.icon_is_colorable }" width="70" height="70" title="{{ option.name }}" alt="{{ option.name }}" />
                            <span class="tabbar no-background block">{{ option.name }}</span>
                            <div ng-if="option.code == 'push_notification' && pushs" class="badge great_square">{{ pushs }}</div>
                            <?php if ($account_option->getPushAccountIsActive() == "1"):?>      
                                <div ng-if="option.code == 'tabbar_account' && pushs" class="badge great_square">{{ pushs }}</div>
                            <?php endif;?>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>