<?php $option_value = $this->getOptionValue(); ?>
<?php $application = $this->getApplication(); ?>
<?php $twitter = $option_value->getObject();?>
<div class="form_content">
    <div id="list" class="edit_page facebook">
        <div class="section form_content">
            <form id="twitterForm" name="twitterForm" method="post" action="<?php echo $this->getUrl('social/application_twitter/editpost') ?>">
                <h4 class="subtitle">
                    <span class="left area"><?php echo $this->_('Twitter') ?></span>
                    <hr />
                    <div class="clear"></div>
                </h4>
                <input type="hidden" name="value_id" value="<?php echo $option_value->getId(); ?>" />
                <div class="form_content">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label><?php echo $this->_('Enter your Twitter Id <span class="required-entry"> *</span>:') ?></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" id="twitter_url" name="twitter_user" value="<?php echo $twitter->getTwitterUser()?>" placeholder="<?php echo $this->_("Enter your Twitter Id") ?>" class="form-control required" />
                            <br/>
                            <u><a href="https://tweeterid.com" target="_blank"><?php echo $this->_('*Click here to find your Twitter ID')?></a></u>
                        </div>
                        <div class="col-sm-4">
                            <i id="twitter_valid_username" class="icon-ok" style="display:none;"></i>
                            <i id="twitter_invalid_username" class="icon-remove" style="display:none;"></i>
                            <input type="hidden" name="option_value_id" value="<?php echo $option_value->getId(); ?>" />
                            <input type="hidden" name="id" value="<?php echo $twitter->getId(); ?>" />
                        </div>
                        <div class="col-sm-2">
                            <button class="default_button btn-block" type="submit">
                                <?php echo $this->_('OK'); ?>
                            </button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
        <div class="section">
            <?php
            echo $this->getLayout()
                ->addPartial('background_image', 'Core_View_Default', 'application/customization/features/edit/background_image.phtml')
                ->setValueId($option_value->getId())
                ->toHtml()
            ;
            ?>
        </div>
        <div class="section">
            <?php echo $this->getLayout()
                ->addPartial('layout', 'Core_View_Default', 'application/customization/features/edit/layout.phtml')
                ->setOptionValue($option_value)
                ->toHtml();
            ?>
        </div>
    </div>
</div>
<script type="text/javascript">

    page.setCallback('didappear', function() {

        $('#twitterForm').submit(function() {
            if(!$(this).valid()) return false;
            reload(this, this.action, true, function(datas) {
                if(datas.success) {
                    iframe.f.reload();
                }
            });
            return false;
        });

    });

    page.setCallback('willdisappear', function() {
        $('#twitterForm').unbind('submit');
    });

    background_image.setCallback('cropDidFinish', function() {
        iframe.content.find('.news').addClass('no-background');
        iframe.content.find('.comments').addClass('no-background');
    }).setCallback('imageDidRemove', function(datas) {
        if(!datas.background_image_url) {
            iframe.content.find('.news').removeClass('no-background');
            iframe.content.find('.comments').removeClass('no-background');
        }
    });

</script>