@font-face {
    font-family: 'sincube';
    src:    url('/app/design/mobile/angular/css/fonts/sincube/sincube.eot');
    src:    url('/app/design/mobile/angular/css/fonts/sincube/sincube.eot#iefix') format('embedded-opentype'),
        url('/app/design/mobile/angular/css/fonts/sincube/sincube.ttf') format('truetype'),
        url('/app/design/mobile/angular/css/fonts/sincube/sincube.woff') format('woff'),
        url('/app/design/mobile/angular/css/fonts/sincube/sincube.svg#sincube') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before, [class*=" icon-"]:before{
    padding-right: 5px;
}
.icon-facebook-small:before {
    font-family: 'sincube';
    content: "\e903";
}
.icon-twitter-small:before {
    font-family: 'sincube';
    content: "\e904";
}
.icon-mail-small:before {
    font-family: 'sincube';
    content: "\e90c";
}
.icon-mail:before {
    font-family: 'sincube';
    content: "\e900";
}
.icon-twitter:before {
    font-family: 'sincube';
    content: "\e901";
}
.icon-facebook:before {
    font-family: 'sincube';
    content: "\e902";
}
.icon-comment:before {
    font-family: 'sincube';
    content: "\e906";
}
.icon-like:before {
    font-family: 'sincube';
    content: "\e907";
}
.icon-share:before {
    font-family: 'sincube';
    content: "\e908" !important;
}
.icon-add-post:before {
    font-family: 'sincube';
    content: "\e909";
}
.icon-prev:before {
    font-family: 'sincube';
    content: "\e90a";
}
.icon-next:after {
    font-family: 'sincube';
    content: "\e91f";
}
.icon-open:before {
    font-family: 'sincube';
    content: "\e905";
}
.icon-close:before {
    font-family: 'sincube';
    content: "\e90d";
}
.icon-location:before {
    font-family: 'sincube';
    content: "\e90b";
}
.icon-phone:before {
    font-family: 'sincube';
    content: "\e90e";
}
.icon-website:before {
    font-family: 'sincube';
    content: "\e90f";
}
.icon-write:before {
    font-family: 'sincube';
    content: "\e910";
}
.icon-report:before {
    font-family: 'sincube';
    font-size: 22px !important;
    content: "\e911";
}
.icon-browse:before {
    font-family: 'sincube';
    content: "\e912";
}
.icon-picture:before {
    font-family: 'sincube';
    content: "\e913";
}
.icon-ticket:before {
    font-family: 'sincube';
    content: "\e914";
}
.icon-trash:before {
    font-family: 'sincube';
    content: "\e915";
}
.icon-cart:before {
    font-family: 'sincube';
    content: "\e916";
}
.icon-hide:before {
    font-family: 'sincube';
    content: "\e917";
}
.icon-repeat:before {
    font-family: 'sincube';
    content: "\e918";
}
.icon-random:before {
    font-family: 'sincube';
    content: "\e919";
}
.icon-musicprev:before {
    font-family: 'sincube';
    content: "\e91a";
}
.icon-play:before {
    font-family: 'sincube';
    content: "\e91b";
}
.icon-pause:before {
    font-family: 'sincube';
    content: "\e91c";
}
.icon-musicnext:before {
    font-family: 'sincube';
    content: "\e91d";
}
.icon-burger:before {
    font-family: 'sincube';
    content: "\e91e";
}
.icon-bell:before {
    font-family: 'sincube';
    content: "\e920";
}
.icon-padlock:before {
    font-family: 'sincube';
    content: "\e921";
}
.icon-retweet:before {
    font-family: 'sincube';
    content: "\e922";
}
.icon-follow:before {
    font-family: 'sincube';
    content: "\e923";
}
.icon-newsletter:before {
    font-family: 'sincube';
    content: "\e924";
}
.icon-lyrics:before {
    font-family: 'sincube';
    content: "\e925";
}
