/** GENERAL **/
* { max-width:100%; margin:0; padding:0; border:none; font-family: Arial, sans-serif;}

body { font-size: 15px; -webkit-user-select : none; -webkit-text-size-adjust : none; -webkit-touch-callout: none; line-height:1; background-color:white; overflow-x: hidden; }
body.no_scroll {overflow:hidden;}
.scrollable_content {
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
}
.scrollable_content::-webkit-scrollbar {display:none;}

h1 { font-size: 24px }
h2 { font-size: 22px }
h3 { font-size: 20px }
h4 { font-size: 18px }
h5 { font-size: 16px }
hr { height: 1px; }
p { margin: 15px 0; }
a { color: inherit; text-decoration: none; }
a:visited {color: inherit;}
p, a, span {font-size: 13px;}
button, .button {cursor: pointer;}
input, textarea, select { color: black !important;padding:3px; }
input[type="checkbox"], input[type="radio"] {box-shadow: none;}
input.error, textarea.error, select.error { border: 2px solid darkred; }

input.large, textarea.large { width: 97%; }
input.full_width, textarea.full_width {width:98%;padding-left:1%;padding-right:1%;}
input, textarea { min-height: 25px; }
ul.form li {margin:15px 0;}
ul.form li label {width:100%;display:block;margin-left:5px;margin-bottom:2px;}
ul.form li label.inline {display:inline-block;width:auto;margin-top:5px;}
ul.form li input, ul.form li textarea {width:98%;padding-left:1%;padding-right:1%;}
ul.form li input[type="checkbox"], ul.form li input[type="radio"] {width:30px;margin-top:7px;}
ul.form li select {width:100%;height:30px;}
table { border-collapse: collapse;}
table.no-collapse { border-collapse: separate; }
table p { margin: 0 }
ul { list-style: none; }
audio {height:0;width:0}
img.border {border: 1px solid white;}
i:before{padding-right: 5px;}
.scrollable_content i:before{font-size: 20px;padding-right: 10px;vertical-align: middle;}
button.icon-next:after,a.button.icon-next:after{float:right;padding-right: 5px;}

.separator {position:relative;margin:0;padding:0;border-bottom:1px solid rgba(0, 0, 0, 0.3);border-top:1px solid rgba(255, 255, 255, 0.2);}
.sprite {position:absolute;top:0;left:0;width:100%;height:100%;background:url(/app/design/mobile/angular/_s/pictos/sprite-play.png) no-repeat center center transparent;background-size:cover;z-index:10;}
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.bold { font-weight: bold; }
.transparent { background: transparent; }
.none { display: none; }
.left { float: left; }
.right { float: right; }
.clear { clear: both }
.underline { text-decoration: underline; }
.block { display: block; }
.a-center { text-align: center; }
.a-left { text-align: left; }
.a-right { text-align: right; }
.a-justify{text-align:justify}
.padding {padding:10px;}
.padding.first {padding-top:0;}
.margin {margin:10px;}
.full_width {width:100%;}
.absolute { position: absolute; }
.relative { position: relative; }
.pointer { cursor:pointer; }
.section_title {margin:0;padding:10px 0;font-size:18px;font-weight:bold;border-bottom:1px solid;}
.clearfix {display: inline-block;}
.no-results { width:100%; text-align: center; font-size: 1.2em; margin-top:24px; }

.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    z-index: 1002;
    display: none;
}


.badge {
    position: absolute;
    top: -10px;
    right:5px;
    margin: 0;
    padding: 3px 5px;
    color:#FFFFFF;
    background-color:#9F0030;
    border: 2px solid #FFFFFF;
    border-radius: 2ex 2ex 2ex 2ex;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
}
.badge.more_l1{top:-4px;left:0;right:auto;}
.badge.square{top:0px;right:12px;}
.badge.great_square{top:30px;right:35px;}
.badge.menu_left{top:0;right:25px;}

a.back {width: 62px; height: 31px;}
.header a.back {position: absolute;margin-top: 6px;}

.subheader {position:relative;min-height:16px;}
/*
.subheader {position:relative;height:27px;padding:10px 5px 5px;}
.subheader, .subheader span {font-size: 20px;font-weight: bold;text-align: center;}
*/
.subheader button.more {position:absolute;top:50%;right:10px;width:auto;margin-top:-19px;box-shadow:none;border:none;background:transparent;}
.subheader button.more canvas {position:static;margin:0}
.subheader img.gift, .subheader canvas {position:absolute;top:50%;left:10px;margin-top:-15px;}


/* Loader */
/* 48x48px */
.floatingCirclesG_48{position:relative;width:48px;height:48px;margin-left:auto;margin-right:auto;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);}
.floatingCirclesG_48 .f_circleG{position:absolute;height:9px;width:9px;-moz-border-radius:4px;-moz-animation-name:f_fadeG;-moz-animation-duration:1.2s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:4px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:1.2s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:4px;-ms-animation-name:f_fadeG;-ms-animation-duration:1.2s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:4px;-o-animation-name:f_fadeG;-o-animation-duration:1.2s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:4px;animation-name:f_fadeG;animation-duration:1.2s;animation-iteration-count:infinite;animation-direction:linear;}
.floatingCirclesG_48 .frotateG_01{left:0;top:20px;-moz-animation-delay:0.45s;-webkit-animation-delay:0.45s;-ms-animation-delay:0.45s;-o-animation-delay:0.45s;animation-delay:0.45s;}
.floatingCirclesG_48 .frotateG_02{left:6px;top:6px;-moz-animation-delay:0.6s;-webkit-animation-delay:0.6s;-ms-animation-delay:0.6s;-o-animation-delay:0.6s;animation-delay:0.6s;}
.floatingCirclesG_48 .frotateG_03{left:20px;top:0;-moz-animation-delay:0.75s;-webkit-animation-delay:0.75s;-ms-animation-delay:0.75s;-o-animation-delay:0.75s;animation-delay:0.75s;}
.floatingCirclesG_48 .frotateG_04{right:6px;top:6px;-moz-animation-delay:0.9s;-webkit-animation-delay:0.9s;-ms-animation-delay:0.9s;-o-animation-delay:0.9s;animation-delay:0.9s;}
.floatingCirclesG_48 .frotateG_05{right:0;top:20px;-moz-animation-delay:1.05s;-webkit-animation-delay:1.05s;-ms-animation-delay:1.05s;-o-animation-delay:1.05s;animation-delay:1.05s;}
.floatingCirclesG_48 .frotateG_06{right:6px;bottom:6px;-moz-animation-delay:1.2s;-webkit-animation-delay:1.2s;-ms-animation-delay:1.2s;-o-animation-delay:1.2s;animation-delay:1.2s;}
.floatingCirclesG_48 .frotateG_07{left:20px;bottom:0;-moz-animation-delay:1.35s;-webkit-animation-delay:1.35s;-ms-animation-delay:1.35s;-o-animation-delay:1.35s;animation-delay:1.35s;}
.floatingCirclesG_48 .frotateG_08{left:6px;bottom:6px;-moz-animation-delay:1.5s;-webkit-animation-delay:1.5s;-ms-animation-delay:1.5s;-o-animation-delay:1.5s;animation-delay:1.5s;}

.floatingCirclesG_48.background_floatingCirclesG_48 .f_circleG{-moz-animation-name:background_f_fadeG;-webkit-animation-name:background_f_fadeG;-ms-animation-name:background_f_fadeG;-o-animation-name:background_f_fadeG;animation-name:background_f_fadeG;}
.floatingCirclesG_48.subheader_floatingCirclesG_48 .f_circleG{-moz-animation-name:subheader_f_fadeG;-webkit-animation-name:subheader_f_fadeG;-ms-animation-name:subheader_f_fadeG;-o-animation-name:subheader_f_fadeG;animation-name:subheader_f_fadeG;}

/* 32x32px */
.floatingCirclesG_32{position:relative;width:32px;height:32px;margin-left:auto;margin-right:auto;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);}
.floatingCirclesG_32 .f_circleG{position:absolute;height:6px;width:6px;-moz-border-radius:3px;-moz-animation-duration:0.64s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:3px;-webkit-animation-duration:0.64s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:3px;-ms-animation-duration:0.64s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:3px;-o-animation-duration:0.64s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:3px;animation-name:f_fadeG;animation-duration:0.64s;animation-iteration-count:infinite;animation-direction:linear;}
.floatingCirclesG_32 .frotateG_01{left:0;top:13px;-moz-animation-delay:0.24s;-webkit-animation-delay:0.24s;-ms-animation-delay:0.24s;-o-animation-delay:0.24s;animation-delay:0.24s;}
.floatingCirclesG_32 .frotateG_02{left:4px;top:4px;-moz-animation-delay:0.32s;-webkit-animation-delay:0.32s;-ms-animation-delay:0.32s;-o-animation-delay:0.32s;animation-delay:0.32s;}
.floatingCirclesG_32 .frotateG_03{left:13px;top:0;-moz-animation-delay:0.4s;-webkit-animation-delay:0.4s;-ms-animation-delay:0.4s;-o-animation-delay:0.4s;animation-delay:0.4s;}
.floatingCirclesG_32 .frotateG_04{right:4px;top:4px;-moz-animation-delay:0.48s;-webkit-animation-delay:0.48s;-ms-animation-delay:0.48s;-o-animation-delay:0.48s;animation-delay:0.48s;}
.floatingCirclesG_32 .frotateG_05{right:0;top:13px;-moz-animation-delay:0.56s;-webkit-animation-delay:0.56s;-ms-animation-delay:0.56s;-o-animation-delay:0.56s;animation-delay:0.56s;}
.floatingCirclesG_32 .frotateG_06{right:4px;bottom:4px;-moz-animation-delay:0.64s;-webkit-animation-delay:0.64s;-ms-animation-delay:0.64s;-o-animation-delay:0.64s;animation-delay:0.64s;}
.floatingCirclesG_32 .frotateG_07{left:13px;bottom:0;-moz-animation-delay:0.72s;-webkit-animation-delay:0.72s;-ms-animation-delay:0.72s;-o-animation-delay:0.72s;animation-delay:0.72s;}
.floatingCirclesG_32 .frotateG_08{left:4px;bottom:4px;-moz-animation-delay:0.8s;-webkit-animation-delay:0.8s;-ms-animation-delay:0.8s;-o-animation-delay:0.8s;animation-delay:0.8s;}

.floatingCirclesG_32.background_floatingCirclesG_32 .f_circleG{-moz-animation-name:background_f_fadeG;-webkit-animation-name:background_f_fadeG;-ms-animation-name:background_f_fadeG;-o-animation-name:background_f_fadeG;animation-name:background_f_fadeG;}
.floatingCirclesG_32.subheader_floatingCirclesG_32 .f_circleG{-moz-animation-name:subheader_f_fadeG;-webkit-animation-name:subheader_f_fadeG;-ms-animation-name:subheader_f_fadeG;-o-animation-name:subheader_f_fadeG;animation-name:subheader_f_fadeG;}
.floatingCirclesG_32.news_floatingCirclesG_32 .f_circleG{-moz-animation-name:news_f_fadeG;-webkit-animation-name:news_f_fadeG;-ms-animation-name:news_f_fadeG;-o-animation-name:news_f_fadeG;animation-name:news_f_fadeG;}




#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    filter:alpha(opacity:50);
    display: none;
    z-index: 9999;
}

#loader img {position:absolute; left: 50%; top: 50%; margin-left: -12px; margin-top: -12px;}
#mask {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000;display:none;}
.fb_button_text { font-size: 16px; }

label.error { display: block; margin-top: 5px; color: #C00939; text-shadow: 1px 1px black; clear: both; }

/** /GENERAL **/



/** BLOCK **/
.connect {width: 100%;border-bottom: 1px solid rgba(255, 255, 255, 0.4);}
button.more {background: none;}
button, a.button, a.connect_button {display: block;height: 39px;margin: 10px auto;font-size: 14px;text-align: center;}
button.first, a.button.first, a.connect_button.first {margin-top:0;}

button {width: 100%;}
button.disabled { opacity: 0.5; }

button.icon_left, a.button.icon_left {position:relative;}
button.icon_left img, a.button.icon_left img, button.icon_left canvas {position:absolute;top:50%;left:10px;margin-top:-10px;border-radius:2px;}
button.arrow_right, button.arrow_right, a.arrow_right, .arrow_right {padding-right: 40px;background-image:url(/app/design/mobile/angular/images/pictos/right_arrow.png);background-repeat:no-repeat;background-position:98% center;background-size:14px 20px;}
button.half, a.button.half {display: inline-block;width: 48%;}

button.connect_button {height: 32px;}
button:active, a.button:active { border-top-color: black; box-shadow: 0 0 6px black inset;  }

button.close {position: absolute;right: 7px;top: 7px;width: 25px;height: 25px;display: block;background: none;border: 2px solid white;padding-bottom: 1px;border-radius: 2ex;color: white;z-index: 1;}
button.back {background:transparent;}

a.button, a.connect_button {width: auto;}
a.button, a.connect_button { line-height:39px; }
a.connect_button {height:22px; padding-top:10px;}


.segmented_control {margin-bottom:10px;}
.segmented_control .element {display: inline-block;width: 30px;height: 30px;margin: 2px;border: 1px solid;border-radius: 4ex;}
.segmented_control .element.reverse {border: none;}
.segmented_control.ios {margin:0;}
.segmented_control.ios .element {float:left;width:40px;margin:0;padding:0 5px;box-shadow:none;border:1px solid;border-radius:0;}
.segmented_control.ios .element.first {border-radius:8px 0 0 8px;}
.segmented_control.ios .element.last {border-radius:0 8px 8px 0;}
.segmented_control.ios .element.reverse {border: none;}
/** /BLOCK **/

/** BACKGROUND IMAGE **/
#homepage_logo_link {position: absolute;}

/** TABBAR **/

/* Image Gallery */
.gallery.fullscreen {position: fixed;top:0;right:0;bottom:0;left:0;width:100%;background:none repeat scroll 0 0 black;z-index:150;overflow:hidden;}
.gallery.fullscreen ul li div {width:100%;background-repeat:no-repeat;background-size:100%;background-position:center;}
.gallery.fullscreen ul li div.title,
.gallery.fullscreen ul li div.description {position:absolute;width:100%;padding:3px 0;margin:0;background:rgba(255, 255, 255, 0.6);text-align:center;overflow:hidden;}
.gallery.fullscreen ul li div.title {top:0;height:23px;}
.gallery.fullscreen ul li div.description {bottom:0;min-height:23px;max-height:46px;line-height:23px;}

.gallery.fullscreen ul li div.title p,
.gallery.fullscreen ul li div.description p {margin:0;padding:0px;font-size:13px;line-height:23px;}

/*.gallery.fullscreen ul li div.title p {}*/
/*.gallery.fullscreen ul li div.description p {padding:5px;font-size:13px;}*/

.page_header {
    position:relative;
    /*position:fixed;*/
    width: 100%;
    /*left: 0;*/
    /*top: 0;*/
    height: 42px;
    /*z-index: 100;*/
}
.iOS7 .page_header {height: 63px;}

.page_header .header.absolute {position:absolute;width:100%;height:42px;}
.iOS7 .page_header .header.absolute {padding-top:21px;}

/*.has_header {margin-top: 42px;}*/
/*.iOS7 .has_header {margin-top: 63px;}*/

.page_header p.title {position:absolute;left:75px;right:75px;height:42px;overflow:hidden;margin:0;line-height:43px;font-size:16px;font-weight:bold;text-align:center;z-index:10;}
.page_header .btn_left, .page_header .btn_right {position:relative;width:auto;height:42px;margin:0px;border:none;box-shadow:none;z-index:20;}
.page_header .btn_left {left:0;float:left;padding-left:10px;}
.page_header .btn_left.icon-prev:before{padding-right: 5px;}
.page_header .btn_right {right:0;float:right;padding-right:10px;}
.page_header .btn_right span.icon-next:after{padding-left: 5px;}
/*.page_header .btn_right.arrow {padding-right:10px;}*/
.page_header .btn_right.is-picto {width:40px;}

.page_header .back_arrow, .page_header .next_arrow {
    position: absolute;
    top: 0;
    width: 21px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px 20px;
    z-index: 20;
}
.page_header .back_arrow { left: 0; }
.page_header .next_arrow { right: 0; transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.page_header .btn_left span, .page_header .btn_right span {height:42px;font-size:16px;}
.page_header .btn_right span.icon-add-post:before{font-size: 25px;}
.page_header .message {position:absolute;width:100%;height:100%;z-index:10;}
.page_header .message p {min-height:30px;margin:0;padding:6px;text-align:center;font-size:14px;line-height:14px;}
.page_header .message p.error {color:white;background-color:darkred;}
.iOS7 .page_header .message p {min-height:36px;padding-top:21px;}
.background_image {height:100%;background-repeat:no-repeat;background-position:top center;background-size:cover;}
.background_image_is_loading {height:100%;background-repeat:no-repeat;background-position:center center;background-image:url("/app/design/mobile/angular/images/loader/ajax.gif");background-size:24px;background-color:black;}
/*.padding { padding: 0 10px; }*/
.logo {width:37px;height:37px;overflow:hidden;border: 3px solid;margin-right:10px;}
.logo.large {width:100px;height:100px;}
.image_loader {position:relative;height:100%;width:100%;background:black; background-repeat:no-repeat;background-position:center center;background-image:url("/app/design/mobile/angular/images/loader/ajax.gif");background-size:24px;}
.image_loader .loader, .list.l1 ul li .image_loader .loader {position:absolute;top:50%;margin-top:-45px;}
.toggle .loader {position:absolute;}
.loader {padding:10px 0;height:50px;width:100%;background-color:transparent;}
.loader.small {height:32px;width:100%;padding:10px 0;background-size:30px 30px;}
.subheader .loader {position:absolute;top:50%;margin:-8px 0 0;padding:0;}
.global_loader {position: absolute;left: 0;top: 0;bottom: 0;right: 0;opacity: 0.5;z-index: 100;}
.global_loader .loader {position:absolute;top:50%;margin-top:-25px;}
.has-connection {display:none;}
.has-connection .no_connection {position:fixed;width:100%;bottom:0;height:30px;line-height:30px;text-align:center;background-color:#9F0030;color:#FFFFFF;z-index:100;}

/* List */

/* L1 */
.list.l1 ul li {padding:10px 0;}
.list.l1 ul li .loader {position:static;}
.list.l1 ul li p.text {height:40px;text-align:left;margin-right:0;margin-bottom:0px;margin-top:0;font-size:15px;line-height:20px;overflow:hidden;}

.list.l1 ul li.cover {height:100px;padding:0;margin:0;background-repeat:no-repeat;background-position:center;background-size:cover;}
.list.l1 ul li .image {margin-top:10px;background-repeat:no-repeat;background-position:0 0;background-size:0px 0px;}
.list.l1 ul li .image div.container {border:4px solid white;border-width:4px 7px 4px 11px;overflow:hidden;}
.list.l1 ul li .image div.container span.bg_image {width:100%;height:100%;background-repeat:no-repeat;background-position:center center;background-size:contain;}

.list.l1 ul li div.details {background:rgba(255,255,255,0.3);padding:5px;margin-left:53px;margin-top:10px;border-radius:4px;}
.list.l1 ul li div.details span {font-size:11px;line-height:10px;margin-left:15px;}
.list.l1 ul li div.details span img {vertical-align:bottom;}
.list.l1 ul li div.details span.area1 {margin-left:0px;}


/* L2 */
.list.l2 ul li {position:relative;margin-top:10px;background-color:rgba(255,255,255,0.3);}
.list.l2 ul li.first {margin-top:0;}

.list.l2 ul li .image {border-radius:3px 3px 0 0;float:left;height:90px;width:80px;}
/*.list.l2 ul li .details .title {position:absolute;top:10px;padding-right:10px;font-size:15px;font-weight:bold;text-transform:uppercase;}
.list.l2 ul li .details .subtitle {position:absolute;bottom:10px;padding-right:10px;}*/

.list.l2 ul li .details span.title {height:20px;padding:2px 7px 0;font-size:15px;font-weight:bold;line-height:20px;text-transform:uppercase;overflow:hidden;}
.list.l2 ul li .details span.subtitle {display:block;height:28px;padding:0 7px;font-size:12px;font-weight:normal;line-height:14px;overflow:hidden;}
.list.l2 ul li .details span.subtitle.bottom {height:15px;font-size:10px;}
.list.l2 ul li .details .subtitle span {font-size:14px;text-transform:lowercase;}

/* L3 */
.list.l3 ul li {padding:7px 7px 0;}
.list.l3 ul li a {position:relative;display:block;cursor:pointer;height:80px;background-position:right 10px center;background-size:14px 20px;background-repeat:no-repeat;border-bottom:1px solid;overflow:hidden;}
.list.l3 ul li a .picture {height:90%;width:90px;background-position:center center;background-size:cover;background-repeat:no-repeat;}
.list.l3 ul li a .details {position:absolute;height:45px;left:10px;right:10px;margin-top:0;margin-bottom:10px;padding:0;overflow:hidden;}
.list.l3 ul li a .details.has_picture {left:100px;}
.list.l3 ul li a .details .title {height:16px;font-size:15px;font-weight:bold;overflow:hidden;}
.list.l3 ul li a .details .subtitle {height:30px;vertical-align:bottom;display:table-cell;margin:3px 0;font-size:13px;line-height:15px;text-align:left;overflow:hidden;}

.list.l4 {padding:15px;}
.list.l4 ul li {margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid;}
.list.l4 ul li div.image-container {margin-bottom:10px;}
.list.l4 ul li div.image-container .bg-image {width:100%;height:154px;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.list.l4 ul li p.text {margin:0;}
.list.l4 ul li p.title {font-size:15px;font-weight:bold;}
.list.l4 ul li p.subtitle {height:30px;margin-top:10px;line-height:15px;overflow:hidden;}

.list.l5 {}
.list.l5 ul {margin-top:3%;}
.list.l5 ul li {float:left;width:45.5%;height:195px;margin-bottom:3%;margin-left:3%;background-color:rgba(255, 255, 255, .3);}
.list.l5 ul li div.image-container .bg-image {width:100%;height:100px;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.list.l5 ul li p.text {margin:0;padding:0 10px;}
.list.l5 ul li p.title {height:44px;margin-top:10px;font-size:15px;font-weight:bold; overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;}
.list.l5 ul li p.subtitle {height:30px;margin-top:10px;line-height:15px;overflow:hidden;}

.list.l6 {}
.list.l6 ul {margin-top:3%;}
.list.l6 ul li {float:left;width:45.5%;height:175px;margin-bottom:3%;margin-left:3%;border-bottom:1px solid;background-color:rgba(255, 255, 255, .3);}
/*.list.l6 ul li:first-child {height:200px;}*/
.list.l6 ul li:first-child, .list.l6 ul li:nth-child(4), .list.l6 ul li:nth-child(3n+4) {width:94%;}
.list.l6 ul li div.image-container .bg-image {width:100%;height:100px;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.list.l6 ul li p.text {margin:0;padding:0 10px;}
.list.l6 ul li p.title {height:16px;margin-top:10px;font-size:15px;font-weight:bold;overflow:hidden;}
.list.l6 ul li p.subtitle {height:30px;margin-top:10px;line-height:15px;overflow:hidden;}


/* Cover */
.cover.l1 a {position:relative;display:block;}
.cover.l1 a .image {width:100%;height:200px;padding:0;background-position:center center;background-size:cover;background-repeat:no-repeat;}
.cover.l1 a h3 {position: absolute;bottom: 0;display: block;width: 100%;padding: 0;font-size: 16px;overflow: hidden;}
.cover.l1.has-picture a h3 {padding-bottom:7px;color:#000000;background:rgba(255, 255, 255, 0.85);}
.cover.l1 a h3 span.title {padding: 7px;font-size: 15px;font-weight: bold;line-height: 20px;text-transform: uppercase;overflow: hidden;}
.cover.l1 a h3 span.subtitle {display:block;height:21px;margin-top:0;padding:7px;font-size:11px;font-weight:normal;line-height:13px;overflow:hidden;}
.cover.l1 a .description {display: none;font-size: 12px;font-weight: normal;height: 50px;line-height: 1.1em;margin-top: 10px;overflow: hidden;}

.cover.l2 {position:relative;display:block;}
.cover.l2 .image {width:100%;height:200px;padding:0;background-position:center center;background-size:cover;background-repeat:no-repeat;}
.cover.l2 h3 {position: absolute;bottom: 0;display: block;width: 100%;padding: 0;font-size: 16px;overflow: hidden;}
.cover.l2.has-picture h3 {color: #000000;background: rgba(255, 255, 255, 0.85);}
.cover.l2 h3 span.title {padding: 2px 7px 0;font-size: 15px;font-weight: bold;line-height: 20px;text-transform: uppercase;overflow: hidden;}
.cover.l2 h3 span.subtitle {display:block;min-height:21px;padding:0 7px;font-size:11px;font-weight:normal;line-height:13px;overflow:hidden;}
.cover.l2 h3 span.subtitle a {display:inline;font-size:11px;}
.cover.l2 .description {display: none;font-size: 12px;font-weight: normal;height: 50px;line-height: 1.1em;margin-top: 10px;overflow: hidden;}

/* Post */
.post.l2 {}
.post.l2 ul li {margin:0;}
.post.l2 ul li.titles {margin:0 10px;padding-bottom:15px;border-bottom:1px solid;}
.post.l2 ul li.titles .title {font-size:15px;font-weight:bold;}
.post.l2 ul li.description {text-align:justify;}
.post.l2 ul li.description p {margin:0;}

/* /Post */

/* Sidebars */
/* L1 */
.sidebar.l1 .sidebar {position:fixed;width:200px;height:100%;padding:0 5px;z-index:100;box-shadow:-2px -2px 6px rgba(0, 0, 0, 0.5);}
.sidebar.l1 .btn_open {position:relative;width:auto;height:20px;margin:0;padding:0 0 0 7px;box-shadow:none;border:none;}
.sidebar.l1 .btn_open img {position:absolute;top:2px;right:6px;}
.sidebar.l1 .content {padding:10px 5px 10px;}
.sidebar.l1 .content h3.title {font-size:16px;font-weight:normal;text-align:center;}
.sidebar.l1 .content h3.title.left {text-align: left; width: 55%;}
/*.sidebar.l1 .content h3.title.center {text-align:center;}*/
.sidebar.l1 .sidebar.right {float:none;right:0;box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.5);}
.sidebar.l1 .sidebar li {text-align:left;}
.sidebar.l1 .sidebar li a.item {cursor:pointer;font-size:0.85em;padding:10px;border-bottom:1px solid;display:block;height:auto;margin:0;text-align:left;}

/* Iframe */
.iframe-wrapper{width:100%;height:100%;height:calc(100% - 42px);}
.iframe-wrapper iframe{width:100%;height:100%;}

/* Video */
.video {position:relative;}
.video .cover {width:100%;height:200px;padding:0;background-position:center center;background-size:cover;background-repeat:no-repeat;}
.video img.icon {margin: 10px 5px;}
.video div.title {position:absolute;bottom:0;left:0;width:100%;height:40px;opacity:0.8;z-index:10;}
.video div.title p.title_video {height:40px;vertical-align: middle; display:table-cell;margin:3px 0;font-size:15px;font-weight:bold;line-height:17px;}


/* Newswall / Rss */
.newswall .content li, .rss_feed .content li, .facebook .content li {margin-top:1px;}
.newswall .content div.metas,
.rss_feed .content div.metas,
.facebook .content div.metas {background:rgba(255,255,255,0.3);border:solid 1px rgba(153, 153, 153, 1);padding:5px;margin-left:53px;margin-top:10px;border-radius:4px;}
.newswall .content div.metas span.comments_date,
.rss_feed .content div.metas span.comments_date,
.facebook .content div.metas span.comments_date {margin-left:0px;}
.newswall .content .description {padding-top:15px;padding-bottom:5px;}
.newswall .content div.metas span,
.rss_feed .content div.metas span,
.facebook .content div.metas span {margin-top:8px;margin-left:15px;font-size:11px;line-height:10px;}
.newswall .content .details .image, .rss_feed .content .details .image {border:3px solid #fff;border-radius:4px;}
.newswall .content p.text, .rss_feed .content p.text {margin:20px 0 0;text-align:justify;}
.newswall .content .title p.text, .rss_feed .content .title p.text {margin:0;}
.newswall .content .title p.text span.name, .rss_feed .content .title p.text span.name {font-size:17px;}
.newswall .content div.add_comment {margin-top:10px;}
.newswall .content li.answer span.customer_name {margin-right:5px;}
.newswall .content .comments p.text, .facebook .content .comments p.text {margin:0;}
.newswall .content .comments p.comment, .facebook .content .comments p.comment {display:table-cell;height:30px;overflow:hidden;text-align:justify;vertical-align:bottom;font-size:12px;}
.newswall .content .comment_content button.button {margin:10px 0;}
.rss_feed .content .feed_content {margin:15px 0;}
.rss_feed .content .feed_content img {max-width:100%}
.newswall div.icon-like,.newswall div.icon-like div,.newswall div.icon-comment,.newswall div.icon-comment div,
.facebook span.icon-like div,.facebook span.icon-comment div,.facebook span.icon-share div,.facebook .metas_facebook{display: inline;}
.newswall .recap-social div.icon-comment,.facebook .metas div.icon-comment{margin-left:15px;}
.newswall .recap-social{margin-bottom: 5px;}
.newswall .recap-social .icon-like,.newswall .recap-social .icon-comment{font-size:13px;}
.newswall .name,.newswall .timepost,.newswall .content .comments_date,
.facebook .name,.facebook .timepost{margin: 2px 0;}
.newswall p.name,.facebook p.name,.newswall .content_news p.text{padding-top:6px;}
.facebook .socialbutton_bar{padding:10px 0;}
.newswall .socialbutton.comment .icon-comment:before{padding-right: 0px;}
.newswall .listposts>li>div,.facebook .listposts>li>div{background-color: rgba(200,200,200,0.6);padding: 10px;}
.newswall .listposts div.comments .user_comment{font-size: 11px;}
.newswall .listposts div.comments{padding: 7px;}
.newswall .listposts div.comments .name{font-weight: bold;}
.newswall .post_image, .facebook .post_image{margin-bottom: 15px;}
.newswall .content_news li.details{padding: 0 10px;margin-top: 0;}
.newswall .content_news li .post_text p{margin:0;}


.newswall .newswall.list.l5.l3 ul li a{position: static;height:auto;}
.newswall .newswall.list.l5.l3 ul li{height: auto;max-height: 175px;background-color: rgba(255, 255, 255, .6);}
.newswall .newswall.list.l5.l3 ul li .image-container.post{height: 80px;background-color: rgba(200, 200, 200, 0.9);padding: 10px;text-align:center;overflow: hidden;text-overflow: ellipsis;}
.newswall .newswall.list.l5.l3 ul li .image-container .message{word-wrap: break-word;overflow:hidden;text-overflow:ellipsis;overflow: hidden;text-overflow: ellipsis;}
.newswall .newswall.list.l5.l3 ul li .text{height: 55px;padding: 10px;}
.newswall .newswall.list.l5.l3 ul li .text img{width:25px;height:25px;border-radius:50%;border:none;margin-right:7px;}
.newswall .newswall.list.l5.l3 ul li .text .author{margin-top:0;margin-bottom:10px;}
.newswall .newswall.list.l5.l3 ul li .text .timestamp{margin-top:10px;margin-bottom:8px;font-size:11px;}
.newswall .newswall.list.l5.l3 ul li .text .recap-social{margin-left: 32px;}
.newswall .list.l3 ul li{padding: 0;}
.newswall .newswall.list.l4 .logo{border-radius: 50%;}
.newswall .newswall.list.l4 .text,.newswall .newswall.list.l4 .socialbutton_bar,.newswall .newswall.list.l4 .comments{width:80%;margin-left: 48px;}
.newswall .newswall.list.l4 .text .author{margin:0 0 10px;}
.newswall .newswall.list.l4 .text .timestamp{margin:0 0 10px;opacity: 0.4;}
.newswall .newswall.list.l4 .socialbutton_bar ul li{border-bottom: none;padding:5px 0 0;margin-bottom: 0;}
.newswall .newswall.list.l4 .comments{margin-top: 10px !important;}

/* Fanwall */
.newswall .top_buttons .half_width { width: 50%; text-align: center; padding: 4px 0; }
.newswall .top_buttons span { font-size: 1.2em; padding-left: 8px; vertical-align: middle; font-weight: 700; }
.newswall .top_buttons img { vertical-align: middle; }
.newswall .top_buttons .left { float: left; border-right: 1px solid #ccc; margin-left:-1px; }
.newswall .top_buttons .right { float: right; }

.newswall .middle_buttons { width: 100%; margin: 16px auto;text-align: center; }
.newswall .middle_buttons .button { display: inline-block; width: 37%; text-align: center; padding:7px 5px; margin: -2px; border:1px solid; }
.newswall .middle_buttons .left { margin-left:10%; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.newswall .middle_buttons .right { margin-right:10%; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }

.create_comment { width: 90%; margin: 12px auto; }
.create_comment textarea { width: 100%; font-size: 1em; }

.create_comment .file-upload input.upload {position:absolute;top:0;right:0;margin:0;padding:0;font-size:32px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}

.input_comment {float:left; width:65% !important;}
.validate_comment {width:30% !important;}
/* Contact */
.contact .contact_name {min-width:140px;margin-bottom:10px;text-transform:uppercase;width:100%;text-align:center;}
.contact .contact_name p.name {margin:0;font-size:15px;font-weight:bold;text-align:center;}

/* Promotion */
.promotions .connect button {margin-top:0;}
.promotions .content {margin-top:10px;border-radius:5px;}
.promotions .content ul {padding-bottom:20px;}
.promotions .content ul li {min-height:220px;}
.promotions .promotion {position:relative;top:0;bottom:0;left:0;right:0;text-align:center;border-radius:5px;}
.promotions .promotion .picture{width:100%;height:150px;background-repeat:no-repeat;background-size:cover;background-position:top center;}
.promotions .promotion .details{padding-left:40px;padding-right:40px;}
.promotions .promotion .details p{margin-top:20px;font-weight:normal;font-size:15px;}
.promotions .promotion .title h4, .promotions .promotion .use_discount a{margin:0 5px 5px 10px;font-family:Lobster;font-size:30px;text-align:center;}
.promotions .rn-carousel-indicator{background: none;}

.promotion-view .content .picture {width:100%;height:150px;background-repeat:no-repeat;background-size:cover;background-position:center center;}
.promotion-view .content .title {background-color:rgba(255, 255, 255, .5);margin-bottom:2px;}
.promotion-view .content .title p {display:table-cell;width:100%;height:35px;margin:0;padding:0 10px;font-size:15px;font-weight:bold;text-align:center;vertical-align:middle;}
.promotion-view .content .details .section {margin-bottom:1px;padding:15px 5px;background-color:rgba(255, 255, 255, .3);}
.promotion-view .content .details .section p {margin:0;text-align:justify;}
.promotion-view .content .details .section button {margin:0;}
.promotion-view .content .details .section .picto {float:left;width:25px;}

/* Event */
.list.l2 ul li .image .month {height:26px;padding-top:4px;text-align:center;}
.list.l2 ul li .image .month span {padding-top:3px;font-size:16px;font-weight:bold;}
.list.l2 ul li .image .day {height:46px;margin-left:3px;margin-top:1px;padding-top:10px;text-align:center;width:74px;}
.list.l2 ul li .image .day span {font-size:30px;font-weight:bold;}

.event .list.l2 .padding.first {padding-top:10px;}

.event_picture{position: relative;}
.event_picture img{/*padding: 0 5%;*/}
.time {padding: 10px 0;font-size: 12px;}
.time.has_picture {padding:10px;position:absolute;bottom:3px;background-color:rgba(255, 255, 255, 0.85);color:#404040;}
.buttons .link {width:auto;margin:10px 0;}
.event_view .event_name {margin-bottom:10px;}
.event_view .description {margin:10px 0;}
.event_view .description span {line-height:17px;}
.event_view .event_name .name {font-size:15px;text-transform:uppercase;}
.event_view .buttons {margin-top:20px;}
.event .list_events .no-post{text-align: center;font-weight: 700;margin-top: 25px;}

/* Loyalty Card */
.loyalty .content {width:100%;}
.loyalty .content h3.short_advantage {margin:auto;line-height:35px;font-weight:400;}
.loyalty .content .subheader {height:auto;min-height:35px;padding:5px 0;}
.loyalty .content .subheader .card_details {position:relative;height:35px;margin:0;text-align:center;overflow:hidden;}
.loyalty .content .subheader.advantage_details {min-height:35px;padding:5px 10px;text-align:left;}
.loyalty .content .subheader.advantage_details p {margin: 0;font-size:13px;line-height:17px;}
.loyalty .content .subheader.advantage_details span {font-size: 13px;font-weight:normal;}
.loyalty .content .promotions {margin-top: 15px;}
/*.loyalty .content .discount .padding {padding-bottom:0;}*/
/*.loyalty .content .discount .use_discount {position:static;margin-bottom:10px;}*/
.loyalty .content .points {margin-top:10px;}
.loyalty .content .points .point {width: 85px;height: 84px;display: inline-block;padding: 5px 0;margin:0 5px;}
.loyalty .content .conditions div.advantage {position: relative;width: 100%;margin: 0;}
.loyalty .center {position:relative;width:290px;margin:auto;}

.loyalty .card_is_locked p {min-height:30px;margin:0;padding:6px;text-align:center;font-size:14px;line-height:26px;color:white;background-color:darkred;}
.loyalty .pad {width:290px;text-align:center;padding-top:15px;}

.loyalty .pad .dots {width:105px;margin:10px auto;}
.loyalty .pad .dots .dot {width:10px;height:10px;display:inline-block;margin:7px;border:1px solid;border-radius:2ex;}
.loyalty .pad .dots .dot.reverse {width:12px;height:12px;border:none;}
.loyalty .pad .delete {margin-right:30px;font-size:17px;cursor:pointer;}
.loyalty .pad .pad_buttons .title {margin-top:0;font-size:20px;}
.loyalty .pad .pad_buttons .pad_button {display:inline-block;width:75px;height:74px;margin:5px;padding:5px 0;border:1px solid;border-radius:6ex;font-size:25px;box-shadow:none;}

/** SOCIALGAMING **/
.socialgaming li.header {padding-top:13px;height:29px;text-align:center;}
.socialgaming li.team_leader, .socialgaming li.challenger {padding:10px 5px;}
.socialgaming li.challenger.overlay_20 {background:url('/app/design/mobile/angular/images/overlays/black_35.png') repeat;}
.socialgaming li.team_leader p.number_of_points {margin:0;width:85px;height:45px;line-height:45px;}
.socialgaming li.team_leader p.number_of_points img {margin-top:10px;float:right;}
.socialgaming li p.challenger_name {margin-top:13px;}
/** /SOCIALGAMING **/

/* Image Gallery */
.image_gallery{padding-left: 0.8%;}
.image_gallery li {display:inline-block;width:32.5%;height:108px;margin-right:0.8%;}
.image_gallery .image {background-color:black;}

.image_gallery4 li {display:inline-block; width:25%; height:90px; margin:0; box-sizing: border-box; border: 1px solid black;}

.image_gallery.l2 li{text-align:center;height:130px;line-height:130px;background-color:transparent;vertical-align: middle;}
.image_gallery.l2 li img{max-height: 130px;vertical-align: middle;}
.image_gallery.l3 li{width: 49%;height: 150px;margin-top:5px;}
.image_gallery.l4 li{height: 100px;}
.image_gallery.l4 li:nth-child(4n+1),.image_gallery.l4 li:nth-child(4n+4) {width: 32%;}
.image_gallery.l4 li:nth-child(4n+2),.image_gallery.l4 li:nth-child(4n+3) {width: 66%;}

/* Video Gallery */
.video_gallery li.load_more {padding-top:20px;}

/* Facebook */
.facebook .info {position:absolute;top:-55px;left:25px;width:100%;}
.facebook .info .logo {height:100px;width:100px;}
.facebook .info .logo img {border-radius:4px;}
.facebook .info .comment_metas {position:absolute;right:45px;bottom:4px;min-width:55px;margin-left:0;margin-top:0;padding:5px;border:solid 1px rgba(153, 153, 153, 1);border-radius:4px;background:rgba(255,255,255,0.3);}
.facebook .info .comment_metas span {margin:0 0 0 10px;}
.facebook .info .comment_metas span.count {margin-top:2px;margin-left:5px;padding:2px;line-height:11px;}
.facebook div.padding {padding-bottom:0;}
.facebook div.padding li.relative {padding-bottom:0;}
.facebook .about {margin-top:60px;margin-bottom:0;margin-left:0;width:auto;}

/*Twitter*/
.twitter .cover .twitter_cover,.twitter .twitter_cover ul.image_cover {position:relative;}
.twitter .cover .twitter_cover ul.image_cover .filter{width: 100%;height: 100%;position: absolute;}
.twitter .cover .twitter_cover ul.image_cover li.cover{height:180px;width:100%;background-position: 50% 50%;background-size: cover;background-repeat: no-repeat;}
.twitter .cover .twitter_cover .details {position: absolute;top:0;left: 0;padding:10px;width:95%;}
.twitter .cover .twitter_cover .details a{text-transform:uppercase;width: 40%;margin: 35px auto 0;}
.twitter .cover .twitter_cover .details .account_details{margin-top:15px;}
.twitter .cover .twitter_cover .details .account_details li{display: inline-block;width:31%;text-align: center;}
.twitter .cover .twitter_cover .details .account_details li p{width:100px;font-size:20px;margin:0;}
.twitter .cover .twitter_cover .details .account_details li p+p{font-size: 13px;padding:5px 0;}
.twitter .list li.element{padding:4px;margin-bottom:10px;}
.twitter .list li.element p.text{margin-bottom:-35px;}
.twitter .list li.element div.icon{height:40px;width:40px;background-size:cover;float:left;margin-right:8px;margin-bottom:5px;}
.twitter .list li.element .author{margin:0 0 8px;font-weight:600;}
.twitter .list li.element .area1{margin:8px auto;font-size:11px;opacity:0.6;}
.twitter .list li.element p.message{line-height: 1.3;}
.twitter .list li.element .socialbutton{display:inline-block;width:31%;text-align: center;}

.twitter .cover.l1 .twitter_cover .details .name{text-align: center;}

.twitter .cover.l2 .twitter_cover .details {left: 75px;}
.twitter .cover.l2 .twitter_cover .image_profile{width:60px;height:60px;display:inline-block;background-repeat:no-repeat;background-size:contain;position:absolute;top:50%;margin-top:-30px;left:10px;border-radius:50%;}
.twitter .cover.l2 .twitter_cover p.name{text-align: left;font-size: 19px;font-weight: 700;}
.twitter .cover.l2 .twitter_cover .details .account_details li{text-align: left;}
.twitter .cover.l2 .twitter_cover .details a{border:2px solid #FFFFFF;margin:20px 0 0 0;background-color:transparent !important;width:50%;line-height:35px;height:35px;}
.twitter .list.l2 ul li.socialbutton{background-color: transparent;}
.twitter .list.l2 li.element{background-color: rgba(200,200,200,0.4);padding: 10px;margin-top:15px;}
.twitter .list.l2 ul li .image{width:100%;height: auto;}
.twitter .list.l2 li.element div.icon{border-radius: 50%;}

.twitter .cover.l3 .twitter_cover ul.image_cover li.cover{height: 110px;}
.twitter .cover.l3 .twitter_cover .image_profile{position:absolute;height:60px;width:60px;background-repeat:no-repeat;background-size:contain;top:70px;left:10px;border-radius: 5px;}
.twitter .cover.l3 .twitter_cover p.name{margin-top:25px;font-weight: 700;}
.twitter .cover.l3 .twitter_cover a.button{width:40px;border-radius: 50%;position: absolute;right: 10px;top:80px;}
.twitter .cover.l3 .twitter_cover a.button i:before{padding-right: 0;}
.twitter .cover.l3 .twitter_cover .details{position: static;}
.twitter .cover.l3 .twitter_cover .details .account_details li p{font-size: 13px;display: inline;}
.twitter .cover.l3 .twitter_cover .details .account_details li{width:32%;}
.twitter .cover.l3 .twitter_cover .details .account_details{margin-top:25px;margin-bottom: 10px;}
.twitter .list.l3 li.element .socialbutton{padding:10px 0;text-align: left;}
.twitter .list.l3 li.element a{border-bottom: 0;height: auto;}
.twitter .list.l3 li.element .area1{margin-left: 10px;}
.twitter .list.l3 li.element ul{opacity: 0.5;width:85%;margin-left: 50px;}
.twitter .list.l3 li.element .socialbutton i:before{font-size: 13px; vertical-align: initial;}
.twitter .list.l3 li.element .source_post{width: 83%;margin-left: 50px;}
.twitter .list.l3 li.element div.icon{border-radius: 2px;}

/* Set Meal / Catalog */
.set_meal .content .name, .set_meal .content .price {display:inline-block;margin:0;padding:0;}
.set_meal .content .name {width:76%;font-size:17px;text-align:left;}
.set_meal .content .price {width:24%;font-size:16px;text-align:right;margin-top:15px}
.set_meal .content .conditions {margin-bottom:0;}

/* Catalog */
.catalog .list.l3 ul li .picture {width:80px;}
.catalog .list.l3 ul li .details.has_picture {left:90px;}
.catalog-product-view .content .details {margin-left:10px;}
.catalog-product-view .content .details .name {margin:0;font-size:20px;}
.catalog-product-view .formats {padding:0 10px;}
.catalog-product-view .formats .format {padding:0 10px;border-bottom:1px solid;}

/* Folder */
.folder .list.l3 ul li .picture {background-size:auto 100%;}

/* Push */
.push .list.l1 ul li p.text {height:auto;min-height:40px;}

/* CMS */
/*.cms .cms_block.image div.rn-carousel-container {margin:auto;}*/
.cms .cms_block.image div.carousel ul li div {height:200px;width:100%;background-repeat:no-repeat;background-size:cover;background-position:center;}

.cms .cms_block.text img.left {margin-right:10px;}
.cms .cms_block.text img.right {margin-left:10px;}
.cms .cms_block.text div.content {text-align:justify;}
.cms .cms_block.text div.content p {margin:0;}

.cms .cms_block button.button.icon_left img { border: none; }

.cms .cms_block.address.can_add_to_address_book button.locate {float:right;display:inline-block;width:80%;width:calc(100% - 55px);width:-webkit-calc(100% - 55px)}
.cms .cms_block.address.can_add_to_address_book button.add_to_address_book {display:inline-block;width:45px;}
.cms .cms_block.address.can_add_to_address_book button.add_to_address_book img {margin-top:4px;}
.cms .cms_block.button a {margin-top:0;margin-bottom:0;}


/* Form */
.form form .section {margin-bottom:30px;}
.form form .section p.label {font-size:16px;}
.form .file-upload input.upload {position:absolute;top:0;right:0;margin:0;padding:0;font-size:32px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}

/* Maps */
.map-canvas, .map-canvas * {max-width: none;}
.map-canvas {display:block;height:100%;width:100%;}

/* Wordpress */
.wordpress-view .l2 li.details {padding:10px 25px;}
.wordpress-view .l2 li.details div.title {border-bottom:1px dashed;}
.wordpress-view .l2 li.details div.title p.name {font-size:20px;text-align:left;}
.wordpress-view .l2 li.details div.description p {line-height: 1.4;}

.wordpress-view .l1 .title {padding: 1px 7px;}
.wordpress-view .l1 .title p.name {text-transform:uppercase;}
.wordpress-view .l1 .details .description p {line-height: 1.4em;}

/* Place */
.place .list.l3 ul li {height:85px;}
/*.place .list.l3 ul li .picture {height:100%;width:100px;background-position:center center;background-size:cover;background-repeat:no-repeat;}*/
.place .list.l3 ul li .details {height:75px;margin-top:10px;margin-bottom:0px;}
.place .list.l3 ul li .details.has_label {height:75px;margin-top:5px;}
/*.place .list.l3 ul li .details.has_picture {left:110px;}*/
.place .list.l3 ul li .details .title {height:14px;font-size:13px;}
.place .list.l3 ul li .details .address {height:27px;margin:10px 0;overflow:hidden;}
.place .list.l3 ul li .details.has_label .address {margin:3px 0;}
.place .list.l3 ul li .details .address span,
.place .list.l3 ul li .details .distance span {font-size:12px;line-height:13px;}

.place .list.l3 .filters.subheader {
    position:relative;
    height:35px;
    padding:5px;
}

.place .list.l3 .filters .listing,
.place .list.l3 .filters .filter {
    position:absolute;
    left:0;
    right:0;
}

.place .list.l3 .filters .listing {
    text-align:center;
    padding:5px;
}
.place .list.l3 .filters .filter {
    display:inline-block;
    top:0;
    left:35px;
    height:33px;
    padding:7px 0 6px 0;
}
.place .list.l3 .filters .filter.back {
    left:0px;
    height:45px;
    padding:0;
}
.place .list.l3 .filters .filter.back button {
    position: relative;
    width: auto;
    height: 45px;
    margin: 0px;
    border: none;
    box-shadow: none;
    z-index: 20;
}
.place .list.l3 .filters .filter.back button div {
    width: 29px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 20px;
}
.place .list.l3 .filters .listing ul li {
    display:inline-block;
    height:auto;
    padding:5px 5px 5px 17px;
    border:none;
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: left center;
}

.place .list.l3 .filters .listing ul li.border {border-bottom:1px solid;}
.place .list.l3 .filters .listing ul li.place_status {background-size:18px auto;}
.place .list.l3 .filters .listing ul li.place_label {background-size:17px auto;}
.place .list.l3 .filters .listing ul li.geolocation {background-size:12px auto;}

.place .list.l3 .filters .search input {width:78%;}
.place .list.l3 .filters .search button {width:16%;height:32px;margin:0 2% 0 0;box-shadow:none;}

.place .list.l3 .filters .geolocation {left:35px;height:30px;padding:8px 0;}
.place .list.l3 .filters .geolocation label {height:30px;line-height:30px;}
.place .list.l3 .filters .geolocation .segmented_control {margin-right:10px;}

.place .list.l3 .filters .label {margin-top:1px;}
.place .list.l3 .filters .label .segmented_control {position:absolute;left:0;right:10px;}
.place .list.l3 .filters .label .segmented_control .element {width:25%;border-left:none;border-right:none;}
.place .list.l3 .filters .label .segmented_control .element.first {border-left:1px solid;}
.place .list.l3 .filters .label .segmented_control .element.last {border-right:1px solid;}

.place .list.l3 .filters .status .segmented_control .element {width:33%;border-left:none;border-right:none;line-height:12px;}
.place .list.l3 .filters .status .segmented_control .element.first {border-left:1px solid;}
.place .list.l3 .filters .status .segmented_control .element.last {border-right:1px solid;}

/* specific to mcommerce-product view */
.mcommerce-product .product_view .area {
    margin-top: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.mcommerce-product .product_view .picture img {
    border-radius: 7px;
    width: 100%;
}
.mcommerce-product .product_view .rn-carousel-indicator{
    border-radius: 7px;
    background-color: transparent;
}
.mcommerce-product .product_view .rn-carousel-slide {
    vertical-align: middle;
}
.mcommerce-product .product_view p.product_price span.price, .mcommerce-product .product_view p.product_price span.price_from {
    vertical-align:middle;
    font-size: 20px;
}

.mcommerce-product .product_view .add_to_cart {
    margin: 10px 0;
}
.mcommerce-product .product_view .add_to_cart button {
    width:auto;
    height:45px;
    padding:0 15px;
    font-size:18px;
    float: right;
}
.mcommerce-product .product_view .formats {
    padding:10px 0;
}
.mcommerce-product .product_view .formats select {
    height: 30px;
    width: 100%;
}
.mcommerce-product .product_view .options {
    padding:10px 0;
}
.mcommerce-product .product_view .options select {
    width: 98%;
    height:30px;
}
.mcommerce-product .product_view table{
    width:100%;
}
.mcommerce-product .product_view table td.half{
    width:50%;
}
.mcommerce-product .description {
    cursor: pointer;
}
.mcommerce-product .description .truncated{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mcommerce-product .product-options .row{
    width: 100%;
    margin: 0;
    padding: 0;
}
.mcommerce-product .product-options .row .col{
    padding: 5px 0px;
    display: inline-block;
    margin: 0;
    float: left;
}
.mcommerce-product .product-options .row .col.select-option-val{
    width: 70%;
}
.mcommerce-product .product-options .row .col.select-option-qty{
    width: 30%;
}

.mcommerce-product .product-options select {
    height: 30px;
    width: 90%;
    margin:3px;
}

.mcommerce-product .product-options select option.label{
    font-weight: bold;
    font-style: italic;
}

/* specific to mcommerce-cart & mcommerce-sales-confirmation view */

.mcommerce-cart h2, .mcommerce-sales-confirmation h2 {
    font-size: 17px;
    margin: 0 0 10px 0
}

.mcommerce-cart .cart_continue_shopping {
    height:50px;
    padding-bottom:70px;
}

.mcommerce-cart .cart_lines .cart_line {
    width: 100%;
    position: relative;
    min-height:120px;
}

.mcommerce-cart .cart_lines .cart_line .total_line_cart{
    padding-top:5px;
    font-size:15px;
}

.mcommerce-cart .cart_line .picture, .mcommerce-sales-confirmation .picture{
    float: left;
    width: 70px;
    margin: 0 10px 5px 0;
    padding: 0;
    border: 0;
}

.mcommerce-cart .cart_line .details, .mcommerce-sales-confirmation .details {
    float: right;
    width: calc(100% - 90px);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    overflow: hidden;
}

.mcommerce-cart .cart_line .details .remove_line, .mcommerce-sales-confirmation .details .remove_line {
    position:absolute;
    right:10px;
}

.mcommerce-cart .details .product-prices, .mcommerce-cart .details .product-options,
.mcommerce-sales-confirmation .details .product-prices, .mcommerce-sales-confirmation .details .product-prices {
    position:absolute;left:90px;right:45px;
}
.mcommerce-sales-confirmation .details .product-prices, .mcommerce-sales-confirmation .details .product-prices {
    right:10px;
}

.mcommerce-cart .picture .product-picture, .mcommerce-sales-confirmation .picture .product-picture {
    width: 70px;
    height: 70px;
    margin: 10px 10px 0 6px;
}

.mcommerce-cart .details .product-name, .mcommerce-sales-confirmation .details .product-name {
    font-weight: bold;
    margin: 5px 0;
}

.mcommerce-cart .details .product-details, .mcommerce-sales-confirmation .details .product-details {
    margin: 5px 0;
}
.mcommerce-cart .remove, .mcommerce-sales-confirmation .remove,
.mcommerce-cart .more, .mcommerce-sales-confirmation .more{
    display: inline-block;
    width: 25px;
    height: 30px;
}
.mcommerce-cart img.picto, .mcommerce-sales-confirmation img.picto{
    width: 100%;
}
.mcommerce-cart .title, .mcommerce-sales-confirmation .title{
    margin: 10px 0;
}
.mcommerce-cart a, .mcommerce-sales-confirmation a{
    cursor: pointer;
}

.mcommerce-cart .product-options p, .mcommerce-sales-confirmation .product-options p{
    margin: 2px 0;
}
.mcommerce-cart .cart_lines i.icon-cart:before{font-size:63px;}

/* specific to mcommerce-sales-customer view */

.mcommerce-sales-customer .label{
    text-align: left;
}


/* specific to mcommerce-sales-delivery view */
.mcommerce-sales-delivery .choose-store-label{
    display: block;
    margin-bottom: 10px;
}

.mcommerce-sales-delivery .delivery-method-option{
    padding:5px;
    cursor: pointer;
}
 .mcommerce-sales-delivery .delivery-method-option input{
    min-height: 0;
    cursor: pointer;
}   
 .mcommerce-sales-delivery .delivery-method-option label{
    cursor: pointer;
}   

.mcommerce-sales-delivery .delivery-method-option input[type="radio"] {
    width: 30px;
}

/* specific to mcommerce-sales-payment view */

.mcommerce-sales-payment .payment-method-option {
    padding: 5px;
    cursor: pointer;
}

.mcommerce-sales-payment .payment-method-option input {
    min-height: 0;
    cursor: pointer;
}

.mcommerce-sales-payment .payment-method-option label {
    cursor: pointer;
}

.mcommerce-sales-payment .payment-method-option input[type="radio"] {
    width: 30px;
}

/* Padlock */
.padlock .content {position:absolute;top:50%;left:4%;right:4%;margin-top:-75px;}
.padlock .content .buttons {margin-top: 45px;}
/* /Padlock */

/* Audio */
.media-gallery-music-common .media-music-tabs ul {
    padding: 0;
    margin: 5px;
    list-style-type: none;
}
.media-gallery-music-common .media-music-tabs li {
    margin-left: 2px;
    display: inline-block;
    width: 32%;
}
.media-gallery-music-common .media-music-tabs ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 6px 14px;
    background: transparent;
    color: white;
}
.media-gallery-music-common .media-music-tabs ul li a.active {
    background: white;
    color: black;
    border-radius: 3px;
}
.media-gallery-music-common .read-all-button {
    clear: both;
    display: block;
    width: 100%;
    padding: 15px 0;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #ddd;
    color: #666;
    font-weight: bold;
    text-align: center;
}
.media-gallery-music-common .boxes-area {
    text-align: center;
    vertical-align: top;
}
.media-gallery-music-common .media-box {
    display: inline-block;
    max-width: 138px;
    background: #ccc;
    margin: 10px;
    cursor: pointer;
    vertical-align: top;
}
.media-gallery-music-common .media-box li.small-cover {
    display: inline-block;
    width: 67px;
    height: 67px;
    margin: 1px;
    margin-bottom: 0px;
    vertical-align: top;
}
.media-gallery-music-common .media-box li.cover {
    display: inline-block;
    width: 138px;
    height: 138px;
    margin-bottom: 0px;
    vertical-align: top;
}
.media-gallery-music-common .media-box li.cover img {
    width: 100%;
    height: 100%;
}
.media-gallery-music-common .media-box .description-area {
    background: white;
    padding: 5px;
}
.media-gallery-music-common .media-box .description-area .playlist-name {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0 0 0;
}
.media-gallery-music-common .media-box .description-area .metrics {
    color: black;
    padding-top: 3px;
}
.media-gallery-music-common .media-box .description-area .metrics,
.media-gallery-music-common .media-box .description-area .metrics * {
    font-size: 10px;
    margin: 5px 0;
}

.media-gallery-music-common .media-music-tabs a:not(.active){
    cursor: pointer;
}
.media-gallery-music-common .read-all-button{
    cursor: pointer;
}

.media-gallery-music-album .cover-area {
    float: left;
}
.media-gallery-music-album .description-area {
    width: calc(100% - 130px);
    float: left;
    margin-left: 20px;
}
.media-gallery-music-album .presentation {
    position: relative;
    height: 75px;
    margin-bottom: 30px;
    padding: 10px 10px 0;
    border: 1px solid white;
    border-width: 0 0 1px 0;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
}
.media-gallery-music-album .presentation .cover {
    border: 3px solid #ffffff;
    box-shadow: 1px 1px 4px #000000;
    width: 100px;
    height: 100px;
}
.media-gallery-music-album .playlist-name {
    height:13px;
    font-weight:bold;
    line-height:100%;
    padding:3px 0;
    overflow:hidden;
}
.media-gallery-music-album .artist-name,
.media-gallery-music-album .metrics,
.media-gallery-music-album .metrics * {
    padding: 2px 0;
    font-size: 12px;
}

.media-gallery-music-album .presentation .read-all-button {
    padding: 10px 0;
    margin: 0px;
    font-weight: bold;
    display: inline-block;
    background: transparent;
    border: 0;
    color: white;
    text-align: left;
    clear: none;
    position: absolute;
    bottom: -35px;
}
.media-gallery-music-common .tracks-list {
    margin-top: 10px;
}
.media-gallery-music-common .tracks-list .track-details {
    cursor: pointer;
}
.media-gallery-music-common .tracks-list .track-details > td {
    padding-bottom: 15px;
}

.media-gallery-music-common .tracks-list .track-details .track-description .track-name {
    font-weight: bold;
    padding-bottom: 5px;
}
.media-gallery-music-common .tracks-list .track-details .track-number {
    width: 30px;
    text-align: right;
    padding-top: 2px;
    padding-right: 10px;
    font-size: 11px;
    vertical-align: top;
}
.media-gallery-music-common .tracks-list .track-details .track-duration {
    width: 50px;
    padding-right: 25px;
    vertical-align: top;
}
.media-gallery-music-player {
    padding: 13px;
}
.media-gallery-music-player .player-controls i:before{font-size: 20px}


.media-gallery-music-player,
.media-gallery-music-player .header{
    background: black !important;
}

.media-gallery-music-player .player-header {
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    z-index:1;
}
.iOS7 .media-gallery-music-player .player-header {
    padding-top: 21px;
}
.media-gallery-music-player .player-header .title {
    float: left;
    font-weight: normal;
    padding: 10px;
}
.media-gallery-music-player .player-header .actions {
    float: right;
    text-align: center;
    padding: 5px;
    width:100%;
}
.media-gallery-music-player .player-header .actions:after {
    content: '';
    display: block;
    clear: both;
}
.media-gallery-music-player .player-header .action-link {
    display: inline-block;
    width: 90px;
    padding: 3px 6px 3px 15px;
    cursor: pointer;
    text-align: left;
}
.media-gallery-music-player .player-header .action-label {
    display: inline;
    font-size: 10px;
    padding-top: 1px;
}
.media-gallery-music-player .actions-bar {
    clear: both;
    padding: 10px;
    border-top: 1px solid white;
    background: black;
}
.media-gallery-music-player .actions-bar .action-link {
    display: inline-block;
    width: 30px;
    padding: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.media-gallery-music-player .actions-bar .action-link img.repeat-img {
    width: 19px;
    height: 17px;
}
.media-gallery-music-player .actions-bar .action-link img.random-img {
    width: 25px;
    height: 17px;
}
.media-gallery-music-player .actions-bar .action-link img.trash-img {
    width: 12px;
    height: 13px;
}
.media-gallery-music-player .actions-bar .action-link img.cart-img {
    width: 19px;
    height: 17px;
}
.media-gallery-music-player .actions-bar .action-link img.share-img {
    width: 21px;
    height: 17px;
}
.media-gallery-music-player .tracks-list {
    width: 100%;
    margin-top: 85px;
    margin-bottom: 110px;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    -webkit-overflow-scrolling:touch;
}
.iOS7 .media-gallery-music-player .tracks-list {
    margin-top: 106px;
}
.media-gallery-music-player .tracks-list .track-details {
    cursor: pointer;
}
.media-gallery-music-player .tracks-list .track-details.current * {
    color: #04bdfe;
}
.media-gallery-music-player .tracks-list .track-details > td {
    padding-bottom: 15px;
}
.media-gallery-music-player .tracks-list .track-details .track-description .track-name {
    padding-bottom: 5px;
    font-size: 11px;
}
.media-gallery-music-player .tracks-list .track-details .track-number {
    width: 15px;
    text-align: right;
    font-size: 11px;
    vertical-align: top;
}
.media-gallery-music-player .tracks-list .track-details .track-duration {
    width: 20px;
    text-align: right;
    padding: 0 25px 0 8px;
    vertical-align: top;
    font-size: 11px;
}
.media-gallery-music-player .play-button {
    text-align: center;
    width: 25px;
    padding: 0;
}
.media-gallery-music-player .play-button-image-container {
    margin-top: -5px;
}
.media-gallery-music-player .play-button img {
    height: 9px;
    width: 9px;
    margin: 0;
    padding: 0;
}
.media-gallery-music-player .player-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 105px;
    width: 100%;
    border-top: 1px solid white;
}
.media-gallery-music-player .player-footer>.player-controls{
    margin-top:10px;
}
.media-gallery-music-player .player-footer .currently-played {
    padding: 10px;
    height: 15px;
}
.media-gallery-music-player .player-footer .currently-played .play-button {
    text-align: left;
    width: 25px;
}
.media-gallery-music-player .player-footer .progress-area {
    padding: 10px;
    height: 20px;
}
.media-gallery-music-player .player-footer .progress-area table {
    width: 100%;
}
.media-gallery-music-player .player-footer .progress-area .played-time {
    width: 50px;
}
.media-gallery-music-player .player-footer .progress-area .duration {
    width: 50px;
    text-align: right;
}
.media-gallery-music-player .player-footer .player-controls {
    padding: 5px 10px;
}
.media-gallery-music-player .player-footer .player-controls .control-group {
    vertical-align: middle;
}
.media-gallery-music-player .player-footer .player-controls .control-group.centered-group {
    margin: auto;
    text-align: center;
}
.media-gallery-music-player .player-footer .player-controls .control-group.left-group {
    float: left;
}
.media-gallery-music-player .player-footer .player-controls .control-group.right-group {
    float: right;
}
.media-gallery-music-player .player-footer .player-controls .control {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    padding: 0;
}
.media-gallery-music-player .player-footer .player-controls .control a {
    width:30px;
}
.media-gallery-music-player .share-area {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    z-index: 9999;
}
.media-gallery-music-player .share-area .close-button {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #000000;
    display: block;
    font-family: 'Open Sans' !important;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: auto auto 40px;
    text-align: center;
    top: 40px;
    width: 150px;
    cursor: pointer;
}
.media-gallery-music-player .share-area a.button.icon-close{
    position: absolute;
    background-color: transparent !important;
    top: 20px;
    right: 20px;
    box-shadow: none;
}
.media-gallery-music-player .share-area .buttons.share{
    position: relative;
    top:32%;
}
.media-gallery-music-player .share-area .buttons.share li{
        display: inline-block;
        width:24%;
        padding: 8px;
        margin-right: 2px;
}
.media-gallery-music-player .share-area .buttons.share li a{
    height: auto !important;
    margin: 0 !important;
    width:100%;
}
.media-gallery-music-player .share-area .share-link {
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans' !important;
    height: 90px;
    margin: 0 10px 20px;
    text-align: center;
    width: 70px;
    cursor: pointer;
}
.media-gallery-music-player .share-area .share-link img {
    border: 1px solid #fff;
    border-radius: 6px;
    margin-bottom: 10px;
}

.media-gallery-music-playlist-tracks .tracks-list {
    /*position: absolute;*/
    top: 120px;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    overflow: auto;
}/**/
.media-gallery-music-player .player-header .action-link.right{
    text-align: right;
    padding-right: 10px
}
.media-gallery-music-player .player-header .action-link span{
    font-size: 17px;
}
.media-gallery-music-player .player-header .action-link .action-label{display: inline;}
.media-gallery-music-player .track-info .background-cover{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: 50%;
}
.media-gallery-music-player .track-info .track-title{
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 55%;
    font-size: 27px;
}
.media-gallery-music-player .track-info{
    text-align:center;
    color:#FFFFFF;
    z-index:0;
}
.media-gallery-music-player .track-info .track-artistName{
    font-size: 21px;
}
.filter-black{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    position: absolute;
    top: 0;
}

.player-link {
    left: 0px;
    position: fixed;
    top: 50%;
    z-index: 100;
    cursor: pointer;
}
.truncated-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.truncated-table {
    /*
    http://stackoverflow.com/questions/5932018/fluid-table-with-td-nowrap-text-overflow
*/
    width: 100%;
    table-layout: fixed;
}
.siberian-slider {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 100%;
    min-height: 10px;
}
.siberian-slider .bar {
    position: absolute;
    top: 4px;
    left: 0;
    height: 5px;
    border-radius: 3px 3px 3px 3px;
}
.siberian-slider .bar.progress {
    background: none repeat scroll 0 0 #04bdfe;
    width: 0%;
    z-index: 10;
}
.siberian-slider .bar.total {
    background: none repeat scroll 0 0 #949494;
    width: 100%;
}
/* MODAL */

.modal .width-50{width:50%;box-sizing:border-box}
.modal .width-100{width:100%;box-sizing:border-box}
.modal .overlay{position:absolute;z-index:9999;top:0;left:0;width:100%;height:100%;background-color:#000000;opacity: 0.8;}
.modal .dialog{z-index:10000;position: absolute;width: 80%;top: 20%;left: 10%;box-shadow: 4px 4px 80px #000;}
.modal .dialog .bt-ok{float:left;margin:0;border-top-left-radius: 0;border-top-right-radius: 0;box-shadow: none;}
.modal .dialog a.bt-ok {width:100%}
.modal .dialog .bt-ko{float:right;margin:0;border-top-left-radius: 0;border-top-right-radius: 0;border-bottom-left-radius:0;box-shadow: none}
.modal .dialog .bt-ok-double{border-bottom-right-radius:0}
.modal .dialog .bt-div{margin-top:1px;}
.modal .dialog .bt-div-double{padding-right:1px;}
.modal .dialog .bt-div .progress-bar-info {cursor:default;}
.modal .dialog .close{position: absolute;top: 3px;right: 5px;padding: 5px;cursor: pointer;font-size: 120%;display: inline-block;font-weight: bold;}
.modal .dialog .dialog-content{padding:10px;text-align: left;border-radius: 5px 5px 0 0;}
.modal .dialog .close-only{border-radius: 5px 5px 0 0;}
.modal .dialog .dialog-content p{margin:5px 0;}
.modal .dialog .dialog-content .title{margin:0;padding:5px;font-weight:bold;font-size:17px;text-align:center}
.modal .dialog .dialog-content .content{text-align:justify;padding:5px}
.modal .dialog .dialog-content .progress {width:100%;height:20px;border:1px solid;border-radius:4px;}
.modal .dialog .dialog-content .progress-bar {cursor:default;height:100%;width:0%;border-radius:4px;-webkit-transition:width 0.5s ease 0s;-moz-transition:width 0.5s ease 0s;-o-transition:width 0.5s ease 0s;transition:width 0.5s ease 0s;}

/*INPUT NUMBER*/
.input-number{width:100%;clear:both}
.input-number .text-right{text-align:right}
.input-number .toggle-left{display:inline-block;border-radius: 3px 0px 0px 3px;text-align:center;font-weight:bold;font-size:22px}
.input-number .toggle-right{display:inline-block;border-radius: 0px 3px 3px 0px;text-align:center;font-weight:bold;font-size:22px}
.input-number .number{display:inline-block;background-color:#FFFFFF;color:#000000;text-align:center;}
.input-number .label{display:inline-block;font-size:15px;font-weight:bold}

/*PN TOPICS*/
/*.topic_list .bkg-color{background-color: rgba(255,255,255,0.3);}*/
.topic_list .img{padding:3px}
.topic_list .justify{text-align:justify}
.topic_list .li-child{margin-bottom:1px}
.topic_list .margin-bottom{margin-bottom: 5px}
.topic_list .padding-title{padding-left:5px}
.topic_list .paragraph_child{margin-left:25px}
.topic_list .td-desc{padding:5px;text-align:justify;padding-bottom: 10px;}
.topic_list .title{font-weight:bold;padding-top: 10px;padding-bottom: 0;}
.topic_list .title-father{border-bottom:1px solid;height:40px}
.topic_list .td-title-father{text-align:center;padding-top:5px}
.topic_list div p{line-height: 1.2;}

.topic_list.l2 ul li{display: inline-block;width: 44%;height: 130px;text-align: center;padding: 5px;margin:4px;}
.topic_list.l2 ul li .td-desc{text-align: center;}
.topic_list.l2 ul li .title{padding-left: 0;text-align: center;padding-bottom: 5px}
.topic_list.l3 ul li{padding:5px 0;}
.topic_list.l3 ul li label.sb-toggle{width:12px;height:56px;padding:3px;}
.topic_list.l3 ul li .sb-toggle-handle.checked{left:0px;top:37px;}
.topic_list.l3 ul li .sb-toggle-handle{left:0;}
.topic_list.l3 ul li .sb-toggle-label:before,.topic_list.l3 ul li .sb-toggle-label:after{content: none;}

.topic-label{padding:5px 3px;background-color: rgba(255,255,255,0.3);}
.margin-label-topic{margin:0 0 5px}
/* TOGGLE SWITCH */
.sb-toggle{position:relative;display:inline-block;vertical-align:top;width:56px;height:20px;padding:1px;background-color:white;border-radius:18px;cursor:pointer;}
.sb-toggle-input{position:absolute;top:0;left:0;opacity:0;width:100%;z-index:9999;}
.sb-toggle-label{position:relative;display:block;height:inherit;text-transform:uppercase;background:#C8CBCD;border-radius:inherit;-webkit-transition:0.15s ease-out;-moz-transition:0.15s ease-out;-o-transition:0.15s ease-out;transition:0.15s ease-out;-webkit-transition-property:opacity background;-moz-transition-property:opacity background;-o-transition-property:opacity background;transition-property:opacity background;}
.sb-toggle-label:before,.sb-toggle-label:after{position:absolute;top:50%;margin-top:-.5em;line-height:1;-webkit-transition:inherit;-moz-transition:inherit;-o-transition:inherit;transition:inherit;}
.sb-toggle-label:before{content:attr(data-off);right:6px;color:#aaa;}
.sb-toggle-label:after{content:attr(data-on);left:11px;opacity:0;}
.sb-toggle-input:checked~.sb-toggle-label{background:#47a8d8;}
.sb-toggle-input:checked~.sb-toggle-label:before{opacity:0;}
.sb-toggle-input:checked~.sb-toggle-label:after{opacity:1;}
.sb-toggle-handle{position:absolute;top:2px;left:2px;width:18px;height:18px;background:white;border-radius:10px;box-shadow:1px 1px 5px rgba(0,0,0,0.2);-webkit-transition:all 0.15s ease;-moz-transition:all 0.15s ease;-o-transition:all 0.15s ease;transition:all 0.15s ease;}
.sb-toggle-handle.checked{left:38px;}
.sb-toggle-green>.sb-toggle-input:checked~.sb-toggle-label{background:#4fb845;}

/** HOMEPAGE IMAGES SLIDER **/
.home_slider div.carousel .rn-carousel-container { position: absolute; top: 0; left: 0; right: 0; bottom: 0; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 15px; }
.home_slider div.carousel ul { height: 100%; }
.home_slider div.carousel ul li div { height: 100%; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center; }

/*WEATHER */
.weather{padding:0}
.weather .city{font-size:25px;padding-bottom: 15px;}
.weather .date{padding-bottom:10px}
.weather .change-location{font-size:11px}
.weather .error-p{font-size:18px;margin:0}
.weather .error-img{padding:18px;margin:0}
.weather .current_weather .bkg-weather{background-color:rgba(255,255,255,0.3);padding:10px;}
.weather .current_weather .display-current{margin-bottom: 35px;}
.weather .current_weather .more-details{font-size:11px;padding-top:15px;}
.weather .current_weather .provider-right{font-size:11px;padding-top:35px;}
.weather .current_weather .temp{font-size:80px;}
.weather .current_weather .temp-fork{font-size:25px;}
.weather .current_weather .forecast-padding{padding-bottom: 15px;}
.weather .current_weather_details {margin-bottom:0}
.weather .current_weather_details .heading{height: 60px;font-weight:bold}
.weather .current_weather_details .cell{padding:5px;height:20px}
.weather .change_location .cell{padding:5px;height:20px}
.weather .change_location input[type=text]{width:98%}
.weather .change_location input[type=checkbox]{vertical-align:middle}
.weather .change_location select{width:100%}

/* TIPS CALCULATOR */
.tips_calculator{box-sizing: border-box}
.tips_calculator label{padding:5px;font-weight:bold}
.tips_calculator .row-100 {box-sizing: border-box;width:100%;padding: 5px;float:left;}
.tips_calculator .row-50 {box-sizing: border-box;width:50%;padding: 5px;float:left;}
.tips_calculator .control {width:95%;margin-top:5px}
.tips_calculator .display-global-tip {width:100%;font-size:75px;text-align:center;height:130px;padding-top: 25px;float: left;}
.tips_calculator .display-other-tip {width:100%;font-size:35px;text-align:center;float: left;}

/* MAPS */
.maps .locations{width:100%;padding:5px}
.maps .locations input[type=text]{width:100%;background-color: rgba(255,255,255,0.3)}
.maps .locations .cell{padding:4px 5px 2px 2px;}
.maps .error{padding:5px}
.maps .mode ul {width:100%;padding-top:10px}
.maps .mode ul li{display:inline-block;width:32%;text-align: center;padding-bottom:3px}
.maps .mode ul li.selected{border-bottom:2px solid;}
.maps .map-canvas{width:100%;height:250px;}
.maps #instructions{background-color:#FFFFFF}
.maps #instructions button{background-color:#FFFFFF}

/*ACCOUNT*/
.customer_account input[type="submit"]{height:39px;font-size:14px;}
.customer_account .customer_register input[type="submit"],.edit_account .customer_register input[type="submit"]{margin-bottom:15px;}
.customer_register fieldset,.edit_account fieldset{position: relative;width: 100%;height: 100px;}
.customer_register input[type="radio"],.edit_account input[type="radio"] {display: none;}
.customer_register input[type="radio"]+label,.edit_account input[type="radio"]+label{position: absolute; width: 100px !important;text-align: center;top:75px;}
.customer_register input[type="radio"]+label.man,.edit_account input[type="radio"]+label.man{left: -5px;}
.customer_register input[type="radio"]+label.woman,.edit_account input[type="radio"]+label.woman{right: -5px;}
.customer_register input[type="radio"]+label:before,.edit_account input[type="radio"]+label:before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top:-85px;
    left: 10px;
    background-size: cover;
    opacity:0.5;
}
.customer_register input#man[type="radio"]+label:before,.edit_account input#man[type="radio"]+label:before {background-image: url('http://d15oktd9tyyxdq.cloudfront.net/man-civility.png');}
.customer_register input#woman[type="radio"]+label:before,.edit_account input#woman[type="radio"]+label:before {background-image: url('http://d15oktd9tyyxdq.cloudfront.net/woman-civility.png');}
.customer_register input[type="radio"]:checked+label,.edit_account input[type="radio"]:checked+label {font-weight: bold;}
.customer_register input[type="radio"]:checked+label:before ,.edit_account input[type="radio"]:checked+label:before {opacity: 1;}

.customer_account header.page_header{z-index:1;}
.customer_account .background_account{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.customer_account .login_content{position: relative;}
.customer_account form ul li input[type="text"],.customer_account form ul li input[type="password"],.customer_account form ul li input[type="email"]{opacity: 0.8;margin: 5px 0;}
.customer_account form p,.customer_account form label{color:#FFFFFF !important;}
.customer_account form .create_link{margin:25px 0;}
.customer_account form p{text-align: center;}
.customer_account form p input{width: 100px;}
.customer_account #btn_forgot_password{text-decoration: underline;font-style: italic;color:#BBBBBB;font-size:11px;}
.customer_account form .create_link a#btn_create_account{font-size: 16px;color: #FFFFFF;font-style: normal;width:70%;}
.customer_account .customer_register form,.customer_account .edit_account form{position: relative;}
.customer_account .customer_register .image_create img,.customer_account .edit_account .image_create{
    width: 100px !important;
    height: 100px;
    border: 3px solid #FFFFFF;
    padding: 0;
    margin: -80px auto 20px;
}
.customer_account .edit_account .image_create img{width:100%;height: 100%;border:0 !important;border-radius: 0;}
.customer_account .edit_account .transformon{display: inline;margin-right: 10px;}
.customer_account .edit_account .new_image{display: block;margin-top: -50px;width:90px;padding:0;margin-left: 70%;}
.customer_account .edit_account .new_image img{width:37px;height:37px;border:solid 2px #FFFFFF; border-radius:8px;}
.customer_account .customer_register #label_privacy_policy{display: inline;}
.customer_account .edit_account button.disconnect{box-shadow: none;background-color: transparent;text-transform: uppercase;text-decoration: underline;color:#FFFFFF;}
.customer_account .edit_account form ul li.submit_button{text-align: center;}
.customer_account .edit_account .notif_button{display: block;color: #FFFFFF;position: relative;width: 30%;left: 50%;margin-left: -15%;margin-top: 25px;margin-bottom: -40px;text-align: center;z-index: 10;}
.customer_account .edit_account .notif_button i{display:block;margin-bottom: 15px;}
.customer_account .edit_account .notif_button i:before{background-color: #9f0030;padding: 8px;border-radius: 50%;border: 2px solid #FFFFFF;}

/*POPUP*/
.popup .button-close{width: 80px !important;position: absolute;top: 40px;right: 20px;font-size:15px;}
.popup .button-close:before{padding-right: 5px;}
.popup ul.buttons{margin-top:30px;}
.popup ul.buttons li{width:60%;margin: 0 auto;padding: 0 !important;}
.popup ul.buttons.share li{display: inline-block;}
.popup ul.buttons li a{width:100%;}
.popup div.vertical-align ul.buttons.share li{display:inline-block;font-size: 16px;width:40%;height: 39px; line-height:39px;}
.popup div.vertical-align ul.buttons.share li:first-child{margin-right:15px;}

/*WEBLINK*/
.simple_link{height: 50px;line-height:50px;vertical-align: top;display: inline-block;margin-left:10px;cursor: pointer;font-weight: bold;font-size:18px;}
.weblink .links .link_cover{background-size: cover;height: 26,7%%; width: 100%;height:200px;background-position: 50% 50%;display:inline-block;}
.weblink .links .links_list li .link_image{background-size: cover;height: 26,7%%; width: 50px;height:50px;background-position: 50% 50%;display:inline-block;}
.weblink .links .links_list li .content_link{padding:10px;}
.weblink .links .links_list li .link_image.icon-website:before{font-size: 50px;}
.weblink .links .links_list.l1 li{height: 33%; width: 100%;}
.weblink .links .links_list.l2 li .link_image,.weblink .links .links_list.l3 li .link_image{border-radius:50%}
.weblink .links .links_list.l3{max-height: calc(100% - 290px);position: absolute;width: 100%;bottom: 10px;overflow-y: scroll;}
.weblink .links .links_list.l3 li .content_link{text-align: right;}
.weblink .links .links_list.l3 li .link_image{margin-left: 15px;}
.weblink .links .links_list.l4 li,.weblink .links .links_list.l5 li{text-align: center;}
.weblink .links .links_list.l5 li .content_link{position: relative;}
.weblink .content_link .filter{position: absolute;z-index: 1;width: 100%;height: 100%;top: 0;left: 0;}
.weblink .links .links_list.l5 li .content_link a{position: relative;z-index: 2;}

.weblink .submenu .links_list,.weblink .submenu .links_list .content_link,.weblink .submenu .links_list .content_link a{height: 100%;}
.weblink .submenu .links_list li{position:relative;height: 31%; width: 100%;}
.weblink .submenu .links_list li .link_image{height:100%;background-size: cover;background-position: 50% 50%;}
.weblink .submenu .links_list.l1 li .simple_link{height:42px;line-height: 42px;display: inherit;}
.weblink .submenu .links_list.l1 li .bg_simple_link{position:absolute;bottom:0;width:100%;height:42px;line-height:42px;}
.weblink .submenu .links_list.l2{margin-top:5px;}
.weblink .submenu .links_list.l2 li{display:inline-block;width:47%;height: 150px;margin:3px;}
.weblink .submenu .links_list.l2 li .content_link a span,.weblink .submenu .links_list.l3 li .content_link a span{position: absolute;top: 50%;width: 100%;margin-top: -25px;margin-left: 0;text-align: center;word-wrap:break-word;z-index: 2;}
.weblink .submenu .links_list.l4 li .bg_simple_link{position:absolute;width: 100%;top: 50%;margin-top: -25px;text-align: center;}
.weblink .submenu .links_list.l4 li .content_link a span{overflow: hidden;text-overflow: ellipsis;margin-left: 0;padding:0 6px;min-width: 100px;max-width: 80%;}
.weblink .submenu .links_list.l5 li .content_link a span{top:initial;bottom:3%;padding: 10px;text-align: left;}

.ul_weblink{height:calc(100% - 37px);}
.iOS7 .ul_weblink{height:calc(100% - 58px);}

.albums{height:calc(100% - 77px);}
.iOS7 .albums{height:calc(100% - 98px);}

