<div class="has_header media-gallery-music-common" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_('Back' ) ?>'" title="title" message="message" right-button="header_right_button"></sb-header>
    <div class="scrollable_content" ng-bind-html="lyrics | trusted_html" style="text-align: center;margin-top:10px; padding-left:10px;padding-right:10px"><div class="clear" style="height:20px"></div></div>