<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>
<div class="player">
    <div class="player-header">
        <div class="actions">
            <a class="action-link left" ng-click="hide()">
                <i class="icon-hide"></i>
                <span class="action-label"><?php echo $this->_('hide') ?></span>
            </a>
            <a class="action-link right" ng-click="close()">
                <i class="icon-close"></i>
                <span class="action-label"><?php echo $this->_('close') ?></span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="track-info">
        <div class="currently-played background-cover" style="background-image:url('{{player.getCurrentTrack().bigArtwork}}')">
            <div class="filter-black"></div>
        </div>
        <div class="track-title" ng-if="player.getCurrentTrack()">
            <p class="track-title">{{ player.getCurrentTrack().name }}</p>
            <p class="radio-track-title">{{ radioTrackTitle }}</p>
            <p class="track-artistName">{{ player.getCurrentTrack().artistName }}</p>
        </div>
        
    </div>
    <div class="player-footer">
        <div class="progress-area">
            <table>
                <tr>
                    <td class="played-time">
                        <span ng-if="ellapsedTime">{{ ellapsedTime }}
                        </span>
                        <span ng-if="!player.getCurrentTrack()">00:00</span>
                    </td>
                    <td class="progress-bar" slider data-value="{{progress}}" value-updated="updateTrackPosition(newValue, oldValue)">
                    </td>
                    <td class="duration">
                        <span ng-if="player.getCurrentTrack() && durationplayer!='Infinity:NaN'">{{ durationplayer }}</span>
                        <span ng-if="!player.getCurrentTrack()">00:00</span>
                    </td>
            </table>
        </div>
        <div class="player-controls">

            <div class="left-group control-group">
                <div class="control">
                    <a class="action-link" ng-click="player.control.toggleRepeatTrack()" ng-disabled="! player.getCurrentTrack()">
                        <i ng-show="player.status().repeatTrack" class="repeat-img icon-repeat"></i>
                        <i ng-hide="player.status().repeatTrack" class="repeat-img icon-repeat" style="color:#949494;"></i>
                   </a>
                </div>
                <div class="control">
                    <a class="action-link right" ng-click="share = true" >
                        <i class="icon-share"></i>
                    </a>
                </div>
            </div>
            <div class="right-group control-group">
                <div class="control">
                    <a class="action-link right" ng-if="player.getCurrentTrack().purchaseUrl" target="_blank" ng-href="{{ player.getCurrentTrack().purchaseUrl }}">
                        <i class="icon-cart"></i>
                    </a>
                </div>
                <div class="control">
                    <a class="action-link" ng-click="player.control.toggleRandom()">
                        <i ng-show="player.status().random" class="random-img icon-random"></i>
                        <i ng-hide="player.status().random" class="random-img icon-random" style="color:#949494;"></i>
                    </a>
                </div>
            </div>
            <div class="centered-group control-group">
                <div class="previous control">
                    <a ng-click="player.control.previous()">
                    <i class="icon-musicprev"></i>
                </a>
                </div>
                <div class="play control" ng-show="player.status().pausing">
                    <a ng-click="player.control.play()">
                    <i class="icon-play"></i>
                </a>
                </div>
                <div class="pause control" ng-show="player.status().playing">
                    <a ng-click="player.control.pause()">
                    <i class="icon-pause"></i>
                </a>
                </div>
                <div class="loading control" ng-show="player.status().loading">
                    <img width="17px" height="17px" src="<?php echo Media_Model_Library_Image::getImagePathTo('/player/loader.gif'); ?>" alt="<?php echo $this->_('loading') ?>" />
                </div>
                <div class="next control">
                    <a ng-click="player.control.next()">
                    <i class="icon-musicnext"></i>
                </a>
                </div>
            </div>
        </div>

    </div>
    <div class="share-area" ng-show="share">
        <div>
            <a class="button icon-close" ng-click="share = false">
                <?php echo $this->_('Close') ?>
            </a>
        </div>
        <?php $url = $this->getApplication()->getUrl().'application/mobile_landing_view';?>
         <ul class="buttons share">
            <li>
                <a class="share-link icon-facebook-small" target="<?php echo $target ?>" ng-href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $url;?>">
                    <!-- <img width="70px" height="70px" src="<?php //echo Media_Model_Library_Image::getImagePathTo('/player/FB-f-Logo__blue_144.png'); ?>"/> -->
                    Facebook
                </a>
                <input type=hidden id="twitterMessagePart1" value="<?php echo $this->_("I'm listening to") ?>" >
                <input type=hidden id="twitterMessagePart2" value="<?php echo $this->_("music") ?>" >
                <input type=hidden id="twitterMessagePart3" value="<?php echo $this->_("from") ?>" >
                <input type=hidden id="twitterMessagePart4" value="<?php echo $this->_("on") ?>" >
            </li>
            <li>            
                <a class="share-link icon-twitter-small" target="<?php echo $target ?>" ng-href="https://twitter.com/intent/tweet?text={{ twitterMessage() }}&url=<?php echo $url?>">
                    Twitter
                </a>
            </li>
            <li>
                <a class="share-link icon-mail-small" target="<?php echo $target ?>" ng-href="mailto:?body={{ twitterMessage() }} <?php echo $url ?>">
                    Email
                </a>
            </li>
        </ul>
    </div>
</div>