<div class="has_header media-gallery-music-common" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_('Back' ) ?>'" title="playlist.name" message="message" right-button="header_right_button"></sb-header>

    <div ng-if="locked === 1 && !is_logged_in">
        <?php echo $this->getPartialHtml("padlock"); ?>
    </div> 
    
    <div class="media-music-tabs" style="z-index: 99;position: fixed;width: 100%;" ng-if="(locked === 1 && is_logged_in) || locked === 2">
            <ul>
                <li style="width:31%">
                    <a class="active"><?php echo $this->_('Albums') ?></a>
                </li>
                <li style="width:31%">
                    <a ng-click="showPlaylistTracks()"><?php echo $this->_('Tracks') ?></a>
                </li>
                 <li style="width:32%;?>">
                   <a  ng-click="playAll()">
                        <?php echo $this->_('Read all') ?>
                    <i class="icon-play" style="font-size: 12px !important;"></i></a>
                </li>
            </ul>
        </div>

       <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <div class="scrollable_content albums" style="margin-top:40px;" albums-boxes albums="playlist.albums" on-album-selected="showAlbum(album)" ng-if="(locked === 1 && is_logged_in) || locked === 2"></div>
    </div>
