<div class="player-link" ng-show="visible">
    <a ng-click="openPlayer()">
        <img width="60px" height="50px" alt="Player" src="<?php echo Media_Model_Library_Image::getImagePathTo('/player/button_show.png'); ?>" style="margin-left:-3px;"/>
    </a>
</div>