<?php $current_link = $this->getCurrentLink() ?>
<?php $settings_links = array('push', 'url', 'api_keys', 'module'); ?>
<?php $resource = new Acl_Model_Resource(); ?>
<?php $editor_url = $resource->getFirstEditorResourceAllowed($this); ?>
<?php $applis=$this->getAdmin()->getApplications(); ?>
<?php 
    if(count($applis)==1){
        $apps=array();
        foreach ($applis as $key => $application) {
            $apps[]=$application;
        }
        $application=$apps[0]; 
    }
    else{
        $application=$this->getApplication();
    }
    ?>
<?php if($application) : ?>
<?php if(System_Model_Config::getValueFor("system_baseline") != "" || (System_Model_Config::getValueFor("system_baseline") != null)):?>
<div style="text-align:center;font-size:12px;margin-top:5px;"><?php echo ("©powered by ");?><a href="http://www.sincube.com" target="_blank"><u>Sincube</u></a></div>
<?php endif;?>
<div class="content">
    <div class="application_name left">
        <img id="header_app_icon" src="<?php echo $application->getIcon(); ?>" width="94" height="94" class="icon" />
        <p id="header_app_name" class="f-rounded"><?php echo $application->getShortName(); ?></p>
    </div>
    <div class="links submenu a-center right">
        <ul id="apps_menu" class="main_menu">
            <li>
                <a href="<?php echo $this->getUrl($editor_url); ?>" class="block edit header no-background<?php if($current_link == 'edit'): ?> active<?php endif; ?>">
                    <i class="icon-mobile-phone"></i>
                    <span class="f-bold toupper"><?php echo $this->_('App Editor'); ?></span>
                </a>
            </li>
            <?php if(System_Model_Config::getValueFor("system_website")==1):?>
                <li>
                    <a href="<?php echo $this->getUrl('application/website'); ?>" id="btn_show_settings" class="block url header no-background<?php if($current_link == 'url' OR $current_link == 'facebook'): ?> active<?php endif; ?>">
                        <i class="icon-desktop"></i>
                        <span class="f-bold toupper"><?php echo $this->_('Site Editor'); ?>
                    </a>
                </li>
            <?php endif;?>
            <?php if($this->_canAccess("promote")):?>
            <li>
                <a href="<?php echo $this->getUrl('application/promote'); ?>" class="block promote header no-background<?php if($current_link == 'promote'): ?> active<?php endif; ?>">
                    <i class="icon-bullhorn"></i>
                    <span class="f-bold toupper"><?php echo $this->_('Promote'); ?></span>
                </a>
            </li>
            <?php endif; ?>
            <?php if($this->_canAccess("analytics")):?>
            <li>
                <a href="<?php echo $this->getUrl('application/analytics'); ?>" class="block analytics header no-background<?php if($current_link == 'analytics'): ?> active<?php endif; ?>">
                    <i class="icon-line-chart"></i>
                    <span class="f-bold toupper"><?php echo $this->_('Analytics'); ?></span>
                </a>
            </li>
            <?php endif; ?>
            <?php if($this->_canAccess("users")):?>
            <li>
                <a href="<?php echo $this->getUrl('customer/application/list'); ?>" class="block customer header no-background<?php if($current_link == 'customer'): ?> active<?php endif; ?>">
                    <i class="icon-users"></i>
                    <span class="f-bold toupper"><?php echo $this->_('Users'); ?></span>
                </a>
            </li>
            <?php endif; ?>
            <?php //if($this->_canAccess("editor_settings")) : ?>
            <!--<li>
                <a href="<?php //echo $this->getUrl('application/settings'); ?>" id="btn_show_settings" class="block url header no-background<?php //if($current_link == 'url' OR $current_link == 'facebook'): ?> active<?php //endif; ?>">
                    <i class="icon-cog"></i>
                    <span class="f-bold toupper"><?php //echo $this->_('Settings'); ?></span>
                </a>
            </li>-->
            <?php //endif; ?>
            <li>
                <a href="<?php echo $this->getUrl('application/pricing'); ?>" id="btn_show_pricing" class="block url header no-background<?php if($current_link == 'url' OR $current_link == 'facebook'): ?> active<?php endif; ?>">
                    <i class="icon-euro"></i>
                    <span class="f-bold toupper"><?php echo $this->_('Pricing'); ?></span>
                </a>
            </li>
            <li>
                <a href="<?php echo $this->getUrl('application/alert'); ?>" id="btn_show_settings" class="block url header no-background<?php if($current_link == 'url' OR $current_link == 'facebook'): ?> active<?php endif; ?>">
                    <i class="icon-bell"></i>
                    <?php $comment = new Comment_Model_Comment();?>
                    <?php $reported_comments  =  $comment->getReportedComments($application);?>
                    <?php $reported_answers = $comment->getReportedAnswers($application);?>
                    <?php $nb_alert = count($reported_comments) + count($reported_answers);?>
                    <span class="f-bold toupper"><?php echo $this->_('Alerts'); ?>
                    <font style="color:red"><?php if($nb_alert > 0) echo " ".$nb_alert?></font></span>
                </a>
            </li>
            <li>
                <a class="support-sincube" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#115;&#105;&#110;&#99;&#117;&#98;&#101;&#46;&#99;&#111;&#109;"><?php echo $this->_('Contact support');?></a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<?php endif; ?>
<script type="text/javascript">
    $("#btn_show_settings").click(function() {
        $("#apps_menu").animate({right: -140, opacity: 0}, 300, null, function() {$(this).hide();});
        $("#apps_settings").show().animate({right: 0, opacity: 1}, 300);
    });
    $("#btn_hide_settings").click(function() {
        $("#apps_settings").animate({right: 140, opacity: 0}, 300, null, function() {$(this).hide();});
        $("#apps_menu").show().animate({right: 0, opacity: 1}, 300);
    });
</script>