<?php $level1 = $this->getCurrentMenu(); ?>
<?php $level2 = $this->getCurrentSubmenu(); ?>
<?php
$publication_type = System_Model_Config::getValueFor("system_publication_access_type");
$publish_type = $this->getAdmin()->getPublicationAccessType() ? $this->getAdmin()->getPublicationAccessType() : $publication_type;
?>
<?php
$has_previewer = Installer_Model_Installer::hasModule("previewer");
$previewer = null;
if($has_previewer && method_exists(new Previewer_Model_Previewer(), "getInstance")) {
    $previewer = Previewer_Model_Previewer::getInstance();
}
?>
<div class="menu list level1">
    <ul>
        <?php if ($this->getApplication()->getIsLocked() == 0):?>
            <?php if($this->_canAccess("editor_design")) : ?>
                <li class="first<?php if($level1 == 'design') : ?> f-bold active<?php endif; ?>" data-image="335" data-style="editor_menu" data-color="background_color<?php if($level1 == 'design') : ?>_on_active<?php endif; ?>">
                    <a href="<?php echo $this->getUrl('application/customization_design_style/edit'); ?>" class="editor_menu no-background<?php if($level1 == 'design') : ?> active<?php endif; ?>"><?php echo $this->_('Configuration'); ?></a>
                </li>
            <?php endif; ?>
            <?php if($this->_canAccess("editor_colors")) : ?>
                <li class="<?php if($level1 == 'colors') : ?>f-bold active<?php endif; ?>" data-image="337" data-style="editor_menu" data-color="background_color<?php if($level1 == 'colors') : ?>_on_active<?php endif; ?>">
                    <a href="<?php echo $this->getUrl('application/customization_design_colors/edit'); ?>" class="editor_menu no-background<?php if($level2 == 'colors') : ?> active<?php endif; ?>"><?php echo $this->_('Design'); ?></a>
                </li>
            <?php endif; ?>
            <?php if($this->_canAccess("editor_features")) : ?>
                <li class="<?php if($level1 == 'features') : ?>f-bold active<?php endif; ?>" data-image="337" data-style="editor_menu" data-color="background_color<?php if($level1 == 'features') : ?>_on_active<?php endif; ?>">
                    <a href="<?php echo $this->getUrl('application/customization_features/list'); ?>" class="editor_menu no-background<?php if($level1 == 'features') : ?> active<?php endif; ?>"><?php echo $this->_('Features'); ?></a>
                </li>
            <?php endif; ?>
            <?php if($this->_canAccess("editor_application")) : ?>
        <!-- <li class="<?php if($level1 == 'publication_app') : ?>f-bold active <?php endif; ?>wl_panel">
            <a href="<?php echo $this->getUrl('application/customization_publication_app'); ?>" class="editor_menu no-background<?php if($level1 == 'publication_app') : ?> active<?php endif; ?>"><?php echo $this->_('Application'); ?></a>
        </li> -->
            <?php endif; ?>
            <?php if($this->_canAccess("editor_publication")) : ?>
                <li class="<?php if($level1 == 'publication_infos') : ?>f-bold active <?php endif; ?>wl_panel">
                    <a href="<?php echo $this->getUrl('application/customization_publication_infos'); ?>" class="editor_menu no-background<?php if($level2 == 'publication_infos') : ?> active<?php endif; ?>"><?php echo $this->_('Publication'); ?></a>
                </li>
            <?php endif; ?>
            <?php if($has_previewer AND $previewer AND $previewer->getShowModalButton()==1 AND $this->_canAccess("previewer")): ?>
                <button id="previewer" class="default_button right"><?php echo $this->_('Preview on your phone'); ?></button>
            <?php endif; ?>
        <?php else:?>
            <?php if($this->_canAccess("editor_application")) : ?>
        <!-- <li class="<?php if($level1 == 'publication_app') : ?>f-bold active <?php endif; ?>wl_panel">
            <a href="<?php echo $this->getUrl('application/customization_publication_app'); ?>" class="editor_menu no-background<?php if($level1 == 'publication_app') : ?> active<?php endif; ?>"><?php echo $this->_('Application'); ?></a>
        </li> -->
            <?php endif; ?>
            <?php if($this->_canAccess("editor_publication")) : ?>
                <li class="<?php if($level1 == 'publication_infos') : ?>f-bold active <?php endif; ?>wl_panel">
                    <a href="<?php echo $this->getUrl('application/customization_publication_infos'); ?>" class="editor_menu no-background<?php if($level2 == 'publication_infos') : ?> active<?php endif; ?>"><?php echo $this->_('Payer'); ?></a>
                </li>
            <?php endif; ?>
            <?php if($has_previewer AND $previewer AND $previewer->getShowModalButton()==1 AND $this->_canAccess("previewer")): ?>
                <button id="previewer" class="default_button right"><?php echo $this->_('Preview on your phone'); ?></button>
            <?php endif; ?>
        <?php endif;?>
    </ul>

    <div class="clear"></div>
</div>

<?php if($this->_canAccess("editor_publication") AND $level1 == 'publication_infos' AND ($publish_type == 'info' OR !$this->getApplication()->subscriptionIsActive()) AND $this->getApplication()->canBePublished()) : ?>
<p class="ready_for_publish" style="display:inline;">
    <a class="bg-redpurple rounded publish_my_app" href="<?php echo $this->getUrl('application/customization/check'); ?>" onclick="reload(this, this.href, true); return false;"><?php echo $this->_('Choose my plan'); ?></a>
</p>
<?php if($this->getApplication()->getSubscription()->getSubscriptionId() && ($this->getApplication()->getSubscription()->getAskForPublish()==0)):?>
<p class="ready_for_publish" style="display:inline;">
    <a class="bg-redpurple rounded publish_my_app" onclick="openModal();"><?php echo $this->_('Ready ? Publish my app!'); ?></a>
</p>
<?php elseif($this->getApplication()->getSubscription()->getSubscriptionId() && ($this->getApplication()->getSubscription()->getAskForPublish()==1)):?>
<p class="ready_for_publish" style="background-color:gray !important;">
    <a class="bg-redpurple rounded publish_my_app" style="background-color:gray !important;"><?php echo $this->_('Your Application will be published soon'); ?></a>
</p>
<?php elseif($this->getApplication()->getSubscription()->getSubscriptionId() && ($this->getApplication()->getSubscription()->getAskForPublish()==2)):?>
    <p class="ready_for_publish" style="background-color:gray !important;">
    <a class="bg-redpurple rounded publish_my_app" style="background-color:gray !important;"><?php echo $this->_('Your Application is published'); ?></a>
    </p>
<?php else:?>
    <p class="ready_for_publish" style="background-color:gray !important;">
    <a class="bg-redpurple rounded publish_my_app" style="background-color:gray !important;"><?php echo $this->_('Choose Plan for asking publication'); ?></a>
    </p>
<?php endif;?>
<?php endif; ?>

<div id="modal_1" class="custom_modal" style="display:none;">
    <div id="modal_mask_1" class="modal_mask close_modal close_modal_1"></div>

    <div class="area no-background">
        <div id="modal_content_1" class="modal_content inner_content" style="min-height: 0px !important;height: 200px;">
            <h3 class="title">
                <span class="f-bold"><?php echo $this->_("Publish my app"); ?></span>
                <span class="right">
                   <!--  <button id="close_modal_1" class="inner_content close_modal close_modal_1" type="button">
                        <i class="icon-remove" style="color:#9f0030 !important" onclick="closeModal()"></i>
                    </button> -->
                    <i class="icon-close close_modal close_modal_1" onclick="closeModal()" style="color:#9F0030;cursor:pointer;"></i>
                </span>
                <div class="clear"></div>
            </h3>
            <p class="f-bold"><?php echo $this->_('Ready to publish your app, choose your option:');?></p>
                <div id="modal_details_1" class="modal_details">
                    <p class="ready_for_publish" style="display:inline;">
                        <a class="bg-redpurple rounded publish_my_app" href="<?php echo $this->getUrl('application/customization/sendpublishapp'); ?>"><?php echo $this->_('Publish with no add'); ?></a>
                    </p>
                    <?php $subscription_type = $this->getApplication()->getSubscription()->getSubscription();?>
                    <?php if($subscription_type->getUseAds()==1):?>
                        <p class="ready_for_publish" style="display:inline;">
                            <a class="bg-redpurple rounded publish_my_app" href="<?php echo $this->getUrl('application/customization/sendpublishapp?add=1'); ?>"><?php echo $this->_('Monetize my app *'); ?></a>
                        </p>
                        <br/>
                        <br/>
                        <p style="color:grey; font-size:12px;">*<?php echo $this->_("By choosing this option, you monetize your application thanks to advertising. Sincube will pay you annually 50&#37; of earnings generated.")?></p>
                    <?php else:?>
                        <p class="ready_for_publish" style="display:inline;background-color:gray !important;">
                            <a class=""><?php echo $this->_('Monetise my app (Enable for Starter, Advanced and Premium)'); ?></a>
                        </p>
                    <?php endif;?>
            </div>
        </div>
    </div>
</div>
<script>
function openModal(){
   document.getElementById("modal_1").style.display="block";
}
function closeModal(){
   document.getElementById("modal_1").style.display="none";
}
</script>
