<?php   $account_option = new Application_Model_Accountoption();
        $account_option = $account_option->find(array("app_id" => $this->getApplication()->getAppId()));
?>
<div>
    <div class="tabbar background-tabbar"></div>
    <ul class="tabbar">
        <li ng-repeat="option in features.options" ng-if="option.is_active" class="border-color">
            <a tabbar-items option="option" go-to-url="goToUrl(option)" ng-hide="layout.properties.options.current === option" class="item relative" target="_parent" title="{{ option.name }}">
                <div class="fullscreen"></div>
                <img ng-src="{{ option.icon_url }}" ng-class="{ colorable: option.icon_is_colorable }" width="30" height="30" title="{{ option.name }}" alt="{{ option.name }}" />
                <span class="block">{{ option.name }}</span>
                <div ng-if="option.code == 'push_notification' && pushs" class="badge menu_left">{{ pushs }}</div>
                <?php if ($account_option->getPushAccountIsActive() == "1"):?>      
                    <div ng-if="option.code == 'tabbar_account' && pushs" class="badge menu_left">{{ pushs }}</div>
                <?php endif;?>
            </a>
            <span ng-show="layout.properties.options.current === option" class="current item">
                <img ng-src="{{ option.icon_url }}" ng-class="{ colorable: option.icon_is_colorable }" width="30" height="30" title="{{ option.name }}" alt="{{ option.name }}" />
                <span class="block">{{ option.name }}</span>
                <div ng-if="option.code == 'push_notification' && pushs" class="badge menu_left">{{ pushs }}</div>
                <?php if ($account_option->getPushAccountIsActive() == "1"):?>      
                    <div ng-if="option.code == 'tabbar_account' && pushs" class="badge menu_left">{{ pushs }}</div>
                <?php endif;?>
            </span>
        </li>
    </ul>
</div>