<div sb-background-image value-id="'homepage'" close-on-click="close_on_click" ng-class="{background_image: style_background_image, close_on_click: close_on_click}" ng-style="style_background_image" ng-if="menu_is_visible">
	<?php if($this->getApplication()->getLayout()->getVisibility() == "toggle"):?>
   	 	<sb-header title-back="'<?php echo $this->_("Back") ?>'" ng-class="{override_mask: elements['header']}"></sb-header>
   	<?php endif;?>
    <sb-slider ng-if="homepage_slider_is_visible && homepage_slider_images" images="homepage_slider_images" autoslide-duration="homepage_slider_duration" loop-at-beginning="homepage_slider_loop_at_beginning"></sb-slider>
    <?php if($this->getApplication()->getLayout()->getVisibility() != "toggle"):?>
    	<div tabbar ng-class="{'transparent-background': tabbar_is_transparent}"></div>
    <?php endif;?>
</div>