<?php $color = $this->getApplication()->getBlock("news")->getColor() ?>

<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message"></sb-header>

        <div class="scrollable_content" sb-load-more factory="factory" id="scrollable" collection="collection" load-more="loadMore()">
            <div ng-if="locked === 1 && !is_logged_in">
                <?php echo $this->getPartialHtml("padlock"); ?>
            </div>  
            <div ng-if="(locked === 1 && is_logged_in) || locked === 2">
                    <div class="list l1">
                    <ul>
                        <li class="cover wait_content" ng-if="!cover_image_url" style="height:180px;width:100%;background-size:cover;background-position: 50% 0% !important;"></li>
                        <li class="cover" image-src="cover_image_url" sb-image ng-if="cover_image_url" style="height:180px;width:100%;background-size:cover;background-position: 50% 0% !important;"></li>
                    </ul>
                    <div ng-if="!cover_image_url">
                        <ul>
                        <?php for($i=1;$i<9;$i++):?>
                            <li class="slide-left">
                                <div width="37" height="37" class="logo left wait_content" style="border:solid 2px;margin-left:5px"/></div>
                                <p class="wait_content" style="margin-left: 60px;width: 70%;margin-top: 10px;height:5px;"></p>
                                <p class="wait_content" style="margin-left: 60px;width: 70%;margin-top: 10px;height:5px;"></p>
                                <p class="wait_content" style="margin-left: 60px;width: 70%;margin-top: 10px;height:5px;"></p>
                                <p class="wait_content" style="margin-left: 60px;width: 70%;margin-top: 10px;height:5px;"></p>
                            </li>
                        <?php endfor;?>
                        </ul>
                    </div>
                <?php echo $this->getPartial("list")->setScrollableContentAlreadyUsedInParentElement(true)->toHtml(); ?>
            </div>
            </div>
           </div>
</div>
